{%  extends 'charts/chart_base.html' %}

{% load plotify %}

{%  block head %}

    {% chart_init %}

    <script type="text/javascript">
        {%  chart_maker p1 %}
        {%  chart_maker p2 %}
        {%  map_maker p3 %}
    </script>

{%  endblock %}

{%  block body %}

<h2>Classification Results</h2>

<div class="ui center aligned segment">
    <div id="{{ p1.chart_id }}" style="width: 900px; height: 500px;"></div>
</div>

<div class="ui center aligned segment">
    <div id="{{ p2.chart_id }}" style="width: 900px; height: 500px;"></div>
</div>

<div class="ui center aligned segment">
    <div id="{{ p3.chart_id }}"></div>
</div>

{%  endblock %}
