{% load basic %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <title>{% block title %}BioStar{% endblock %}</title>

    {% block  common-frameworks %}
        <!-- CSS Framework loading -->
       
        <!-- JQuery Library  -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

        <!-- Django CSRF setup for AJAX -->
        <script src="/static/js/csrf.js"></script>
        
        <!-- Debug Javascript -->
        <script src="/static/js/debug.js"></script>

        <!-- Biostar specific style sheet and javascript-->
        <link rel="stylesheet" href="/static/biostar.css" type="text/css" media="screen, projection" />
        <script src="/static/biostar.js"></script>
    {% endblock %}

    {% block custom-frameworks %}
        <!-- placeholder block for custom header information-->
    {% endblock %}

</head>

<body>
  
<div id="main">

  <div id="header">
    
    <div id="topbar">
      {% block topbar %}
          <form id="search2" action="/search" method="get">
          <div style="float:right">
          {%if user.is_authenticated %}
              {% userlink user %}
              {% userrep user %}
              &bull; <a href="/logout/?next_page=/">logout</a> 
              &bull; <a>tools</a>
          {% else %}
              <span class="note">First time here? Check out the FAQ.</a> &bull; <a href="/openid/login/">login</a>
          {% endif %}
              &bull; faq &bull; Search: <input name="q" class="textbox" tabindex="1" onfocus="if (this.value=='search') this.value = ''" maxlength="80" size="28" value="search" type="text">
                        
          </div>
          </form>
        {% endblock %}
      </td></tr>
    </div>
    
    <br class="clear">
    
    <div id="logo">
      <a href="/"><img src="/static/biostar.logo.png" border="0"/></a>
    </div>
    
    <div id="hmenus">
      
      <div class="nav left">
        <a href="/question/list/">Questions</a> 
        <a href="/tag/list/">Tags</a>
        <a href="/member/list/">Members</a> 
        <a href="/badge/list/">Badges</a> 
        <a href="/question/unanswered/">Unanswered</a></li>
      </div>
      <div class="nav right">
        <a href="/question/new/">Ask&nbsp;Question</a>
      </div>
          
    </div>
    
  </div>
 
  <!-- this is where messages pop up -->
  {% block message %}
      {% if messages %}
          <div class="span-24 last" id="messages">
              <div class="ui-state-highlight ui-corner-all" style="margin-bottom: 10px; padding: 1em;">
                  {% for message in messages %}
                      <div><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>{{ message|safe }}</div>
                  {% endfor %}
              </div>
          </div>
      {% endif %}
  {% endblock %}

  <div id="content">
    
      {% block mainbody %}
        Main body
      {% endblock %}
        
    <br class="clear">
    
  </div>

</div>
  
<div id="footer">
    Powered by <a href="/"><img src="/static/biostar.antipixel.png" /></a> 
    &bull; Copyright 2011 by <a href=".">BioStar team</a>
    {% if debug %}
      <br><a id="toggle-queries">{{sql_queries|length}} SQL queries</a>
      <div id="queries" style="text-align: left;">
        <ul id="query-list">
          {% for query in sql_queries %}
            <li>{{ query.sql}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>


</body>

</html>
