{% extends "base.nosidebar.html" %}

{% block subheader %}
  <h2>Edit the answer</h2>
{% endblock %}

{% block custom-frameworks %}
    <!-- markitUp editor -->
    <script type="text/javascript" src="/static/markitup/jquery.markitup.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" href="/static/markitup/sets/markdown/style.css" type="text/css"/>
    <script type="text/javascript" src="/static/markitup/sets/markdown/set.js"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#editor").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block mainbar %}
    <div class="content">
        
        {{ form.errors }}

        <table id="answer-table">
            <tr>
                <td colspan="2" bgcolor="#CECECE"> 
                    <form action="{{request.path}}" method="post">
                        {% csrf_token %}
                        <div>
                            <textarea id="editor" name="content" cols="50" rows="15" >{{ form.content.value }}</textarea>
                            {{ form.content.errors }}
                        </div>
                        <div align="center">
                            <input style="margin:10px;" type="submit" name="submit" value="Apply changes">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
