{% extends "base.html" %}

{% block subheader %}
  <h2>{{params.subheader}}</h2>
{% endblock %}

{% block custom-frameworks %}
    <!-- Tiny MCE editor -->
    <script type="text/javascript" src="/static/lib/tinymce/tiny_mce.js" ></script>
    <script type="text/javascript" src="/static/js/editor.js"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block mainbody %}
    <div class="content"">
        
        {{ form.errors }}
        <form action="{{request.path}}" method="post">
        {% csrf_token %}
        
        <table bgcolor="#CECECE" width="100%">
            <tr>
                <td>Title</td>
                <td>
                    {{ form.title.errors }}
                    <input type="text" value="{{ form.title.value }}" name="title" size="80" style="margin:5px"/>
                </td>
            </tr>

            <tr>
                <td>Content</td>
                <td>
                    {{ form.content.errors }}
                    <textarea name="content" cols="50" rows="15" >{{ form.content.value }}</textarea>
                </td>
            </tr>

            <tr>
                <td>Tags</td>
                <td>
                    {{ form.tags.errors }}
                    <input type="text" value="{{ form.tags.value }}" name="tags" size="80" style="margin:5px"/>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <input style="margin:10px;" type="submit" name="submit" value="{{params.button}}">
                </td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}