{% extends "base.sidebar.html" %}

{% load basic %}
{% load voting %}

{% block subheader %}
  <h2>{{question.post.title }}</h2>
{% endblock %}

{% block custom-frameworks %}
    <!-- AJAX -->
    <script src="/static/js/vote.js"></script>
    <script src="/static/js/mod.js"></script>
    <script src="/static/js/comment.js"></script>

    <!-- markitUp editor -->
    <script type="text/javascript" src="/static/markitup/jquery.markitup.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" href="/static/markitup/sets/markdown/style.css" type="text/css"/>
    <script type="text/javascript" src="/static/markitup/sets/markdown/set.js"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#editor").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block mainbar %}
    <div class="content"">
        
        <div id="question">
        
            <table>
                <tr>
                    <td valign="top" class="votecell"> 
                        {% votebox question.post %}
                    </td>
                    <td>
                        <div class="post-text">
                            {{question.post.html|safe }}
                        </div>
    
                        <div class="tags">
                            {% for tag in question.post.get_tags %}
                               {% taglink tag %}
                            {% endfor %}
                        </div>
                       
                        <div class="left post-menu">
                            {% if 'moderate_post' in permissions %}
                                <span class="mod-menu">
                                    {% if question.post.closed %}
                                        <a class="mod-link">reopen</a> |
                                    {% else %}
                                        <a class="mod-link">close</a> |
                                    {% endif %}
                                    {% if question.post.deleted %}
                                        <a class="mod-link">undelete</a> |
                                    {% else %}
                                        <a class="mod-link">delete</a> |
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if 'edit_post' in permissions %}
                                <a href="/question/edit/{{question.id}}/">edit</a> |
                            {% endif %}
                            flag
                        </div>
                        
                        <div class="right question-user-info">
                            {% actionbox question.post %}
                        </div>
                        
                        {% revisionbox question.post %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        {% comments question.post %}
                    </td>
                </tr>
                
            </table>
        
        </div>
        
        {% if question.post.closed %}
        <div class="question-status">
            <h2>This question has been closed by a moderator</h2>
        </div>
        {% endif %}
    
        {% if question.post.deleted %}
        <div class="question-status">
            <h2>This question has been deleted by a moderator</h2>
        </div>
        {% endif %}

        <div id="answers">
            
            <div id="answers-header">
                <h2> {{answers|length}} Answers</h2>
            </div>

            {% for answer in answers %}
            <div class="answer">
                <table border="0">
                    <tr>
                        <td>
                            {% votebox answer.post %}
                            {% if answer.accepted %}
                                <br>
                                <div class="vote-accepted"></div>
                            {% endif %}
                        </td>
                        
                        <td width="100%">
                            
                            <div>
                                <a name="{{answer.id}}"></a> {{ answer.post.html|safe }}
                            </div>
                            
                            <div class="left post-menu">
                                {% if 'moderate_post' in permissions %}
                                    <span class="mod-menu">
                                        {% if answer.post.deleted %}
                                            <a class="mod-link">undelete</a> |
                                        {% else %}
                                            <a class="mod-link">delete</a> |
                                        {% endif %}
                                    </span>
                                {% endif %}
                                <a href="{{request.path}}#{{answer.id}}">link</a> |
                                {% if 'edit_post' in permissions %}
                                    <a href="/answer/edit/{{question.id}}/{{answer.id}}/">edit</a> |
                                {% endif %}
                                flag
                            </div>
        
                            <div class="right">
                                {% actionbox answer.post 'answered' %}
                            </div>
                            
                            {% revisionbox answer.post %}
                            
                        </td>
                    </tr>

                    <tr class="comment-row">
                        <td></td>
                        <td>
                            {% comments answer.post %}
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        
           
            <div id="post-answer">
                <h2>Your Answer</h2>

                 {% if user.is_authenticated %}
                
                <form action="/answer/new/{{question.id}}/" method="post">
                    {% csrf_token %}
                    <textarea id="editor" name="content" cols="50" rows="15" ></textarea>
                    <div>
                        <div id="markItUpPreview" class="markItUpPreview"
                        style="padding-top: 5px"></div>
                    </div>

                    <div align="center">
                        <input style="margin:10px;" type="submit" name="submit" value="Post Your Answer">
                    </div>
                </form>
                
                {% else %}
                    <div>
                        Please <a href="/openid/login/">log in</a> to post an answer.
                    </div>
                {% endif %}
                
            </div>



        </div>
    </div>
{% endblock %}
