{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
    <h2>Revisions of "{{post.title}}"</h2>
{% endblock %}

{% block mainbar %}
    <div id="revisions">
        <table>
            {% for revision in revisions %}
                <tr class="revision">
                    <td class="revarrow">&nbsp;</td>
                    <td class="revcount">{{forloop.revcounter}}</td>
                    <td class="revsummary">
                        {% if revision.action %}
                            Moderator action: {{ revision.get_action_display }}
                        {% endif %}
                    </td>
                    <td class="revauthor">
                        {% actionbox revision.author revision.date revision.verb %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="revdata">
                        
                        {% if revision.modified.0 %}
                            <h4>{{revision.title}}</h4>
                        {% endif %}
                        
                        {% if revision.modified.1 %}
                            {{revision.to_html|safe}}
                        {% endif %}
                        
                        {% if revision.modified.2 %}
                            <div class="tags">
                                {% for tag in revision.get_tags %}
                                   {% taglink tag %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr class="spacer">
                    <td height="5">&nbsp;</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}