{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    Badge: {{badge.name}} - BioStar
{% endblock %}

{% block body %}

<div class="row"><div class="span12">{% page_bar %}</div></div>

<div class="row">
    <div class="span12">

        <div class="title">Badge: {{badge.name}}</div>

        <div class="par">{{badge.description}}. Awarded recently to:</div>

        <div class="row">
        {% for award in page.object_list %}
            {% user_box award.user 80 %}
        {% endfor %}
        </div>
    </div>
</div>

<div class="row"><div class="span12">{% page_bar %}</div></div>
{% endblock %}
