{% load basic %}
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
  <link href='{{ STATIC_URL }}favicon.ico' rel='shortcut icon'/>
  <title>{% block title %}BioStar{% endblock %}</title>

    {% block  common-frameworks %}
        <!-- CSS Framework loading -->

        <!-- Syntax Highlighter  -->
        <link rel="stylesheet" href="{{ STATIC_URL }}pygments.css" type="text/css" media="screen, projection" />
       
        <!-- JQuery Library  -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

        <!-- Django CSRF setup for AJAX -->
        <script src="{{ STATIC_URL }}js/csrf.js"></script>
        
        <!-- Debug Javascript -->
        <script src="{{ STATIC_URL }}js/debug.js"></script>

        <!-- Biostar specific style sheet and javascript-->
        
         
        <link rel="stylesheet" href="{{ STATIC_URL }}biostar.css" type="text/css" media="screen, projection" />
       
        <link rel="stylesheet" href="{{ STATIC_URL }}css/biostar2.css" type="text/css" media="screen, projection" />
       
        <script src="{{ STATIC_URL }}biostar.js"></script>

        <script>
        $(document).ready(function(){
            $('.close-button').click(function(){
                $(this).parent().slideUp()
            });
        });

        </script>
    {% endblock %}

    {% block custom-frameworks %}
        <!-- placeholder block for custom header information-->
    {% endblock %}

</head>

<body>

<div>
    <div id="notify">
    This is a <b>development version</b> of BioStar. The live site is at <a href="http://www.biostars.org">http://www.biostars.org</a>.  
    </div>
</div>

<!-- main content wrapper -->
<div id="main">

{% block message %}
    <!-- this is where messages pop up --> 
     {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}" id="message{{forloop.counter}}">{{ message|safe }} 
                [<a class="close-button">x</a>] </div>
            {% endfor %}                  
         </div>
      {% endif %}
{% endblock %}

 
{% block header %}
    <form id="search" action="/" method="get">     
    <table width="100%"  border="0" id="header-table" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" colspan="2" bgcolor="#EEEEEE" style="padding:3px; border-top:1px solid #DDDDDD;">
          
              {%if user.is_authenticated %}                                  
                    {% userlink user %}
                    {% usernotes user %}
                    {% userrep user %}
                    {% if user.profile.is_admin %}
                        &bull; <a href="/admin/">admin</a> 
                    {% endif %}
                    &bull; <a href="/about/">about</a> 
                    &bull; <a href="/tools/">tools</a>   
                    &bull; <a href="/logout/?next_page=/">logout</a> 
                    
              {% else %}
                  <span>First time here? Learn more <a href="/about/">about Biostar</a> &bull; <a href="/openid/login/">login</a> </span>
              {% endif %}
                         
              &bull; Search: <input name="q" class="textbox" tabindex="1" onfocus="if (this.value=='search') this.value = ''" maxlength="80" size="25" value="{{q}}" type="text"> <input type="submit" value="Go!">              
          </td>
        </tr>
        
        <tr>
            <td style="padding:3px">
                <a href="/"><img src="{{ STATIC_URL }}biostar.logo.png" border="0"/></a>
            </td>
        
            <td style="padding:3px" valign="middle">
                {% include "bars/nav.bar.html" %}
            </td>
        
        </tr>

    </table>

    </form>
{% endblock %}
     
<div id="content">
    {% block mainbody %}
        Main body
    {% endblock %}     
    <div class="clear">&nbsp;</div>
</div>
  
<div id="footer">
    Powered by <a href="https://github.com/ialbert/biostar-central"><img src="{{ STATIC_URL }}/biostar.antipixel.png" /></a> 
    &bull; Version: <b>{{BIOSTAR_VERSION}}</b></a>

    (revision <a href="https://github.com/ialbert/biostar-central/commit/{{BIOSTAR_GIT_REVISION}}">{{ BIOSTAR_GIT_REVISION }}</a>)
    &bull; Copyright 2011 by the <a href="https://github.com/ialbert/biostar-central/contributors">BioStar team</a>
    {% if debug %}
      <br><a id="toggle-queries">{{sql_queries|length}} SQL queries</a>
      <div id="queries" style="text-align: left;">
        <ul id="query-list">
          {% for query in sql_queries %}
            <li>{{ query.sql}} [in {{query.time}}s]</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>

<!-- end of main content wrapper -->
</div>

</body>

</html>
