{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">

   <h2>Biostar Beta Test</h2>
   <div class="par">
    Thanks for participating in the Biostar beta test.
   </div>

   <div class="par">
    Please feel free to poke around and explore the site. Note that all new content will be removed at the end of the beta test.
   </div>

   <div class="par">
    Feel free to send your comments to <a href="mailto:beta@biostars.org">beta@biostars.org</a>
   </div>
</div>

{% endblock %}
