{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">

    <div class="faq">
        
        <div class="title">Content</div>
        <div class="par">
            This site's focus is bioinformatics, computational genomics and biological data analysis.
            Only posts on these topics or those pertaining to Biostar itself are allowed.
            The <b>Questions</b> section requires that a post be formulated as a question. All other
            type of post, annoucements or discussions should go under the <b>Forum</b> category. Moderators
            will reclassify posts that do not belong to the correct category.
        </div>

        <div class="title">RSS Feeds</div>
        <div class="par">
            See the <a href="{% url main.server.pages.rss %}">Feeds page</a>
        </div>
            

        <div class="title">Voting</div>
        <div class="par">Only upvotes exist on biostar, each user has access to up to <b>10</b> votes every six hours. Users
        asking questions are encouraged to click accept (<i class="icon-ok"></i>) to indicate contributions that fully
        answer the question. Note that multiple answers
        may be accepted on a question, thus the author of a question can reward  
        excellent answers with both an upvote and an accept.
        </div>

        <div class="title">User reputation</div>
        <div class="par">The number next to a user's name is the sum of upvotes and accepted answers that user has collected.</div>

        <div class="title">Post Ranking</div>
        <div class="par">On most pages  posts are ordered by their rank. This rank is a combination of the creation date (more recent 
        dates have higher rank) and the number of votes and pageviews that the post has accumulated.</div>
       
        <div class="title">Asking a good question</div>
        <div class="par">
        See <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1002202">Ten Simple Rules for Getting Help from Online Scientific Communities</a>
        </div> 

        <div class="title">Request new features</div>
        <div class="par">See the newsgroup or post in the Forum section of the site.</div>

        <div class="title">Keeping track of posts</div>
        <div class="par">You can bookmark any post 
        by clicking on the bookmark symbol (<i class="icon-bookmark"></i>). This will add the post to your bookmark tab that is 
        accesible from your account. Your activity tab on your profile page 
        will show the responses that took place on the posts that you have
        interacted with. New activity will generate the new message icon (<i class="icon-envelope"></i>) in the navigation bar. Note that you can also subscribe to these messages as an RSS feed</div> 

        <div class="title">Moderator log</div>
        <div class="par">
            To view the moderator actions see the <a href="/modlog/list">moderator log list</a>
        </div>

         <div class="title">Becoming a moderator</div>
        <div class="par">Active users above a certain reputation treshold are periodically promoted to moderators. 
        You may also explicitly ask for moderation rights on the newsgroup.</div> 
        
        <div class="title">Markup</div>
        <div class="par">Post may be formatted either with <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> (default) or in 
        <a href= "http://docutils.sourceforge.net/docs/user/rst/quickstart.html">Restructured Text Format</a>
        </div>


    </div>

</div>

{% endblock %}
