{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">

    <div class="faq">
        <div class="title">Revisiting posts</div>

        There are several ways of keeping up with the activity on posts that interest you. First you can bookmark any post,
        by clicking on the bookmark symbol <i class="icon-bookmark"></i>. This will add the post to your bookmark tab that is 
        accesible from your account. Your activity report will also show the actions that took place on the posts that you have
        interacted with. 
    </div>

</div>

{% endblock %}
