{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load humanize %}

{% block title %}
    {{params.title}}
{% endblock %}

{% block body %}

    {% if params.show_search %}
    <div class="row">


        <div class="span12">

            <script>
                (function() {
                    var cx = '003596843386727440968:raditaczxza';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:search></gcse:search>

        </div>


    </div>
    {%  endif  %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        {% if params.sort %}
            {% page_bar_dropdown params.sort params.sort_choices params.since params.date_filter%}
        {% endif %}
        {% page_bar %}
    </div>
</div>

<div class="row">
    <div class="span9">
        <table border="0" class="post-table" cellspacing="0" width="100%">

            {% for post in page.object_list %}

                {% table_row post params%}

            {%  endfor %}

        </table>
    </div>
    <div class="span3">


        <div class="post-title" style="padding: 10px;">Recent Votes</div>

        <div class="clearfix">
            <ul style="opacity: 0.8;">
                {% for vote in recent_votes %}
                        <li><a href="{% url main.server.views.post_show vote.post.id %}">
                        {{vote.post.title}}</a>
                    </li>
                {%  endfor %}
            </ul>
        </div>

        <div class="post-title" style="padding: 10px;">Recent Tags &bull; <a href="/tag/list">See All</a></div>

        <div class="clearfix">
            <ul class="taglist">
            {% for tag in recent_tags %}
                <li class="tagcloud" value="{{ tag.count }}"><a href="{% url main.server.views.show_tag tag.name %}">
                    {{tag.name}}
                </a></li>
            {%  endfor %}
            </ul>
        </div>

        <div class="post-title" style="padding: 10px;">Important Tags &bull; <a href="/tag/list">See All</a></div>

        <div class="clearfix">
        <ul class="taglist">
        {% for tag in important_tags %}

                <li class="tagcloud" value="{{ tag.count }}"><a href="{% url main.server.views.show_tag tag.name %}">
                    {{tag.name}}
                </a></li>

        {%  endfor %}
        </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% page_bar %}
    </div>
</div>

{% endblock %}
