{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">{% page_bar %}</div>

<div class="row">
    
    <div class="title">Moderation Log</div>
    
    <div class="par">A list of all moderation actions</div>
    
    <div class="note-list">
        

        <table class="table table-striped">
        {% for note in page.object_list %}
            <tr><td class="msg"> {% time_ago note.date %} &bull; {{ note.html|safe }}</td></tr>
        {% empty %}
            <tr><td><div class="empty">&bull; no messages</div><td></tr>
        {% endfor %}
        </table>   

    
    </div>
</div>

<div class="row">{% page_bar %}</div>

{% endblock %}
