{% extends "base.sidebar.html" %}

{% load basic %}
{% load humanize %}

{% block subheader %}
  <h2>{{root.get_title }}</h2>
{% endblock %}

{% block custom-frameworks %}
    <!-- AJAX -->
    <script src="{{ STATIC_URL }}js/vote.js"></script>
    <script src="{{ STATIC_URL }}js/mod.js"></script>
    <script src="{{ STATIC_URL }}js/comment.js"></script>

    <!-- markitUp editor -->
    <script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/skins/markitup/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}markitup/sets/markdown/style.css" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}markitup/sets/markdown/set.js"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#editor").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block mainbar %}
    <div class="content"">
        
        <div id="question">
            {% render_post request root tree %}              
        <div>
        
        <div class="answers">
            <div class="count">
                {% if root.answer_count %}
                     {{root.answer_count}} answers
                {% else %}
                    No answers. Add one!
                {% endif %}
            </div>
            
            {% for answer in answers %}
                {% render_post request answer tree %}
                <div class="separator"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
