{% extends "base.html" %}
{% load widgets %}

{% block head %}
    <script src="{{ STATIC_URL }}js/handlers.js"></script>
   
    <!-- prettify -->
    <link href="{{ STATIC_URL }}lib/prettify.css" rel="stylesheet"> 
    <script src="{{ STATIC_URL }}lib/prettify.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/pagedown/Markdown.css" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Converter.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Sanitizer.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Editor.js"></script>
    
{% endblock %}

{% block document_ready %}
     
    // google prettify library
    $('pre').addClass('prettyprint')
    prettyPrint()

    $('.comment-delete').click(function(){
        comment_delete($(this))
    });
    
    // register the add comment function
    $('.add-comment').each(function(){
        elem = $(this)
        //console.log(elem)
        //callback function defined in /static/js/widgets.js
        elem.click(function(){
            show_add_comment($(this).parent(), $(this).parent().children('input').val()); 
        });
    });
    
    // tooltips
    $('.vote-up').tooltip('hide')
    $('.vote-down').tooltip('hide')
    $('.vote-bookmark').tooltip('hide')
        
{% if root.open %}
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
{% endif %}

{% endblock %}

{% block body %}
    
    {% if root.closed %}
        <div class="row"><div class="alert alert-warning">This post has been closed. No more answers may be added.</div></div>
    {% endif %}

    {% if root.deleted %}
        <div class="row"><div class="alert alert-error">This post has been deleted. No more answers may be added.</div></div>
    {% endif %}


    {# renders the main post #}
    <div class="row">{% render_post root tree %}</div>
 
    <div class="row separator"><h3>
    {% if root.answer_count %}
        {{root.answer_count}} answer{{root.answer_count|pluralize}}
    {% endif %}
    </h3>
    </div>
    {# renders all the followups post #}
    {% for answer in answers %}
        <div class="row">{% render_post answer tree %}</div>
        <div class="row separator">&nbsp;</div>
    {% endfor %}
            

{% if user.is_authenticated %}

{% if root.open %}
    <div class="row">
        
    <form action="/new/answer/{{root.id}}/" method="post" id="mainform" class="form-vertical">
        
        {% csrf_token %}
        <legend>Add your answer</legend>
        <fieldset>        
        <div class="control-group">
            <div class="controls">
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    <textarea class="wmd-input" id="wmd-input" name="content"></textarea>
                </div>    
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-primary" href='javascript: document.forms["mainform"].submit()'><i class="icon-ok icon-white"></i> Submit</a>
        </div>
        
         <div class="control-group">
            <label class="control-label" for="button"></label>
            <div class="controls">
            <div class="alert"><b>Note</b>: by posting to BioStar, you agree to a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons - Attribution</a> license. 
            </div>
        </div>
            
        </fieldset>
        
    </form>
    </div>
{% endif %}
{% else %}
    <div class="row"><div class="alert alert-info">Log in to add a post</div></div>
{% endif %}

{% endblock %}
