{% extends "base.html" %}
{% load i18n %}

{% load basic %}
{% load widgets %}

{% block title %}
    Post Edit - BioStar
{% endblock %}

{% block head %}
    <!-- markitUp editor -->
    <script src="{{ STATIC_URL }}js/handlers.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/pagedown/Markdown.css" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Sanitizer.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Editor.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/tagit.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/tagit.css" />
    <script>
        $(function(){
            var e = $('#id_tag_val').parent();
            var f = $(document.createElement('ul'));
            e.append(f)
            var input = $("<input type='hidden' name='tag_val'>");
            e.append(input);



            var oldInput = $('#id_tag_val');
            oldInput.remove();

            f.tagit({
                tagSource: '/tagcomplete/',
                caseSensitive: false,
                initialTags: oldInput.val().split(" "),
                tagsChanged: function(){
                    var tags = f.tagit('tags');
                    var a = [];
                    for(var i=0; i<tags.length; i++){
                        a.push(tags[i].value);
                    }
                    input.val(a.join(" "));
                }
            });

            // add an id to the newly created input element, used in testing
            input.val(oldInput.val());
            $('.tagit-input').first().attr("name", "tagit-input-value");



        });
    </script>

{% endblock %}

{% block document_ready %}
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
{% endblock %}

{% block body %}

    <div class="row">
        <br><br>
        <div class="span12">

            <div align="center" style="padding-bottom: 20px;" >
                How to ask good questions: <a target="new" href="http://www.ploscollections.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1002202;jsessionid=A2C2B677241104800E044DA36AFB577B">
                    Ten Simple Rules for Getting Help from Online Scientific Communities</a>
            </div>

            <div>
            <form action="{{ request.path }}" method="post" id="mainform" class="form-horizontal">

                {% csrf_token %}



                {% if params.toplevel %}

                    <div class="control-group{% if form.title.errors %} error{% endif %}">


                        <label class="control-label" for="title"><b>{% trans 'Title' %}</b>
                        </label>

                        <div class="controls">

                            {{ form.title }}
                            <span class="help-inline">{{ form.title.errors }}</span>
                            <!-- <div>
                                <span class="help-block">As you type we will try to suggest existing questions that may have the answer.
                            Keep expanding your title until it is unique.</span>
                            </div> -->
                        </div>

                    </div>




                    <div class="control-group{% if form.tag_val.errors %} error{% endif %}">

                        <label class="control-label" for="tag_val"><b>{% trans 'Tags' %}</b>
                        </label>

                        <div class="controls">
                            <div>
                                {{ form.tag_val }}
                            </div>
                            <div>
                                <span class="help-block">Good tags are short and specific. Cycle through suggestions with the UP/DOWN arrow keys {{ form.tag_val.errors }}</span>
                            </div>
                        </div>
                    </div>


                    <div class="control-group{% if form.type.errors %} error{% endif %}">

                        <label class="control-label">{% trans 'Post Type' %}
                        </label>


                        <div class="controls">
                            {{ form.type }}
                            <span class="help-inline">{{ form.type.errors }}</span>
                        </div>
                    </div>

                {%  else %}
                    <input type="hidden" id="id_tag_val">
                {% endif %}

                {%  if form.context %}
                    <div class="control-group">

                        <label class="control-label">&nbsp;</label>

                        <div class="controls">
                            {{ form.context.value|safe }}
                            <input type="hidden" name="context" value="{{ form.context.value  }}">
                        </div>
                    </div>
                {% endif %}
                <div class="control-group {% if form.content.errors %}error{% endif %}">

                    <label class="control-label" for="editor">{% trans 'Content' %}
                    </label>

                    <div class="controls">

                        <div class="wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input" id="wmd-input" placeholder="Post content" name="content"
                                      onfocus="">{{ form.content.value}}</textarea>
                        </div>

                        <span class="help-inline error">{{ form.content.errors }}</span>
                        <div>Post preview:</div>
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button"></label>

                    <div class="controls">
                        <a class="btn btn-success" id="submit-button"
                           href='javascript: document.forms["mainform"].submit()'><i
                                class="icon-ok icon-white"></i>
                            Submit Post</a> or
                        <a class="btn btn-danger" id="cancel-button" href='javascript: history.back()'><i
                                class="icon-arrow-left icon-white"></i> Go back</a>
                    </div>


                </div>

                <div class="control-group">
                    <label class="control-label" for="button"></label>

                    <div class="controls">
                        <div class="alert">
                            {% blocktrans %}
                                <b>Note</b>: by posting to BioStar, you agree to a
                                <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons -
                                    Attribution</a>
                                license.
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>


            </form>
            </div>
        </div>
    </div>
{% endblock %}
