{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load url from future %}

{% block title %}
    Reparent Root - BioStar
{% endblock %}

{% block body %}

<div class="row">
    

    <div>Reparenting:</div>
        <ul>
            <li><b>{{post.get_type_display}} {{post.id}}</b> {{post.title}}</b></li>
            <li>Currrent parent <b>{{post.parent.get_type_display}} {{post.parent.id}}</b> {{post.parent.title}}</b></li>
        </ul>
    
    <div>Select new parent</div>

    <ul>
    {% for target in targets %}
    
        <li>
            <b><a href={% url 'post-reparent' post.id %}?target={{target.id}}>{{target.get_type_display}} {{target.id}}</a></b> by {{target.author.profile.display_name}}
        </li>

    {% endfor %}
    </ul>


</div>

{% endblock %}
