{% extends "base.html" %}
{% load widgets %}

{% block head %}
    <script src="{{ STATIC_URL }}js/handlers.js"></script>
   

    <!-- prettify -->
    <link href="{{ STATIC_URL }}lib/prettify.css" rel="stylesheet"> 
    <script src="{{ STATIC_URL }}lib/prettify.js"></script>

{% endblock %}

{% block document_ready %}
     
    // google prettify library
    $('pre').addClass('prettyprint')
    prettyPrint()

    // moderation handlers defined in /static/js/mod.js
    // close/reopen delete/destroy handler
    $('.mod-link').click(function(){
        mod_link_clicked($(this))
    });
    
    $('.comment-delete').click(function(){
        comment_delete($(this))
    });
    
    // register the add comment function
    $('.add-comment').each(function(){
        elem = $(this)
        //console.log(elem)
        //callback function defined in /static/js/widgets.js
        elem.click(function(){
            show_add_comment($(this).parent(), $(this).parent().children('input').val()); 
        });
    });
    
    
{% endblock %}

{% block body %}
    
    {# renders the main post #}
    <div class="row">{% render_post root tree %}</div>
 
    <div class="row separator">&nbsp;</div>
    
    {# renders all the followups post #}
    {% for answer in answers %}
        <div class="row">{% render_post answer tree %}</div>
        <div class="row separator">&nbsp;</div>
    {% endfor %}
            
{% endblock %}
