{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block head %}
    <!-- markitUp editor -->
    <script src="{{ STATIC_URL }}js/handlers.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/pagedown/Markdown.css" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Converter.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Sanitizer.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}lib/pagedown/Markdown.Editor.js"></script>

{% endblock %}

{% block document_ready %}
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
{% endblock %}

{% block body %}
      
    <div class="row">
        
        <form action="{{request.path}}" method="post" id="mainform" class="form-horizontal">
            
        {% csrf_token %}
        
        <input type="hidden" value={{post_type}} name="post_type">
        
     {% if params.toplevel %}
            {% if form.title.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
            <label class="control-label" for="title">Title</label>
                <div class="controls">
                    {{form.title}}
                    <span class="help-inline">{{form.title.errors}}</span>
                </div>
            </div>
     
            {% if form.tag_val.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}
                <label class="control-label" for="tag_val">Tags</label>
                <div class="controls">
                    {{form.tag_val}}
                    <div><span class="help-block">separate tags with spaces {{form.tag_val.errors}}</span></div>
                </div>
            </div>
            
            {% if form.type.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %} 
                <label class="control-label" for="type">Post Type</label>
                <div class="controls">
                    {{form.type}}
                    <span class="help-inline">{{form.type.errors}}</span>
                </div>    
            </div>
            
               
        {% endif %}
        
        {% if form.content.errors %}
        <div class="control-group error">
        {% else %}
        <div class="control-group">
        {% endif %}
        <label class="control-label" for="editor">Content</label>
            
            <div class="controls">
                
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    <textarea class="wmd-input" id="wmd-input" name="content" onfocus="remove(this, 'Post content')">{{form.content.value}}</textarea>
                </div>    
                
                <span class="help-inline error">{{form.content.errors}}</span>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>  
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="button"></label>
            <div class="controls">
                 <a class="btn btn-success" href='javascript: document.forms["mainform"].submit()'><i class="icon-ok icon-white"></i> Submit Post</a> or 
                 <a class="btn btn-danger" href='javascript: history.back()'><i class="icon-arrow-left icon-white"></i> Go back</a>
            </div>
            
            
            
        </div>
       
       <div class="control-group">
            <label class="control-label" for="button"></label>
            <div class="controls">
            <div class="alert"><b>Note</b>: by posting to BioStar, you agree to a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons - Attribution</a> license. 
            </div>
        </div>
        
        </form>
    </div>
{% endblock %}
