{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
    <h2>Revision list</h2>
{% endblock %}

{% block mainbar %}
    <div>
        <div style="padding:10px 0px 10px 0px;">

            <div class="title">
                Back to <a href="/post/show/{{root.id}}/{{root.slug}}/#{{post.id}}">{{root.title}}</a>
            </div>
        </div>
        <table width="100%">
            {% for revision in revisions %}
                <tr valign="top">
                    <td class="title">Revision: r{{forloop.revcounter}}</td>
                </tr>
                <tr >
                    <td style="border-bottom:1px dotted #666666">
                        <pre>{{revision}}</pre>   
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}