{% extends "base.html" %}

{% load basic %}

{% block title %}
    Revisions: {{post.root.title}} - BioStar
{% endblock %}


{% block body %}
    <div>
        <div style="padding:10px 0px 10px 0px;">

            <div class="title">
                Back to <a href="{{post.get_absolute_url}}">{{post.root.title}}</a>
            </div>
        </div>
        <table width="100%">
            {% for rev in revs %}
                <tr valign="top">
                    <td class="title">Revision: r{{forloop.revcounter}} by {% userlink rev.author %} {% userrep rev.author %}</td>
                </tr>
                <tr >
                    <td style="border-bottom:1px dotted #666666">
                        <pre>{{rev.diff}}</pre> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}