{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">{% tab_bar %}</div>

<div class="row">

    <div class="title">Main feeds</div>
    
    
    <div>
        We offer the followinng RSS feeds:
        <ul>    
            <li><a href="/feeds/latest/">Latest Questions</a> - 25 latest questions from Biostar</li>
            <!-- <li><a href="/feeds/latest/">Favorites Questions</a> - 25 most often bookmarked question on Biostar</li> -->
        </ul>
    </div>

    <div class="title">Subscribing to posts</div>

    <div>
        <ul>
            <li>to subscribe to activity on a post look for the RSS icon on the post page (TODO)</li>
            <li>list of posts tagged a certain way</li>
        </ul>
    </div>

   

    
    

</div>

{% endblock %}
