{% extends "base.html" %}

{% load basic %}
{% load widgets %}
{% block title %}
    Search - BioStar
{% endblock %}

{% block head %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block body %}

<div class="row">
    <div class="span12">
        <form id="useredit" name="useredit" action="{% url main.server.search.main %}" method="get" class="form-horizontal">
            {{form.q}}
            {{form.t}}
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

{% if page.object_list  %}
<div class="row" id="user-list">
    <div class="span12">
    
        <table class="table table-striped">
            <tr>
                <th class="span1">Id</th>
                <th class="span1">Type</th>
                <th class="span4">Title</th>
                <th>Context</th>
            </tr>

            {% for r in page.object_list %}
                <tr>
                    <td>{{ r.pid }}</td>
                    <td>{{ r.type }}</td>
                    <td><a href="{% url main.server.views.post_show r.pid %}">{{ r.title }}</a></td>
                    <td>{{ r.content|safe }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="alert"> No results found!</b></td>
                </tr>
            {% endfor %}
          </table>
    </div>
</div>

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

{% endif %}

<div class="row">
    <div class="span12">
    <div class="par">
        This type of search allows users to filter by content type. 
        Default search uses the <b>AND</b> operator between the words:<code>blast tutorial</code> =&gt; <code>blast AND tutorial</code>
    </div>        
    <div class="par">
        <ul>
            <li>Logical operators: {% search_url 'blast OR tutorial' %}</li>
            <li>Find a phrase: {% search_url '"blast tutorial"' %}</li>
            <li>Find words in the title: {% search_url 'title:pipeline' 'Question' %}</li>
        </ul>
    </div>
    <div class="par">
        A second option is to use the Google Custom search below.
    </div>
    </div>
</div>

<div class="row">
<div class="span12">

<form class="form-horizontal">
    <legend>Search Biostar via Google</legend>
</form>
   
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en', style : google.loader.themes.GREENSKY});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '003596843386727440968:raditaczxza', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
</div>
</div>

{% endblock %}
