{% extends "base.html" %}

{% load basic %}
{% load widgets %}
{% block title %}
    Tag List - BioStar
{% endblock %}

{% block body %}

<div class="row">
    {% page_bar %}
</div>

<div class="row">
    {% for tag in page.object_list %} 
        <a href="{% url main.server.views.show_tag tag.name %}">
            <div class="tag-panel">
                <span class="tagname">{{tag.name}}</span>
                <span class="multiplier">x {{tag.count}}</span>
            </div>
        </a>
    {% endfor %}
</div>

<div class="row">
    {% page_bar %}
</div>

{% endblock %}