{% extends "base.html" %}

{% load basic %}
{% load widgets %}
{% block title %}
    Tags on BioStar
{% endblock %}

{% block body %}

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

<div class="row">
    <div class="span12">
        <form action="/tag/list/" method="get" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Tag search</label>
                    <div class="controls">
                        <input name="m" type="text" size=20 value="{{m}}">
                        <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">Search!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
        <ul class="taglist">
            {% for tag in page.object_list %}

                <li class="tagcloud" value="{{ tag.count }}"><a href="{% url main.server.views.show_tag tag.name %}">
                    {{tag.name}}
                </a></li>

            {%  endfor %}
        </ul>
    </div>


</div>

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

{% endblock %}