{% extends "base.html" %}

{% load basic %}
{% load widgets %}
{% block title %}
    Tags on BioStar
{% endblock %}

{% block head %}
    <style TYPE="text/css">
        .tagcloud-big { padding:10px; opacity: 0.7;}
        .taglist li {
            list-style-type:none; float:left; margin:0 10px;
        }
    </style>
{% endblock %}

{%  block document_ready %}
    $('.tagcloud-big').each(function(){
    elem = $(this);
    val = elem.attr("value")
    var fact=3; minfs=0.8; maxfs=3.8;
    val = Math.log(val);
    var fsize = minfs + val / fact;

    if (fsize > maxfs) {
        fsize = maxfs
    }
    elem.css("fontSize", fsize +"em");

    });
{%  endblock %}

{% block body %}

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

<div class="row">
    <div class="span12">
        <form action="/tag/list/" method="get" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Tag search</label>
                    <div class="controls">
                        <input name="m" type="text" size=20 value="{{m}}">
                        <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">Search!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="span12">
        <ul class="taglist">
            {% for tag in page.object_list %}

                <li class="tagcloud-big" value="{{ tag.count }}"><a href="{% url main.server.views.show_tag tag.name %}">
                    {{tag.name}}
                </a></li>

            {%  endfor %}
        </ul>
    </div>


</div>

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

{% endblock %}