{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    BiosStar Users
{% endblock %}

{% block body %}

<div class="row">
    {% page_bar %}
</div>
<div class="row">

<div style="margin-top:5px">
<form action="/user/list/" method="get" class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="title">User search</label>
            <div class="controls">
                <input name="m" type="text" size=20 value="{{m}}">
                <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">Search!</button>    
            </div>            
        </div>
    </fieldset>
</form>
</div>
</div>

<div class="row" id="user-list">
    {% for target in page.object_list %}
        {% user_box target 64 %}     
    {% endfor %}
</div>

<div class="row">
    {% page_bar %}
</div>
{% endblock %}
