{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">
<div class="autobiography">
    
    <div class="row">{% tab_bar request %}</div>


    <h2>
    {% designation target %} {{ target.profile.display_name }} {% flair target %}           
    </h2>


    <div class="info-panel span2">
        <div>{% gravatar target 150 %}</div>
        <div>{% userrep target %}</div>
    </div>
    <div class="data-panel span4">
        <div>Userid: <span id="userid">{{target.id}}</span></div>
        <div about="{{target.profile.website}}" typeof="foaf:Person" xmlns:foaf="http://xmlns.com/foaf/0.1/">
            Website: <a href="{{ target.profile.website }}">{{ target.profile.website }}</a>
        </div>
        {% if target.writeable %}
        <div property="foaf:mbox">Email: <a href="mailto:{{target.email}}">{{ target.email }}</a></div>
        {% endif %}
    
        <div>Location: {{ target.profile.location }}</div>
        
        <div>Member for: {{ target.date_joined|timesince }}</div>
        <div>Last seen: {{ target.profile.last_visited|timesince }} ago </div>
        
        {# editable #}    
        {% if target.writeable %}
            <a class="btn" href="/user/edit/{{target.id}}/"><i class="icon-edit"></i> Edit info</a>
        {% endif %}
    
        {# moderator access #}
        {% if target.writeable and user != target%}
            &nbsp;&bull;&nbsp;
            {% if target.profile.suspended %}
                <a class="btn usermod-link"><i class="icon-edit"></i> Reinstate</a>
            {% else %}
                <a class="btn usermod-link "><i class="icon-remove-sign"></i> Suspend</a>
            {% endif %}
            
        {% endif %}
    
    </div>
    <div class="span6 bio-panel">
        {{target.profile.about_me_html|safe }}
    </div>
</div>
</div>

<div class="row">
    {# this the tabs that get selected for different pages #}
    <ul class="nav nav-tabs">
        <li {% active 'activity' params.tab %}><a href="/user/show/{{target.id}}/">Activity{% show_value params.note_count %}</a></li>
        <li {% active 'bookmarks' params.tab %}><a href="/user/show/{{target.id}}/bookmarks/">Bookmarks{% show_value params.bookmarks_count %}</a></li>
        <li {% active 'badges' params.tab %}><a href="/user/show/{{target.id}}/badges/">Badges{% show_value params.award_count %}</a></li>
    </ul>
</div>

<div class="row">
{% if params.tab == 'activity' %}
    <div class="title" id="status">Status</div>
    
    <div class="par">
        {{ target.profile.display_name }} has contributed <a href="/post/list/{{target.id}}/">{{params.post_count}} entires</a> distributed as
         <a href="/post/list/{{target.id}}/questions/">{{params.question_count}} posts</a>, 
         <a href="/post/list/{{target.id}}/answers/">{{params.answer_count}} answers</a> and 
         <a href="/post/list/{{target.id}}/comments/">{{params.comment_count}} comments</a> . 
        User  has voted {{params.vote_count}} times  and has earned {{params.award_count}} badges. 
    </div>
    
    <div class="title" id="status">Activity</div>
    <div class="par">
        Below we show activity on posts that this user has interacted with.
    </div>
    <div class="note-list">
        {% if page.object_list and page.paginator.num_pages > 1 %}
            {% page_bar %}        
        {% endif %}
    
        {% for note in page.object_list %}
            <div class="msg {{note.status}}"> {% time_ago note.date %} &bull; {{ note.html|safe }}</div>
        {% empty %}
            <div class="empty">&bull; no messages</div>
        {% endfor %}
                
        
    </div>
    
    {% if target.showall %}
    <div class="par">
        Get a private <a href="/feeds/messages/{{target.profile.uuid}}/">RSS feed<img src="{{ STATIC_URL }}img/feed-icon-small.png" style="vertical-align: middle; padding-left:3px;"></a> 
        to your messages.
    </div>
    {% endif %}

{% endif %}

{% if params.tab == 'bookmarks' %}
    <div class="bookmark-list">
        {% if page.object_list and page.paginator.num_pages > 1 %}    
            {% page_bar %}
        {% endif %}
    
        {% for vote in page.object_list %}
        <div class="bookmark">
            &bull; <a href="{{vote.post.get_absolute_url}}">{{vote.post.get_title}}</a> by <a href="{{vote.post.author.profile.get_absolute_url}}">{{vote.post.author.profile.display_name}}</a>
        </div>               
        {% empty %}
        <div class="empty">&bull; no bookmarks - click on the <i class="icon-bookmark"></i> symbol of a post to bookmark it</div>            
        {% endfor %}
    
    </div>
{% endif %}
            
{% if params.tab == 'badges' %}  
    <div>
        {% for award in awards %}
            <div style="width:175px; height:50px; float:left; margin-bottom:10px;">
                <div>
                    <a class="badge-name" href="/badge/show/{{award.badge.id}}/">
                        {% spaceless %}<span class="{{award.badge.get_type_display}}">&#8226;</span>{% endspaceless %}
                        {{award.badge.name}}
                    </a>
                </div>
                <div>
                    {% time_ago award.date %}
                </div>
            </div>
        {% empty %}
            <div class="note">&bull; no badges earned</div>
        {% endfor %} 
    </div>
{% endif %}

</div>
{% endblock %}
