{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    User: {{target.profile.display_name }} - BioStar
{% endblock %}

{% block head %}
    <script src="{{ STATIC_URL }}js/handlers.js"></script>
    <script src="{{ STATIC_URL }}js/csrf.js"></script>
    <script src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock %}

{% block document_ready %}
    // user moderation handlers defined in /static/js/mod.js
    $('.usermod-link').click(function(){
        usermod_link_clicked($(this))
    });
{% endblock %}

{% block body %}

<div class="row">
<div class="user-info {{target.profile.get_status}}">
    
    <h2>
    {% designation target %} {{ target.profile.display_name }} {% flair target %}
    {% if target.profile.suspended %}
        (suspended)
    {% endif %}
    </h2>

    <div class="info-panel span2">
        <div>{% gravatar target 150 %}</div>
        <div>{% userrep target %}</div>
    </div>
    <div class="data-panel span4">
        <div>Userid: <span id="userid">{{target.id}}</span></div>
    
        {% if target.profile.website %}
            <div about="{{target.profile.website}}" typeof="foaf:Person" xmlns:foaf="http://xmlns.com/foaf/0.1/">
                Website: <a href="{{ target.profile.website }}">{{ target.profile.website|slice:"0:40" }}</a>
            </div>
        {% endif %}
        
        {% if target.writeable %}
        <div property="foaf:mbox">Email: <a href="mailto:{{target.email}}">{{ target.email }}</a></div>
        {% endif %}
    
        {% if target.profile.scholar %}
            <div>Profile: <a href="http://scholar.google.com/citations?user={{target.profile.scholar}}">Google Scholar</a></div>
        {% endif %}
    
        <div>Location: {{ target.profile.location }}</div>    
        <div>Member for: {{ target.date_joined|timesince }}</div>
        <div>Last seen: {{ target.profile.last_visited|timesince }} ago </div>
        
        {% if user == target and user.profile.is_admin %}
            <div>Admin: <a href="/admin/">admin login</a></div>
        {% endif %}
        
        <div>
        {# editable #}    
        {% if target.writeable %}
            <div>My tags: <code>{{ target.profile.my_tags }}</code></div>
            <a class="btn btn-primary" href="{% url main.server.action.user_edit target.id %}"><i class="icon-edit icon-white"></i> Edit info</a>
        {% endif %}
    
        
       
        {# moderator access #}
        {% if target.writeable and user != target%}
            &nbsp;&bull;&nbsp;
            {% if target.profile.get_status %}
                <a class="btn btn-success" href="{% url main.server.action.user_moderate target.id 'reinstate' %}"><i class="icon-edit icon-white"></i> Reinstate</a>
            {% else %}
                <a class="btn btn-warning" href="{% url main.server.action.user_moderate target.id 'suspend' %}"><i class="icon-remove-sign icon-white"></i> Suspend</a>
            {% endif %}
        {% endif %}
        </div>
    
    </div>
    <div class="span6 bio-panel">
        {{target.profile.about_me_html|safe }}
    </div>
</div>
</div>

{% if user == target %}
<div class="row">
    <div class="alert info">We have migrated the accounts from the old version of BioStar. See the <a href="/merge">account merge</a> page for more information</div>
</div>
{% endif %}

<div class="row">
    {# this the tabs that get selected for different pages #}
    <ul class="nav nav-tabs">
        <li {% active 'activity' params.tab %}><a href="{% url main.server.views.user_profile target.id %}">Activity{% show_value params.note_count %}</a></li>
        <li {% active 'bookmarks' params.tab %}><a href="{% url main.server.views.user_profile target.id 'bookmarks' %}">Bookmarks{% show_value params.bookmarks_count %}</a></li>
        <li {% active 'badges' params.tab %}><a href="{% url main.server.views.user_profile target.id 'badges' %}">Badges{% show_value params.award_count %}</a></li>
        {% if target.profile.can_moderate %}
            <li {% active 'moderator' params.tab %}><a href="{% url main.server.views.user_profile target.id 'moderator' %}">Moderator</a></li>
        {% endif %}
    
    </ul>
</div>

<div class="row">
{% if params.tab == 'activity' %}
    <div class="title" id="status">Status</div>
    
    <div class="par">
        {{ target.profile.display_name }} has contributed <a href="{% url main.server.views.show_user target.id %}">{{params.post_count}} posts</a>,  
         <a href="{% url main.server.views.show_user target.id 'answer' %}">{{params.answer_count}} answers</a> and 
         <a href="{% url main.server.views.show_user target.id 'comment' %}">{{params.comment_count}} comments</a>. 
        User  has voted {{params.vote_count}} times  and has earned {{params.award_count}} badges. 
    </div>
    
    <div class="title" id="status">Activity</div>
    <div class="par">
        Below we show activity on posts that this user has interacted with. See the  <a href="{% url main.server.pages.rss %}">RSS</a> page on how to set up feeds.

    </div>
    <div class="note-list">
        {% if page.object_list and page.paginator.num_pages > 1 %}
            <div class="row">
                {% page_bar %}
            </div>
        {% endif %}
    
        <table class="table table-striped">
        {% for note in page.object_list %}
            <tr><td class="msg {{note.status}}"> <i>{% time_ago note.date %}</i> &bull; {{ note.html|safe }}</td></tr>
        {% empty %}
            <tr><td><div class="empty">&bull; no messages</div><td></tr>
        {% endfor %}
        </table>        
        
    </div>
    
    {% if target.showall %}
    <div class="par">
        Get a private <a href="/feeds/messages/{{target.profile.uuid}}/">RSS feed<img src="{{ STATIC_URL }}img/feed-icon-small.png" style="vertical-align: middle; padding-left:3px;"></a> 
        to your messages.
    </div>
    {% endif %}

{% endif %}

{% if params.tab == 'bookmarks' %}
    <div class="bookmark-list">
        {% if page.object_list and page.paginator.num_pages > 1 %}
            <div class="row">
                {% page_bar %}
            </div>
        {% endif %}
    
        {% for vote in page.object_list %}
        <div class="bookmark">
            &bull; <a href="{{vote.post.get_absolute_url}}">{{vote.post.get_title}}</a> by <a href="{{vote.post.author.profile.get_absolute_url}}">{{vote.post.author.profile.display_name}}</a>
        </div>               
        {% empty %}
        <div class="empty">&bull; no bookmarks - click on the <i class="icon-bookmark"></i> symbol of a post to bookmark it</div>            
        {% endfor %}
    
    </div>
{% endif %}
            
{% if params.tab == 'badges' %}  
    <div>
        {% for award in awards %}
            <div style="width:175px; height:50px; float:left; margin-bottom:10px;">
                <div>
                    <a class="badge-name" href="/badge/show/{{award.badge.id}}/">
                        {% spaceless %}<span class="{{award.badge.get_type_display}}">&#8226;</span>{% endspaceless %}
                        {{award.badge.name}}
                    </a>
                </div>
                <div>
                    {% time_ago award.date %}
                </div>
            </div>
        {% empty %}
            <div class="note">&bull; no badges earned</div>
        {% endfor %} 
    </div>
{% endif %}

{% if params.tab == 'moderator' %}  
    <div class="note-list">
       <div class="par">
            Moderator actions by this user. To view all moderator actions see the <a href="/modlog/list">moderator log list</a>
       </div>
        {% if page.object_list and page.paginator.num_pages > 1 %}
            <div class="row">
                {% page_bar %}
            </div>
        {% endif %}
    
        <table class="table table-striped">
        {% for note in page.object_list %}
            <tr><td class="msg {{note.status}}"> {% time_ago note.date %} &bull; {{ note.html|safe }}</td></tr>
        {% empty %}
            <tr><td><div class="empty">&bull; no messages</div><td></tr>
        {% endfor %}
        </table>   
    </div>
{% endif %}

</div>
{% endblock %}
