{% extends "base.html" %}
{% load i18n %}
{% load basic %}
{% load widgets %}

{% block title %}
    {% trans 'BioStar Users' %}

{% endblock %}

{% block body %}

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

<div class="row">
    <div class="span12">
        <form action="/user/list/" method="get" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">{% trans 'User search' %}
                    </label>
                    <div class="controls">
                        <input name="m" type="text" size=20 value="{{m}}">
                        <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">{% trans 'Search!' %}
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row" id="user-list">
    {% for target in page.object_list %}
        {% user_box target 128 %}
    {% endfor %}
</div>

<div class="row"><div class="span12">
    {% page_bar %}
</div></div>

{% endblock %}
