{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block custom-frameworks %}
    <style type="text/css">
      
      label {
        width: 10em;
        float: left;
        text-align: right;
        margin-right: 0.5em;
        display: block
      }
      .errorlist {
        background:#F4A83D;
      }

      p {
        display:block;
      }
    </style>
{% endblock %}

{% block subheader %}
    <div class="pagebar title"></div>
{% endblock %}

{% block body %}

<form id="useredit" name="useredit" action="/user/edit/{{user.id}}/" method="post" class="form-horizontal">
    <legend>Updating user: {{ user.profile.display_name }}</legend>
    <fieldset>
    {% csrf_token %}
    {% form_field  form.display_name 'Display Name' %}
    {% form_field  form.email 'Email' %}
    {% form_field  form.location 'Location' %}
    {% form_field  form.website 'Website' %}
    {% form_field  form.about_me 'About me' '<a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> allowed '%}

    <div class="form-actions">
        <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn">Reset</button>
    </div>
    
    </fieldset>

</form>
</div>

{% endblock %}
