{% load engine_tags %}

<form method="post" class="ui form" action="#">

    <div class="ui vertical segment">
        <span class="ui title header">Recipe Interface</span>
        <a href="#" class="ui small orange button preview"> <i class="eye icon"></i>Preview</a>
    </div>

    <div class="field" id="json_field">
                        <textarea class="code" rows="40" cols="55"
                                  name="json_text" id="interface_editor">{{ form.json_text.value }}</textarea>
    </div>

    {% if recipe.is_cloned %}

        {% recipe_clone_message recipe %}

    {% else %}

        <div class="item">
            <button class="ui green  {{ btn_state }} button ajax" type="submit">
                <i class="save icon"></i> Save Interface
            </button>

            <a class="ui right floated gray button click" data-value="#info">
                <i class="arrow left icon"></i> Back
            </a>
        </div>

    {% endif %}

</form>

<div class="ui vertical segment">
    <div class="ui header">Interface specification</div>
    Interface element specification. Shows the code and the resulting interface element.
    Double click on any box to add to your interface.
</div>


<div class="ui basic segment">

    <form class="ui form">

        <div class="ui two cards">

            <div class="card">

                <div class="content">
                    <div class="header">
                        Integer values
                    </div>
                </div>

                <div class="extra content">
                    <pre class="nopad">
                        [size]
                        label = "Window size"
                        display = "INTEGER"
                        value = 100
                        range = [1, 100]
                        help = "Selects the smoothing window."
                    </pre>
                </div>

                <div class="extra content formstyle">

                    <div class="field">
                        <label>Window size</label>
                        <input type="text" value="100">
                        <div class="muted">Selects the smoothing window.</div>
                    </div>

                </div>


            </div>

        </div>

    </form>

</div>
<script>
    $(document).ready(function () {
        var interface = init_codemirror($('#interface_editor'), 400);
    });
</script>