{% load basic %}

{% if post.comment_count %}
    <div>
        <table cellspacing="0" class="comment-table" align="right">
            {% for comment in comments %}
                <tr class="comment" id="{{comment.id}}">
                    <td class="pad10">&nbsp;</td>
                    <td class="comment-actions">&nbsp;</td>
                    <td class="comment-text">
                        
                        {% if comment.editable %}
                            <a class="comment-delete" name="{{comment.id}}">x</a>
                        {% endif %}
                        
                        {{ comment.html|safe}}
                        &bull; {% userlink comment.author %} {% time_ago comment.creation_date %}
                        
                        {% if comment.editable %}
                            &bull; <a href="/post/edit/{{comment.id}}">edit</a>
                        {% endif %}
                        
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if user.is_authenticated %}
<div class="post-comment post-menu">
    {% csrf_token %}
    <input type="hidden" value="{{post.id}}">
    <a class="add-comment">add comment</a>
</div>
{% endif %}
