{% load basic %}

{% if request.user.is_authenticated %}
    <span class="addcomment">
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}">
        <a class="add-comment">add comment</a>
    </span>
{% else %}
    <span> log in to comment </span>
{% endif %}
            
&bull; <a href="{{request.path}}#{{post.id}}">link</a>

{% if post.writeable %}
    
    &bull; <a href="/post/edit/{{post.id}}/">edit</a>

    <span class="mod-menu">
    
        {% if post.closed %}
            &bull; <a class="mod-link">reopen</a> 
        {% else %}
            &bull; <a class="mod-link">close</a> 
        {% endif %}
    
        {% if post.deleted %}
            &bull; <a class="mod-link">undelete</a> 
        {% else %}
            &bull; <a class="mod-link">delete</a>                                   
        {% endif %}                            
    
    </span>    

{% endif %}


