 {% load basic %}
 {% load widgets %}
 
 <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>
          
          <a class="brand" href="/">BioStar</a>
          
          <div class="nav-collapse">
            
            <ul class="nav">
              <li {% active 'tags'   nav %}><a href="{% url main.server.views.tag_list %}">Tags</a></li>
              <li {% active 'users'  nav %}><a href="{% url main.server.views.user_list %}">Users</a></li>
              <li {% active 'badges' nav %}><a href="{% url main.server.views.badge_list %}">Badges</a></li>
              <li {% active 'about'  nav %}><a href="{% url main.server.pages.about %}">About</a></li>
              <li {% active 'rss'    nav %}><a href="{% url main.server.pages.rss %}">Feeds</a></li>
              <li {% active 'faq'    nav %}><a href="{% url main.server.pages.faq %}">FAQ</a></li>
            </ul>
            
            <form class="navbar-search pull-left" action="/" method="get">
              <input type="text" name='q' class="search-query" value="{{q}}" placeholder="Search">
            </form>
             
            {%if user.is_authenticated %}
            <p class="nav navbar-text pull-right">
                {% if user.profile.new_messages %}
                <a class="btn btn-success" href='{% url main.server.views.user_profile user.id %}'><i class="icon-envelope icon-white"></i> {{user.profile.new_messages}}</a>
                {% endif %}
                &nbsp;
                 <i class="icon-user icon-white"></i>
                 <a href="{% url main.server.views.user_profile user.id %}">{{ user.profile.display_name }} {% flair user %} {{ user.profile.score }}</a>
                 | <a href="/logout/?next_page=/">Sign Out</a>
            </p>
            {% else %}
              <p class="navbar-text pull-right login">
                <a class="btn btn-success" href='/openid/login/'><i class="icon-user icon-white"></i> Sign In</a>
              </p>
            {% endif %}
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>