<div class="page_bar">&nbsp;
    {% if page.paginator.num_pages > 1 %}
        {% if page.has_previous %}
            <a href="{{path}}?page={{page.previous_page_number}}&q={{params.q}}&sort={{params.sort}}">&lt;previous</a>
            &bull; <a href="{{path}}?page=1&q={{params.q}}&sort={{params.sort}}">first</a>
        {% else %}
            <span style="color:#555555;">&lt;previous &bull; first</span>
        {% endif %}

        &bull; page {{ page.number }} of {{ page.paginator.num_pages }}

        {% if page.has_next %}
            &bull; <a href="{{path}}?page={{page.paginator.num_pages}}&q={{params.q}}&sort={{params.sort}}">last</a>
            &bull; <a href="{{path}}?page={{page.next_page_number}}&q={{params.q}}&sort={{params.sort}}">next&gt;</a>
        {% else %}
            <span style="color:#555555;">&bull; last &bull; next&gt;</span>
        {% endif %}
    {% endif %}
    &nbsp;
</div>

