{% load basic %}
{% load widgets %}

{% if pill %}
    <div style="width:80%;float:left;";>
        <ul class="nav nav-pills">
            {% for tabkey, link, text, countkey in layout.PILL_BAR %}
                <li {% active tabkey pill %}><a href="{{link}}">{{text|safe}}&nbsp;{% show_count countkey counts %}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div style="margin-top:25px">
    {% if params.sort %}
            {% page_bar_dropdown params.sort params.sort_choices %}
    {% endif %}
    </div>
    
{% endif %}