{% load basic %}

<div class="edit-action">
    
<a href="{{request.path}}#{{post.id}}">permalink</a>

&bull;

{% if request.user.is_authenticated %}
    <span>
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}">
        <a class="add-comment">comment</a>
    </span>
{% else %}
    <a href="/openid/login/?next={{request.path}}">log in to comment</a>
{% endif %}
            

{% if post.writeable %}
    
    &bull;
    <a href="/post/edit/{{post.id}}/">edit</a>
    
    <span class="mod-menu">
    {% if post.top_level %}
        &bull;
        {% if post.closed %}
             <a class="mod-link">reopen</a> 
        {% else %}
            <a class="mod-link">close</a>
        {% endif %}
    {% endif %}

    &bull;
    
    {% if post.deleted %}
        <a class="mod-link">undelete</a> 
    {% else %}
        <a class="mod-link">delete</a>                                   
    {% endif %}   
    </span>
    
{% endif %}
</div>


