{% load basic %}
{% load widgets %}
{% load url from future %}
{% load i18n %}

<div class="edit-action">


    {% if request.user.is_authenticated %}
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}">
        <a class="add-comment"><span class="label">comment</span></a>
    {% else %}
        <a href="/openid/login/"> log in to comment</a>
    {% endif %}

    {% if post.has_revisions %}
        &bull; <a href="/revision/show/{{ post.id }}/">revisions</a>
    {% endif %}
    
    {% if post.writeable %}
    
        &bull; <a href="{% url 'main.server.views.post_edit' post.id  %}">edit</a>
       
    
        <span class="mod-menu">
            {% if post.top_level and request.user.can_moderate %}
                {% if post.closed %}
                    &bull; <a href="{% url 'main.server.action.post_moderate' post.id 'open' %}">reopen</a>
                {% else %}
                    &bull; <a href="{% url 'main.server.action.post_moderate' post.id 'close' %}">close</a>
                {% endif %}
            {% endif %}

            {% if post.deleted %}
                &bull; <a href="javascript:moderate_post('{% url 'main.server.action.post_moderate' post.id  'open' %}')">undelete</a>
            {% else %}
                &bull; <a href="javascript:moderate_post('{% url 'main.server.action.post_moderate' post.id 'delete' %}')">delete</a>
            {% endif %}

        </span>
    {% endif %}

    {%  if post.book_count > 0 %}
        &bull; {{ post.book_count }} bookmark{{ post.book_count|pluralize }}
    {%  endif %}



    &bull; <a href="{{request.path}}#{{post.id}}">permalink</a>

    &bull; <a href="/more/like/{{post.id}}/"><i class="icon-search"></i> similar posts</a>

    {%  post_share post %}

</div>

