{% load basic %}
{% load humanize %}
{% load widgets %}

{# renders a post with title #}
<a name="{{post.id}}"></a>

<div class="post-show {{post.get_status}}">

    {% if post.top_level %}
        <div class="title">{{post.get_type_display}}: {{post.get_title}}</div>
    {% endif %}

    <div class="row">

        <div class="span1">
            {% vote_box post %}
        </div>


        <div class="body span9">
            {% if post.deleted %}
                [ content deleted, see revisions ]
            {% else %}
                {{ post.html|safe }}
                {% if post.top_level %}
                    {% show_tags post %}
                {% endif %}
            {% endif %}
        </div>


        <div class="post-info span2">{% post_info_panel 'created' post %}</div>

    </div>

    <div class="row">
        <div class="post-actions span11 offset1">
            <input name="post_id" type="hidden" value="{{post.id}}">
            {% post_edit_actions request post %}
        </div>
    </div>

    <div class="row">
        <div class="comment span11 offset1">
            {% comments request post tree %}
        </div>
    </div>


</div>