{% load basic %}
{% load i18n %}
{% load humanize %}
{% load widgets %}
{% load url from future %}

{# renders a single comment #}

<a name="{{post.id}}"></a>

<div class="entry" id="{{post.id}}">
    {% if post.writeable %}
        <div class="comment-delete" target="{{post.id}}">&times;</div>                                               
    {% endif %}
    <div class="mini-vote-box">
        <div class="vote">
            <input type="hidden" value="{{post.id}}">
            {% if post.upvoted %}
            <div class="vote-up vote-on">&nbsp;</div>
            {% else %}
            <div class="vote-up vote-off">&nbsp;</div>
        {% endif %}
            <div class="vote-count">
            {% if post.score %}
                {{post.score}}
            {% endif %}
            </div>
        </div>
    </div>
    
    <div name="content">
        {% if post.open %}
            {{ post.html|safe }}
        {% else %}
            [ {%  trans 'content deleted' %} ]
        {% endif %}
    </div>
    
    {# these are the actions to take on comments #}
    <div>
        <input name="post_id" type="hidden" value="{{post.id}}">
       {# edit actions #}
        {% if request.user.is_authenticated %}
        
            {% csrf_token %}
            <input type="hidden" value="{{post.id}}">
            <a class="add-comment"><span class="label">reply</span></a>
            
        {% else %}
            <a href="/openid/login/">{%  trans 'log in to reply' %}</a>
        {% endif %}

        {# owners and moderators may edit the post #}
        {% if post.writeable %}
            &bull; <a href="/post/edit/{{post.id}}/">edit</a>
        {% endif %}
        &bull; written <span class="relativetime"> {% time_ago post.creation_date %} </span> by {% userlink post.author %} {% userrep post.author %}
    </div>
</div>