{% load basic %}

{% ifnotequal post.revision_count 1 %}
<div class="user-info right">
    <div class="user-info">
        <div class="user-action-time">
            edited <a href="/revisions/list/{{post.id}}/"><b>{% time_ago post.lastedit_date %}</b></a>
        </div>
        {% ifequal post.lastedit_user post.author %}
            <div>
                by author
            </div>
        {% else %}
            {% userbox post.lastedit_user %}
        {% endifequal %}
    </div>
</div>
{% endifnotequal %}