<div class="offset1 span9">
    <form class="form-search">
        <label for="st-search-input">Search:</label>
        <input type="text" id="st-search-input" style="width: 80%" placeholder="Type in here for suggestions, press enter for detailed results"/>
        <button type="submit" class="btn">Go!</button>
    </form>
    <div id="st-results-container"></div>
    <script type="text/javascript">
        var Swiftype = window.Swiftype || {};
        (function () {
            Swiftype.key = 'h3SAmB4qhHwBUSuqyxGZ';
            Swiftype.inputElement = '#st-search-input';
            Swiftype.resultContainingElement = '#st-results-container';
            Swiftype.attachElement = '#st-search-input';
            Swiftype.renderStyle = "overlay";

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = "//swiftype.com/embed.js";
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        }());
    </script>
</div>