{% load basic %}
{% load widgets %}

{# this the tabs that get selected for different pages #}
<ul class="nav nav-tabs">
    <li {% active 'recent' tab %}><a href="/show/recent/">Recent</a></li>
    <li {% active 'popular' tab %}><a href="/show/popular/">Popular</a></li>
    <li {% active 'questions' tab %}><a href="/show/questions/">Questions {% show_count 'questions' counts %}</a></li>
    <li {% active 'unanswered' tab %}><a href="/show/unanswered/">Unanswered {% show_count 'unanswered' counts %}</a></li>
    <li {% active 'planet' tab %}><a href="/show/planet/">Planet {% show_count 'planet' counts %}</a></li>
    <li {% active 'forum' tab %}><a href="/show/forum/">Forum {% show_count 'forum' counts %}</a></li>
    <li {% active 'guides' tab %}><a href="/show/guides/">Guides {% show_count 'guides' counts %}</a></li>
    <li {% active 'new' tab %}><a href="/new/post/"><i class="icon-star" style="opacity:0.5;"></i> Create New!</a></li>
</ul>
