{% load i18n %}
{% load basic %}
{% load widgets %}

{# this the tabs that get selected for different pages #}
<ul class="nav">
    <li {% active 'posts' tab %}><a href="/">{% trans "Posts" %}</a></li>
    <li {% active 'recent' tab %}><a href="/show/recent/">{% trans "Recent" %}</a></li>
    <li {% active 'tags'   nav %}><a href="{% url main.server.views.tag_list %}">{% trans "Tags" %}</a></li>
    <li {% active 'users'  nav %}><a href="{% url main.server.views.user_list %}">{%  trans "Users" %}</a></li>
    <li {% active 'badges' nav %}><a href="{% url main.server.views.badge_list %}">{%  trans "Badges" %}</a></li>
    <li {% active 'about'  nav %}><a href="{% url main.server.pages.about %}">{% trans "About" %}</a></li>
</ul>
<ul class="nav nav-right">
    <li {% active 'new' tab %} class="pull-right"><a href="/new/post/" class="newpost">{% trans "New Post!" %}</a></li>
</ul>
