{% load basic %}
{% load widgets %}

{# this the tabs that get selected for different pages #}
<div class="row">
    <div>
        <ul class="nav nav-tabs">
            <li {% active 'recent' tab %}><a href="/show/recent/">Recent</a></li>
            <li {% active 'posts' tab %}><a href="/show/posts/">Posts</a></li>
            <li {% active 'planet' tab %}><a href="/show/planet/">Planet&nbsp;{% show_count 'Blog' counts %}</a></li>
            <li {% active 'search' tab %}><a href="{% url main.server.search.main %}">Search</a></li>
            <li {% active 'new' tab %}><a href="/new/post/"> <span class="newpost">New Post!</span></a></li>
        </ul>
    </div>

    {% pill_bar params counts %}
    
</div>
