{% load basic %}
{% load humanize %}
{% spaceless %}
    <span class="badge">
        <span class="score">{% bignum user.profile.score %}</span>
        {% if user.profile.gold_badges %}
            <span class="gold">&#8226;</span>
            <span class="count">{{user.profile.gold_badges}}</span>
        {% endif %}
        {% if user.profile.silver_badges %}
            <span class="silver">&#8226;</span>
            <span class="count">{{user.profile.silver_badges}}</span>
        {% endif %}
        {% if user.profile.bronze_badges %}
            <span class="bronze">&#8226;</span>
            <span class="count">{{user.profile.bronze_badges}}</span>
        {% endif %}
    </span>
{% endspaceless %}