<div class="vote-box">
    <div class="vote">
        <input type="hidden" value="{{post.id}}">
    
        {% if post.upvoted %}
            <div class="vote-up vote-on" title="Click to remove">&nbsp;</div>
        {% else %}
            <div class="vote-up vote-off" title="Click to upvote">&nbsp;</div>
        {% endif %}
    
        <div class="vote-count">{{post.score}}</div>
        
        {% if post.downvoted %}
            <div class="vote-down vote-on" title="Click to remove">&nbsp;</div>	
        {% else %}
            <div class="vote-down vote-off" title="Click to downvote">&nbsp;</div>
        {% endif %}

        {% if post.bookmarked %}
        <div class="vote-bookmark vote-on" title="Click to remove bookmark">&nbsp;</div>
        {% else %}
        <div class="vote-bookmark vote-off" title="Click to add bookmark">&nbsp;</div>
        {% endif %}
    
        {% if not post.top_level  %}
            {% if post.accepted %}
            <div class="vote-accepted vote-on">&nbsp;</div>
            {% else %}
                {% if post.accept_flag %}
                    <div class="vote-accepted vote-off">&nbsp;</div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>