<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% block header %}
    <div>
        <div class="span3">
            <a href="/"><img src="{{ STATIC_URL }}{{ SITE_LOGO }}"></a>
        </div>
    </div>
{% endblock %}

<div>
    {% block mainbody %}
        Body
    {% endblock %}
</div>

<div>
    {% block footer %}
        Biostar version {{ BIOSTAR_VERSION }}
    {% endblock %}
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

{% if GOOGLE_TRACKER %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{GOOGLE_TRACKER}}']);
        _gaq.push(['_setDomainName', '{{GOOGLE_DOMAIN}}']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endif %}
</body>
</html>