{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Sign Up.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>{% trans "Social Login" %}</h2>

            {% if socialaccount.providers %}
                <p>{% blocktrans with site.name as site_name %}
                    Click the name of a provider to log in. The site will create
                an account for you.{% endblocktrans %}</p>
                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}

            <div class="login-or">Don't want to use social logins?
                <a role="button" class="btn btn-default" href="{{ signup_url }}">Sign up with an email! &raquo;</a></div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h2>{% trans "Email Login" %}</h2>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn btn-success">{% trans "Sign In" %} &raquo;</button>
                <span class="btn btn-default pull-right">
                    <a class="button"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %} &raquo;</a></span>

            </form>

        </div>
    </div>
{% endblock %}