{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Sign Up.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{% trans "Social Login" %}</h1>

            {% if socialaccount.providers %}
                <p>{% blocktrans with site.name as site_name %}You may use the following
                    providers to sign in.{% endblocktrans %}</p>

                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}

            <div class="login-or">Don't want to use social logins? <a href="{{ signup_url }}">Sign up with an email!</a></div>
        </div>
        <div class="col-md-4">
            <h1>{% trans "Email Login" %}</h1>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                <span class="btn btn-default pull-right"><a class="button secondaryAction"
                                                            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></span>

            </form>

        </div>
    </div>
{% endblock %}