{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Password reset sent
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-0">

            <h1>{% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>

            <div class="alert alert-success">
                {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}
            </div>
            </p>

        </div>
    </div>
{% endblock %}