{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Sign Up.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <h1>{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}