{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Change your password
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success text-center">
                {% trans 'Your password is now changed.' %}
                <a class="btn btn-info" role="button" href="{% url "account_login" %}">{% trans 'Please log in' %} </a>
            </div>
        </div>
    </div>
{% endblock %}