{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Sign Up.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Create Account" %}</h3>
                </div>
                <div class="panel-body">
                    <div>Do you want to use social logins?
                        Go to the <a href="{{ login_url }}">Login page &raquo;</a>
                    </div>
                    <form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="form-group">

                            {{ form|crispy }}
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}

                        <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>

                <span class="btn btn-default pull-right">
                    <a class="button" href="{% url 'account_login' %}">{% trans "Back to login" %} &raquo;</a>
                </span>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}