{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load humanize %}
{% load i18n %}
{% load url from future %}

{% block title %}
    Biostar Ad List
{% endblock %}

{% block body %}

    <div class="row">
        <div class="span12">

            <form class="form-inline" action="{% url "show-ads" %}">
                <label>Search for </label>
                <input type="text" class="input-large" placeholder="" name="search" value="{{ search }}">

                <button type="submit" class="btn">Go!</button>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="span12">
            <div class="alert alert-block">
                Showing the first 50 items. Learn more about how ads work on the <a href="/help/ads">Ad Information</a>
                page.
            </div>
        </div>
    </div>

    <div class="row">

        <div class="span12">


            <table class="table table-striped ad-list" cellspacing="0" width="100%">
                <tr>
                    <th>ID</th>

                    <th>Show Count</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Status By</th>
                    <th>Ad Author</th>
                    <th>Ad Title</th>
                    <th>Expiration</th>
                </tr>
                {% for ad in ads %}
                    <tr>
                        <td>
                            {{ ad.id }}
                        </td>



                        <td>
                            {{ ad.show_count|intcomma }}
                        </td>

                        <td>
                            {{ ad.get_status_display }}
                        </td>

                        <td>

                            {% if ad.allow_start %}

                                <a href="{% url "toggle-ad" pk=ad.id %}?action=start"> Start </a>

                            {% elif ad.allow_stop %}

                                <a href="{% url "toggle-ad" pk=ad.id %}?action=stop"> Stop </a>

                            {% else %}

                                &dash;
                            {% endif %}
                        </td>
                        <td>
                            {{ ad.status_by.profile.display_name }}
                        </td>

                        <td>
                            {{ ad.user.profile.display_name }}
                        </td>

                        <td>
                            <a href="{% url "post-show" pid=ad.post.id %}">{{ ad.post.get_title }}</a>
                        </td>


                        <td>
                            {{ ad.expiration_date }}
                        </td>
                    </tr>

                {% empty %}
                    <tr>
                        <td>
                            <div class="empty"> &bull; {% trans 'no ads here' %}</div>
                        <td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}
