{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load humanize %}
{% load i18n %}
{% load url from future %}

{% block head %}
    <style>
    .modify {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        width: 400px;
    }
    </style>

{% endblock %}

{% block document_ready %}

    function replace_input(parent, id, value){
        parent.html('<input type="text" name="rep-' + id +'" value="' + value +'">')
    }

    $('.modify').each(function(){
        elem = $(this)
        elem.click(function(){
        replace_input($(this).parent(), $(this).attr("id"), $(this).attr("value"));
        });
    });

{% endblock %}

{% block title %}
    Biostar Full Tag List
{% endblock %}

{% block body %}

    <form action="{% url "list-tags" %}" method="POST">
    <fieldset>
        {% csrf_token %}


            <div class="row">

            <div class="span6">
                <span class="help-block">Modify content then press here: </span>
                <button type="submit" class="btn btn-primary" style="margin:5px">Submit Changes</button>
            </div>

            <div class="span12">


                <table class="table table-striped" cellspacing="0">

                    {% for tag in tags %}
                        <tr>

                            <td>
                                {{ tag.count }}
                            </td>

                            <td>
                                {{ tag.name }}
                            </td>

                            <td>
                                <span class="modify" value="{{ tag.name }}" id="{{ tag.id }}" href="">modify {{ tag.name }}</span>
                            </td>

                            <td>
                                delete {{ tag.name }} <input type="checkbox" value="{{ tag.id }}" name="delete">
                            </td>

                        </tr>
                    {% endfor %}

                </table>

            </div>

            <div class="span6">
                <span class="help-block">Modify content then press here: </span>
                <button type="submit" class="btn btn-primary" style="margin:5px">Submit Changes</button>
            </div>

        </div>
    </fieldset>
    </form>
{% endblock %}
