{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {{ params.title }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="span12">


            <table class="table table-striped ad-list" cellspacing="0" width="100%">
                <tr>
                    <th>ID</th>
                    <th>Rate</th>
                    <th>Shown</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Approved By</th>
                    <th>Ad Author</th>
                    <th>Post</th>
                    <th>Expiration</th>
                </tr>
                {% for ad in ads %}
                    <tr>
                        <td>
                            {{ ad.id }}
                        </td>

                        <td>
                           {{ ad.rate|floatformat:4 }}
                        </td>

                        <td>
                           {{ ad.show_count }}
                        </td>

                        <td>
                            {{ ad.get_status_display }}
                        </td>

                        <td>
                            <a href="/toggle/ad/{{ ad.id }}/"> change </a>
                        </td>
                        <td>
                           {{ ad.status_by.profile.display_name }}
                        </td>

                         <td>
                           {{ ad.user.profile.display_name }}
                        </td>

                        <td>
                            <a href="{% url post-show pid=ad.post.id %}">{{ ad.post.title }}</a>
                        </td>


                        <td>
                            {{ ad.expiration_date }}
                        </td>
                    </tr>

                {% empty %}
                    <tr>
                        <td>
                            <div class="empty"> &bull; {% trans 'no ads here' %}</div>
                        <td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}
