Hello <b>{{ user.name }}</b>! Welcome to Biostar <i class="fa fa-globe"></i>!

<p style="padding-top:10px;">
    We hope you'll find the site useful and our community friendly.
</p>
<p>
    We encourage you to participate:
    <b>upvote</b> posts that you like, ask <b>questions</b>, write <b>comments</b> and <b>answers</b>, follow posts,
    bookmark content. You can keep up with the lates content via email (see your user account settings) or RSS feeds.
</p>
<p>
    Together, by sharing the know-how, personal experiences, tips and tricks of the trade
    we can become more productive and successful as scientists.
</p>

