@BODY_FONT: "Helvetica Neue", Helvetica, Arial, sans-serif;
@BODY_TEXT_COLOR: #333333;
@CONTAINER_WIDTH: 1200px;
@LINK_COLOR: #428bca;
@HIGHLIGHT_COLOR: yellow;
@MUTED_TEXT_COLOR: #808080;

//Tag colors.
@TAG_TEXT_COLOR: #6B3E4A;
@TAG_BG_COLOR: #ECECEC;
@TAG_BG_HOVER_COLOR: #6B3E4A;

// Post colors.
@ANSWERED_COLOR: #5b8c3e;
@UNANSWERED_COLOR: #8f2c47;

// Message colors.

@ALERT_DANGER: #f2dede;
@ALERT_INFO: #d9edf7;
@ALERT_WARNING: #fcf8e3;
@ALERT_SUCCESS: #dff0d8;
