/* base.less :-)

Contains the base LESS (css) that should be imported at the beginning
of any customization CSS. Sets the default styles for all
components.

The importing LESS file must have certain constants and variables set.

See the biostar.style.less file for details.
*/

#header {
  color: @color;
}

h2 {
  color: @color;
}

#messages {
  //margin-top: 10px;
}

#site-logo {
  background-color: red;
  float: left;
  width: 10px;
  height: 10px;
}

#traffic {
  position: fixed;
  font-size: 10px;
  bottom: 0px;
  left: 0px;
  color: #999999;
}

.center {
  text-align: center;
}

.titleX {
  font-family: arial, verdana, helvetica, sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.rounded {
  border-radius: 7px;
}

.tag {
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
  padding: 1px 4px 1px 4px;
  text-decoration: none;
  background-color: #ECECEC;
  border-bottom: 1px solid #BBB;
  border-right: 1px solid #BBB;
  color: #6B3E4A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: #6B3E4A;
  }
}
.alert {
  padding: 5px;
}

#user-table {
  margin-top:10px;
}

table#posts {
  vertical-align: top;
  padding: 0px;
  width: 100%;

  .book_count {
    font-size: x-small;
    color: #762C90;
  }
  .Forum {

    .answered {
      background-color: #B79538;
      color: white;
    }
    .commented {
      background-color: #B79538;
      color: white;
    }
    .accepted {
      background-color: #B79538;
      color: #E1E818;
    }
    .unanswered {
      background-color: #B79538;
      color: white;
    }
  }

  .Job {
    .answered {
      background-color: #E9530F;
      color: white;
    }
    .commented {
      background-color: #E9530F;
      color: white;
    }
    .accepted {
      background-color: #E9530F;
      color: #E1E818;
    }
    .unanswered {
      background-color: #E9530F;
      color: white;
    }
  }

  .Question {

    .answered {
      background-color: #436C27;
      color: white;
    }
    .commented {
      background-color: #436C27;
      color: white;
    }
    .accepted {
      background-color: #436C27;
      color: #E1E818;
    }
    .unanswered {
      background-color: #8f2c47;
      color: white;
    }
  }

  .boxcell {
    min-width: 14em;
  }

  tr {
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
  }
  td {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .vote {
    background-color: #eeeeee;
  }

  .default {
    background-color: #eeeeee;
  }

  .box {
    margin: 0 3px 0 0;
    padding: 1px;
    width: 4em;
    text-align: center;
    float: left;

    .t {
      font-size: smaller;
      margin-top: 5px;
    }

    .c {
      font-size: 1.6em;
      font-weight: bold;
      height: 1.6ex;
      vertical-align: middle;
      text-align: center;
    }

  }

  .title {
    font-weight: bold;
    padding-bottom: 0.5em;
    font-size: large;
  }

  .userlink {
    //font-size: smaller;
  }

}

ul.flat {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar {
  margin-top: 10px;
}

.navfix {
  margin-top: 23px;
}

.searchbar {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.pagination {
  margin: 5px 0;
}

#navbar li {
  border-radius: 5px;
}

.login {
  font-size: large;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #5B8C3E;
}

#navbar li.active {
  background-color: #436C27;
}