/*
All variables declared before the import must be
present because the importing file will use these.
*/
@GREEN_COLOR:#5B8C3E;
@RED_COLOR: #8F2C48;

// Success button and navbar color.
@BACKGROUND_SUCCESS: @GREEN_COLOR;
@BACKGROUND_ERROR: @RED_COLOR;

// Tag related colors.
@TAG_COLOR: #6B3E4A;
@TAG_BACKGROUND_COLOR: #ECECEC;
@TAG_BORDER_COLOR: #BBB;

/* Import the default styles */
@import "biostar.base.less";

/* Overriding styles for the current setup */
#site-logo {
  background-color: transparent;
  float: left;
  width: 326px;
  height: 80px;
  background-image: url('/static/biostar.logo.png');
}