/* base.less :-)

Contains the base LESS (css) that should be imported at the beginning
of any customization CSS. Sets the default styles for all
components.

The importing LESS file must have certain constants and variables set.

See the biostar.style.less file for details.
*/

.btn-success {
  color: #fff;
  border-color: darken(@NAVBAR_ACTIVE, 1%);
  background-color: @NAVBAR_ACTIVE;
}

#messages {
  //margin-top: 10px;
}

#site-logo {
  background-color: red;
  float: left;
  width: 10px;
  height: 10px;
}

#traffic {
  position: fixed;
  font-size: 10px;
  bottom: 0px;
  left: 0px;
  color: #999999;
}

.center {
  text-align: center;
}

.title {
  font-family: arial, verdana, helvetica, sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.rounded {
  border-radius: 7px;
}

.tag {
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
  padding: 1px 4px 1px 4px;
  text-decoration: none;
  background-color: @TAG_BACKGROUND_COLOR;
  border-bottom: 1px solid @TAG_BORDER_COLOR;
  border-right: 1px solid @TAG_BORDER_COLOR;
  color: @TAG_COLOR;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: #6B3E4A;
  }
}

.alert {
  padding: 5px;
}

#user-table {
  margin-top: 10px;
}

.socialaccount_providers {
  font-size: larger;
}

table#post-details {
  vertical-align: top;
  padding: 0px;
  width: 100%;
  margin-top: 1em;
  td {
    padding: 5px;
  }
  .title {
    font-weight: bold;
    padding-bottom: 0.5em;
    font-size: large;
  }

}

table#posts {
  vertical-align: top;
  padding: 0px;
  width: 100%;

  .book_count {
    width: 100%;
    font-size: x-small;
    color: #762C90;
    float: left;
    margin-left: -5px;
    //font-weight: bold;
  }
  .Forum {

    .answered {
      background-color: @NAVBAR_ACTIVE;
      color: white;
    }
    .commented {
      background-color: #B79538;
      color: white;
    }
    .accepted {
      background-color: #B79538;
      color: #E1E818;
    }
    .unanswered {
      background-color: #B79538;
      color: white;
    }
  }

  .Job {
    .answered {
      background-color: @NAVBAR_ACTIVE;
      color: white;
    }
    .commented {
      background-color: #E9530F;
      color: white;
    }
    .accepted {
      background-color: #E9530F;
      color: #E1E818;
    }
    .unanswered {
      background-color: #E9530F;
      color: white;
    }
  }

  .Answer {
    .bookmark {
      //background-color: #ececec;
      .t {
        //font-size: x-small;
      }
      //color: white;
    }
  }
  .Question {

    .answered {
      background-color: @NAVBAR_ACTIVE;
      color: white;
    }
    .commented {
      background-color: #436C27;
      color: white;
    }
    .accepted {
      background-color: #436C27;
      color: #E1E818;
    }
    .unanswered {
      background-color: #8f2c47;
      color: white;
    }
  }

  .boxcell {
    min-width: 14em;
  }

  tr {
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
  }
  td {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    padding-left: 0px;
  }

  .default {
    background-color: #eeeeee;
  }

  .box {
    margin: 0 3px 0 0;
    padding: 1px;
    width: 4em;
    text-align: center;
    float: left;

    .t {
      font-size: smaller;
      margin-top: 5px;
    }

    .c {
      font-size: 1.6em;
      font-weight: bold;
      height: 1.6ex;
      vertical-align: middle;
      text-align: center;
    }

  }

  .title {
    font-weight: bold;
    padding-bottom: 0.5em;
    font-size: larger;
  }

}

ul.flat {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navfix {
  margin-top: 23px;
}

.searchbar {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.pagination {
  margin: 5px 0;
}

.login {
  font-size: large;
}

.nav-pills > li > a {
  &:hover {
    background-color: @MENU_ACTIVE;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #000000;
  background-color: @MENU_ACTIVE;
}

.post {

  .title {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 10px;
    padding-top: 1em;
    color: #333;
  }

  .action {
    float: left;
    width: 50%;
    padding-top: 10px;
    vertical-align: middle;
  }

}

// Voting box for posts.
.post.vote-box {
  text-align: center;
  width: 60px;
  float: left;
  margin-left: -10px;
  display: block;

  .count {
    font-size: 240%;
    font-weight: bold;
    text-align: center;
    margin: 5px 0px 5px 0px;
  }

  .mark {
    height: 30px;
    background-position: center;
    margin-top: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #2F5B14;
    opacity: 0.9;
  }

  .off {
    opacity: 0.3;
  }
}

// Voting box for comments.
.comment.vote-box {
  text-align: center;
  padding: 10px;
  padding-right: 15px;
  width: 35px;
  float: left;
  margin-left: -10px;
  display: block;

  .mark {
    cursor: pointer;
    color: #2F5B14;
    opacity: 0.9;
    width: 20px;
    float: left;
    vertical-align: middle;
  }

  .count {
    width: 20px;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 1px 0px 5px 0px;
  }

  .off {
    opacity: 0.3;
  }
}

.action-line {
  width: 50%;
  float: left;
}

.author-line {
  width: 30%;
  float: right;
}

.comment {
  clear: left;

  .entry {
    padding-left: 5px;
    margin-top: 0.5em;
    color: #666666;
    background-color: #efefef;
    border-bottom: 1px solid #eeeeee;

  }
  .post-info-line {
    float: left;
    margin-right: 10px;
    color: #666666;
  }
  .indent {
    margin-left: 1.5em;
  }
}

div#navbar {

  margin: 1px;
  margin-top: 5px;

  .active {
    background-color: @MENU_ACTIVE;
    //border: 1px solid @MENU_ACTIVE_BORDER;
    border-radius: 4px;
  }

  .top {
    padding: 0.5em;
    margin-bottom: 5px;
    background-color: #eeeeee;
    border-radius: 4px;
    border: 1px solid #ececec;
    //text-align: center;
  }

  .anon {
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    &:hover {
      background-color: #eeeeee;
    }
  }

  .mid {
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    margin: 2px;
    &:hover {
      background-color: @MENU_ACTIVE;
    }

  }
}

.add-comment {
  cursor: pointer;
  &:hover {
    background-color: #436C27;
  }
}

.vote-popover {
  position: absolute;
  background-color: @MENU_ACTIVE;
  border-color: @MENU_ACTIVE_BORDER;
  color: #3c763d;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.vote-popover.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.sidebar {
  .head {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
  }
  ul{
    margin-left:-5px;
    li {
      margin-bottom:2px;
    }
  }
}