/* base.less :-)

Contains the base LESS (css) that should be imported at the beginning
of any customization CSS. Sets the default styles for all
components.

The importing LESS file must have certain constants and variables set.

See the biostar.style.less file for details.
*/

#header {
  color: @color;
}

h2 {
  color: @color;
}

#messages {
  margin-top: 10px;
}

#site-logo {
  background-color: red;
  float: left;
  width: 10px;
  height: 10px;
}

#traffic {
  position: fixed;
  font-size: 10px;
  bottom: 0px;
  left: 0px;
  color: #999999;
}

.center {
  text-align: center;
}

.titleX {
  font-family: arial, verdana, helvetica, sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.rounded {
  border-radius: 7px;
}

.tag {
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
  padding: 1px 4px 1px 4px;
  text-decoration: none;
  background-color: #ECECEC;
  border-bottom: 1px solid #BBB;
  border-right: 1px solid #BBB;
  color: #6B3E4A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:hover {
      color: white;
      background-color: #6B3E4A;
    }


}

table#posts {
  vertical-align: top;
  padding: 0px;
  width: 100%;

  .boxcell {
    width: 13em;
  }

  tr {
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
  }
  td {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
  }

  .vote {
    background-color: #eeeeee;
  }

  .accepted {
    background-color: #eeeeee;
  }

  .unanswered {
    background-color: #8f2c47;
    color: white;
  }

  .default {
    background-color: #eeeeee;
  }

  .box {
    margin: 0 3px 0 0;
    padding: 1px;
    width: 4em;
    text-align: center;
    float: left;

    .t {
      font-size: smaller;
      margin-top: 5px;
    }

    .c {
      font-size: 1.6em;
      font-weight: bold;
      height: 1.6ex;
      vertical-align: middle;
      text-align: center;
    }

  }

  .title {
    font-weight: bold;
    padding-bottom: 0.5em;
    font-size: large;
  }

  .userlink {
    //font-size: smaller;
  }

}


.badge-name {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 6px 6px 6px 6px;
  color: white !important;
  line-height: 1.9;
  margin: 0 3px 3px 0;
  padding: 4px 8px 4px 3px;
  text-decoration: none;
  border-image: initial;
  color: #FFCC00;
}

ul.flat {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar {
  margin-top: 10px;
}

.navfix {
  margin-top: 23px;
}

.searchbar {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.pagination {
  margin: 5px 0;
}

#navbar li {
  border-radius: 5px;
}

.login {
  font-size: large;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #5B8C3E;
}

#navbar li.active {
  background-color: #436C27;
}