{% extends "base.html" %}
{% load basic %}
{% load widgets %}
{% load humanize %}

{% block title %}
    About BioStar
{% endblock %}

{% block body %}

<div class="row">
    
   <div class="par">
            This site's focus is <b>bioinformatics</b>, <b>computational genomics</b> and <b>biological data analysis</b>. We welcome posts that are:
  </div>

  <ul>
    <li>detailed and specific</li>
    <li>written clearly and simply</li>
    <li>of interest to at least one other person somewhere</li>
  </ul>

  <div class="par">
    No question is too trivial or too "newbie". Please look around to see if your 
    question has already been asked (perhaps even answered!) before you ask. But if you end up asking a question that has 
    been asked before, that is fine too. Other users will hopefully edit in links to related
    or similar questions to help 
    future visitors find their way.
  </div>
  
  <div class="title">RSS Feeds</div>
  <div class="par">
    See the <a href="{% url main.server.pages.rss %}">Feeds page</a> <img src="{{STATIC_URL}}img/feed-icon-small.png">
  </div>

  <div class="title">Licensing</div>
  <div class="par">BioStar content is licensed under the 
    <a href="http://creativecommons.org/licenses/by/3.0/">Attribution 3.0 Unported (CC BY 3.0)</a> This means that you should
    attribute the work either to the <b>author</b> and/or to the <b>site</b>, depending on the scope and presentation of the information.
    That being said our community embraces the <a href="http://en.wikipedia.org/wiki/Fair_use">fair use policy</a> that permits
    limited use of copyrighted material without acquiring permission from the rights holders.
    Encryped and anonymized datadumps <a href="http://www.biostars.org/static/data/">will periodically be made available.</a>
    
  </div>
  
   <div class="title">Citing Biostar</div>

    <div class="par"> 
        Parnell LD, Lindenbaum P, Shameer K, Dall'Olio GM, Swan DC, et al. 2011 
        <i>BioStar: An Online Question & Answer Resource for the Bioinformatics Community.</i>
        PLoS Comput Biol 7(10): <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1002216">e1002216. doi:10.1371/journal.pcbi.1002216</a>
    </div>
    
    <div class="title">Current stats</div>
    
    <div class="par"> 
            <a href="{% url main.server.views.user_list %}">{{params.user_count|intcomma}} users</a> have contributed 
            <a href="{% url main.server.views.index tab='recent' %}">{{params.post_count|intcomma}} posts</a> distributed as 
            {{params.question_count|intcomma}} questions, {{params.answer_count|intcomma}} answers and  
            {{params.comment_count|intcomma}} comments
    </div>
    
    <div class="title">Source code</div>
    
    <div class="par">
        Biostar source code at <a href="https://github.com/ialbert/biostar-central">biostar-central repository</a>. 
        Report bugs or feature requests in the <a href="https://github.com/ialbert/biostar-central/issues"> issue tracker</a>.   
        Copyright by the <a href="https://github.com/ialbert/biostar-central/contributors">BioStar team</a>.
    </div>

    <div class="title">Contact</div>
    
    <div class="par">
        Questions related to the functioning of the site may be asked in the newsgroups and/or may be sent directly to
        the administrators or moderators listed below:
        <ul>
            <li>Google user group <a href="http://groups.google.com/group/biostar-central">Biostar Central</a></li>
            <li>Google developer group <a href="http://groups.google.com/group/biostar-dev">Biostar Dev</a></li>
        </ul>
    </div>
    
    <div class="title">Site manager</div>
    
    <div class="par">
        The current version of BioStar is being managed by
    </div>
    
    <div style="margin-top:5px">
        {% for manager in params.managers %} 
            {% user_box manager %}
        {% endfor %}
    </div>
    
    
</div>
    
<div class="row">

    <div class="title">Biostar Administrators</div>
    
    <div class="par">
        Administrators may moderate posts and may promote users to moderator status.
    </div>
    
    <div style="margin-top:5px">
        {% for admin in params.admins %} 
            {% user_box admin %}
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="title">Biostar Moderators</div>
    
    <div class="par">
        Moderators may edit, delete and reclassify all posts.
        Every few months we promote moderators based on activity and reputation.
    </div>
    
    <div style="margin-top:5px">
        {% for user in params.mods %}
            {% user_box user %}
        {% endfor %}
    </div>
</div>        
    
{% endblock %}
