{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block body %}

<div class="row">

   <h3>Biostar Beta Test</h3>
   <div class="par">
    Thanks for participating in the Biostar beta test.
   </div>

   <div class="par">
    Please feel free to explore the site, create new posts, comments, edit various fields.
    Please note that this a test site that is used to evaluate features and to identify and fix problems.
   </div>

   <h3>Feedback</h3>
   <div class="par">
    You may make yourself heard in several ways:
    <ul>
        <li> open a <a href="https://github.com/ialbert/biostar-central/issues">new issue</a> in the issue tracker</li>
        <li> email your comments to <a href="mailto:beta@biostars.org">beta@biostars.org</a></li>
        <li> post in the <a href="http://groups.google.com/group/biostar-central">newsgroup</a></li>
    </ul>
   </div>
</div>

{% endblock %}
