{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    BioStar FAQ
{% endblock %}

{% block body %}

<div class="row">

    <div class="faq">

        <div class="title">Merging Accounts</div>
        <div class="par">
            BioStar will attempt to merge accounts even when using different
            OpenID providers. If the system is not able to detect your
            existing account please see the <a href="/merge">account merge</a> page.
        </div>
        
        <div class="title">RSS Feeds</div>
        <div class="par">
            We offer RSS feeds to many different sources of information. See the <a href="{% url main.server.pages.rss %}">Feeds page</a> <img src="{{STATIC_URL}}img/feed-icon-small.png">
        </div>
        
        <div class="title">Searching by multiple tags</div>
        <div class="par">
            To build URL that returns posts that match multiple tags separate these with <code>+</code> (plus) sign. For example: <a href="/show/tag/galaxy+bwa+tutorial/">/show/tag/galaxy+bwa+tutorial/</a>. Similarly 
            to exclude a tag prefix it with the <code>-</code> (minus) sign. You can combine the two operations like so  <a href="/show/tag/tutorial+sequence-blast/">/show/tag/tutorial+sequence-blast/</a>
        </div>

        <div class="title">Setting an avatar image</div>
        <div class="par">
            Sign up at <a href="http://en.gravatar.com/">Gravatar</a> and also set your email in <b>BioStar</b> to match
            the email that is registered at <b>Gravatar</b>.
        </div>      

        <div class="title">Appropriate Content</div>
        <div class="par">
            This site's focus is bioinformatics, computational genomics and biological data analysis.
            Only posts on these topics or those pertaining to Biostar itself are allowed.
            The <b>Questions</b> section requires that a post be formulated as a question. All other
            type of post, annoucements or discussions should go under the <b>Forum</b> category. Moderators
            will reclassify posts that do not belong to the correct category.
        </div>

            
        <div class="title">Removing content</div>
        <div class="par">
            Posts may be removed or may be set deleted (invisible) status. Only the author of a post may remove it 
            withouth a trace. Moreover this action is only available as long as the post does not have other posts attached to it as 
            answers or comments. In all other cases the post can only be deleted (set to be invisible), and the delete action
            is reversible. Please contact the site managers/administrators if you feel strongly that certain content
            needs to be removed.
        </div>
        
        <div class="title">Moderation guidelines</div>
        <div class="par">Users posting content that does not belong to the site will be notified and required to edit their content. Users may
        post commercially motivated posts to the Forum section as long as the topic aligns with the main focus of this site.
        Users posting obvious spam will be immediately suspended.</div> 
        
        
        <div class="title">Voting</div>
        <div class="par">Each user has access to up to <b>10</b> votes every six hours. Users
        asking questions are encouraged to click accept (<i class="icon-ok"></i>) to indicate contributions that fully
        answer the question. Note that multiple answers
        may be accepted on a question, thus the author of a question can reward  
        excellent answers with both an upvote and an accept. There is no reputation penalty for downvotes.
        </div>

        <div class="title">User reputation</div>
        <div class="par">The number next to a user's name is the sum of upvotes and accepted answers that user has collected.
        Hails to three highest ranked users:
            <div align="center">
                <div style="width:75%;">
                    {% for u in params.best %} <div class="hail">{% userlink u %}  {% userrep u %}</div>{% endfor %}
                </div>
            </div>
        </div>

        <div style="clear:both;"></div>
        <div class="title">Post Ranking</div>
        <div class="par">On most pages  posts are ordered by their rank. This rank is a combination of the creation date (more recent 
        dates have higher rank) and the number of votes and pageviews that the post has accumulated.</div>
       
        <div class="title">Asking a good question</div>
        <div class="par">
        See <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1002202">Ten Simple Rules for Getting Help from Online Scientific Communities</a>
        </div> 

        <div class="title">Request new features</div>
        <div class="par">Post in the <a href="http://groups.google.com/group/biostar-central">Biostar Central</a> newsgroup or in the <a href="/show/forum/">Forum</a> section of the site.</div>

        <div class="title">Keeping track of posts</div>
        <div class="par">You can bookmark any post 
        by clicking on the bookmark symbol (<i class="icon-bookmark"></i>). This will add the post to your bookmark tab that is 
        accesible from your account. Your activity tab on your profile page 
        will show the responses that took place on the posts that you have
        interacted with. New activity will generate the new message icon (<i class="icon-envelope"></i>) in the navigation bar. Note that you can also subscribe to these messages as an RSS feed</div> 

        <div class="title">Moderator log</div>
        <div class="par">
            To view the moderator actions see the <a href="/modlog/list">moderator log list</a>
        </div>
        
        <div class="title">Blog roll</div>
        <div class="par">
            The list of tracked blogs can be viewed on the <a href="/blog/list">blog list</a>. Contact us if you wish to be included.
        </div>

        <div class="title">Becoming a moderator</div>
        <div class="par">Active users above a certain reputation treshold are periodically promoted to moderators. 
        You may also explicitly ask for moderation rights or suggest good candidates on the newsgroup. Inactive users that do not visit the site
        for extended periods of time may lose their moderation rights.</div> 
        
      
        
        <div class="title">Markup</div>
        <div class="par">Post may be formatted either with <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> (default) or in 
        <a href= "http://docutils.sourceforge.net/docs/user/rst/quickstart.html">Restructured Text Format</a>. Include the <code>##rest</code> pragma at the beginning of your text to
        indicate that the content is in the ReST format
        </div>


    </div>

</div>

{% endblock %}
