{% extends "base.html" %}

{% load basic %}
{% load widgets %}
{% block title %}
    Google Search - BioStar
{% endblock %}

{% block body %}

<div class="row">

   <h3>Custom Google Search</h3>
   
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en', style : google.loader.themes.GREENSKY});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '003596843386727440968:raditaczxza', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>


{% endblock %}
