{% extends "base.html" %}
{% load i18n %}

{% load basic %}
{% load widgets %}

{% block title %}
    Merge Accounts - BioStar
{% endblock %}

{% block body %}

<div class="row">
    <div class="span12">

   
   <div class="par">
    <h3>Account Merging</h3>
    We are migrating over accounts from the old BioStar server. The process should
    be automatic and you should retain all posts and votes. Your reputation is now
    computed differently, it is now the sum of all upvotes and accepted answers
    that your posts have received.
   </div>


   <div class="par">
    <h3>Did we make a mistake?</h3>
    The automated merge may fail to recognize previous users. In addition some OpenID providers are not strict enough
    about their email verification; in turn we cannot fully trust the information they send over. You can always recover a previous
    account by the following procedure.
    <ul>
        <li> find the user ids for both accounts, this is a number around the top of the profile page</li>
        <li> enter these numbers into the fields below then press the submit button.</li>
    </ul>
    The <b>Master ID</b> is the account you wish to keep. The
    <b>Remove ID</b> is the user id for the
    account you wish to merge into the master. An adminstrator will review the request
    and if approved will make the change.
   </div>
   
   <div class="par">
        If this does not solve your problem please email us at <a href="mailto: admin@biostars.org">admin@biostars.org</a>
    </div>
    
    {%if user.is_authenticated %}
    <div class="par">
        Your current user id is: <b>{{user.id}}</b>
    </div>    
    {% endif %}
    
    <div class="par">
    <form id="merge" name="merge" action="{% url main.server.action.request_merge%}" method="post" class="form-horizontal">
        <legend>Account Merge Request</legend>
        <fieldset>
        {% csrf_token %}
        {% form_field  form.master_id 'Master ID' %}
        {% form_field  form.remove_id 'Remove ID' %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" id="submit" name="submit" class="btn btn-success">Submit</button>
        </div>
    </form> 
   </div>

</div>

</div>

{% endblock %}
