{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
Information request
{% endblock %}


{% block head %}
<style type="text/css"><!--
.wide {
    width:500px;
}
--></style>
{% endblock %}

{% block body %}

<div class="row">
   <div class="par">
    

   <div class="par">Dp you know someone that might be able to answer the question <a href="{{params.post.get_absolute_url}}">{{params.post.title}}</a> 
   Biostar can send them an email and ask them to contribute. Just enter their email into the box below and we'll do the rest.</div>
    
   <form action="{{request.path}}" method="post" id="mainform" class="form-horizontal">
            
    {% csrf_token %}
       
    <legend>Information Request via Biostar</legend>
    
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="text" class="wide" name="email" id="email" placeholder="Enter Email">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="inputPassword">Subject</label>
        <div class="controls">
            <input type="text" id="subject" value="{{params.subject}}" class="wide" disabled="True">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="inputPassword">The message that will be sent via BioStar</label>
        <div class="controls">
            <textarea id="body" class="wide" rows="20" disabled="True"> {{params.body}}           
            </textarea>
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button type="submit" name="submit" class="btn">Send Message</button>
        </div>
    </div>
    
    </form>
    
</div>


{% endblock %}
