{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    BioStar RSS Feeds
{% endblock %}

{% block body %}

<div class="row">

    <div class="title">Public feeds</div>
    
    <div>
        <ul>    
            <li><a href="/feeds/latest/">Latest Questions</a> - 25 latest questions from Biostar</li>
            <li><a href="/feeds/type/job+tutorial+tool"">Follow posts of a certain type</a> - include one or more post types in a URL: <code>/feeds/type/job+tutorial+tool</code></li>
            <li><a href="/feeds/post/2+4+6"">Follow multiple posts</a> - include one or more post ids in a URL: <code>/feeds/post/2+8+10</code></li>
            <li><a href="/feeds/tag/galaxy+bwa+tutorial">Follow multiple tags</a> - include one or more tags in a URL: <code>/feeds/tag/galaxy+bwa+tutorial</code></li>
            <li><a href="/feeds/user/2+4+6"">Follow multiple users</a> - include one or more user ids in a URL: <code>/feeds/user/2+8+10</code></li>
        </ul>
    </div>


    <div class="title">Private feeds</div>
    <div class="par">
        {% if user.is_authenticated %}
        <ul>    
            <li><a href="/feeds/messages/{{user.profile.uuid}}/">Activity Feed</a> - the latest activity on your posts</li>
            <li><a href="/feeds/mytags/{{user.profile.uuid}}/">My Tags Feed</a> - posts that match the tags listed in My Tags</li>
            
        </ul>
        {% else %}
            This section shows the private feeds for a logged in user.
        {% endif %}
    </div>

</div>

{% endblock %}
