{% extends "base.html" %}

{% load basic %}
{% load widgets %}

{% block title %}
    Test Page
{% endblock %}

{% block body %}



<div class="row">

    <pre>

        Secret key: {{ params.key }}

        Json: {{ params.data }}

        Data: {{ params.enc }}

        Digest: {{ params.digest }}

    </pre>

    <div>To log in a user add the <code>data, digest</code> and <code>name</code>parameters</div>

    <div style="padding: 10px;">
        External Login: <a href="{{ params.login_url }}">{{ params.login_url }}</a>
    </div>

    <div>To authenticate and redirect the new question page also add the <code>action=new</code> parameter to the url</div>

    <div style="padding: 10px;">
        New Question: <a href="{{ params.post_url }}">{{ params.post_url }}</a>
    </div>

</div>

{% endblock %}
