{% load basic %}
{% load humanize %}
{% load widgets %}

{# renders a post with title #}
<a name="{{post.id}}"></a>

<table border="0" width="100%" class="post-show">

    {% if full %}
    <tr>
        <td colspan="3"><div class="title">{{post.get_title}}</div></td>
    </tr>
    {% endif %}
    <tr>
        <td>{% vote_box post %}</td>
    <td width="100%"> 
        <div class="body">
            {{ post.html|safe }}
            {% if full %}
                {% show_tags post %}
            {% endif %}
        </div>
    </td>
        <td>
            <div class="post-info">{% post_info_panel '' post %}</div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2">
            <input name="post_id" type="hidden" value="{{post.id}}">
            {% post_edit_actions request post %}
        </td>
    </tr>
    
    <tr>
    <td>&nbsp;</td>
    <td colspan="2">
    <div class="comment-block">
        {% comments request post tree %}
    </div>
    </td></tr>
</table>