{% load basic %}
{% load humanize %}
{% load widgets %}

{# renders a post with title #}
<div class="post-show">
    {% if full %}
        <div class="title">{{post.get_title}}</div>
    {% endif %}
    <div class="body">
        {% post_info_panel '' post %}
        {{ post.html|safe }}
        {% if full %}
            {% show_tags post %}
        {% endif %}
    </div>
    <div style="clear:left;">
        <input name="post_id" type="hidden" value="{{post.id}}">
        {% editbox request post %}
    </div>
    <div class="comment-block">
        {% comments request post tree %}
    </div>
</div>