{% load basic %}

{% if request.user.is_authenticated %}
    <span>
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}">
        <a class="add-comment">comment</a>
    </span>
{% else %}
    <a href="/openid/login/?next={{request.path}}">log in to comment</a>
{% endif %}
            
&bull;

<a href="{{request.path}}#{{post.id}}">permalink</a>

{% if post.writeable %}
    
    &bull;
    <a href="/post/edit/{{post.id}}/">edit</a>
    
    <span class="mod-menu">
    
        {% if post.closed %}
            &bull; <a class="mod-link">reopen</a> 
        {% else %}
            &bull; <a class="mod-link">close</a>
        {% endif %}
    
        {% if post.deleted %}
            &bull; <a class="mod-link">undelete</a> 
        {% else %}
            &bull; <a class="mod-link">delete</a>                                   
        {% endif %}                            
    
    </span>    

{% endif %}


