<div class="vote-box">
    <div class="vote">
        <input type="hidden" value="{{post.id}}">
        {% if post.upvoted %}
        <div class="vote-up vote-on">&nbsp;</div>
        {% else %}
        <div class="vote-up vote-off">&nbsp;</div>
        {% endif %}
        <div class="vote-count">{{post.score}}</div>
        
        {% if post.bookmarked %}
        <div class="vote-bookmark vote-on">&nbsp;</div>
        {% else %}
        <div class="vote-bookmark vote-off">&nbsp;</div>
        {% endif %}
    
        {% if not post.has_title  %}
            {% if post.accepted %}
            <div class="vote-accepted vote-on">&nbsp;</div>
            {% else %}
            <div class="vote-accepted vote-off">&nbsp;</div>
            {% endif %}
        {% endif %}
    </div>
</div>