{% load engine_tags %}

<div class="ui vertical text recipe menu">

    <a class="item description">
        <i class="info circle icon"></i>
        Recipe description
    </a>
    <a class="item metadata">
        <i class="edit icon"></i>
        Recipe edit
    </a>

    <a class="item script">
        <i class="code icon"></i>
        Recipe code
    </a>
    <span class="script-options">
        <div class="ui dropdown" id="code_add"><a><i class="caret down icon"></i></a>
            {% snippet_list user %}
        </div>
        <a id="template_preview" data-value={{ project.uid }}><i class="eye icon"></i> </a>
    </span>

    <a class="item interface">
        <i class="tv icon"></i>
        Recipe interface
    </a>
    <span class="interface-options">
        <div class="ui dropdown" id="json_add"><a><i class="caret down icon"></i></a>
            {% interface_options %}
        </div>

        <a id="json_preview" data-value="{{ project.uid }}"><i class="eye icon"></i></a>
    </span>

    {% if recipe %}

        <a class="item" href="{% url 'recipe_run' recipe.uid %}">
            <i class="spinner icon"></i>
            Run recipe
        </a>
        <a class="item" href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
            <i class="settings icon"></i>
            Recipe results ({{ recipe.job_count }})
        </a>
        <a class="item" href="{% url 'recipe_download' recipe.uid %}">
            <i class="download icon"></i>
            Download recipe
        </a>

    {% endif %}

    <div class="item" style="text-align: center">
        <button class="ui blue button" type="submit" style="padding-top: 8px;padding-bottom: 8px;">
            <i class="save icon"></i>Save
        </button>
    </div>


</div>