{% load basic %}

<div class="nav left">
  <a href="/question/list/" {% navclass '/question/' '/unanswered/ /new/'%}>Questions</a> 
  <a href="/tag/list/" {% navclass '/tag/' %}>Tags</a>
  <a href="/member/list/" {% navclass '/member/' %}>Members</a> 
  <a href="/badge/list/" {% navclass '/badge/' %}>Badges</a> 
  <a href="/question/unanswered/" {% navclass '/question/unanswered/' %}>Unanswered</a></li>
</div>
<div class="nav right">
  <a href="/question/new/" {% navclass '/question/new/' %}>Ask&nbsp;Question</a>
</div>