{% load forum_tags %}
{% load static %}


<div class="ui labeled icon attached pointing menu" id="menu-header">
    {% block headimg %}
        <div class="header item" id="logo">
            <a href="https://bioconductor.org/"><img class="ui image"  src="{% static "transparent-logo.png" %}"></a>
        </div>
    {% endblock %}

    <a class="item {% activate tab "new" %} format add-question" href="{% url 'post_create' %}">
        <span class="">Ask a question</span>
    </a>

    <a class="item {% activate tab "latest" %} format " href="{% url 'post_list' %}">
    <span class="">Latest</span>
    </a>
    <a class=" item {% activate tab "news" %} format" href="{% url 'post_topic' 'news' %}">
    <span class="">News</span>
    </a>
    <a class=" item {% activate tab "jobs" %} format " href="{% url 'post_topic' 'jobs' %}">
    <span class="">Jobs</span>
    </a>

    <a class=" item {% activate tab "tutorials" %} format " href="{% url 'post_topic' 'tutorials' %}">
    <span class="">Tutorials</span>
    </a>

    <a class=" item  {% activate tab "tags" %} format " href="{% url 'tags_list' %}">
        <span class="">Tags</span>
    </a>

    <a class=" item {% activate tab "community" %} format " href="{% url 'community_list' %}">
        <span class="">Users</span>
    </a>

</div>
