{% load engine_tags %}

<div class="item">
    <form method="post" action="{% url 'project_users' project.uid %}">

        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="project_uid" value="{{ project.uid }}">

        {% csrf_token %}
        <div class="right floated content">
            {{ form.access }}
            <button type="submit" class="ui basic green center aligned button">
                Submit
            </button>
        </div>

        <div class="content">

            <div class="subheader">
                <a href="{% url 'user_profile' user.profile.uid %}">
                    <div class="ui avatar image">
                        <img class="ui tiny centered image " src="{% gravatar user=user size=80 %}">
                    </div>
                    {{ user.profile.name }}
                </a>
                {% if user.profile.trusted %}
                    <div class="ui right floated green label">
                        Trusted User
                    </div>
                {% endif %}
                <br>

                <i class="at icon muted"></i>
                <span class="muted" style="margin-left: 14px;">{{ user.profile.uid }}</span>

            </div>

        </div>


    </form>
</div>
