
{% if is_top %}
{% endif %}


{% if is_top %}
{% endif %}

<div class="ui form">
<div class="field">

    <label>{% if type_name %} Command  <code>{{ type_name|capfirst}} </code> *{% endif %}</label>
<input type="text" name="command" id="command" value="{% if command %}{{ command }}{% endif %}">
<div class="muted"> Small code snippet.</div>
</div>

<div class="field">
    <label>Help text * </label>
<input type="text" name="help" id="help" value="{% if help %}{{ help }}{% endif %}">
<div class="muted"> Description of the code snippet.</div>
</div>
<div>
    <div class="ui green button" id="save_command" data-type="{% if type_uid %}{{ type_uid }}{% endif %}">
        <i class="save icon"></i> Save
    </div>
        <div class="ui right floated button" id="cancel-modal">
        <i class="undo icon"></i> Cancel
    </div>
</div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {

                var json_edit = CodeMirror.fromTextArea(
                    document.getElementById("command"), {
                        lineNumbers: true,
                        mode: "engine",
                    }
                );
                $('#save_command').click(function () {
                    json_edit.save()
                });

                $('#cancel-modal').click(function () {
                    $('#cmd_modal').modal('hide')
                })

            }

            );
    </script>
