{% load engine_tags %}

{% if paths %}
    <div class="ui relaxed divided list">
        {% for  rel_path, dir_names, last_name, tstamp, size, is_image, dir_name in paths %}

            <div class="item">

                <a href="{% url serve_url uid=obj.uid path=rel_path %}">

                    {% if is_image %}
                        <img class="ui small middle aligned image" src="{% url serve_url  uid=obj.uid path=rel_path %}">
                    {% endif %}

                    {% for dname in dir_names %}
                        <span class="dirname">{{ dname }}</span> /
                    {% endfor %}
                    {{ last_name }}</a>

                {% if user.is_authenticated %}
                    <a href="{% url copy_url uid=obj.uid path=rel_path %}" class="ui small right floated label"> Copy File</a>
                     <a data-path="{{ dir_name }}" data-rel="{{ last_name }}" class="ui small right floated label copy_file"> Copy Directory
                        <span class="copy_msg" data-rel="{{ last_name }}"></span>
                    </a>
                {% endif %}

                {% if rel_path|is_qiime_archive %}
                    {% url serve_url  uid=obj.uid path=rel_path as file_serve_url %}
                    <a href="{% get_qiime2view_link file_serve_url %}" class="ui small right floated blue label">VIEW</a>
                {% endif %}

                <span class="ui right floated small label">{{ size|filesizeformat }}</span>


            </div>
        {% endfor %}
    </div>

{% else %}

    <div class="ui icon info message">
        <i class="exclamation triangle icon"></i>
        <div class="content">
            <div class="header">
                No files were found
            </div>
        </div>
    </div>
{% endif %}
