{% load engine_tags %}
{% load static %}


<div class="field">
    The code that gets executed when the recipe runs.
    <div class="ui top pointing dropdown" id="code_add">

        <a>Code Builder <i class="caret down icon"></i></a>
        {% snippet_list %}
    </div>

</div>

<div class="field" id="template_field">
    {% template_field script %}

</div>

<div class="field">

    <button class="ui purple button" data-project_uid={{ project.uid }}
            id="template_preview">
        <i class="eye icon"></i>Preview Code
    </button>

    <button type="submit" class="ui green button">
        <i class="save icon"></i>Submit
    </button>

    <a class="ui right floated button" href="{% url 'recipe_view' recipe.uid %}">
        <i class="undo icon"></i> Back
    </a>
</div>
<div class="ui tiny inputcolor modal" id="template_modal">
    <div id="template_preview_cont"></div>
</div>


<script>

    $('.ui.dropdown').dropdown();


</script>
