{% load static %}


<div class="menu " id="json_add_menu" style="display: none !important;">
    <div class="ui divider"></div>


    <div class="item add_to_interface" data-content="Click to add data" id="data">
        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Data</label>
        <img class="ui right floated image" style="height: 54px;" src="{% static 'images/data2.png' %}">

    </div>
    <div class="ui divider"></div>


    <div class="item add_to_interface" data-content="Click to add textbox" id="textbox">
        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Text box</label>
        <img class="ui right floated image" style="height: 58px;" src="{% static 'images/textbox.png' %}">
    </div>


    <div class="ui divider"></div>


    <div class="item add_to_interface" data-content="Click to add integer" id="integer">
        <a href="#">

            <i class="plus icon"></i>

        </a>
        <label>Integer</label>

        <img class="ui right floated image" style="height: 57px;" src="{% static 'images/integer4.png' %}">

    </div>

    <div class="ui divider"></div>


    <div class="item add_to_interface" data-content="Click to add float" id="float">
        <a href="#">

            <i class="plus icon"></i>

        </a>
        <label>Float</label>

        <img class="ui right floated image" style="height: 59px;"  src="{% static 'images/float4.png' %}">

    </div>

    <div class="ui divider"></div>

    <div class="item add_to_interface" data-content="Click to add checkbox" id="checkbox">

        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Checkbox</label>
        <img class="ui right floated image" style="height: 31px;" src="{% static 'images/checkbox5.png' %}">

    </div>
    <div class="ui divider"></div>

       <div class="item add_to_interface" id="upload" data-content="Click to upload field">
        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Upload</label>
        <img class="ui floated image" style="height: 45px;margin-left: 40px !important;" src="{% static 'images/upload4.png' %}">
    </div>

    <div class="ui divider"></div>

    <div class="item add_to_interface" id="radio" data-content="Click to add radio select">
        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Radio</label>
        <img class="ui floated image" style="height: 42px;margin-left: 50px !important;" src="{% static 'images/radio5.png' %}">
    </div>

    <div class="ui divider"></div>



    <div class="item add_to_interface" id="dropdown" data-content="Click to add dropdown">
        <a href="#">
            <i class="plus icon"></i>
        </a>
        <label>Dropdown</label>
        <img class="ui floated image" style="height: 65px;" src="{% static 'images/dropdown5.png' %}">
    </div>

    <div class="ui divider"></div>

    <a class="item  close_opts" style="text-align: center; font-size: larger">

            <i class="undo icon"></i>Close
    </a>

</div>