{% load engine_tags %}

{% if job.is_started %}
    <span class="parent" id="img">
        <img class="ui opaque bottom mytiny rounded fancy image" src="{% img job.analysis %}">
        <div class="ui top active inline loader"></div>
    </span>
{% elif job.is_success %}
    <span class="parent" id="img">
    <img class="ui bottom mytiny rounded fancy image" src="{% img job.analysis %}">
    <i class="large top check success icon"></i>
</span>


{% elif job.is_error %}
    <span class="parent" id="img">
    <img class="ui bottom  mytiny rounded fancy image" src="{% img job.analysis %}">
      <i class="large top times error icon"></i>
</span>

{% else %}

    <img class="ui mytiny rounded fancy image" src="{% img job.analysis %}" id="img">

{% endif %}