{% load engine_tags %}

<div class="ui large top attached menu">

    <a class="{% activate "home" active %} item widescreen" href="/">
        <i class="home icon"></i>
    </a>

    <div class="ui category search fluid item">
        <div class="ui transparent icon input">
            <input class="prompt" id="recipe-search" type="text"
                   placeholder="Search recipes...">
            <i class="search link icon"></i>
        </div>
    </div>

    <div class="right menu">
        <a class="item widescreen" href="https://bioinformatics-recipes.readthedocs.io/">
            <i class="question circle icon"></i> About
        </a>

        {% if user.is_authenticated %}
                <a class="{% activate "profile" active %} {% if user.is_superuser %}trusted{% endif %} item"
                   href="{% url "user_profile" user.profile.uid %}" >

                    {% if user.is_superuser %}
                        <i class="user md icon"></i>
                    {% elif user.profile.trusted %}
                        <i class="user plus icon"></i>
                    {% else %}
                        <i class="user outline icon"></i>
                    {% endif %}

                    <span class="widescreen">{{ user.profile.name }}</span>
                </a>

            <a class="{% activate "bin" active %} item" href="{% url 'recycle_bin' %}">
                <i class="trash icon"></i>
            </a>

            <a class="{% activate "logout" active %} item" href="{% url 'logout' %}">
                <i class="sign out icon"></i><span class="widescreen">Logout</span>
            </a>

        {% else %}

            <a class="{% activate "login" active %} item" href="{% url 'login' %}">
                <i class="sign in icon"></i>Login
            </a>

        {% endif %}


    </div>

</div>

