{% load engine_tags %}

{% if has_items %}

    <div class="ui center aligned basic segment">

        {% for item, values in clipboard %}

            <div class="ui info message">

                <b>{{ values.count }} </b> {{ values.label }}{{ values.count |pluralize }} on the clipboard.


                <div class="ui mini  buttons">

                    {% if values.to_clone %}
                        <a class="ui green button"
                           href="{{ values.paste_url }}?board={{ item }}&target=clone">
                            <i class="clone outline icon"></i> Paste as Clone
                        </a>
                        <div class="or"></div>
                    {% endif %}

                    <a class="ui blue  button" href="{{ values.paste_url }}?board={{ item }}">
                        <i class="sticky note icon"></i> Paste as New
                    </a>

                    <div class="or"></div>

                    <a class="ui  button"
                       href="{% url 'clear_clipboard' project.uid %}?next={{ values.next_url }}&board={{ item }}">
                        <i class="window close icon"></i> Cancel Paste
                    </a>
                </div>

                {% if values.to_clone %}
                    <div class="muted" style="margin-top: 1ex;">
                        A cloned recipe remains synchronized with the original recipe.
                    </div>
                {% endif %}

            </div>

        {% endfor %}

    </div>

{% endif %}

