{% load engine_tags %}

<div class="ui center aligned basic segment paste {{ empty_css }}">
    <div class="ui  compact large message">


        <div class="ui relaxed divided paste list">

            {% for item,values in clipboard %}
                {% if values.count %}
                    <div class="item">
                        <p class="copied-item">
                            <a href="#" class="expand" data-value="{{ item }}"><i class="dropdown icon"></i>Contains
                                <b>{{ values.count }} </b> {{ values.label }}.
                            </a>

                        <div class="ui mini paste buttons">

                            {% if values.is_cloned %}
                                <a class="ui blue large button" href="{{ values.paste_url }}?board={{ item }}">
                                    <i class="clone outline icon"></i> Clone
                                </a>
                            {% else %}
                                <a class="ui green  larget button" href="{{ values.paste_url }}?board={{ item }}">
                                    <i class="sticky note icon"></i> Paste
                                </a>
                            {% endif %}
                            <div class="or"></div>
                            <a class="ui large button"
                               href="{% url 'clear_clipboard' project.uid %}?next={{ values.next_url }}&board={{ item }}">
                                <i class="window close icon"></i> Clear
                            </a>
                        </div>


                        </p>


                        <div style="display: none" class="ui segment expand-{{ item }}">
                            <ul class="ui list">
                                {% for vals,name, url, icon in values.vals %}

                                    {% if url %}

                                        <a class="item" href="{{ url }}"><i class="{{ icon }} icon"></i> {{ name|truncatechars:50 }}</a>

                                    {% else %}
                                        <div class="item"><i class="{{ icon }} icon"></i>{{ name|truncatechars:50 }}</div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
    </div>

</div>

