<h4 class="ui center aligned header">
    <p>
        <i class="keyboard icon"></i>Recipe Code
        <a href="#view"><i class="setting icon"></i>Recipe Description</a>

    <p>
    <a class="ui green label" href="{{ download_url }}">
        <i class="download icon"></i>Download Recipe
    </a>
    <input type="hidden" id="preview_script" name="preview_script" value="{{ script }}">
    <input type="hidden" id="preview_name" name="preview_name" value="{{ name }}">

    </p>

</h4>
<pre><code class=" language-bash line-numbers "> {{ script }}</code></pre>