{% load engine_tags %}

{#  Renders the non field errors #}
{% form_errors form %}

{# Renders the hidden fields. #}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
{% endfor %}


{# Iterate over all form fields #}
{% for field in form.visible_fields %}
    {{ field.errors }}

    <div class="field">
        {% if field|is_checkbox %}
        <div class="ui checkbox">
            {{ field }} <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        {% else %}
            {{ field.label_tag|safe }}
            {{ field }}
        {% endif %}

        <div class="muted">{{ field.help_text }}</div>
    </div>

{% endfor %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
     $('select').dropdown();
     $('.ui.sticky').sticky();

    });
</script>



