{% load static %}
{% load engine_tags %}

{% if recipe %}

    <div class="item">
        <img class="ui mytiny rounded fancy image" src="{% img recipe %}">
        <div class="content">

            <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                {% if recipe.is_cloned %}
                    <i class="linkify icon"></i>
                {% else %}
                    <i class="setting icon"></i>
                {% endif %}
                {{ recipe.name }}
            </a>

            <div class="meta">
                {{ recipe.summary |markdown }}
            </div>

            <div class="extra">
                <i class="bar chart icon"></i>Runs:<a
                    href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
                {{ recipe.job_count }}
                result{{ recipe.job_count|pluralize }}</a>
                &bull;
                {% created_by date=recipe.lastedit_date user=recipe.lastedit_user %}
                &bull;
                {% if recipe.runnable %}
                    Authorized
                {% else %}
                    Pending Authorization
                {% endif %}

            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="ui small buttons">
                <a class="ui right button rerun" style="font-size: x-small;"
                   href="{% url "recipe_copy" recipe.uid %}?next={% url "recipe_view" recipe.uid %}">
                    <i class="copy icon"></i>Copy
                </a>
                <div class="or" style="font-size: x-small;"></div>
                <a class="ui right rerun button" href="{% url 'recipe_delete' recipe.uid %}"
                   style="font-size: x-small;">
                    <i class="trash icon"></i> <span class="fitme">Delete</span>
                </a>
            </div>

        {% endif %}
    </div>

{% endif %}