{% load engine_tags %}
{% load static %}
<div class="item">

{% if type.image %}
    <img class="ui mini image" style="height: 17px; width:17px;" src="/media/{{ type.image.name }}">
{% else %}
        <img class="ui mini image" style="height: 17px; width:17px;" src="{% static 'images/placeholder.png' %}">
{% endif %}

    <a>
        {{ type.name|capfirst|truncatechars:'10' }}
    </a>

    <div class="menu" id="{{ type.uid }}">

            <div class="item " >
                <a class=" add-snippet" data-type_uid="{{ type.uid }}" data-type_name="{{ type.name }}">
                <i class="plus icon"></i>
                    </a>
                <span>
                    Add snippet.
                </span>

                {% if type.owner == user %}
                <a class="delete-snippet" data-content="Delete all snippets" >
                    <i class="minus icon"></i>
                </a>
                {% endif %}

            </div>

            <div class="ui divider" style="margin: 0"></div>

        <div class="holder-{{ type.uid }}"></div>


        {% get_snippets user=user snip_type=type as snippets%}
        {% for snippet in snippets %}
            {% snippet_item user snippet %}
        {% endfor %}

    </div>

</div>
