{% load engine_tags %}

<div class="ui small header">  Add a snippet </div>
<form class="ui form" enctype="multipart/form-data" id="snippet_form">

{% if is_top %}
    <div class="field">

        <label>Name *</label>
        <input type="text" name="name" id="name" value="{% if name %}{{ name }}{% endif %}">
        <div class="muted"> Name of this category of snippets.</div>
    </div>


{% endif %}


{% if is_top %}

    <div class="field">

        <label>Image *</label>
        {% image_field %}
        <div class="muted"> Image to display for this category of snippets.</div>
    </div>
{% endif %}


    <div class="field">

        <label>Snippet {% if type_name %}  <code>{{ type_name|capfirst }} </code> {% endif %}*</label>
        <input type="text" name="snippet" id="snippet"  value="{% if snippet %}{{ snippet }}{% endif %}">
        <div class="muted"> Small code snippet.</div>
    </div>

    <div class="field">
        <label>Help text * </label>
        <input type="text" name="help" id="help" value="{% if help_text %}{{ help_text }}{% endif %}">
        <div class="muted"> Description of the code snippet.</div>
    </div>
    <div>
        <div class="ui green button" id="{% if is_top %}save_snippet_type{% else %}save_command{% endif %}"
             data-type="{{ type_uid }}" data-snippet_uid="{% if snippet_uid %}{{ snippet_uid }}{% endif %}">
            <i class="save icon"></i> Save
        </div>
        <div class="ui right floated button" id="cancel-modal">
            <i class="undo icon"></i> Cancel
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

            var json_edit = CodeMirror.fromTextArea(
                document.getElementById("snippet"), {
                    lineNumbers: true,
                    mode: "engine",
                }
            );
            $('#save_command').click(function () {
                json_edit.save()
            });
            $('#save_snippet_type').click(function () {
                json_edit.save()
            });

            $('#cancel-modal').click(function () {
                $('#cmd_modal').modal('hide')
            })

        }
    );
</script>
