{% load static %}
{% load engine_tags %}


<div class="menu " id="code_add_menu" >
    <div class="ui snippet divider" ></div>

    <a class="item" id="add_vars" data-content="Insert variables from the interface to this template.">
        <i class="code icon"></i>Insert variables
    </a>

    <div class="ui snippet divider" ></div>
    <div id="new-type-holder"></div>

    {% for type in command_types %}
        {% snippet_type user type %}
    {% endfor %}

  <div class="ui snippet divider"></div>

    <a class="item add-category" data-content="Add new category to deposit code snippets.">
        <i class="plus icon"></i>Add category
    </a>

</div>


<div class="ui tiny inputcolor modal" id="cmd_modal">

   <div id="cmd_form"><form class="ui form"></form></div>

</div>

