<div class="item" id="item-{{ snippet.uid }}">
    <a class="cmd-value" data-content="Add snippet" id="{{ snippet.uid }}"><i class="plus icon"></i></a>
    {{ snippet.help_text|truncatechars:'60' }}

     {% if type.owner == request.user %}
     <a  class="edit-snippet" style="float:right; padding-left:15px"
         data-snippet="{{ snippet.command }}"
         data-help_text="{{ snippet.help_text }}"
         data-type_uid="{{ snippet.type.uid }}"
         data-snippet_uid="{{ snippet.uid }}"
         data-type_name="{{ snippet.type.name }}"
         data-content="Edit snippet"><i class="edit icon"></i></a>
    {% endif %}

    <p></p>


    <code class="language-bash">{{ snippet.command |truncatechars_html:'35' }}</code>

</div>

