<div class="item" id="item-{{ snippet.uid }}">
    <a class="cmd-value" data-content="Add snippet" id="{{ snippet.uid }}"><i class="plus icon"></i></a>
    {{ snippet.help_text|truncatechars:'60' }}
    {% if type.owner == request.user %}
        <a class="delete-snippet" data-content="Delete snippet"><i class="minus icon" style="float:right; color:red; padding-left:15px"></i></a>
{% endif %}

    <p></p>

     {% if type.owner == request.user %}
     <a  class="edit-snippet" data-snippet="{{ snippet.command }}" data-help_text="{{ snippet.help_text }}"
         data-type_uid="{{ snippet.type.uid }}" data-snippet_uid="{{ snippet.uid }}" data-type_name="{{ snippet.type.name }}"
         data-content="Edit snippet"><i class="edit icon"></i></a>
    {% endif %}

    <code class="language-bash">{{ snippet.command |truncatechars_html:'35' }}</code>

</div>

