{% load static %}

<textarea class="code" rows="40" cols="55" name="template" id="template">{{ template }}</textarea>

<script>

    $(document).ready(function () {

        var template_edit = CodeMirror.fromTextArea(
            document.getElementById("template"),
            {
                lineNumbers: true,
                mode:'engine',
                //mode: "engine",
                //autoRefresh:true,
               //spellcheck:true,
            }
        );

        function updateTemplate() {
            template_edit.save();
        }

        template_edit.on('change', updateTemplate);
        {#% if focus %#}
        template_edit.focus();
        {#% endif %#}
        {#% if scroll_to_bottom %#}
        template_edit.setCursor(template_edit.lineCount(), 0);
        {#% endif %#}

    $(this).on('click', "#edit-side > .script", function (){
        $(this).addClass("active");
        $("#script-col").show();
        $("#detail-col").hide();
        $("#interface-col").hide();
        $("#edit-side > .recipe").removeClass("active");
        $("#edit-side > .interface").removeClass("active");
        template_edit.refresh();
        template_edit.focus();
        template_edit.setCursor(template_edit.lineCount(), 0);

    });

        template_edit.setSize(null,800)

    })
</script>
