JOBID = {{jobid}}
DATADIR = data
RESDIR  = results

INPUTDATA = {{specs.data}}
INPUT_SAMPLEINFO := {{specs.sampleinfo}}

PTRIM_DIR = $(DATADIR)/trim/trimp
QTRIM_DIR = $(DATADIR)/trim/trimq
SAMPLEINFO = updated_sampleinfo.txt


ERR_LOG = stderr.txt

all: extract update_samplesheet multiqc trim_quality
	@echo "executes all commands"

$(RESDIR):
	#
	# make RESDIR
	#
	mkdir -p $(RESDIR)

extract:
	#
	# extract data
	#
	echo "extracting files...."
	tar -xzvf $(INPUTDATA)

update_samplesheet: extract
	#	
	# Make new sample sheet named $(UPDATED_SAMPLE_SHEET)
	#
	python ../samplesheet.py $(INPUT_SAMPLEINFO) $(DATADIR) 2>>$(ERR_LOG)

fastqc: extract
	#
	# run fastqc on all files
	#
	ls $(DATADIR)/*gz | parallel --verbose --progress -j 8 fastqc --nogroup {} -o $(DATADIR) 2>>$(ERR_LOG)

multiqc: fastqc $(RESDIR)
	#
	# run multiqc to create an aggregate report
	#
	multiqc -f -n input_multiqc -o $(DATADIR) $(DATADIR)
	cp $(DATADIR)/input_multiqc.html $(RESDIR)
	#
	# clean
	#
	#rm -f $(DATADIR)/*fastqc.zip

trim_primer: multiqc
	#
	mkdir -p $(PTRIM_DIR)/logs
	#
	#
	# trim left primer
	#
	cat $(SAMPLEINFO) |parallel --verbose --progress  --header : --colsep '\t' bbduk.sh \
	in1=$(DATADIR)/{file1} in2=$(DATADIR)/{file2} \
	out1=$(PTRIM_DIR)/{sample_name}_fwd1_trim.fq.gz \
	out2=$(PTRIM_DIR)/{sample_name}_fwd2_trim.fq.gz \
	literal={barcode}{fwd_primer} ktrim=l k=23 hdist=1 tpe tbo \
	overwrite=t skipr2=t stats=$(PTRIM_DIR)/logs/{sample_name}_fwd_stats.txt 2>>$(ERR_LOG)

	#
	# trim right primer
	#
	cat $(SAMPLEINFO) | parallel --verbose --progress --header : --colsep '\t' bbduk.sh  \
	in1=$(PTRIM_DIR)/{sample_name}_fwd1_trim.fq.gz \
	in2=$(PTRIM_DIR)/{sample_name}_fwd2_trim.fq.gz \
	out1=$(PTRIM_DIR)/{sample_name}_R1_trimp.fq.gz \
	out2=$(PTRIM_DIR)/{sample_name}_R2_trimp.fq.gz  \
	literal={barcode}{rev_primer} ktrim=l k=28 hdist=1 tpe tbo \
	skipr1=t stats=$(PTRIM_DIR)/logs/{sample_name}_rev_stats.txt 2>>$(ERR_LOG)
	#
	# clean
	#
	cat $(PTRIM_DIR)/logs/*stats.txt > $(RESDIR)/trimp_stats.txt
	#rm -f $(PTRIM_DIR)/*trimfwd*


trim_quality: trim_primer $(RESDIR)
	mkdir -p $(QTRIM_DIR)/logs
	cat $(SAMPLEINFO) |parallel --verbose --progress  --header : --colsep '\t' bbduk.sh \
	in1=$(PTRIM_DIR)/{sample_name}_R1_trimp.fq.gz in2=$(PTRIM_DIR)/{sample_name}_R2_trimp.fq.gz \
	qtrim=rl trimq={{specs.trim_quality}}  minlength=35  \
	out1=$(QTRIM_DIR)/{sample_name}_R1_trim.fq.gz \
	out2=$(QTRIM_DIR)/{sample_name}_R2_trim.fq.gz stats=$(QTRIM_DIR)/logs/{sample_name}_stats.txt 2>>$(ERR_LOG)
	cat $(QTRIM_DIR)/logs/*stats.txt > $(RESDIR)/trimq_stats.txt 
	#
	# quality report
	#
	ls $(QTRIM_DIR)/*gz | parallel --verbose --progress -j 8 fastqc --nogroup {} -o $(QTRIM_DIR)
	multiqc -n trim_multiqc -o $(QTRIM_DIR) $(QTRIM_DIR)
	cp $(QTRIM_DIR)/trim_multiqc.html $(RESDIR)
