{% load humanize %}
{#  displays a list of data for a post #}
{% if post.has_data %}


    <div class="file-list">

        <ol>
        {% for torrent in post.torrent_set.all %}
            <li>
                <a href="{% url 'tracker:magnet' pk=torrent.id %}" class="label label-success"><i
                class="fa fa-magnet"></i></a>


                <a href="{% url 'tracker:download' pk=torrent.id %}" class="label label-success"><i
                class="fa fa-download"></i></a>
                &nbsp; <a href="{% url 'tracker:view-torrent' pk=torrent.id %}">
                {{ torrent.name|truncatechars:80 }}</a>

                &bull; {{ torrent.count }} file {{ torrent.count|pluralize }}
                &bull; {{ torrent.size|filesizeformat }}
                &bull; shared by {{ torrent.seeds }} peer{{ torrent.seeds|pluralize }}
            </li>
        {% endfor %}
        </ol>
    </div>


{% endif %}