{% load humanize %}
{#  displays a list of data for a post #}
{% if post.has_data %}


    <div class="file-list">
        <p>Attached data:</p>
        <ol>
        {% for torrent in post.torrent_set.all %}
            <li>
                <a href="{% url 'tracker:download' pk=torrent.id %}" class="label label-success"><i
                class="fa fa-download"></i></a>
                &nbsp; <a href="{% url 'tracker:view-torrent' pk=torrent.id %}">
                {{ torrent.name|truncatechars:80 }}
            </a>
                &bull; size: {{ torrent.size|filesizeformat }} &bull; seeds: {{ torrent.seeds }}
            </li>
        {% endfor %}
        </ol>
    </div>


{% endif %}