{% load staticfiles %}
{% load server_tags %}

<div class="row visible-lg visible-md">
    <div class="col-md-12 text-center" id="topnav">
            {% for word in CATEGORIES %}
                <div class="col-md-1 {% active word topic %}">
                    <a href="{% url 'topic-list' topic=word %}">{{ word }}</a>
                </div>
            {% endfor %}
            <div class="col-md-1 {% active 'planet' topic %}"><a href="{% url 'planet' %}">Planet</a></div>
            <div class="col-md-1 {% current request 'tag-list' %}"><a href="{% url 'tag-list' %}">All &raquo;</a></div>
        </ul>
    </div>
</div>

<div class="row visible-sm visible-xs">

    <div class="col-xs-4">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {% if topic %} {{ topic }} {% else %} View Posts {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for word in CATEGORIES %}
                    <li>
                        <a href="/t/{{ word }}">{{ word }}</a>
                    </li>
                {% endfor %}
                <li><a href="{% url 'planet' %}">Planet</a></li>
                <li><a href="{% url 'tag-list' %}">All &raquo;</a></li>
            </ul>
        </div>
    </div>

        <div class="col-xs-4 text-center" style="margin-bottom:5px">
        <a role="button" class="btn btn-primary" href="{% url 'home' %}">
            <i class="fa fa-star fa-1x"></i> Home </a>
        </a>

    </div>

    <div class="col-xs-4 ">
        <div class="btn-group pull-right">

            {% if user.is_authenticated %}
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> You <span class="badge">{% get_count COUNTS 'messages' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'topic-list' topic='myposts' %}"><i class="fa fa-comments"></i> My Posts</a>
                    </li>
                    <li>
                        <a href="{% url 'user-messages' %}"><i class="fa fa-envelope"></i> My Messages
                            <span class="badge">{% get_count COUNTS 'messages' %}</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'topic-list' topic='bookmarks' %}"><i class="fa fa-book"></i> My Bookmarks</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'new-post' %}"><i class="fa fa-plus"></i> New Post</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
                    </li>
                </ul>
            {% else %}
                <div>
                    <a class="btn btn-primary active" role="button" href="{% url 'login' %}">
                        <i class="fa fa-user fa-1x"></i> Log In
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="row visible-lg visible-md">

    <div class="col-md-12" id="navbar">

        <div class="col-lg-3 visible-lg" id="logo">
            <a href="/"><img src="{{ STATIC_URL }}{{ SITE_LOGO }}"></a>
        </div>

        <div class="col-md-3 visible-md text-center">
            <a href="/">
                <a href="/"><img style="width:200px; height: auto;" src="{{ STATIC_URL }}{{ SITE_LOGO }}"></a>
            </a>
        </div>

        {% if user.is_authenticated %}

            <div class="col-md-9 top {% active 'userprofile' topic %}">

                <i class="fa fa-user"></i> {% userlink user %} &nbsp;|&nbsp;
                <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout </a>

                <span class="pull-right">
                    <a href="{% url 'flatpage' 'about' %}">about</a> &bull; <a href="{% url 'flatpage' 'faq' %}">faq</a>
                    &bull; <a href="{% url 'rss' %}">rss <i class="fa fa-rss"></i></a>
                </span>
            </div>

            <div class="col-sm-1 mid {% current request 'user-list' %}">
                <a href="{% url 'user-list' %}">
                    <div><i class="fa fa-globe"></i>
                    </div>
                    <div>Community</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% current request 'user-messages' %}">
                <a href="{% url 'user-messages' %}">
                    <div><i class="fa fa-envelope"></i>
                    </div>
                    <div>Messages</div>
                </a>
                <span class="badge">{% get_count COUNTS 'messages' %}</span>
            </div>

            <div class="col-sm-1 mid {% current request 'user-votes' %}">

                <a href="{% url 'user-votes' %}" class="navitem">
                    <div class="navitem">
                        <div><i class="fa fa-heart"></i></div>
                        <div> Votes</div>
                    </div>
                </a>
                <span class="badge">{% get_count COUNTS 'votes' %}</span>
            </div>

            <div class="col-sm-1 mid {% active 'myposts' topic %}">
                <a href="{% url 'topic-list' topic='myposts' %}" class="navitem">
                    <div><i class="fa fa-comments"></i></div>
                    <div>My Posts</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% active 'mytags' topic %}">
                <a href="{% url 'topic-list' topic='mytags' %}" class="navitem">
                    <div><i class="fa fa-tag"></i></div>
                    <div>My Tags</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% active 'following' topic %}">
                <a href="{% url 'topic-list' topic='following' %}" class="navitem">
                    <div><i class="fa fa-eye"></i></div>
                    <div>Following</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% active 'bookmarks' topic %}">
                <a href="{% url 'topic-list' topic='bookmarks' %}" class="navitem">
                    <div><i class="fa fa-book"></i></div>
                    <div>Bookmarks</div>
                </a>
            </div>

            <div class="col-sm-1 mid newpost pull-right">
                <a href="{% url 'new-post' %}" class="navitem">
                    <div><i class="fa fa-plus-circle"></i></div>
                    <div>New Post</div>
                </a>
            </div>

        {% else %}

            <div class="col-md-9 top text-center">
                {%  include "site_description.html" %}
                <span class="pull-right">
                    <a href="{% url 'flatpage' 'about' %}">about</a> &bull; <a href="{% url 'flatpage' 'faq' %}">faq</a>
                    &bull; <a href="{% url 'rss' %}">rss <i class="fa fa-rss"></i></a>
                </span>
            </div>

            <div class="col-md-2 col-md-offset-10 mid {% current request 'user-list' %}">
                <a href="{% url 'user-list' %}">
                    <div><i class="fa fa-globe"></i>
                    </div>
                    <div>Community</div>
                </a>
            </div>

            <div class="col-md-2 mid {% current request 'account_login' %}">
                <b><a href="{% url 'login' %}">
                    <div><i class="fa fa-user fa-1x"></i></div>
                    <div>Log In</div>
                </a></b>
            </div>

            <div class="col-md-2 mid {% current request 'account_signup' %}">
                <b><a href="{% url 'signup' %}">
                    <div><i class="fa fa-arrow-circle-up fa-1x"></i></div>
                    <div>Sign Up</div>
                </a></b>
            </div>

            <div class="col-md-2 mid newpost">
                <a href="{% url 'new-post' %}" class="navitem ">
                    <div><i class="fa fa-plus-circle fa-1x"></i></div>
                    <div>Add New Post</div>
                </a>
            </div>

        {% endif %}
    </div>
</div>
