{% load staticfiles %}
{% load server_tags %}

<div class="row">
    <div class="col-md-12 visible-lg visible-md">
        <ul class="nav nav-pills">
            {% for word in CATEGORIES %}
            <li class="{% active word topic %}">
                <a href="{% url 'topic-list' topic=word %}">{{ word }} <span
                class="badge">{% get_count COUNTS word %}</span></a>
            </li>
            {% endfor %}
            <li class="{% current request 'tag-list' %} pull-right"><a href="{% url 'tag-list' %}">All &raquo;</a></li>
        </ul>
    </div>
</div>
<div class="row visible-sm visible-xs">

    <div class="col-sm-12 text-center">
        Welcome to Biostar!
    </div>
    <div class="col-xs-6">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ topic }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for word in CATEGORIES %}
                <li class="{% active word topic %}">
                    <a href="/t/{{ word }}">{{ word }}</a>
                </li>
                {% endfor %}
                <li class="{% current request 'tag-list' %}"><a href="{% url 'tag-list' %}">All &raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Section <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for word in CATEGORIES %}
                <li class="{% active word topic %}">
                    <a href="/t/{{ word }}">{{ word }}</a>
                </li>
                {% endfor %}
                <li class="{% current request 'tag-list' %}"><a href="{% url 'tag-list' %}">All &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

</div>

<div class="row">

    <div class="col-sm-12" id="navbar">


        <div class="col-lg-3 visible-lg" id="logo">
            <a href="/"><img src="{{ STATIC_URL }}{{ SITE_LOGO }}"></a>
        </div>

        <div class="col-md-3 visible-md text-center">
            <a href="/">
                <a href="/"><img style="width:200px; height: auto;" src="{{ STATIC_URL }}{{ SITE_LOGO }}"></a>
            </a>
        </div>

        {% if user.is_authenticated %}
        <div class="visible-lg visible-md">
            <div class="col-md-9 top {% active 'userprofile' topic %}">
                <a href="{% url 'user-details' user.id %}">
                    <div><i class="fa fa-user"></i>
                        {% userlink user %} &nbsp;|&nbsp;
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout </a>
                    </div>
                </a>
            </div>

            <div class="col-sm-1 mid {% current request 'user-list' %}">
                <a href="{% url 'user-list' %}">
                    <div><i class="fa fa-globe"></i>
                    </div>
                    <div>Community</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% current request 'user-messages' %}">
                <a href="{% url 'user-messages' %}">
                    <div><i class="fa fa-envelope"></i>
                    </div>
                    <div>Messages</div>
                </a>
                <span class="badge">{% get_count COUNTS 'messages' %}</span>
            </div>

            <div class="col-sm-1 mid {% current request 'user-votes' %}">

                <a href="{% url 'user-votes' %}" class="navitem">
                    <div class="navitem">
                        <div><i class="fa fa-heart"></i></div>
                        <div> Votes</div>
                    </div>
                </a>
                <span class="badge">{% get_count COUNTS 'votes' %}</span>
            </div>

            <div class="col-sm-1 mid {% active 'myposts' topic %}">
                <a href="{% url 'topic-list' topic='myposts' %}" class="navitem">
                    <div><i class="fa fa-comments"></i></div>
                    <div>My Posts</div>
                </a>
            </div>


            <div class="col-sm-1 mid {% active 'mytags' topic %}">
                <a href="{% url 'topic-list' topic=" mytags" %}" class="navitem">
                <div><i class="fa fa-tag"></i></div>
                <div>My Tags</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% active 'following' topic %}">
                <a href="{% url 'topic-list' topic='following' %}" class="navitem">
                    <div><i class="fa fa-eye"></i></div>
                    <div>Following</div>
                </a>
            </div>

            <div class="col-sm-1 mid {% active 'bookmarks' topic %}">
                <a href="{% url 'topic-list' topic=" bookmarks" %}" class="navitem">
                <div><i class="fa fa-book"></i></div>
                <div>Bookmarks</div>
                </a>
            </div>

            <div class="col-sm-1 mid newpost pull-right">
                <a href="{% url 'new-post' %}" class="navitem">
                    <div><i class="fa fa-plus-circle"></i></div>
                    <div>New Post</div>
                </a>
            </div>
        </div>

        {% else %}

        <div class="col-md-9 top">
            Join now
        </div>

        <div class="col-md-2 col-md-offset-10 mid {% current request 'user-list' %}">
            <a href="{% url 'user-list' %}">
                <div><i class="fa fa-globe"></i>
                </div>
                <div>Community</div>
            </a>
        </div>

        <div class="col-sm-2 mid {% current request 'account_login' %}">
            <a href="{% url 'login' %}">
                <div><i class="fa fa-user fa-1x"></i></div>
                <div>Log In</div>
            </a>
        </div>

        <div class="col-md-2 mid newpost">
            <a href="{% url 'new-post' %}" class="navitem ">
                <div><i class="fa fa-plus-circle fa-1x"></i></div>
                <div>New Post</div>
            </a>
        </div>


        {% endif %}

        {% if not form %}


        {% endif %}

    </div>

</div>