{% load staticfiles %}

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <ul class="nav nav-pills">
            {% for tag in TOPICS %}
                <li><a href="#">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <a href="/">
            <div id="site-logo"></div>
        </a>
    </div>


    <div class="col-md-8">
        <ul class="nav nav-pills navfix">
            {% if request.user.is_authenticated %}
                <li>Hello {{ user.get_full_name }} | <a href="/admin/">Admin</a> | <a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="{%  url 'account_login' %}">Log In or Sign Up</a></li>
            {% endif %}
            <li class="active pull-right"><a href="#">New Post</a></li>
        </ul>


    </div>
</div>