{% load staticfiles %}
{% load server_tags %}

<div class="row" id="navbar">
    <div class="col-md-11 col-md-offset-1">
        <ul class="nav nav-pills">
            <li class="{%  active None topic %}"><a href="{%  url 'home' %}">Recent</a></li>
            {% for word in TOPICS %}
                <li class="{%  active word topic %}"><a href="{%  url 'topic-list' topic=word %}">{{ word }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <a href="/">
            <div id="site-logo"></div>
        </a>
    </div>


    <div class="col-md-8">
        <ul class="nav nav-pills navfix">
            {% if request.user.is_authenticated %}
                <li>Hello {{ user.get_full_name }} | <a href="/admin/">Admin</a> | <a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="{%  url 'account_login' %}">Log In or Sign Up</a></li>
            {% endif %}
            <li class="active pull-right"><a href="#">New Post</a></li>
        </ul>


    </div>
</div>