{% load humanize %}


<div class="text-center">

        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}">&lt;prev</a>
        {% else %}
            &lt;prev
        {% endif %}

            <span class="current">
              &bull; {{ page_obj.paginator.count|intcomma }} results &bull;
                page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &bull;
        </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}">next &gt;</a>
            {% else %}
                next &gt;
            {% endif %}
        </span>
</div>

