{% load humanize %}

<div clas="row">
    <div class="col-md-12 text-center pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;prev</a>
        {% else %}
            &lt;prev</a>
        {% endif %}

        <span class="current">
              &bull; {{ page_obj.paginator.count|intcomma }} results &bull; page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &bull;
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &gt;</a>
        {% else %}
            next &gt;</a>
        {% endif %}
    </span>
    </div>
</div>