{% load server_tags %}
{# This renders a non-comment post. #}


{#  The title is shown at top level only #}

<tr>

    <td>
        <a id="{{ post.id }}"></a>

        <div class="vote-box">
            <div class="vote off tip" data-toggle="tooltip" data-placement="top" title="Upvote!">
                <i class="fa fa-thumbs-o-up fa-2x"></i></div>
            <div class="count">{{ post.vote_count }}</div>

            <div class="bookmark off tip" data-toggle="tooltip" data-placement="top" title="Bookmark!">
                <i class="fa fa-book fa-2x"></i>
            </div>
            {% if not post.is_toplevel and post.has_ownership %}
                <div class="bookmark off tip" data-toggle="tooltip" data-placement="bottom" title="Accept!">
                    <i class="fa fa-check-circle-o fa-2x"></i>
                </div>
            {% endif %}
        </div>

    </td>

    <td>
        {% if post.is_toplevel %}
            <div class="title">{{ post.get_type_display }}: {{ post.title }}</div>
        {% endif %}

        {#  The body of the post #}
        <div class="content">{{ post.content|safe }}</div>

        {#  Post action line #}
        {% post_actions post user %}

        {#  Comments for each post rendered here #}
        <div class="comment">
            {% render_comments request post tree %}
        </div>
    </td>

</tr>
