{% load server_tags %}
<table width="100%">
    <tr>
        <td>
            <span class="label label-default add-comment" data-value="{{ post.id }}">COMMENT</span>
            &bull; <a href="{{ post.get_absolute_url }}">link</a>
            {% if post.is_editable %}
                &bull; <a href="{% url 'post-edit' post.id %}">edit</a>
                &bull; <a href="#">moderate</a>
            {% endif %}

        </td>
        <td align="right">
            {% time_ago post %} ago by {% userlink post.author %} &nbsp;
            {% gravatar post.author 48 %}
        </td>
    </tr>
</table>
