{# Renders the countbox for each post #}
{% load server_tags %}
{% load humanize %}
<div class="post-row {{ post.get_type_display }} {{ post.get_status_display }}">

    <div class="count-box visible-lg visible-md">
        <div class="box vote">
            {% if post.is_toplevel %}
                <div class="c">{{ post.thread_score }}</div>
                <div class="t">vote{{ post.thread_score|pluralize }}</div>
            {% else %}
                <div class="c">{{ post.vote_count }}</div>
                <div class="t">vote{{ post.vote_count|pluralize }}</div>
            {% endif %}
        </div>
        <div class="box {% boxclass post.root %}">
            <div class="c">{{ post.root.reply_count }}</div>
            <div class="t">answer{{ post.root.reply_count|pluralize }}</div>
        </div>
        <div class="box view">
            <div class="c">{{ post.root.view_count|bignum }}</div>
            <div class="t">views</div>
        </div>

        {% if post.subs_count > 4 %}
            <div class="book_count text-center">
                {{ post.subs_count }} follow
            </div>
        {% endif %}

    </div>

    {# small devices #}
    <div class="count-box-sm visible-sm visible-xs">
        <div class="box {% boxclass post.root %}">
            <div class="c">{{ post.root.reply_count }}</div>
            <div class="t">answer{{ post.reply_count|pluralize }}</div>
        </div>
    </div>

    <div class="title-box clearfix">
        <div class="post-title">
            {% if post.type != 0 %}
                {{ post.get_type_display }}:
            {% endif %}
            <a href="{{ post.get_absolute_url }}">{{ post.get_title }}</a>
        </div>

        {% if context %}
            <div class="context">... {{ context|safe }} ...</div>
        {% endif %}

        <div class="clearfix">

            <span class="tags tag-pad visible-lg visible-md">
            {% for tag in post.tag_set.all %}
                <a class="tag" href="/t/{{ tag.name }}/">{{ tag.name }}</a>
            {% endfor %}
            </span>
            <span class="userlink text-right muted">
            written {{ post.creation_date|time_ago }} by {% userlink post.author %}
                {% if post.author != post.lastedit_user %}
                    &bull; updated
                    <span class="ago2">{{ post.lastedit_date|time_ago }}</span> by
                    {% userlink post.lastedit_user %}
                {% endif %}
            </span>

        </div>

    </div>
</div>
