{% load server_tags %}

<div class="post-body {{ post.get_status_display }} clearfix">


    {% if post.is_toplevel %}
        {% include "banners/leaderboard.html" %}

        <div class="title" >{{ post.get_type_display }}: <span itemprop="name">{{ post.get_title }}</span></div>

    {% endif %}

    <div class="post vote-box visible-lg visible-md" data-post_id="{{ post.id }}">



        <div class="vote mark {{ post.has_upvote|on }} tip" data-toggle="tooltip" data-placement="top"
             data-type="vote" title="Upvote!">
            <i class="fa fa-thumbs-o-up fa-2x"></i></div>

        <div class="count" itemprop="voteCount">{{ post.vote_count }}</div>

        <div class="vote mark {{ post.has_bookmark|on }} tip" data-toggle="tooltip" data-placement="top"
             data-type="bookmark" title="Bookmark!">
            <i class="fa fa-book fa-2x"></i>
        </div>

        {% if not post.is_toplevel and post.can_accept %}
            <div class="vote mark {{ post.has_accepted|on }} tip" data-toggle="tooltip" data-placement="top"
                 data-type="accept" title="Accept!">
                <i class="fa fa-check-circle-o fa-2x"></i>
            </div>
        {% endif %}



    </div>

    <div>

        <a name="{{ post.id }}"></a>
        {# The body of the post #}
        <div class="content" >

            {% post_user_box post.author post.creation_date %}

            <span itemprop="text">{{ post.html|safe }}</span>


            <div class="clearfix">
                {% if post.is_toplevel %}
                    <div class="tags clearfix" style="margin-bottom:0.5em;">
                        {% for tag in post.tag_set.all %}
                            <a class="tag" href="/t/{{ tag.name }}/">{{ tag.name }}</a>
                        {% endfor %}

                    &bull; {{ post.root.view_count|bignum }} views

                    </div>
                {% endif %}

                {# Post action line #}
                {% post_actions post user %}

            </div>

            {# Comments for each post rendered here #}
            <div class="comment" itemprop="comment">
                {% render_comments request post tree %}
            </div>
        </div>

    </div>

</div>

