{% load server_tags %}
{% load humanize %}
<div class="post-action">
    <span class="label label-default add-comment" data-value="{{ post.id }}">{{ label }}</span>
    &bull; <a href="{{ post.get_absolute_url }}">link</a>
    {% if post.is_editable %}
        &bull; <a href="{% url 'post-edit' post.id %}">edit</a>
        &bull; <a class="mod-post" data-value="{{ post.id }}">moderate</a>
        {% if post.book_count %} &bull; {{ post.book_count }} bookmark{{ post.book_count|pluralize }}{% endif %}
    {% endif %}

    {% if post.is_toplevel %}
        {#  Produce the Follow button #}
        &bull;

        <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                {% if post.sub %}
                    Follow via {{ post.sub.get_type_display }}
                {% else %}
                    Not following
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">

                <li><a href="{% url "change-sub" pk=post.id type="local" %}">Follow via messages</a></li>
                <li><a href="{% url "change-sub" pk=post.id type="email" %}">Follow via email</a></li>
                <li><a href="{% url "change-sub" pk=post.id type="nofollow" %}">Do not follow</a></li>
            </ul>
        </div>
    {% endif %}

    <div class="userlink text-right">
        {% last_action post %} {% time_ago post %} ago by {% userlink post.author %}
        {% gravatar post.author 48 %}
    </div>

</div>
