{% extends "base.html" %}

{% block title %}
    Metabarcode
{% endblock %}

{{% block header %}
    <i class="barcode icon"></i> Metagenomics Barcode Data Repository
{% endblock %}

{% block body %}

	<style type="text/css">
	    body > .grid {
	      height: 100%;
	    }
	    .image {
	      margin-top: -100px;
	    }
	    .column {
	      max-width: 380px;
	    }
    
	  </style>

	<div class="ui middle aligned center aligned grid">

	 <div class="column">
	 <form id="login-form" method="post" 
                  action="{% url 'login' %}" class="ui form">

                {% csrf_token %}
                <div class="ui stacked segment">
                <table class="ui table">
                    <tr>
                       <td><label for="id_email"><i class="user icon" ></i></label></td>
                        <td><input id="id_email"
                           name="email" type="text" class="form-control" 
                           placeholder="Email / Username"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password"><i class="lock icon" ></i></label></td>
                        <td><input id="id_password" 
                               name="password" type="password" class="form-control" 
                                placeholder="Password" ></td>
                    </tr>
                </table>
 
                           <input type="submit" value="Login" 
                       class="ui button" />

	{% if form.errors %}
	    {% for field in form %}
		{% for error in field.errors %}
		    <div class="alert alert-error">
		        <strong>{{ error|escape }}</strong>
		    </div>
		{% endfor %}
	    {% endfor %}
	    {% for error in form.non_field_errors %}
		<div class="alert alert-error">
		    <strong>{{ error|escape }}</strong>
		</div>
	    {% endfor %}
	{% endif %}

                <input type="hidden" name="next" value="{{ next }}" />



                </div>
            </form>

	    <div class="ui message">
	      New User? <a href="/signup">Sign Up</a>
	    </div>
       </div>
     </div>



{% endblock %}
