BASE_DIR := {{dirinfo.BASE_DIR|default:"./"}}
RESDIR := {{dirinfo.RES_DIR|default:"./res"}}
WORKDIR := {{dirinfo.WORK_DIR|default:"./work"}}
DATADIR := {{dirinfo.DATA_DIR|default:"./work/data"}}
SCRIPTS := {{dirinfo.SCRIPT_DIR|default:"./scripts" }}
CHECK_INPUT := {{scripts.CHECK_INPUT|default:"check_input.py"}}
JOBID := {{jobid}}

{{specs.action}}

fname := $(notdir $(INPUTDATA))
SAMPLEINFO := {{specs.sampleinfo}}
INPUTDATA := {{specs.data}}

{% if  specs.action == "fastqc" %}
untrimmed_out := $(WORKDIR)/multiqc_untrimmed/$(wildcard *.html)
all: setup_dir check_input $(untrimmed_out)
{% elif specs.action == "trim" %}
trimmed_out := $(WORKDIR)/multiqc_trimmed/$(wildcard *.html)
all : setup_dir check_input $(untrimmed_out) $(trimmed_out)
{% endif %}

.PHONY: all clean

setup_dir:
	#
	# set up directories
	#
	mkdir -p $(RESDIR) $(WORKDIR) $(DATADIR)

extract_data:
	#
	# extract tar archive and move data to workdir
	tar -C $(WORKDIR) -xzvf data.tar.gz
	mkdir -p $(DATADIR)
	mv $(WORKDIR)/*.* $(DATADIR)
{% if specs.action in "fastqc trim" %}
{% if specs.action == "fastqc" %}
QCDIR=$(WORKDIR)/multiqc_untrimmed
untrimmed_out:
	#
	# run fastqc on all files
	#
	if [ -d "$(QCDIR)" ]; then rm -rf $(QCDIR); fi

	mkdir -p $(QCDIR)
	ls $(DATADIR)/*gz | parallel --verbose --progress -j 8 fastqc --nogroup {} -o $(QCDIR)
	#
	# run multiqc to create an aggregate report
	#
	multiqc -f -n multiqc $(QCDIR)
	cp multiqc.html $(RESULTS_DIR)
	mv multiqc* $(QCDIR)
	#
	# clean
	#
	rm -f $(QCDIR)/*fastqc.html $(QCDIR)/*fastqc.zip
{% endif %}
{% if specs.action == "trim" %}
trim:
	# trim command

QCDIR=$(WORKDIR)/multiqc_trimmed
trimmed_out:
	#
	# run fastqc on all files
	#
	if [ -d "$(QCDIR)" ]; then rm -rf $(QCDIR); fi

	mkdir -p $(QCDIR)
	ls $(WORKDIR)/trim/*gz | parallel --verbose --progress -j 8 fastqc --nogroup {} -o $(QCDIR)
	#
	# run multiqc to create an aggregate report
	#
	multiqc -f -n multiqc $(QCDIR)
	cp multiqc.html $(RESULTS_DIR)
	mv multiqc* $(QCDIR)
	#
	# clean
	#
	rm -f $(QCDIR)/*fastqc.html $(QCDIR)/*fastqc.zip

{%endif %}
{%endif%}