{% extends "forum_base.html" %}
{% load message_tags %}
{% load forum_tags %}


{% block headtitle %}
    Messages
{% endblock %}



{% block grid %}

<div class="ui doubling stackable grid">
    <div class="three wide column">

        <div class="ui basic segment" style="padding-left:5px">

            {% message_menu extra_tab=extra_tab_name request=request %}

        </div>

</div>

<div class="thirteen wide column">
<div class="ui basic segment" >
<div class="centered">
    {% pages objs=all_messages request=request %}
</div>
   <div class="ui relaxed divided list">

{% for message in all_messages %}

    <div class="item {% is_unread tab_name=extra_tab_name message=message%}">

       <div class="ui relaxed horizontal list">

           <div class="item">

               <div class="content">
                   <div class="ui tiny header">{{message.sender.profile.name}}</div>
               </div>
           </div>
           <div class="item">
                <div class="content">
                    <div class="ui small header">Subject:
                        {% if extra_tab_name|is_inbox %}
                        <a href="{{message.inbox_url}}?active={{extra_tab_name}}">{{message.subject|truncatechars:90}}</a>
                        {% else %}
                        <a href="{{message.outbox_url}}?active={{extra_tab_name}}">{{message.subject|truncatechars:90}}</a>
                        {% endif %}
                    </div>
                </div>
           </div>
           <div class="ui right floated item">
           {{message.sent_date|time_ago}}
           </div>

            <div class="ui muted item" style="padding-left:95px;">
              {{message.body|truncatechars:140}}
          </div>

       </div>


      </div>

{% endfor %}
</div>

</div>
<div class="centered">
    {% pages objs=all_messages request=request %}
</div>
</div>
</div>

</div>
{% endblock %}
