{% load staticfiles %}
{% load compress %}
{% load engine_tags %}
{% load forum_tags %}
{% load message_tags %}
<html>
<head>

    <title>
        {# Page Title #}
        {% block headtitle %}Title{% endblock %}

    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'forum.css' %}" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}">
        </script>
        <script src="{% static 'forum.js' %}">
        </script>
            <script src="{% static 'engine.js' %}">
        </script>
    {% endcompress %}

    {% block js %}
    {% endblock %}

</head>
<body>

<div class="ui container">




        {% block menu %}

            {% menubar request=request %}

        {% endblock %}







<div class="ui bottom attached  segment">
    {% show_messages messages %}

            <img class="ui image right spaced tablet" src="/static/images/biostar-logo.png" style="margin:0px;max-width: 100%;">


            <a class="ui {{community}} basic label tablet forumtabs" href="{% url 'community_list' %}">
                <i class="world icon"></i>Community
            </a>
            <a class="ui {{latest}} basic label forumtabs" href="{% url 'post_list' %}?active=latest">
                <i class="comment alternate icon"></i><span class="tablet">Latest</span>
            </a>
            <a class="ui {{message}} basic label tablet forumtabs" href="{% url 'inbox' %}">
                {% message_count request=request otype="message" as num_msgs %}
                {% if num_msgs %}
                <i class="mail icon"  style="color:#5fc64f;"></i>Messages
                {% else%}
                <i class="mail icon" ></i>Messages
                {%endif%}

            </a>
            <a class="ui {{votes}} basic label forumtabs" href="{% url 'post_list' %}?active=votes">
                <i class="heart icon"></i> <span class="tablet">Votes</span>
            </a>
            <a class="ui {{myposts}} basic label forumtabs" href="{% url 'post_list' %}?active=myposts">
                <i class="comments icon"></i> <span class="tablet">My Posts</span>
            </a>
            <a class="ui {{mytags}} basic label forumtabs" href="{% url 'post_list' %}?active=mytags">
                <i class="tags icon"></i><span class="tablet">My Tags</span>
            </a>
            <a class="ui {{following}} basic label forumtabs" href="{% url 'post_list' %}?active=following">
                <i class="eye icon"></i><span class="tablet">Following</span>
            </a>
            <a class="ui {{bookmarks}} basic label forumtabs" href="{% url 'post_list' %}?active=bookmarks">
                <i class="book icon"></i><span class="tablet">Bookmarks</span>
            </a>


        {% block body %}
            {# Main body #}
            BODY


            {% block content %}

            {% endblock %}


        {% endblock %}


</div>



    {% block footer %}
        <div class="ui vertical center aligned segment">
                <p class="muted">
                    <a href="https://github.com/biostars/biostar-engine" class="ui image">
                    <img src="{% static 'images/badge-engine.svg' %}"></a>
                    and
                    <a href="https://github.com/biostars/biostar-recipes" class="ui image">
                    <img src="{% static 'images/badge-recipe.svg' %}"></a>
                </p>
            <p class="muted smaller">Software version: {{ VERSION }}</p>
        </div>
    {% endblock %}
</div>




</body>
</html>
