{% extends "site_layout.html" %}
{% load socialaccount %}
{% load widgets %}

{% block title %}
    Sign In.
{% endblock %}

{% block body %}
    <div class="row">
    	<div class="three columns">
            &nbsp;
        </div>
        <div class="six columns">


            {% if socialaccount.providers %}
                <div>
                    Click the name of a provider to log in.
                </div>

                <div style="margin-top:1em; font-size: larger;">
                    <ul style="margin-left:2em;">
                        {% for provider in socialaccount.providers %}
                            <li>
                                <a title="{{ provider.name }}"
                                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{ provider.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    {% providers_media_js %}

{% endblock %}

