{% extends "site_layout.html" %}
{% load socialaccount %}
{% load widgets %}
{% load i18n %}

{% block title %}
    Password Reset.
{% endblock %}


{% block body %}

    <div class="row">
        <div class="three columns">
            &nbsp;
        </div>

        <div class="six columns">

            <h1>{% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="alert alert-success">
                {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}
            </div>

        </div>
    </div>
{% endblock %}