{% extends "site_layout.html" %}
{% load socialaccount %}
{% load widgets %}
{% load i18n %}

{% block title %}
    Password Reset.
{% endblock %}

{% block body %}
<div class="row">
    	<div class="three columns">
            &nbsp;
        </div>

        <div class="six columns">
            <div class="alert alert-success text-center">
                {% trans 'Your password is now changed.' %}
                <a class="btn btn-info" role="button" href="{% url "account_login" %}">{% trans 'Please log in' %} </a>
            </div>
        </div>
    </div>
{% endblock %}