{% extends "base_email.html" %}



{% block subject %}
    [biostar] {{ subject }}
{% endblock %}

{% block html %}
    <p>

    {{ msg }}
    </p>
    {% for post in posts %}

        <a href="{% url "post_view" post.uid %}">
        {{ post.title }}
        </a>

    {% endfor %}

    <p>
    {{ name }} Team<br>
    {{ protocol }}://{{ domain }}{% if port %}{{ port }}{% endif %}
    </p>
{% endblock %}


{% block text %}

    {{ msg }}
    {% for post in posts %}

        <a href="{% url "post_view" post.uid %}">
        {{ post.title }}
        </a>

    {% endfor %}

    {{ name }} Team
    {{ protocol }}://{{ domain }}{% if port %}{{ port }}{% endif %}

{% endblock %}