{% extends "forum_list.html" %}
{% load forum_tags %}
{% load accounts_tags %}

{% block headtitle %}
    Messages
{% endblock %}


{% block body %}


<div class="center-text">
{% pages objs=all_messages %}
</div>

<table class="ui very basic striped table">
    {% for message in all_messages %}
        <tbody>
            <tr>
                <td>
                  <div class="item ">

                    <div class="content">
                        {{ message.sent_date|timesince }} ago: {{ message.html|safe }}
                    </div>
                  </div>
                </td>
            </tr>
        </tbody>
    {% empty %}
    <div class="ui message">No messages</div>
    {% endfor %}
</table>

<div class="center-text">
{% pages objs=all_messages %}
</div>


{% endblock %}

{% block sidebar %}

<div class="ui large biostar-feed">

    <div class="event">
        <div class="ui container">
                <b> Messages by: </b>
                <div class="ui relaxed list" >
                    {% for message in all_messages %}
                       <div class="item spaced" >
                       <img class="ui centered circular image" src="{% gravatar user=message.sender size=30 %}">
                            <a href="{% url 'user_profile' message.sender.profile.uid %}">
                                {{ message.sender.profile.name }}
                                {% user_stats user=message.sender %}
                            </a>

                       </div>
                    {% empty %}
                        No messages
                    {% endfor %}
                </div>
        </div>
    </div>


</div>


{% endblock %}