/*
This file uses LESS: http://lesscss.org/
*/
/* Import the colors styles */
/*
This file is included in site.less.
*/
/*
Set up colors fo various widgets.
*/
.box.Answered {
  background-color: #5b8c3e;
  color: white;
}
.box.Accepted {
  background-color: #5b8c3e;
  color: yellow;
}
.box.Unanswered {
  background-color: #8f2c47;
  color: white;
}
.box.Forum {
  background-color: #b79538;
  color: white;
}
.box.Job {
  background-color: #e9530f;
  color: white;
}
.box.News {
  background-color: #762c90;
  color: white;
}
.box.Tool {
  background-color: #e26504 0;
  color: white;
}
.box.Tutorial {
  background-color: #2c7990;
  color: white;
}
.error,
.errorlist {
  color: #712d2d;
  background-color: #f2dede;
  border-color: #c77070;
}
.info {
  color: #9c8611;
  background-color: #fcf8e3;
  border-color: #edd559;
}
.warning {
  color: #1b6083;
  background-color: #d9edf7;
  border-color: #5bb1dc;
}
.success {
  color: #3d6c2a;
  background-color: #dff0d8;
  border-color: #84c569;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111111;
  font-size: 13px;
  line-height: 19px;
}
body p {
  margin-bottom: 1ex;
}
body a {
  color: #428bca;
  text-decoration: none;
}
body .container {
  max-width: 1200px;
}
body .highlighted {
  background-color: #ffff00;
}
.recent_list > ul {
  list-style-type: none;
  opacity: 0.8;
  line-height: 1;
}
.recent_list > .subtitle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1ex;
}
.award_row {
  padding-bottom: 1ex;
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 1em;
}
.award_row div {
  text-align: center;
}
.content {
  word-wrap: break-word;
}
.search-info {
  padding: 0.5ex 0ex 0.5ex 0ex;
  text-align: center;
  background-color: #F1F1F1;
  border-radius: 4px;
  margin-bottom: 0.5em;
}
.user_box {
  float: right;
  width: 150px;
  padding: 0.5em 0.2em 0.5em 0.2em;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f5f5;
  margin-left: 0.5em;
  color: #999999;
}
.user_list_box {
  float: left;
  width: 20%;
  height: 180px;
  padding: 1ex;
  text-align: center;
  margin: 0em;
  overflow: hidden;
  color: #808080;
}
.popover {
  position: absolute;
  background-color: #ECECEC;
  border-color: #6B3E4A;
  color: #3c763d;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.popover.error {
  color: red;
}
.page_bar {
  text-align: center;
  margin-bottom: 0.3em;
}
.action_bar {
  float: left;
  padding: 1ex 0em 1ex 0em;
}
.post .count {
  font-size: 2em;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}
.vote_box {
  float: left;
  text-align: center;
  margin-right: 0.5em;
}
.vote_box .mark {
  margin-top: 1px;
  cursor: pointer;
  color: #2F5B14;
  opacity: 0.9;
}
.vote_box .off {
  opacity: 0.4;
}
.comment {
  padding: 1ex;
  background-color: #EFEFEF;
  margin-bottom: 0.5ex;
}
.indent {
  margin-left: 4%;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.answer {
  border-top: 1px solid #E1E1E1;
  margin: 0.5em 0em 0.5em 0em;
  padding-top: 0.5em;
  overflow: auto;
  width: 100%;
}
/* User link */
.userlink {
  color: #808080;
  padding-left: 0.5em;
  text-align: right;
}
/* Post listing */
#post_list {
  line-height: 1.6em;
}
#post_list .post_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}
/* Post detail */
#post_detail .post_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #E1E1E1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* Tags */
#tag_list .tag {
  margin: 1ex;
  font-size: larger;
}
.tag_bar {
  margin: 0ex 0ex 0.2ex 0ex;
  float: left;
}
.tag {
  padding: 0.3ex 0.3em 0.3ex 0.3em;
  text-decoration: none;
  background-color: #ececec;
  border-bottom: 1px solid #BBB;
  border-right: 1px solid #BBB;
  color: #6b3e4a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
.tag:hover {
  color: white;
  background-color: #6b3e4a;
}
/* Count boxes */
.post_row {
  margin: 0.2em 0em 0em 0em;
  padding: 0.2em 0em 0.2em 0em;
  border-bottom: 1px solid #efefef;
}
.box.vote_count {
  background-color: #eeeeee;
}
.box:last-child {
  margin-right: 0px;
}
.box {
  float: left;
  width: 4em;
  text-align: center;
  min-height: 100%;
  margin: 0em 0.2em 0em 0em;
}
.box .c {
  font-size: 1.4em;
  font-weight: bold;
  height: 2ex;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 2px;
  padding-top: 0.2em;
}
.box .t {
  font-size: smaller;
}
.box .div {
  padding: 0.1em;
}
#shortcuts {
  float: left;
}
/* Search bar */
#search_bar {
  float: left;
  padding: 1ex;
  width: 100%;
  border-radius: 4px;
  background-color: #EFEFEF;
}
#search_bar form,
#search_bar input {
  margin: 0px;
}
#search_input {
  width: 70%;
  float: left;
}
/* Labels */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #999999;
}
.upload {
  margin-bottom: 1ex;
}
.upload label {
  display: inline;
}
.moderate {
  background-color: #EDF3FE;
  padding: 1em;
}
.modbox {
  padding: 1ex;
  float: left;
  margin: 0ex 1ex 1ex 0ex;
  background-color: #ECECEC;
  border-radius: 4px;
}
#user_attr div {
  margin-top: 1ex;
}
.center {
  text-align: center;
}
.title {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  font-weight: 300;
  margin-bottom: 1ex;
}
#page_view h2 {
  font-size: 2em;
}
#page_view h3 {
  font-size: 1.4em;
}
#page_title {
  float: left;
  padding: 5px 10px 0px 0px;
  vertical-align: middle;
  line-height: 1.0;
}
/* Footer */
#footer {
  margin-top: 1em;
  text-align: center;
  padding: 1em;
}
#footer div {
  margin-bottom: 1ex;
}
#traffic {
  position: fixed;
  font-size: smaller;
  bottom: 0px;
  left: 0px;
  color: #999999;
  background-color: white;
  padding: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#group_list div {
  margin-top: 0.5ex;
}
#group_list * > li {
  display: inline;
  margin-right: 1em;
}
/* Alert styles */
.alert {
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0em;
  border: 1px solid transparent;
  border-radius: 4px;
}
ul.dropdown:hover ul.items {
  display: block;
}
ul.dropdown {
  margin: 0px;
  padding: 0px;
  z-index: 99;
}
ul.dropdown ul.items {
  position: absolute;
  margin: 0ex;
  padding: 0ex;
  list-style-type: none;
  display: none;
  background-color: white;
  border-radius: 4px;
  border: 3px solid #efefef;
  z-index: 99;
}
ul.dropdown ul.items li:last-child {
  border-bottom: 0px solid #d3d3d3;
}
ul.dropdown ul.items li {
  margin: 0ex 0ex 0ex 0ex;
  border-bottom: 1px solid #d3d3d3;
  float: left;
  min-width: 150px;
  text-align: left;
  clear: both;
}
ul.dropdown ul.items li a {
  padding: 1ex 1em 1ex 1em;
  display: inline-block;
  width: 100%;
  height: 100%;
}
ul.dropdown ul.items li :hover {
  background-color: #efefef;
}
.group_info {
  border-top: 1px solid #ECECEC;
  margin-top: 1ex;
  padding-top: 1ex;
}
.user_suspended {
  background-color: #f2dede;
}
.simple_navbar {
  list-style-type: none;
}
.simple_navbar li {
  display: inline;
  padding-right: 1em;
  margin: 0;
}
.simple_navbar li a {
  display: inline-block;
  padding: 1ex;
}
.simple_navbar li a:hover {
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 4px;
}
/* Navigation */
#logo {
  float: left;
}
#logo * img {
  width: 200px;
}
#logo .text_logo {
  background-color: #dff0d8;
  margin-top: 1ex;
  padding: 1em;
  display: inline-block;
  border-radius: 4px;
  font-size: 1.2em;
}
#userbar {
  border-top: 1px solid #efefef;
}
#userbar *.glow {
  color: white;
  background-color: #5b8c3e;
  border-radius: 4px;
}
#userbar *.glow:hover {
  color: #5b8c3e;
}
#votelist .item {
  padding: 1ex;
  font-size: larger;
}
.message.glow {
  background-color: #dff0d8;
}
.message {
  padding: 1ex;
  margin-bottom: 0.5ex;
  border-bottom: 1px solid #cdcdcd;
}
#userbar,
#navbar,
#topics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
#userbar .icon,
#navbar .icon,
#topics .icon {
  font-size: 2em;
}
#userbar .navlabel,
#navbar .navlabel,
#topics .navlabel {
  font-size: small;
}
#userbar .signin,
#navbar .signin,
#topics .signin {
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
#userbar .signin:hover,
#navbar .signin:hover,
#topics .signin:hover {
  color: #5b8c3e;
  background-color: red;
  cursor: pointer;
  border-radius: 4px;
}
#userbar .item,
#navbar .item,
#topics .item {
  margin-top: 0.5ex;
  float: left;
  text-align: center;
}
#userbar .item a,
#navbar .item a,
#topics .item a {
  display: inline-block;
  padding: 1ex;
}
#userbar .item a:hover,
#navbar .item a:hover,
#topics .item a:hover {
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 4px;
}
#userbar .last,
#navbar .last,
#topics .last {
  float: right;
}
#panel {
  padding: 0.5ex 0em 1ex 0ex;
}
#panel input {
  margin: 0px;
}
#panel textarea {
  margin: 0px;
  background-color: #EFEFEF;
}
#panel form {
  margin: 0px;
}
#panel .cancel {
  float: right;
  background-color: white;
}
#panel .submit {
  float: left;
  background-color: white;
}
.reply {
  cursor: pointer;
  border-radius: 3px;
}
.reply:hover {
  background-color: #5b8c3e;
}
.lg {
  display: none;
}
.nav-sep {
  margin: 0.2em 0em 0.2em 0em;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.3);
}
.muted {
  color: #808080;
}
.blog {
  padding-bottom: 1ex;
  margin-bottom: 1ex;
  border-bottom: 1px solid #ececec;
}
.blog .title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5ex;
}
.blog .muted {
  margin-bottom: 0.5ex;
  color: #808080;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 768px) {
  .box {
    margin: 0em 0.2em 0.5em 0em;
  }
  #logo * img {
    margin-top: 5px;
    width: 230px;
  }
  .lg {
    display: block;
  }
  #navbar {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .lg {
    display: block;
  }
  #navbar {
    width: auto;
  }
  #navbar i {
    font-size: 1em;
  }
  #logo {
    width: 330px;
  }
}
