@default-font-size:1em;

@navbar-color:#8F2C47;
@navbar-color-darker: darken(@navbar-color, 15%);

body {
    background-color: white;
    font-size: @default-font-size;
}

@title-size: @default-font-size + @default-font-size/2;
@title-color: red;
@bit: 18px;

.badge-colors {
    .bronze { color: #CC9966; }
    .silver { color: #C0C0C0; }
    .gold   { color: #FFCC00; }
}    
    
.add-comment {
    cursor: pointer;
}

.message {
    color:white;
    &:hover { text-decoration: underline; }
}

.navbar .brand {
    text-indent:8px;
    margin-left:0px;
    background-image: url(../img/g/glyphicons_049_star.png);
    background-repeat: no-repeat;
    background-position: 0px 6px;
}

.title {
    padding: @bit 0px @bit 0px;
    font-size: @title-size;
}

div .par {
    margin: 0px 0px @bit 0px;
}

.postinfo {
      color: #858585;
      float: right;
}

.peek {
    font-size: 1em;
    height: 2.1em;
    overflow: hidden;
    line-height: 1em;
    margin-top: 5px;
    margin-bottom:5px;
}

.tag-line {
    margin-bottom: 10px;
    line-height: 18px;
    float: left;

    .tag {
        margin: 2px 2px 2px 0;
        padding: 3px 4px 3px 4px;
        text-decoration: none;
        background-color: #ECECEC;
        border-bottom: 1px solid #BBB;
        border-right: 1px solid #BBB;
        color: #6B3E4A;
        &:hover{
            color:white;
            background-color:#6B3E4A;
        }
    }
}

.mini-counts {
    font-size: 1.6em;
    font-weight: bold;
    height: 1.6ex;
    vertical-align: middle;
    text-align: center;
}

.status {  
  margin: 0 3px 0 0;
  padding: 5px;
  width: 4em;
  text-align: center;
}

#subheader {
    padding-bottom:0.5em;
    
}
.separator {
    border-bottom: 1px solid #DDD;
}

.comment-block{
    clear:left;
    .comment-body {
        padding:10px;
        margin-top:0.5em;
        color:#666666;
        background-color:#efefef;
        border-bottom: 1px solid #eeeeee;
        
    }
    .post-info-line{
        float: left;
        margin-right:10px;
        color:#666666;
    }
    .indent {
        margin-left:3em;
       
    }
}

td {
    vertical-align:top;
    .title {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        font-size: 140%;
        font-weight: bold;
        padding-bottom: 2px;
        margin-bottom:10px;
        padding-top: 0px;
        color: #333;
    }
    
    .post-info-panel {
        width:10em;
        background-color:#EEEEEE;
        border: 1px solid #DDD;
        padding:1em;
        margin-left:0.5em;
        text-align:center;
    }
    
    p {
        font-size:@default-font-size;    
    }
}

#post-edit {
    background-color:#DDDDDD;
    padding:15px;
}
#footer {
    margin: 0 auto;
    margin-top:5px;
    border-top:1px solid #ddd;
    text-align: center;
    padding: 5px;
    img {
        vertical-align: middle;
        border: 0;
        border-image: initial;
    }
}
.post-table {
    vertical-align:top;
    padding:0px;
    width:100%;
    
    td {
        border-bottom: 1px solid #DDD;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@navbar-color:#8F2C47;

.unanswered {
    background-color: @navbar-color;
    color: white;
}

.answered {
    background-color: #75845C;
    color: #FFFFFF;
}

.accepted {
    background-color: #75845C;
    color: #E1E818;
}

@vote-color:#EEEEEE;

.votes {
    background-color: @vote-color;
}

@title-size:1.2em;

.question-title {
  font-size: @title-size;
  font-weight: bold;
  padding-bottom:0.5em;
  a {
    text-decoration: none;
  }
}


.badge {
    .badge-colors;
    margin-left: 3px;
    .count  {
        color: #6D6D6D;
        padding-left: 1px;
    }
    .score {
        color: #444444;
        font-weight: bold;
        margin-right: 2px;
    }
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  background-image: -moz-linear-gradient(top, @navbar-color, @navbar-color-darker);
  background-image: -ms-linear-gradient(top, @navbar-color, @navbar-color-darker);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbar-color), to(@navbar-color-darker));
  background-image: -webkit-linear-gradient(top, @navbar-color, @navbar-color-darker);
  background-image: -o-linear-gradient(top, @navbar-color, @navbar-color-darker);
  background-image: linear-gradient(top, @navbar-color, @navbar-color-darker);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bookmark-list {
    .pagebar {
        background-color: #eeeeee;
        border-bottom:1px solid #ddd;
    }
    .bookmark {
        padding:5px;
        margin-bottom:2px;
        p {
            display:inline;
            font-size: @default-font-size;
        }
    }
}

.badge-name {
    .badge-colors;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 6px 6px 6px 6px;
    color: white !important;
    line-height: 1.9;
    margin: 0 3px 3px 0;
    padding: 4px 8px 4px 3px;
    text-decoration: none;
    border-image: initial;
}

.note-list {
    .pagebar {
        background-color: #eeeeee;
        border-bottom:1px solid #ddd;
    }
    .msg {
        padding:5px;
        margin-bottom:2px;
        p {
            display:inline;
            font-size: @default-font-size;
        }
    }
    .unread {
        background-color: #D0E5C2;
    }
}

.pagebar {
    padding:10px;
    margin-bottom: 2px;
}
/* popup message rendering */

.ajax-messages {
    
    .vote-popover {
        position:absolute;
        margin-top:10px;
        color: black;
    }
        
    .error {
        background-color:#D7615F;
        padding:10px;
        border: 1px solid darken(#D7615F, 20%);
        opacity:0.9;
    }
        
    .success {
        background-color:#B6C2A1;
        padding:10px;
        border: 1px solid darken(#B6C2A1, 20%);
        opacity:0.9;
    }
}

.mini-vote-box {
    .ajax-messages;
    
    padding:5px;
    margin-right:5px;
    width: 40px;
    height: 20px;
    float:left;
    
    .vote-up {
        width:20px;
        float:left;
        background-repeat: no-repeat;
        cursor:pointer;
    }
    .vote-count {
        width:15px;
        text-align:center;
        float:left;
    }
    .vote-up.vote-off { background-image: url("/static/img/g/glyphicons_213_up_arrow.png"); opacity:0.3; }
    .vote-up.vote-on  { background-image: url("/static/img/g/glyphicons_213_up_arrow.png"); }
}
        
.vote-box{
    .ajax-messages;
    
    vertical-align: top;
    padding: 0px;

    .vote{
        
        text-align:center;
        width: 60px;
        float:left;
        margin:10px;
        
        .vote-count {
            font-size: 240%;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
            width: 60px;
            margin: 10px 0 10px 0;
            padding: 0px;
            display:block;
        }
        
        .vote-up, .vote-accepted, .vote-bookmark {
            display: block;
            width: 30px;
            height: 14px;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            cursor:pointer;
        }
        
        .vote-bookmark {
            height:30px;
            background-position: center;
        }
        
        .vote-accepted {
            height: 30px;
            background-position: center;
        }
        
        .vote-up.vote-off { background-image: url("/static/img/vote/vote-up-off.png"); }
        .vote-up.vote-on { background-image: url("/static/img/vote/vote-up-on.png"); }
        .vote-bookmark.vote-on  { background-image: url("/static/img/g/glyphicons_072_bookmark.png"); }
        .vote-bookmark.vote-off { background-image: url("/static/img/g/glyphicons_072_bookmark.png"); opacity:0.3; &:hover { opacity:0.9; } }
        .vote-accepted.vote-on  { background-image: url("/static/img/g/glyphicons_206_ok_2.png") }
        .vote-accepted.vote-off { background-image: url("/static/img/g/glyphicons_206_ok_2.png"); opacity:0.3; &:hover { opacity:0.9; }}
    }

}



