{% load forum_tags %}

<div class="ui top attached text menu dim-on-create  {% if user.is_authenticated %}{{ user.profile.css }}{% endif %}" id="menu-topics">
    <div class="ui inverted dimmer"></div>
    {% if user.is_authenticated %}

        <a class="item {% activate tab "messages" %}" href="{% url 'inbox' %}">
            Messages {% count_label label="message_count" %}
        </a>
        &bull;
        <a class="item {% activate tab "myvotes" %}" href="{% url 'myvotes' %}">
            Votes {%  count_label label="vote_count" %}
        </a>
&bull;
        <a class="item {% activate tab "myposts" %}" href="{% url 'myposts' %}">
            My Posts
        </a>
        <div class="tablet">&bull;</div>
        <a class="item {% activate tab "mytags" %}" href="{% url 'mytags' %}">
            <div class="tablet">My Tags</div>
        </a>
        <div class="tablet">&bull;</div>
        <a class="item {% activate tab "following" %}" href="{% url 'following' %}">
            <div class="tablet">Following</div>
        </a>
        <div class="tablet">&bull;</div>
        <a class="item {% activate tab "bookmarks" %}" href="{% url 'bookmarks' %}">
            <div class="tablet">Bookmarks</div>
        </a>
        <div class="tablet">&bull;</div>
        <div class="item {{ user.profile.css }}">

        <div class="ui top pointing dropdown" id="digest">
            <i class="{% get_digest_icon user %}" id="digest-icon"></i>
            <div class="text tablet" id="digest-active">{% digest_label post=post %}</div>
            <i class="caret down icon"></i>

            <div class="menu">
                <div class="item" data-value="daily" data-icon="clock icon"><i class="clock icon" ></i>Daily digest</div>
                <div class="item" data-value="weekly" data-icon="hourglass icon"><i class="hourglass icon"></i>Weekly digest</div>
                <div class="item" data-value="monthly" data-icon="calendar icon"><i class="calendar icon"></i>Monthly digest</div>
                <div class="item" data-value="none"  data-icon="bell slash icon"><i class="bell slash icon"></i>No digest</div>
            </div>
        </div>
        </div>

    {% endif %}

    <div class="right menu" id="login-opts">

        {% if user.is_authenticated %}

            <a class="item {{ user.profile.css }} {% activate tab "profile" %}" href="{% url 'user_profile' user.profile.uid %}">
                {{ user.profile.name }} {% user_icon user %}
            </a>
            &bull;
            <a class="item {{ user.profile.css }} {% activate tab "logout" %}" href="{% url 'logout' %}">
          Logout
            </a>
        {% else %}
        <a class="item {% activate tab "login" %}" href="{% url 'login' %}"> <span class="tablet">Log In</span></a>
            <div class="tablet">&bull;</div>
        <a class="item {% activate tab "signup" %}" href="{% url 'signup' %}"><span class="tablet">Sign Up</span></a>
            <div class="tablet">&bull;</div>
        {% endif %}
        <a class="item {{ user.profile.css }} {% activate tab "about" %}"> <span class="tablet">About</span></a>
    </div>
</div>
