
<div class="ui basic segment slim">
    {% if tags %}
        {# Search bar for tags list #}
        <div class="center-text ">
            <div class='ui icon input' id="contain-search" style="display: inline-block;">
                <i class="search icon"></i>
                <input type="text" id="search" url="{{ search_url }}" style="width: 500px;" name="search" placeholder="Search tags and press ENTER . . .">
                <div id="results" style="text-align: initial"></div>
            </div>
        </div>
    {% elif users %}
        {# Search bar for users list #}
        <div class="center-text ">
            <div class='ui icon input' id="contain-search" style="display: inline-block;">
                <i class="search icon"></i>
                <input type="text" id="search" url="{{ search_url }}" style="width: 500px;" name="search" placeholder="Search users and press ENTER . . .">
                <div id="results" style="text-align: initial"></div>
            </div>
        </div>
    {% else %}
        {# Default search bar #}
        <div class='ui fluid icon input' id="contain-search">
            <i class="search icon"></i>
            <input type="text" id="search" url="{{ search_url }}" name="search" placeholder="Search and press ENTER . . .">
        </div>
        <div id="results"></div>

    {% endif %}

</div>