{% extends "starbase.html" %}
{% load server_tags %}
{% load cache %}
{% load more_like_this %}

{% block page_title %}
    Datasets
{% endblock %}
{% block content %}

<h2>Datasets | <a href="{%  url 'tracker:peer-list'%}">Peer List</a> | <a href="{%  url 'tracker:upload'%}">Upload Data</a></h2>


     <div class="row">
        <div class="col-md-9">

            {% page_bar_sort_posts %}

            <div id="post-list">
                {% for post in posts %}
                    {% post_count_box post %}
                {% empty %}

                    <div class="alert alert-info">There are no results for this page.</div>

                {% endfor %}

            </div>

            {% page_bar_sort_posts %}

        </div>
        <div class="col-md-3 sidebar">

            {% sidebar_votes RECENT_VOTES %}

            {% sidebar_locations RECENT_USERS %}

            {% sidebar_awards RECENT_AWARDS %}

            {% sidebar_posts RECENT_REPLIES %}

        </div>
    </div>


{%  endblock %}