{% extends "starbase.html" %}
{% load server_tags %}
{% load cache %}
{% load more_like_this %}

{% block page_title %}
    Torrent View
{% endblock %}
{% block content %}

<div class="col-md-12">
    <h2>Dataset: {{ torrent.name }} <a href="{% url 'tracker:download' pk=torrent.id %}" role="button"
                                       class="btn btn-success"> <i
    class="fa fa-download"></i> DOWNLOAD</a></h2>

    <div>
    <h2>Shared by:</h2>
        {% if peers %}
            {% for peer in peers %}
                {% if peer.user %}
                    {{ peer.user.name }}
                {% else %}
                    {{ peer.ip }}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">Data is not available at this time</div>
        {% endif %}

    </div>

    <h3>Posted on <a href="{{ post.get_absolute_url }}">{{ post.get_type_display }}
        {{ post.title }}</a></h3>


</div>

<div class="col-md-3">
    <div class="list-group">

        <div class="list-group-item">
            <h3 class="list-group-item-heading">Torrent statistics</h3>
        </div>

        <div class="list-group-item">
            Seeds: {{ torrent.seeds }}
        </div>


        <div class="list-group-item">
            Downloading: {{ torrent.leeches }}
        </div>

        <div class="list-group-item">
            Uploaded: {{ torrent.uploaded|filesizeformat }}
        </div>

        <div class="list-group-item">
            Downloaded: {{ torrent.downloaded|filesizeformat }}
        </div>

        <div class="list-group-item">
            Completed: {{ torrent.completed }}
        </div>

        <div class="list-group-item">
            Disabled: {{ torrent.disabled }}
        </div>

    </div>
</div>

<div class="col-md-12">

    {% if post.is_editable %}
        <form method="post" action="#">
            Moderator action:
            <button class="btn btn-warning">Disable Torrent</button>
        </form>
    {% endif %}

</div>
{% endblock %}