:root {
    --active-item-color: #337ab7;
    --active-item-bg-color:#fbfdef;
    --tag-color: #1881c2;
    --tag-background:#ececec;
    --quetion-background:#87B13F;
    --menu-bg-color:#eff0ef;
}

body > .main.container {
    width: 97%;
}

body {
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answer-text{
    display: none ;
}
.wmd-button > span {
    background-image: url("/static/pagedown/bar-button.jpg") !important;
}

.ui.search > .ui.input{
    width: 100%;
}
.add-comment.ui.label {
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 88%;
    background-color: #5cb85c;
}


.ui.text.menu .item.padded {
    padding-right: 10px;
    padding-left: 10px;
}

.answer-form {
    display: none;
}

#menu-topics .item:hover{
    color: black;
    border-radius: 90px;
}


#menu-topics {
    background-color: #1881c2;
    color: white;
    font-size: small;
/ / min-height: 0;
}

.no-box-shadow {
    box-shadow: none !important;
    -webkit-box-shadow: none;
}

.sorting {
    min-height: 25px !important;
    height: 36px;
}

#menu-topics .item {
    color: white;
}

#menu-topics .item.active {
    color: #2a2b2b;
    border-radius: 90px
}

#menu-header .item.format {
    padding: 28px 20px 0px 20px;
    text-align: center;
    color: #337ab7;
    text-transform: uppercase;
}

#menu-header .item:hover {
    background-color: #dbdbdb;
}


.hidden-answer {
    display: none;
}

#logo {
    padding: 0px;
    margin: 3px;
    background-color: transparent;

}

#menu-header.narrow{
    background-color: #1881c2;
}


.hide-preview {
    display: inline;
}

#login-opts .item > i.icon {
    // color: white;
}

.match {
    width: max-content;
}


.ui.question.has_answers.label {
    background-color: #1881C2 !important;
}

.ui.tutorial.has_answers.label {
    background-color: #1881C2 !important;
}

.ui.stat.label.tutorial {
    background-color: #87B13F;

}

.ui.small.label.tags:hover {
    background-color: #bfbfbf;
}


#menu-header .add-question:hover {
    background-color: #87B13F !important;
    color: white;
}

.ui.small.label.tags {
    background-color: #F5F5F5;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    color: #1881C2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.ui.stat.label.job {
    background-color: #AAAAAA;

}

.ui.stat.label.news {
    background-color: #555555;

}

.accepted.answer.label {
    background-color: #1881C2 !important;;
    color: #FFFC20 !important;;
}
