{% extends "profile_base.html" %}

{% block headtitle %}Edit Profile{% endblock %}

{% block body %}


     <div class="ui centered card inputcolor">

        <div class="ui center aligned vertical segment">
            <a class="ui button" href="{% url 'password_reset' %}">
                <i class="undo icon"></i>Reset password
            </a>
        </div>

        <div class="ui center aligned basic segment">
            <form method="post" class="ui form" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <div class="field">
                    <label>Edit username</label>
                    {{ form.username }}
                </div>
                <div class="field">
                    <label>Edit email</label>
                    {{ form.email }}
                </div>

                <div class="field">
                    <label>Edit name</label>
                    {{ form.name }}
                </div>

             {{ form.errors }}

            <button type="submit" class="ui submit green button">
                <i class="save icon"></i>Save
            </button>

            <a class="ui right floated button" href="{% url 'profile' %}">
                 <i class="undo icon"></i>Cancel
            </a>
            </form>
        </div>
     </div>
{% endblock %}