{% extends "profile_base.html" %}
{% load engine_tags %}
{% block headtitle %}Login{% endblock %}

{% block body %}

        <div class="ui center aligned header">

            <i class="user icon"></i>User Login

        </div>
        <form class="ui form" method="post" action="{% url 'login' %}">
            <div class="ui centered card inputcolor">

                <div class="ui basic segment">

                    {% csrf_token %}

                    <div class="field">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                    <div class="field">
                        <label>Password</label>
                        {{ form.password }}
                    </div>
                    {{ form.errors }}
                    <button class="ui primary button" type="submit">
                        <i class="sign in icon"></i>Log In
                    </button>

                    <a class="ui right floated button" href="/">
                        <i class="home icon"></i>Home</a>

                </div>

            </div>

        </form>

        <div class="ui center aligned basic segment">
            <a href="{% url 'password_reset' %}"><i class="question circle icon"></i> Forgot your password?</a>
        </div>

{% endblock %}
