{% extends "profile_base.html" %}
{% load engine_tags %}
{% load socialaccount %}
{% block headtitle %}Login{% endblock %}

{% block body %}


    <div class="ui centered segment inputcolor socialbox">

        {% if  social_login.iterator %}
            <div class="ui header">
                <i class="user icon"></i>Social Login
            </div>

            <p>
                Log in or sign up automatically with the following providers:
            </p>

            <div class="ui large list">
                {% for provider in social_login.iterator %}
                    <a class="item" href="{% provider_login_url provider.provider %}">
                        <i class="{{ provider.name|lower }} large icon"></i>
                        {{ provider.name|title }}
                    </a>
                {% endfor %}
            </div>
            <p>
                Social login is used for authentication only. No other information is accessed at any time.
            </p>
            </div>
        {% endif %}

    <form class="ui form" method="post" action="{% url 'login' %}">

        <div class="ui centered segment inputcolor socialbox">

            <div class="ui header">
                <i class="user icon"></i>Email Login
            </div>

            <p>
                Log in or <a href="{% url "signup" %}">sign up</a> with an email.
            </p>

            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                {{ form.email }}
            </div>
            <div class="field">
                <label>Password</label>
                {{ form.password }}
            </div>
            {{ form.errors }}
            <button class="ui primary button" type="submit">
                <i class="sign in icon"></i>Log In
            </button>

            <a class="ui right floated button" href="/">
                <i class="home icon"></i>Home</a>

        </div>


    </form>

    <div class="ui center aligned basic segment">
        <a href="{% url 'password_reset' %}"><i class="question circle icon"></i> Forgot your password?</a>
    </div>

{% endblock %}
