{% extends "base.html" %}
{% block headtitle %} Metabarcode {% endblock %}
{% block title %} Log out {% endblock %}

{% block body %}

    <div class="ui raised segment">

        <div class="ui center aligned header">

            <i class="user icon"></i> Do you want to log out?

        </div>

        <form class="ui form " method="post" action="{% url 'logout' %}">

            <div class="ui centered card inputcolor">

                <div class="ui basic segment">

                    {% csrf_token %}
                    <div class="field">
                        <button class="ui primary button" type="submit"> <i class="sign out icon"></i> Log out</button>
                        <a class="ui right floated  button" href="/"><i class="home icon"></i>Home</a>
                    </div>

                </div>
            </div>

        </form>

    </div>

{% endblock %}
