{% extends "base.html" %}

{% block title %} Reset Password {% endblock %}

{% block body %}

    <div class="ui raised centered card">

        <div class="ui attached message">
            Enter email to reset password
        </div>

     <form class="ui form attached fluid segment" method="post">
        {% csrf_token %}
         <div class="field">
                {{ form.email.label_tag}}
                {{ form.email }}
        </div>
       {{ form.errors }}
        <button class="ui primary button" type="submit">Reset</button>
         <a class="ui right floated button" href="{% url 'login' %}">Cancel</a>
     </div>

</form>
{% endblock %}

