{% extends "base.html" %}
{% load engine_tags %}


{% block headtitle %} Profile {% endblock %}

{% block body %}


     <div class="ui center aligned vertical segment">
             <a class="ui mini button" href="{% url 'edit_profile'%}">
                <i class="write icon"></i>Edit profile
            </a>
                <a class="ui mini button" href="{% url 'recycle_bin' %}">
                <i class="trash icon"></i>Recycle Bin
            </a>
     </div>

        <div class="ui vertical basic segment">
                <div class="item">
                    <b>Email </b> : {{user.email}}
                 </div>
                 <div class="item">
                    <b>Name </b>: {{user.first_name}}
                 </div>
                {% if user.profile.is_moderator %}

                    <div class="item">
                        <div class="ui green label">
                            <i class="check circle icon"></i>Trusted Moderator</div>
                    </div>
        </div>
        <div class="ui vertical basic segment">
            {% recipes_moderate %}

        </div>
        {% endif %}

        <div class="ui vertical segment">
            <div class="ui small horizontal divider header">
                <i class="Database icon"></i>Projects
            </div>
            <div class="ui divided list">
                <div class="ui item">
                     <div class="ui tiny label">Owner Access</div>
                    <a href="{% url 'project_create' %}">Create a new project</a>
                </div>
                {% for access in user.access_set.all %}

                    <div class="ui item">
                        <div class="ui tiny label">{{ access.get_access_display }}</div>
                        <a href="{{ access.project.url }}">{{access.project}}</a>
                    </div>

                {% endfor %}
            </div>

        </div>


{% endblock %}
