{% extends "base.html" %}
{% load engine_tags %}


{% block headtitle %} Profile {% endblock %}

{% block body %}



        {% show_messages messages %}

        <div class="ui vertical basic segment">
                <div class="item">
                    <b>Username </b> : {{user.username }}
                </div>
                <div class="item">
                    <b>Email </b> : {{user.email}}
                 </div>
                 <div class="item">
                    <b>Name </b>: {{user.first_name}}
                 </div>
             {% if user.profile.is_moderator %}
                   <div class="ui vertical basic segment">
                        <div class="ui basic label">
                        <i class="check circle icon"></i>Trusted Moderator
                        </div>
                    </div>

            {% endif %}

         </div>
            {% if user.profile.is_moderator %}{% recipes_moderate cutoff=10 %}
            {% endif %}

        <div class="ui vertical segment">
            <div class="ui small horizontal divider header">
                <i class="Database icon"></i>Projects
            </div>


            {% get_projects user=user as projects %}
            {% list_view projects=projects %}




            {% if not projects %}
            <div class="ui warning message"><i class="ui warning circle icon"></i> No projects found.</div>
            {% endif %}
        </div>




{% endblock %}
