{% extends "profile_base.html" %}

{% load engine_tags %}
{% load forum_tags %}


{% block headtitle %}{{ user.profile.name }}{% endblock %}

{% block body %}


   <div class="ui center aligned basic segment">

        <div class="ui aligned large header"> {{ user.profile.get_role_display }}: {{ user.profile.name }}</div>
   </div>
<div class="ui horizontal segments">

        <div class="ui center aligned large segment">

            <div>
           {% gravatar user=user size=200 %}
            </div>

            <div><a href="{% url 'public_profile' user.profile.uid %}">{{user.profile.name}}</a>
                {{ user.profile.score |show_score_icon}}{{ user.profile.score | show_score |bignum }}</div>

        {% if can_moderate %}

        <a class="ui orange moderate-user profile label" data-value="{{user.profile.uid}}" mod-url="{% url 'user_moderate' user.profile.uid %}">
            Moderate</a>
             <div class="ui left aligned basic large segment" style="margin:0;padding:0;">
            <div id="mod-container-{{user.profile.uid}}"></div>
             </div>

        {% endif %}


        {% if allow_self_moderate and user == request.user %}
            {% if user.profile.is_moderator %}

            <a class="ui red profile label" href="{% url 'toggle_moderate' %}">
                <i class="cancel icon"></i> Stop being moderator
            </a>
            {% else %}

            <a class="ui green profile label" href="{% url 'toggle_moderate' %}">
                <i class="check icon"></i> Become a moderator
            </a>

            {% endif %}
        {% endif %}


            {% if user == request.user and user.is_superuser %}
                <a class="ui blue profile label"  href="{% url 'site_admin' %}">
                    <i class="dashboard icon"></i> Site Admin
                </a>
            {% endif %}

        {% if request.user.is_superuser %}

            <a class="ui profile label" href="{% url 'impersonate' %}?uid={{user.profile.uid}}">
                <i class="address card icon"></i> Impersonate
            </a>

        {% endif %}

        </div>

        <div class="ui large segment">
            {% if can_moderate or request.user == user %}
                {% if user.profile.email_verified %}<div class="ui top left attached basic green large label">
                <i class="check icon"></i> Email Verified</div>{% endif %}
            {% endif %}

            <div class="ui relaxed list">
            <div class="item">
            <b>Reputation</b>: {{ user.profile.score | show_score }}
            </div>
            <div class="item">
            <b>Status</b> : {{ user.profile.get_state_display }}
            </div>
            <div class="item">
            <b>Location</b> : {{ user.profile.location }}
            </div>

            {% if user.profile.last_login  %}
                <div class="item">
                <b>Last seen </b> : {{ user.profile.last_login |time_ago}}
                </div>
            {%  endif %}

            <div class="item">
                <b>Joined</b> : {{ user.profile.date_joined|time_ago }}

            </div>
            {%  if user == request.user %}
            <div class="item"> <b>Email</b> : {{ user.email }}</div>
            {% else %}
            <div class="item"> <b>Email</b> : {{ user |show_email }}</div>
            {% endif %}


            <div class="item"> <b>Handle</b> : {{ user.username }}
            </div>
            </div>

{%  if user == request.user %}


                 <a class="ui profile label" href="{% url 'edit_profile'%}">
                        <i class="write icon"></i>Edit profile
                    </a>

                <a class="ui profile label" href="{% url 'recycle_bin' %}">
                    <i class="trash icon"></i>Recycle Bin
                </a>

                {% if user.profile.notify %}
                    <a class="ui profile label" href="{% url 'toggle_notify' %}">
                        <i class="mail icon"></i>Disable Recipe Emails
                    </a>
                    {% else %}
                    <a class="ui profile label" href="{% url 'toggle_notify' %}">
                        <i class="mail icon"></i>Enable Recipe Emails
                    </a>
                {% endif %}

                 {% if user.profile.notify %}
                  <div class="ui vertical basic segment">
                    Email notifications are <b>enabled</b>. You will receive an email every time your recipe has finished running.
                  </div>
                 {% endif %}



        {% endif %}
        </div>


</div>

        {{ user.profile.html |safe }}


             <div class="ui vertical segment">
        <div class="ui top attached tabular large menu">

            <div class="{{ has_posts }} item">
                <a href="{% url "public_profile" user.profile.uid %}?{{ const_name }}={{ const_post }}">
                    Posts
                </a>

            </div>

            <div class="{{ has_projects }} item">

            <a href="{% url "public_profile" user.profile.uid %}?{{ const_name }}={{ const_project }}">
               Projects
            </a>

            </div>

            {% if user.profile.is_manager and user == request.user %}
                <div class="{{ has_recipes }} item">

                    <a href="{% url "public_profile" user.profile.uid %}?{{ const_name }}={{ const_recipes }}">
                       Recipes to Manage
                    </a>

                </div>

            {%  endif %}

        </div>
<div class="ui bottom attached segment">
        {% if has_posts %}


            {% get_posts user=user request=request as posts %}
            {% pages objs=posts request=request  %}

            <div class="ui small relaxed divided list">
                {% listing posts=posts side_image=True %}
            </div>
            {% if not posts %}
            <div class="ui warning message"><i class="ui warning circle icon"></i> No posts found.</div>
            {% endif %}
            {% pages objs=posts request=request %}


        {% elif has_projects %}

            {% get_projects user=user request=request as projects %}

            {% pages objs=projects request=request %}
            {% list_view projects=projects %}

            {% if not projects %}
            <div class="ui warning message"><i class="ui warning circle icon"></i> No projects found.</div>
            {% endif %}
            {% pages objs=projects request=request %}


        {% elif has_recipes and user.profile.is_manager and user == request.user %}

             <div class="ui basic segment">
                {% recipes_moderate %}
            </div>
        {% endif %}
</div>
        </div>





{%  endblock %}