{% extends "base.html" %}
{% load engine_tags %}
{% block headtitle %}Welcome{% endblock %}


{% block body %}

    <div class="ui raised segment">
        <div class="ui center aligned header">

            <i class="add user icon"></i>Sign up

        </div>
        {% show_messages messages %}

        <form method="post" class="ui form attached fluid" action="{% url 'signup' %}">
            <div class="ui centered card inputcolor">

                <div class="ui basic segment">

                    {% csrf_token %}
                     <div class="field">
                          <label>Email</label>
                          {{ form.email }}
                     </div>

                     <div class="field">
                          <label>Password</label>
                          {{ form.password1 }}
                     </div>

                     <div class="field">
                          <label>Password Confirmation</label>
                          {{ form.password2 }}
                     </div>

                    {{ form.errors }}

                    <button type="submit" class="ui primary button">Sign up</button>
                    <a class="ui right floated button" href="/">Cancel</a>

                </div>
            </div>
        </form>

    </div>

{% endblock %}
