{% extends "profile_base.html" %}
{% load engine_tags %}
{% block headtitle %}Welcome{% endblock %}


{% block body %}


        <div class="ui center aligned header">

            <i class="add user icon"></i>Sign up

        </div>
        {% show_messages messages %}

        <form method="post" class="ui form attached fluid" action="{% url 'signup' %}">
            <div class="ui centered card inputcolor" style="width:400;">
                {% form_errors form %}
                <div class="ui basic segment">

                    {% csrf_token %}
                     <div class="field">
                          <label>Email</label>
                          {{ form.email }}
                     </div>

                     <div class="field">
                          <label>Password</label>
                          {{ form.password1 }}
                     </div>

                     <div class="field">
                          <label>Password Confirmation</label>
                          {{ form.password2 }}
                     </div>
                    <div class="field">
                        <label>Captcha</label>
                    <div class="g-recaptcha" data-sitekey="{{captcha_site_key}}"></div>

                    </div>

                    <button type="submit" class="ui primary button"><i class="check icon"></i>Sign up</button>
                    <a class="ui right floated button" href="/"><i class="cancel icon"></i>Cancel</a>

                </div>

            </div>
        </form>



{% endblock %}
