{% extends "accounts/profile_base.html" %}
{% load accounts_tags %}

{% block headtitle %}{{ target.profile.name }}{% endblock %}

{% block body %}


   {% if request.user.is_superuser and debugging %}
    <a class="ui tiny basic button" href="{% url 'debug_user' %}?uid={{ target.profile.uid }}">
        <i class="address card icon"></i> Log in as user
    </a>
{% endif %}

<div class="ui two column grid">

    <div class="column">
        <div class="ui centered card">

            <div class="image">
                <img class="ui centered image" src="{% gravatar user=target size=400 %}" >
            </div>

            <div class="content">
                 <a  class="header " href="{% url "user_profile" target.profile.uid %}">
                {{target.profile.name}}
                {% user_stats user=target %}
                </a>

                <div>
                    <b>Status</b> : {{ target.profile.get_state_display }}
                </div>

                <div>
                    <b>Location</b> : {{ target.profile.location }}
                </div>
                <div>
                    <b>Email</b> : {{ target|show_email:request.user }}
                </div>
                {% if target.profile.last_login %}
                    <div>
                        <b>Last seen </b> : {{ target.profile.last_login |time_ago }}
                    </div>
                {% endif %}

                <div>
                    <b>Joined</b> : {{ target.profile.date_joined|time_ago }}
                </div>

                <div>
                    <b>Handle</b>:@{{ target.username }}
                </div>
            </div>


            <div class="ui bottom attached buttons">

                {% if can_moderate %}
                    <div class="ui button moderate-user" data-value="{{ target.profile.uid }}"
                         mod-url="{% url 'user_moderate' target.profile.uid %}">
                      <i class="hand paper icon"></i>
                      Moderate
                    </div>
                {% endif %}

                {% if target == request.user %}
                    <a class="ui button" href="{% url 'edit_profile' %}">
                        <i class="write icon"></i>Edit
                    </a>
                {% endif %}

            </div>
                    {% if target == request.user and target.is_superuser %}
                <a class="ui blue button"  href="{% url 'site_admin' %}">
                    <i class="dashboard icon"></i> Site Admin
                </a>
            {% endif %}

            <div id="mod-container-{{ target.profile.uid }}"></div>

        </div>
    </div>

    <div class="column">
        {{ target.profile.html |safe }}
    </div>

            {% if can_moderate or request.user == target %}
                {% if target.profile.email_verified %}
                    <div class="ui top left attached basic green large label">
                        <i class="check icon"></i> Email Verified
                    </div>{% endif %}
            {% endif %}
</div>

{%  endblock %}
