{% extends "accounts/profile_base.html" %}
{% load engine_tags %}
{% load accounts_tags %}

{% block headtitle %}{{ target.profile.name }}{% endblock %}

{% block body %}


   <div class="ui center aligned basic segment">

        <div class="ui aligned large header"> {{ target.profile.get_role_display }}: {{ target.profile.name }}</div>
   </div>
<div class="ui horizontal segments no-shadow">

        <div class="ui center aligned large segment">

            <div>
           <img class="ui centered image" src="{% gravatar user=target size=200 %}">
            </div>

            <div><a href="{% url "user_profile" target.profile.uid %}">{{target.profile.name}}</a>
                {{ target |show_score_icon}}{{ target.profile.score | show_score |bignum }}</div>

        {% if can_moderate %}

        <a class="ui orange moderate-user profile label" data-value="{{target.profile.uid}}" mod-url="{% url 'user_moderate' target.profile.uid %}">
            Moderate</a>
             <div class="ui left aligned basic large segment" style="margin:0;padding:0;">
            <div id="mod-container-{{target.profile.uid}}"></div>
             </div>

        {% endif %}


            {% if target == request.user and target.is_superuser %}
                <a class="ui blue profile label"  href="{% url 'site_admin' %}">
                    <i class="dashboard icon"></i> Site Admin
                </a>
            {% endif %}

        {% if request.user.is_superuser and debugging %}

            <a class="ui profile label" href="{% url 'debug_user' %}?uid={{target.profile.uid}}">
                <i class="address card icon"></i> Log in as user
            </a>

        {% endif %}

        </div>

        <div class="ui large segment">
            {% if can_moderate or request.user == target %}
                {% if target.profile.email_verified %}<div class="ui top left attached basic green large label">
                <i class="check icon"></i> Email Verified</div>{% endif %}
            {% endif %}

            <div class="ui relaxed list">
            <div class="item">
            <b>Reputation</b>: {{ target.profile.score | show_score }}
            </div>
            <div class="item">
            <b>Status</b> : {{ target.profile.get_state_display }}
            </div>
            <div class="item">
            <b>Location</b> : {{ target.profile.location }}
            </div>

            {% if target.profile.last_login  %}
                <div class="item">
                <b>Last seen </b> : {{ target.profile.last_login |time_ago}}
                </div>
            {%  endif %}

            <div class="item">
                <b>Joined</b> : {{ target.profile.date_joined|time_ago }}

            </div>
            {%  if target == request.user %}
                <div class="item"> <b>Email</b> : {{ target.email }}</div>
            {% else %}
                <div class="item"> <b>Email</b> : {{ target |show_email }}</div>
            {% endif %}


            <div class="item"> <b>Handle</b> : <a href="#">@{{ target.username }}</a>
            </div>
            </div>

    {%  if target == request.user %}


                     <a class="ui profile label" href="{% url 'edit_profile'%}">
                            <i class="write icon"></i>Edit profile
                        </a>

                    <a class="ui profile label" href="{% url 'recycle_bin' %}">
                        <i class="trash icon"></i>Recycle Bin
                    </a>

                    {% if target.profile.notify %}
                        <a class="ui profile label" href="{% url 'toggle_notify' %}">
                            <i class="mail icon"></i>Disable Recipe Emails
                        </a>
                        {% else %}
                        <a class="ui profile label" href="{% url 'toggle_notify' %}">
                            <i class="mail icon"></i>Enable Recipe Emails
                        </a>
                    {% endif %}

                     {% if target.profile.notify %}
                      <div class="ui vertical basic segment">
                        Email notifications are <b>enabled</b>. You will receive an email every time your recipe has finished running.
                      </div>
                     {% endif %}



    {% endif %}
        </div>
        </div>

        {{ target.profile.html |safe }}
        {% activate 'projects' active as active_projects %}
        {% activate 'posts' active  as active_posts %}

{%  endblock %}
