


.answered {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #75845C;
    color: #FFFFFF;
}
.answered-accepted {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #75845C;
    color: #E1E818;
}
.unanswered {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #8F2C47;
    color: #FFFFFF;
}

.votes {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    height: 38px;
    margin: 0 3px 0 0;
    padding: 5px;
    width: 38px;
}



body {
    font-size: 100%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body
{
	line-height: 1;
}
ol,ul
{
	list-style: none;
}
blockquote,q
{
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after
{
	content: '';
	content: none;
}
ins
{
	text-decoration: none;
}
del
{
	text-decoration: line-through;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
.sprite-badge-earned-small
{
	background-position: 0 0;
	height: 23px;
	width: 24px;
}
.sprite-checkmark-small
{
	background-position: 0 -26px;
	height: 23px;
	width: 24px;
}
.sprite-comment-del-hover
{
	background-position: 0 -52px;
	height: 14px;
	width: 14px;
}
.sprite-comment-del
{
	background-position: 0 -69px;
	height: 14px;
	width: 14px;
}
.sprite-comment-flag-hover
{
	background-position: 0 -86px;
	height: 14px;
	width: 14px;
}
.sprite-comment-flag
{
	background-position: 0 -103px;
	height: 14px;
	width: 14px;
}
.sprite-comment-up-hover
{
	background-position: 0 -120px;
	height: 14px;
	width: 14px;
}
.sprite-comment-up
{
	background-position: 0 -137px;
	height: 14px;
	width: 14px;
}
.sprite-grippie
{
	background-position: 0 -154px;
	height: 5px;
	width: 27px;
}
.sprite-replies-off
{
	background-position: 0 -162px;
	height: 10px;
	width: 15px;
}
.sprite-replies-on
{
	background-position: 0 -175px;
	height: 10px;
	width: 15px;
}
.sprite-vote-accepted-bounty
{
	background-position: 0 -188px;
	height: 40px;
	width: 39px;
}
.sprite-vote-accepted-on
{
	background-position: 0 -231px;
	height: 31px;
	width: 30px;
}
.sprite-vote-accepted
{
	background-position: 0 -265px;
	height: 31px;
	width: 30px;
}
.sprite-vote-arrow-down-on
{
	background-position: 0 -299px;
	height: 25px;
	width: 40px;
}
.sprite-vote-arrow-down-small
{
	background-position: 0 -327px;
	height: 10px;
	width: 17px;
}
.sprite-vote-arrow-down
{
	background-position: 0 -340px;
	height: 25px;
	width: 40px;
}
.sprite-vote-arrow-up-on
{
	background-position: 0 -368px;
	height: 25px;
	width: 40px;
}
.sprite-vote-arrow-up-small
{
	background-position: 0 -396px;
	height: 10px;
	width: 17px;
}
.sprite-vote-arrow-up
{
	background-position: 0 -409px;
	height: 25px;
	width: 40px;
}
.sprite-vote-favorite-off
{
	background-position: 0 -437px;
	height: 31px;
	width: 32px;
}
.sprite-vote-favorite-on
{
	background-position: 0 -471px;
	height: 31px;
	width: 32px;
}
#bootstrap-todo li
{
	background-position: 0 -26px;
}
#bootstrap-todo li.done
{
	background-position: 0 0;
}
.grippie
{
	background-position: 320px -152px;
}
body
{
	background: #fff;
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 80%;
	text-align: center;
}
code
{
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
textarea
{
	border: 1px solid #999;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size: 90%;
}
input,select,button
{
	border: 1px solid #999;
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 100%;
}
input
{
	margin: 5px 0 5px 0;
	padding: 3px;
}
pre
{
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	margin-bottom: 10px;
	max-height: 600px;
	overflow: auto;
	padding: 5px;
	padding-bottom: 20px!ie7;
	width: 650px!ie7;
	width: auto;
}
pre
{
	max-height: none\9;
}
blockquote
{
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 10px 0 1px 10px;
}
b,strong
{
	font-weight: bold;
}
i,em
{
	font-style: italic;
}
ul
{
	list-style: disc;
	margin-bottom: 1em;
	margin-left: 30px;
}
ol ul,ul ol,ul ul,ol ol
{
	margin-bottom: 0;
}
p
{
	clear: both;
	margin-bottom: 1em;
}
ol
{
	list-style: decimal;
	margin-bottom: 1em;
	margin-left: 30px;
}

a {
    color: #555555;
}

a:hover,#hlinks a,a.question-hyperlink,.user-info a,a.answer-hyperlink,.summary a,#user-menu a,.history-table a,.post-menu a,a.comments-link,.user-list a
{
	cursor: pointer;
	text-decoration: none;
}
a,#hlinks a:hover,a.question-hyperlink:hover,.user-info a:hover,a.answer-hyperlink:hover,.summary a:hover,#user-menu a:hover,#history-table a:hover,a.comments-link:hover,.user-list a:hover
{
	text-decoration: underline;
}
h1
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 170%;
	font-weight: bold;
	margin-bottom: 7px;
}
h2
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 7px;
}
h3
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 5px;
}
hr
{
	background-color: #aaa;
	border: 0;
	color: #aaa;
	height: 1px;
	margin-bottom: 20px;
}
sup
{
	font-size: 80%;
	position: relative;
	top: -0.4em;
}
sub
{
	font-size: 80%;
	position: relative;
	top: .3em;
}
kbd
{
	background: #eee;
	border-color: #ccc #aaa #888 #bbb;
	border-style: solid;
	border-width: 1px 3px 3px 1px;
	color: #000;
	padding: 2px 4px;
	white-space: nowrap;
}
.display-none
{
	display: none;
}
.date
{
	font: normal 28px Helvetica,sans-serif;
	height: 35px;
	letter-spacing: -2px;
	line-height: 35px;
	text-align: right;
	white-space: nowrap;
	width: 70px;
}
.date_brick
{
	float: right;
	font: Bold 12px Verdana,Sans-Serif;
	height: 30px;
	letter-spacing: 0;
	line-height: 12px;
	margin-left: 10px;
	overflow: hidden;
	padding-top: 5px;
	text-align: center;
	width: 45px;
}
.revcell1
{
	cursor: pointer;
	text-align: right;
	vertical-align: middle;
	width: 25px;
}
.revcell2
{
	color: #777;
	cursor: pointer;
	font-size: 250%;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	width: 50px;
}
.revcell3
{
	padding-top: 8px;
	vertical-align: top;
	width: 660px;
}
.revcell4
{
	padding: 5px;
	width: 185px;
}
.revcell5
{
	margin-left: 15px;
	margin-top: 10px;
	width: 800px;
}
.mini-counts
{
	font-size: 190%;
	font-weight: bold;
	height: 25px;
	vertical-align: middle;
}
.vt
{
	vertical-align: top;
}
.fw
{
	width: 100%;
}
.votecell
{
	vertical-align: top;
	width: 60px;
}
#answers
{
	clear: both;
	padding-top: 10px;
	width: 730px;
}
.answer
{
	border-bottom: 1px solid #aaa;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 730px;
}
.post-signature
{
	height: 58px;
	padding-left: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	width: 175px;
}
.item-multiplier
{
	color: #444;
	font-size: 120%;
	font-weight: bold;
	margin-right: 4px;
}
.reputation-score
{
	font-size: 120%;
	font-weight: bold;
	margin-right: 2px;
}
.relativetime
{
	font-weight: bold;
	text-decoration: none;
}
#notify-table
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 130%;
	font-weight: bold;
	left: 0;
	letter-spacing: -1px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.notify td
{
	background-color: #F4A83D;
	padding: 7px 0 7px 0;
	text-align: center;
}
notify
{
	width: 95%;
}
.notify-close a
{
	padding-left: 4px;
	padding-right: 4px;
}
.summaryinfo
{
	color: #808185;
	text-align: center;
}
.summarycount
{
	color: #808185;
	font-size: 350%;
	font-weight: bold;
	text-align: center;
}
.link-separator
{
	color: #ccc;
	font-size: 110%;
	margin: 0 2px 0 2px;
}
.post-taglist
{
	clear: both;
	margin-bottom: 10px;
}
.post-menu
{
	padding-top: 2px;
}
.post-menu a
{
	color: #888;
	padding: 0 3px 2px 3px;
}
.post-menu .link-separator
{
	margin: 0;
	padding: 0;
}
.post-menu a:hover
{
	background-color: #777;
	color: #fff;
	text-decoration: none;
}
.post-comments
{
	width: 660px;
}
.comments-container
{
	margin-top: 10px;
	padding-bottom: 10px;
}
.owner-answer .comments-container
{
	border-top: dotted 1px #9CBDD3;
}
.deleted-answer .comments-container
{
	border-top: dotted 1px #BCA5A5;
}
.accepted-answer .comments-container
{
	border-top: dotted 1px #AFD3A5;
}
.comments-link
{
	color: #888;
	padding: 0 3px 2px 3px;
}
.comments-link:hover
{
	background-color: #777;
	color: #fff;
	padding: 0 3px 2px 3px;
	text-decoration: none;
}
.comments
{
	color: #444;
	line-height: 135%;
}
.comments>table
{
	width: 100%;
}
tr.comment>td
{
	padding-bottom: 5px;
	padding-top: 5px;
}
.accepted-answer .comment>td
{
	border-bottom: dotted 1px #C4DEBC;
}
.deleted-answer .comment>td
{
	border-bottom: dotted 1px #CEBDBD;
}
.owner-answer .comment>td
{
	border-bottom: dotted 1px #BDD2E1;
}
tr.comment:last-child>td,.owner-answer .comment:last-child>td,.deleted-answer .comment:last-child>td,.accepted-answer .comment:last-child>td
{
	border-bottom: none;
}
.comment div
{
	vertical-align: middle;
}
div.comment-flag,div.comment-up,div.comment-delete
{
	cursor: pointer;
	visibility: hidden;
}
.comment-score
{
	vertical-align: top;
}
.comment-actions
{
	padding-left: 3px;
	vertical-align: top;
	width: 15px;
}
.comment-score span
{
	font-size: 110%;
	font-weight: bold;
	padding-right: 2px;
	vertical-align: middle;
}
.comment-text
{
	padding: 0 6px 0 7px;
	vertical-align: text-top;
}
.comment-delete-container
{
	width: 14px;
}
a.comment-user,a.comment-user:hover
{
	background-color: inherit;
	padding: 0;
	white-space: nowrap;
}
a.comment-user:hover
{
	text-decoration: underline;
}
a.comment-user+img
{
	vertical-align: baseline!important;
}
.comment-date
{
	color: #999;
}
.post-comments>table
{
	margin-right: 5px;
	margin-top: 5px;
	text-align: left;
	vertical-align: top;
}
.post-comments input
{
	margin-left: 5px;
	margin-top: 1px;
	vertical-align: top;
	width: 100px;
}
.post-comments textarea
{
	height: 5em;
	margin-bottom: 4px;
}
.text-counter
{
	margin-right: 20px;
}
.deleted-post
{
	color: #B65454!important;
	font-weight: bold!important;
}
.deleted-answer-info
{
	color: #B65454;
	margin-left: 3px;
	margin-top: 10px;
}
.deleted-post:hover
{
	background-color: #B65454!important;
	color: #fff!important;
}
.search-highlight
{
	font-weight: bold;
}
.page-description
{
	font-size: 120%;
	line-height: 120%;
	margin: 1.2em 1.2em .5em 1.2em;
}
#footer
{
	clear: both;
	margin-top: 30px;
	overflow: hidden;
	padding: 15px;
}
#footer-menu
{
	color: #999;
	float: left;
	font-size: 100%;
	line-height: 30px;
}
#footer-menu a
{
	color: #fff;
}
#footer-flair
{
	float: right;
	margin-left: 12px;
}
#svnrev
{
	margin-top: 5px;
	text-align: right;
}
#copyright
{
	clear: both;
}
#copyright a
{
	color: #444;
	text-decoration: underline;
}
.content-page
{
	color: #333;
	font-size: 120%;
	line-height: 1.2;
	margin: 1.2em;
}
.user-list
{
	float: left;
	height: 21px;
	margin-right: 10px;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
	width: 225px;
}
.user-name
{
	float: left;
	width: 125px;
}
.user-flair
{
	float: left;
}
.user-info
{
	height: 35px;
	width: 185px;
}
.user-info .user-gravatar32
{
	float: left;
	height: 32px;
	width: 32px;
}
.user-info .user-action-time
{
	margin-bottom: 4px;
	margin-top: 2px;
}
.user-info .user-details
{
	float: left;
	margin-left: 5px;
	overflow: hidden;
	white-space: nowrap;
	width: 145px;
}
.user-details
{
	line-height: 17px;
}
#revisions
{
	margin-left: 20px;
	margin-top: 20px;
}
.revision td
{
	background-color: #eee;
}
.vote-revision td
{
	background-color: #ddd;
}
.owner-revision td
{
	background-color: #E0EAF1;
}
.revision-comment
{
	line-height: 1.4;
	padding: 3px;
}
.form-item
{
	position: relative;
}
#markdown-help
{
	left: 520px;
	position: absolute;
	top: 20px;
}
.openid-identifier
{
	background: url(/Content/Img/openid-large.png) center left no-repeat;
	height: 22px;
	line-height: 22px;
	padding-left: 32px;
}
#answers-header
{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 730px;
}
#question-header
{
	border-bottom: 1px solid #555;
	margin-bottom: 20px;
	width: 960px;
}
#question-header h2
{
	font-size: 180%;
}
#user-about-me
{
	height: 200px;
	line-height: 120%;
	margin: 10px;
	overflow: auto;
	padding: 10px;
	width: 90%;
}
.answer-votes
{
	float: left;
	font-size: 110%;
	font-weight: bold;
	height: 15px;
	padding: 4px;
	padding-bottom: 5px;
	text-align: center;
	text-decoration: none;
	width: 20px;
}
.answer-hyperlink
{
	font-weight: bold;
}
.question-hyperlink
{
	font-weight: bold;
}
.answer-link
{
	color: #555;
	float: left;
	margin-top: 5px;
	padding-left: 10px;
	width: 700px;
}
.answer-link a
{
	font-weight: bold;
}
.answer-summary
{
	clear: both;
	padding: 3px;
}
.answer-paging
{
	clear: both;
	height: 30px;
	margin-bottom: 5px;
}
.user-details td
{
	color: Black;
	padding: 4px 0 4px 0;
}
.bounty-indicator
{
	background-color: #07D;
	color: #fff;
	float: left;
	font-size: 90%;
	font-weight: bold;
	margin-right: 5px;
	moz-border-radius: 3px;
	padding: 2px 5px 2px 4px;
	webkit-border-radius: 3px;
}
.bounty-indicator-tab
{
	background-color: #07D;
	color: #fff;
	display: inline-block;
	font-size: 90%;
	font-weight: bold;
	margin-left: -4px;
	margin-right: 5px;
	moz-border-radius: 3px;
	padding: 0 4px;
	webkit-border-radius: 3px;
}
.question-status
{
	clear: both;
	line-height: 180%;
	margin-bottom: -5px;
	margin-top: 15px;
	padding: 8px 8px 8px 0;
	padding-bottom: 4px;
	width: 717px;
}
.answer-title
{
	color: #bbb;
}
.answer-title:visited
{
	color: #bbb;
}
.history-table
{
	line-height: 125%;
	margin-bottom: 10px;
}
.history-table span.revision-comment
{
	line-height: 180%;
}
.history-table td
{
	padding: 0 5px 5px 0;
	vertical-align: middle;
}
.history-table p
{
	margin-bottom: 10px;
	margin-top: 3px;
}
#noscript-warning
{
	background-color: #AE0000;
	color: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 120%;
	font-weight: bold;
	left: 0;
	padding: 5px 0 5px 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 101;
}
#noscript-padding
{
	padding-top: 3.5em;
}
.container
{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	zoom: 1;
}
#hsearch .textbox
{
	background: url(/static/img/search.png) center left no-repeat;
	background-color: #fff;
	border: none;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 0;
	max-width: 230px;
	padding-left: 16px;
}

#header
{
	height: 103px;
	width: 100%;
}
#header #topbar
{
	background-color: #eee;
	float: right;
	height: 30px;
	line-height: 22px;
	moz-border-radius-bottomleft: 3px;
	moz-border-radius-bottomright: 3px;
	padding: 3px 10px 0 10px;
	webkit-border-radius-bottom-left: 3px;
	webkit-border-radius-bottom-right: 3px;
	width: auto;
}
#header #hlogo
{
	float: left;
	height: 61px;
	width: 250px;
}
#header #hmenus
{
	float: left;
	padding: 34px 0 20px 5px;
	width: 705px;
}
#header #topbar #hlinks
{
	float: left;
	margin: 0 35px 0 0;
}
#hlinks a
{
	font-weight: bold;
}
#hlinks .admin-bootstrap a
{
	font-weight: normal;
}
#header #topbar #hsearch
{
	float: left;
}
#system-message
{
	clear: both;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 7px;
	text-align: center;
}
.nav
{
	float: left;
	font-size: 125%;
}
.nav ul
{
	margin: 0;
}
.nav li
{
	display: block;
	float: left;
	margin-right: 7px;
}
.nav a
{
	display: block;
	font-weight: bold;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
}
.nav a:hover
{
	text-decoration: none;
}
#sidebar
{
	float: right;
	margin-bottom: 60px;
	overflow: hidden;
	width: 220px;
}
#sidebar.wide
{
	width: 270px;
}
#mainbar
{
	float: left;
	margin-bottom: 40px;
	width: 735px;
}
#mainbar-full
{
	width: 960px;
}
#mainbar-footer
{
	clear: both;
	width: 100%;
}
#feed-link
{
	float: right;
	text-align: right;
}
#feed-link a
{
	color: #777;
}
#feed-link-image
{
	float: left;
	margin-left: 12px;
	margin-right: 5px;
}
#feed-link-text
{
	float: left;
}
#subheader
{
	border-bottom: 1px solid #666;
	clear: both;
	height: 34px;
}
#subheader h2
{
	float: left;
	font-size: 170%;
	line-height: 34px;
	margin-bottom: 0;
}
#subheader a
{
	color: #000;
}
#tabs
{
	float: right;
	font-weight: bold;
}
#tabs a
{
	background: #eee;
	border: 1px solid #eee;
	color: #777;
	display: block;
	float: left;
	font-size: 90%;
	height: 24px;
	line-height: 22px;
	margin: 8px 8px 0 0;
	padding: 0 11px 0 11px;
	text-decoration: none;
}
#tabs a:hover
{
	background: #fff;
	border: 1px solid #777;
	border-bottom-color: #fff;
	line-height: 20px;
	margin-top: 9px;
}
#tabs a.youarehere
{
	font-size: 120%;
	height: 30px;
	line-height: 28px;
	margin-top: 3px;
	padding: 0 11px;
}
.tabs-question-user,.tabs-answer-user,.tabs-favorite-user
{
	float: right;
	font-weight: bold;
	width: 100%;
}
.recent-activity
{
	font-weight: bold;
}
.tabs-question-user a,.tabs-answer-user a,.tabs-favorite-user a,.recent-activity a
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 120%;
	margin-right: 3px;
	padding: 1px 4px 3px;
	text-decoration: none;
}
.tabs-question-user a,.tabs-answer-user a,.tabs-favorite-user a
{
	display: block;
	float: right;
}
.tabs-question-user a.youarehere,.tabs-answer-user a.youarehere,.tabs-favorite-user a.youarehere
{
	background-color: #808185;
	border: 1px solid #808185;
	color: #fff;
	font-weight: bold;
}
.question-summary
{
	border-bottom: 1px dotted #999;
	float: left;
	overflow: hidden;
	padding: 11px 0;
	width: 730px;
}
#question
{
	clear: both;
	width: 730px;
}
#questions
{
	clear: both;
	float: left;
	width: 730px;
}
.stats
{
	margin: 0 0 0 7px;
	padding: 4px 7px 6px 7px;
	width: 58px;
}
.statscontainer
{
	float: left;
	margin-right: 8px;
	width: 86px;
}
.narrow .stats
{
	background: none;
	float: left;
	height: 48px;
	margin: 0 0 0 7px;
	padding: 0;
	width: auto;
}
.votes
{
	padding: 0 0 7px 0;
	text-align: center;
}
.narrow .votes
{
	float: left;
	height: 38px;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 38px;
}



.vote-count-post
{
	display: block;
	font-size: 240%;
}
.views
{
	padding-top: 4px;
	text-align: center;
	color: #858585;
}
.narrow .views
{
	float: left;
	height: 38px;
	margin: 0 7px 0 0;
	padding: 5px 0 5px 4px;
	width: 40px;
}
.views strong
{
	display: block;
}
.status
{
	margin-top: -3px;
	padding: 4px 0 4px;
	text-align: center;
}
.narrow .status
{
	float: left;
	height: 38px;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 48px;
}
.status strong
{
	display: block;
	font-size: 240%;
}
.summary
{
	float: left;
	width: 635px;
}
.excerpt .started
{
	float: right;
	height: 55px;
	margin-top: 5px;
	width: 185px;
}
.excerpt .tags
{
	margin-top: 5px;
	width: 410px;
}
.summary h3
{
	font-size: 130%;
}
.narrow .summary
{
	width: 550px;
}
.excerpt
{
	line-height: 1.2;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}
.excerpt p
{
	margin-bottom: 3px;
}
.tags
{
	float: left;
	line-height: 18px;
}
.tags a:hover
{
	text-decoration: none;
}
.started
{
	color: #999;
	float: right;
	line-height: 18px;
	width: 185px;
}
.narrow .started
{
	line-height: inherit;
	padding-top: 4px;
	white-space: nowrap;
	width: auto;
}
.started a
{
	font-weight: bold;
}
.started img
{
	vertical-align: baseline;
}
.started .reputation-score
{
	margin-left: 1px;
}
.mod-flair
{
	color: #07C;
	font-size: 140%;
	font-weight: bold;
	margin-left: 3px;
}
.module
{
	margin-bottom: 10px;
	padding: 8px 8px 2px 8px;
}
.module p.label-key
{
	color: #444;
	margin-bottom: 0;
}
.module p.label-value
{
	color: #444;
	font-size: 140%;
	font-weight: bold;
}
.module .spacer
{
	margin-bottom: 8px;
}
.module h4
{
	font-size: 130%;
	line-height: 1.4;
	padding-bottom: 7px;
}
.module-warning
{
	background-color: #8E1609;
	color: #fff;
}
.module-warning h4
{
	color: #fff;
}
.newuser
{
	font-weight: bold;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
.newuser h4
{
	color: #AE0000;
}
.newuser a
{
	color: #735005;
}
.module p
{
	font-size: 120%;
	line-height: 1.3;
	margin-bottom: .5em;
}
.module ul
{
	font-size: 120%;
	line-height: 120%;
	list-style-type: square;
	margin-left: 15px;
	margin-right: 30px;
}
.module li
{
	margin-bottom: 4px;
}
#recent-tags .post-tag
{
	border: none;
	font-size: 100%;
	margin: 0;
}
#recent-tags .post-tag:hover
{
	border: none;
	margin: 0;
	text-decoration: underline;
}
#recent-tags .pop1
{
	font-weight: bold;
}
#recent-tags .pop2
{
	font-size: 110%;
	font-weight: bold;
}
.vote
{
	text-align: center;
	vertical-align: middle;
}
.vote span
{
	display: block;
	font-weight: bold;
}
.vote .vote-accepted,.vote .vote-favorite,.vote .vote-up,.vote .vote-down
{
	cursor: pointer;
}
.vote-favorite
{
	margin-bottom: 5px;
}
.favoritecount
{
	margin-top: -5px;
	text-align: center;
}
.favorites-count
{
	float: left;
	margin-top: 13px;
	text-align: center;
}
.favorites-count-off
{
	float: left;
	margin-top: 13px;
	text-align: center;
}
.user-stats-table .question-summary
{
	width: 800px;
}
.user-stats-table .summary
{
	width: 600px;
}
#favorites-list .question-summary
{
	width: 900px;
}
#favorites-list .summary
{
	width: 700px;
}
.post-text
{
	font-size: 107%;
	line-height: 130%;
	margin-bottom: 5px;
	margin-right: 5px;
	width: 660px;
}
.post-text hr
{
	background-color: #ddd;
	color: #ddd;
}
#wmd-preview img
{
	max-width: 640px;
}
.post-text img
{
	max-width: 640px;
}
form hr
{
	border: 1px solid #ccc;
	text-align: left;
	width: 100%;
}
.form-item
{
	padding: 10px 0 15px 0;
}
.form-submit
{
	display: block;
	padding: 10px 0 15px 0;
}
.form-submit input
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 130%;
	font-weight: bold;
	margin: 3px;
	padding: 2px;
}
.form-item label
{
	color: #333;
	display: block;
	font-size: 115%;
	font-weight: bold;
	padding-bottom: 3px;
}
span.form-error
{
	font-size: 90%;
	font-weight: normal;
	margin-left: 5px;
}
p.form-error,div.form-error
{
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px;
}
.form-error ul
{
	margin-bottom: 0;
}
.password-field
{
	width: 280px;
}
.field-error
{
	border: 1px solid red;
}
div.form-item-info
{
	color: #777;
	padding: 4px 0 4px 4px;
	width: 80%;
}
#post-editor
{
	width: 660px;
}
.community-option
{
	float: right;
	font-size: 90%;
	font-weight: normal;
	height: 32px;
}
.community-option input,.community-option label
{
	vertical-align: middle;
}
#wmd-container>span.form-error
{
	display: none;
	line-height: 180%;
}
#post-editor-hidden
{
	display: none;
}
.page-sizer
{
	display: block;
	float: left;
	margin-bottom: 30px;
	margin-top: 5px;
	padding-top: 5px;
}
.pager
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.page-numbers
{
	display: block;
	float: left;
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 130%;
	margin-right: 3px;
	padding: 4px 4px 3px;
	text-decoration: none;
}
.page-numbers.desc
{
	border: none;
}
.page-numbers:hover
{
	text-decoration: none;
}
.page-numbers.current
{
	font-weight: bold;
}
.vote-notification,.error-notification
{
	cursor: pointer;
	display: none;
	padding: 15px;
	position: absolute;
	z-index: 1;
}
.vote-notification li
{
	font-size: 110%;
	padding-top: 3px;
}
.system-alert
{
	background-color: #AE0000;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 5px;
}
.system-alert a
{
	color: #fff;
	text-decoration: underline;
}
.flag-menu
{
	cursor: default;
	width: 22em;
}
.flag-reasons
{
	padding: 10px 0 15px 15px;
}
.flag-reasons input
{
	border: none;
	cursor: pointer;
}
.flag-reasons label
{
	cursor: pointer;
	margin-left: .5em;
}
.flag-reasons textarea
{
	margin-top: 4px;
}
.flag-comment
{
	display: none;
	margin-top: 15px;
}
.flag-cancel,.close-cancel
{
	float: left;
	font-size: 110%;
}
.flag-submit,.close-submit
{
	display: none;
	float: right;
	font-size: 110%;
}
.close-reason
{
	font-weight: bold;
}
.existing-linked-questions
{
	margin: 17px 0 10px 0;
}
.existing-linked-questions p
{
	color: #bbb;
	font-weight: bold;
}
.existing-linked-questions li
{
	list-style: none;
	margin-bottom: 7px;
}
.existing-linked-questions a
{
	color: #ddd;
	margin-left: 20px;
}
.vote-notification a,.error-notification a
{
	text-decoration: underline;
}
.post-tag
{
	font-size: 90%;
	line-height: 2.2;
	margin: 2px 2px 2px 0;
	padding: 3px 4px 3px 4px;
	text-decoration: none;
	white-space: nowrap;
}

.post-tag {
    background-color: #ECECEC;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    color: #6B3E4A;
    font-weight: bold;
}

.post-tag:hover
{
	text-decoration: none;
}
.badge
{
	background-color: #333;
	border: 1px solid #333;
	color: #fff!important;
	color: #fff;
	line-height: 1.9;
	margin: 0 3px 3px 0;
	moz-border-radius: 6px;
	padding: 4px 8px 4px 3px;
	text-decoration: none;
	webkit-border-radius: 6px;
}
.badge:hover
{
	background-color: #555;
	border: 1px solid #555;
	text-decoration: none;
}
.badge1
{
	color: #FC0;
	font-size: 120%;
	margin-left: 3px;
}
.badge2
{
	color: #C0C0C0;
	font-size: 120%;
	margin-left: 3px;
}
.badge3
{
	color: #C96;
	font-size: 120%;
	margin-left: 3px;
}
.badgecount
{
	color: #808185;
	padding-left: 1px;
}
.diff-delete
{
	color: #FF5F5F;
	text-decoration: line-through;
}
.diff-add
{
	background: #97FF97;
}
.grippie
{
	background-attachment: scroll;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 0 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}
.tagged-ignored
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: .5;
}
.tagged-ignored-hidden
{
	display: none;
}
#interestingAdd,#ignoredAdd
{
	height: 27px;
	margin-left: 5px;
}
#interestingTag,#ignoredTag
{
	height: 19px;
}
.moderator-visible
{
	color: Maroon;
}
.everyonelovesstackoverflow
{
	margin-bottom: 8px;
}
.welovestackoverflow
{
	border: 3px solid #eee;
	color: #333;
	line-height: 130%;
	margin-bottom: 8px;
	overflow: hidden;
	padding: 5px;
}
#question-suggestions
{
	overflow: hidden;
}
.ac_results
{
	background-color: #fff;
	border: 1px solid #777;
	overflow: hidden;
	padding: 0;
	text-align: left;
	z-index: 99999;
}
.ac_highlight
{
	font-weight: bold;
	text-decoration: underline;
}
.ac_results ul
{
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	width: 100%;
}
.ac_results li
{
	cursor: default;
	display: block;
	font-family: Trebuchet MS,Helvetica,sans-serif;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 2px 5px;
}
.ac_loading
{
	background: #fff url(/Content/Img/loading-spinner.gif) right center no-repeat;
}
.ac_over
{
	background-color: #f90;
	color: #fff;
	font-family: 'Trebuchet MS',Helvetica,sans-serif;
}
.str
{
	color: maroon;
}
.kwd
{
	color: #00008B;
}
.com
{
	color: gray;
}
.typ
{
	color: #2B91AF;
}
.lit
{
	color: maroon;
}
.pun
{
	color: black;
}
.pln
{
	color: black;
}
.tag
{
	color: maroon;
}
.atn
{
	color: red;
}
.atv
{
	color: blue;
}
.dec
{
	color: purple;
}
@media print
{
	.str
	{
		color: #060;
	}
	.kwd
	{
		color: #006;
		font-weight: bold;
	}
	.com
	{
		color: #600;
		font-style: italic;
	}
	.typ
	{
		color: #404;
		font-weight: bold;
	}
	.lit
	{
		color: #044;
	}
	.pun
	{
		color: #440;
	}
	.pln
	{
		color: #000;
	}
	.tag
	{
		color: #006;
		font-weight: bold;
	}
	.atn
	{
		color: #404;
	}
	.atv
	{
		color: #060;
	}
}
#wmd-button-bar
{
	background-color: #fff;
	clear: both;
	float: left;
	margin: .25em 0;
	margin: 0;
	padding: 5px;
	width: 656px;
}
#wmd-input
{
	height: 240px;
	line-height: 1.2;
	padding: 3px;
	width: 660px;
}
#wmd-preview
{
	clear: both;
	font-size: 107%;
	line-height: 130%;
	margin-top: 14px;
	padding: 3px;
	width: 660px;
}
#wmd-preview blockquote
{
	margin-left: 2px;
}
#wmd-preview pre
{
	margin-left: 2px;
}
#wmd-button-row
{
	height: 20px;
	margin: 0;
	padding: 0;
	position: relative;
}
#wmd-bold-button
{
	margin-left: 0;
}
#wmd-help-button
{
	margin-right: 0;
}
.wmd-spacer
{
	background-color: Silver;
	display: inline-block;
	height: 20px;
	list-style: none;
	margin-left: 14px;
	position: absolute;
	width: 1px;
}
.wmd-button
{
	background-image: url(/Content/Img/wmd-buttons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	width: 20px;
}
.wmd-button>a
{
	display: inline-block;
	height: 20px;
	margin-left: 2px;
	margin-right: 5px;
	position: absolute;
	width: 20px;
}
#wmd-button-bar #wmd-bold-button
{
	background-position: 0 0;
	left: 0;
}
#wmd-button-bar #wmd-italic-button
{
	background-position: -20px 0;
	left: 25px;
}
#wmd-button-bar #wmd-spacer1
{
	left: 50px;
}
#wmd-button-bar #wmd-link-button
{
	background-position: -40px 0;
	left: 75px;
}
#wmd-button-bar #wmd-quote-button
{
	background-position: -60px 0;
	left: 100px;
}
#wmd-button-bar #wmd-code-button
{
	background-position: -80px 0;
	left: 125px;
}
#wmd-button-bar #wmd-image-button
{
	background-position: -100px 0;
	left: 150px;
}
#wmd-button-bar #wmd-spacer2
{
	left: 175px;
}
#wmd-button-bar #wmd-olist-button
{
	background-position: -120px 0;
	left: 200px;
}
#wmd-button-bar #wmd-ulist-button
{
	background-position: -140px 0;
	left: 225px;
}
#wmd-button-bar #wmd-heading-button
{
	background-position: -160px 0;
	left: 250px;
}
#wmd-button-bar #wmd-hr-button
{
	background-position: -180px 0;
	left: 275px;
}
#wmd-button-bar #wmd-spacer3
{
	left: 300px;
}
#wmd-button-bar #wmd-undo-button
{
	background-position: -200px 0;
	left: 325px;
}
#wmd-button-bar #wmd-redo-button
{
	background-position: -220px 0;
	left: 350px;
}
#wmd-button-bar #wmd-help-button
{
	background-position: -240px 0;
	right: 0;
}
.wmd-prompt-background
{
	background-color: Black;
}
.wmd-prompt-dialog
{
	background-color: #ddd;
	border-bottom: 3px solid #999;
	border-left: 3px solid #fff;
	border-right: 3px solid #999;
	border-top: 3px solid #fff;
}
@media print
{
	#sidebar,#nav,#tabs,#footer,#hmenus,#hlinks,.post-menu,.post-comments,.notify,#mainbar-footer,form,div.vote
	{
		display: none;
	}
}
#recent-badges td
{
	height: 32px;
	overflow: hidden;
	vertical-align: baseline;
	white-space: nowrap;
	width: 244px;
}
input.admin-button
{
	width: 5em;
}
th,td
{
	padding: .1em .5em 0 0;
}
table.admin-edit-table td
{
	height: 1.3em;
}
ul.undo
{
	list-style: none;
	margin: 0;
}
ul.undo>li
{
	padding: .5em 0 .5em 1em;
}
div.section
{
	padding: 0 0 1.5em 0;
}
#no-mods
{
	padding: 1em 0 0 0;
}
input#user-search
{
	width: 25em;
}
#moderator-add
{
	width: 5em;
}
h1
{
	font-size: 200%;
}
.user-stats-table
{
	margin-left: 50px;
}
.history-table td
{
	vertical-align: top;
}
.user-info
{
	margin-top: -3px;
}
.stats-div
{
	background-color: #eee;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	width: 550px;
}
.stats-table
{
	background-color: #eee;
	width: 100%;
}
.stats-table td
{
	padding-bottom: 5px;
	vertical-align: middle;
}
.stat-summary
{
	font-size: 140%;
}
.stat-counts
{
	color: #777;
	font-size: 150%;
	font-weight: bold;
	padding-right: 8px;
	text-align: right;
	width: 65px;
}
.select-date-range
{
	font-size: 140%;
	font-weight: bold;
}
.upvote
{
	float: left;
	font: 12px Verdana,Sans-Serif;
	height: 30px;
	letter-spacing: 0;
	line-height: 12px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	padding-top: 5px;
	text-align: center;
	width: 45px;
}
.downvote
{
	float: left;
	font: 12px Verdana,Sans-Serif;
	height: 30px;
	letter-spacing: 0;
	line-height: 12px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	padding-top: 5px;
	text-align: center;
	width: 45px;
}
.accept
{
	float: left;
	font: 12px Verdana,Sans-Serif;
	height: 30px;
	letter-spacing: 0;
	line-height: 12px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	padding-top: 5px;
	text-align: center;
	width: 45px;
}
.OpenIDUrl
{
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	width: 230px;
}
.post-comments span.form-error
{
	display: none!important;
}
.auth-field
{
	height: 28px;
	width: 580px;
}
form.password label
{
	font-weight: bold;
}
form.password p
{
	margin-bottom: .5em;
}
#account-recovery-form
{
	font-size: small;
}
.note
{
	font-size: small;
}
#recovery-actions
{
	padding: 5px;
	width: 361px;
}
#recover-it
{
	overflow: visible;
}
#bootstrap-todo li
{
	height: 23px;
	list-style-type: none;
	padding-left: 2em;
}
#bootstrap-todo
{
	margin-left: 0;
}
.progress-bar
{
	font-weight: bold;
	padding: .25em 0;
}
.progress-bar .progress-counter
{
	background: #FFE175 url(/StackExchange/Content/Img/progress-bar.png) repeat-x 0 -20px;
	border-right: 1px solid #D1D1D1;
	float: left;
	height: 14px;
}
.progress-bar .green .progress-counter
{
	background: #86DB67 url(/StackExchange/Content/Img/progress-bar.png) repeat-x 0 -40px;
	border-right: none;
}
.progress-bar .count
{
	font-size: 13px;
	padding: 0 2px;
	position: relative;
	text-align: right;
	top: -2px;
	top: -3px;
}
.progress-bar .progress
{
	background: #E2E2E2 url(/StackExchange/Content/Img/progress-bar.png) repeat-x 0 0;
	border: 1px solid #AFAFAF;
	height: 14px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
	width: 400px;
}
.bootstrap-section
{
	margin-bottom: 2.5em;
	margin-left: 2em;
	margin-top: 1em;
}
.bootstrap-progress
{
	font-weight: bold;
	text-align: right;
}
.bootstrap-progress td
{
	vertical-align: middle;
}
p.bootstrap-tip
{
	font-size: small;
	margin: .5em 0 0 0;
}
.bootstrap-progress .label
{
	width: 155px;
}
#usage-plot
{
	float: left;
	height: 400px;
	width: 650px;
}
#usage-details
{
	float: left;
	height: 400px;
	margin: 10px;
	overflow: auto;
	width: 280px;
}
#usage-details-date-label,#usage-details-pageviews-label
{
	font-weight: bold;
}
#usage-details-date-label,.usage-details-date
{
	padding: 5px 20px 5px 5px;
	text-align: right;
}
#usage-details-pageviews-label,.usage-details-pageviews
{
	padding: 5px;
}
#usage-date-selection
{
	margin-bottom: 20px;
	padding-left: 22px;
	vertical-align: top;
}
#usage-date-error
{
	color: red;
	display: none;
	font-weight: bold;
	padding-left: 100px;
}
.usage-helper-text
{
	font-size: 120%;
	line-height: 120%;
	padding: 10px 10px 10px 0;
}
#usage-statistics .recent-activity
{
	margin-bottom: 15px;
	margin-top: 15px;
}
#content-left
{
	float: left;
	margin-right: 20px;
	padding: 5px;
	width: 200px;
}
#content-right
{
	float: left;
	padding: 5px;
	width: 720px;
}
#content-left ul
{
	font-size: 110%;
	line-height: 140%;
	line-spacing: 100%;
	list-style: none;
	margin-left: 23px;
}
#content-left ul li
{
	padding: 0 7px;
}
#unpublished-changes-notification
{
	background-color: #FFFACD;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 7px;
	text-align: center;
}
.has-unpublished-changes
{
	background-color: #FFFACD;
}
#page-customization-section img
{
	margin-left: 1em;
	vertical-align: top;
}
.content-link-selected
{
	font-weight: bold;
}
#home-page-title-input,#home-page-description-textarea
{
	width: 500px;
}
#home-page-description-textarea
{
	font-family: Trebuchet MS,Helvetica,sans-serif;
	font-size: 100%;
	height: 50px;
	padding: 3px;
}
#site-settings-section .form-item-info
{
	margin-bottom: 1em;
	width: 100%;
}
#site-settings-section th,#directory-info-section th,#email-settings-section th
{
	font-weight: normal;
	width: 150px;
}
#home-page-description-label
{
	padding-top: 10px;
	vertical-align: top;
}
.email-settings-input
{
	width: 300px;
}

#header {
    height: 103px;
    width: 100%;
}

#logo {
    float: left;
    height: 61px;
    width: 250px;
}

#menus {
    float: left;
    padding: 34px 0 20px 5px;
    width: 705px;
}

ul {
    list-style: disc outside none;
    margin-bottom: 1em;
    margin-left: 30px;
}

.nav li {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #8F2C47;
}

.nav li a {
    color: #FFFFFF;
}

.nav li:hover {
    background-color: #FF7700;
}

.nav a {
    display: block;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

a:hover, #hlinks a, a.question-hyperlink, .user-info a, a.answer-hyperlink, .summary a, #user-menu a, .history-table a, .post-menu a, a.comments-link, .user-list a {
    cursor: pointer;
    text-decoration: none;
}

a, #hlinks a:hover, a.question-hyperlink:hover, .user-info a:hover, a.answer-hyperlink:hover, .summary a:hover, #user-menu a:hover, #history-table a:hover, a.comments-link:hover, .user-list a:hover {
    text-decoration: underline;
}

.topbar {
    background-color: #E4E4E4;
    color: #555555;
    padding: 0px 0px 0px 0px;
	vertical-align: baseline;
	line-height: 22px;
}

h1 {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 7px;
}

h2 {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 7px;
}

h3 {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 5px;
}