/*
|-------------------------
|  Global Styles         |
|-------------------------*/

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;
    color: #333333;
}

h1, h2, h3, h4 {
    font-family: Trebuchet MS,Helvetica,sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #333333;
}
h1 {
    font-size: 200%;
}

.shaded {
    background-color: #5B8C3C;
    color:white;
    padding:5px;
    margin-top:3px;
}

a, a:visited {
    color: #555555;
}

a:hover, a.question-title {
    cursor: pointer;
    text-decoration: underline;
    color:#585858;
}




/*
|-------------------------
|  Layout                 |
|-------------------------*/



#main {
    width: 960px;
    margin: 0 auto;
}

/* Headers */

#header{
    height: 105px;
    width: 100%;
}

#subheader {
    border-bottom: 1px solid #6D6D6D;
}

#topbar {
    background-color: #DEDEDE;
    float: right;
    padding: 5px;
}

#logo {
    float: left; 
}

#notify-container{
    height: 20px;
}

#notify{
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F4A83D;
}

/* Navigation */

#hmenus {
    float: left;
    padding: 34px 0 20px 5px;
    width: 705px;
}

.nav a {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 125%;
    background: none repeat scroll 0 0 #8F2C47;
}

.nav a:hover {
    background-color: #FF7700;
}

.nav .youarehere {
    background: none repeat scroll 0 0 #FF7700;
}

/* Mainbar */

#mainbar {
    float: left;
    width: 735px;
}

#mainbar-full{
    width: 960px;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 220px;
}

.module {
    background-color: #E4E4E4;
    color: #555555;
    margin-bottom: 10px;
    padding: 8px 8px 2px;
}

/* Footer */


#footer {
    margin: 0 auto;
    text-align: center;
    padding:5px;
}

#footer img {
    vertical-align: middle;
    border:0;

}

/* Utility */

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}


/*
|-------------------------
|  Common Elements        |
|-------------------------*/

.reputation-score {
    color: #444444;
    font-size: 120%;
    font-weight: bold;
    margin-right: 2px;
}

.bronze-badge, .silver-badge, .gold-badge {
    font-size: 120%;
    margin-left: 3px;    
}

.bronze-badge {
    color: #CC9966;
}

.silver-badge {
    color: #C0C0C0;    
}

.gold-badge {
    color: #FFCC00;    
}

.badge-count{
    color: #6D6D6D;
    padding-left: 1px;
}

.user-link {
  color: #8F2C47;
  font-weight: bold;
  font-size: 115%;
  text-decoration: none;
}

.mod-flair {
    font-size: 140%;
    color: #555555;
    font-weight: bold;
    margin-left: 3px;
}

/*
|-------------------------
|  Question List          |
|-------------------------*/

/* Alignment tables */
.question-summary {
    width: 730px;
    border-bottom: 1px dotted #6D6D6D;
    padding-top: 11px;
    padding-bottom: 11px;
    float: left;
    line-height: 1;
}


/* Votes/answers/views boxes */

.status, .votes, .views {
    float: left;
    width: 38px;
    height: 38px;
    margin: 0 3px 0 0;
    padding: 5px;
    text-align: center;
}

.status{
    width: 48px;
}

.answered {
    background-color: #75845C;
    color: #FFFFFF;
}

.unanswered {
    background-color: #8F2C47;
    color: #FFFFFF;
}
.answered-accepted {
    background-color: #75845C;
    color: #E1E818;
}

.votes {
    background: none repeat scroll 0 0 #EEEEEE;
}


.views {
    color: #666666;
}

.mini-counts
{
    font-size: 190%;
    font-weight: bold;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}

/* Summary */

.summary {
    float: left;
    width: 550px;
}

.summary a {
    text-decoration: none;
}

.summary h3{
    font-size: 130%;
    margin-top: 0;

}

.started {
    color: #858585;
}

.relativetime {
    font-weight: bold;
}

.started a{
    font-weight: bold;
}


/*
|-------------------------
|  Question Detail Page  |
|-------------------------*/

/* Headers */

#answers-header {
    border-bottom: 1px solid #6D6D6D;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 730px;
}

/* Alignment tables / general formatting */


#question tr td, .answer tr td{
    vertical-align: top;
}

.answer{
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 730px;
}

#question {
    margin-top: 20px;
    width: 730px;
}

.post-text {
    margin-bottom: 5px;
    width: 660px;
}

/* Tags */

.tags {
    margin-bottom: 10px;
    line-height: 18px;
}

.post-tag {
    margin: 2px 2px 2px 0;
    padding: 3px 4px 3px 4px;
    text-decoration: none;
    background-color: #ECECEC;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    color: #6B3E4A;
    font-weight: bold;
}

.post-tag:hover
{
	margin: 2px 2px 2px 0;
	border-bottom: 1px solid white;
    border-right: 1px solid white;
	text-decoration: underline;
}


/* Menu Links (edit, delete, flag)*/

.post-menu {
    color: #858585;
}

.post-menu a{
    color: #858585;
    text-decoration: none;
}

.post-menu a:hover {
    color: #FFFFFF;
    background-color: #858585;
    text-decoration: none;
}

/* Author Box */

.question-user-info{
    background-color: #E4E4E4;
    padding: 2px 5px 2px 5px;
}

.user-info{
    padding: 2px 5px 2px 5px;
}

.user-details {
    padding: 2px 5px 0px 5px;
    width: 145px;
    line-height: 17px;
}

.autobiography {
  width: 30em; height: 15em; padding: 0.3em 0.5em 0.3em 0.5em;
  overflow: auto; text-align: left; border: 2px solid gray;
}



/* Comments */

.comment-row td{
    padding: 0;
}

.comments {
    margin-top: 10px;
    color: #858585;
    border-top: 1px dotted #E4E4E4;
}

tr.comment td{
    border-bottom: 1px dotted #BBBBBB;
    padding-bottom: 5px;
    padding-top: 5px;
}

.comment a{
    color: #6D6D6D;
}


/* Voting */

.votecell {
    vertical-align: top;
    width: 60px;
    padding: 0px;
}

.vote-count {
    font-size: 240%;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin:0;
    padding:0;
}

.vote{
    text-align:center;
    width: 60px;
}

.vote-up, .vote-down, .vote-accepted{
    display: block;
    width: 30px;
    height: 14px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.vote-accepted {
    height: 31px;   
}

.vote-up.vote-off {
    background-image: url("/static/img/vote/vote-up-off.png");
}

.vote-down.vote-off{
    background-image: url("/static/img/vote/vote-down-off.png");
}

.vote-up.vote-on {
    background-image: url("/static/img/vote/vote-up-on.png");
}

.vote-down.vote-on{
    background-image: url("/static/img/vote/vote-down-on.png");
}

.vote-accepted {
    background-image: url("/static/img/vote/accepted.png")
}

.popover {
    position:absolute;
    margin-top:10px;
    color: black;
}

.success {
    background-color:#B6C2A1;
    padding:10px;
    border: 1px solid #41561E;
    opacity:0.9;
}

.error {
    background-color:#BA9BAB;
    padding:10px;
    border: 1px solid #4C1B34;
    opacity:0.9;
}

/*
|-------------------------
|  Tag List               |
|-------------------------*/

#tag-list{
    padding-top: 10px;
    width: 920px;
}

.tag-entry{
    width: 170px;
    height: 27px;
    float: left;
}

.multiplier{
    color: #555555;
    font-size: 120%;
    font-weight: bold;
    margin-right: 4px;
}

/*
|-------------------------
|  Badge List            |
|-------------------------*/

.badge {
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF !important;
    line-height: 1.9;
    margin: 0 3px 3px 0;
    padding: 4px 8px 4px 3px;
    text-decoration: none;
}

/*
|-------------------------
|  Content                |
|-------------------------*/

code {
    background-color: #CCC;
    font-size: 120%;
}

.highlight {
    background-color: #CCC;
    font-size: 120%;

    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 5px;
}

.highlight pre {
    margin-top: 0; margin-bottom: 0;
}

/* A nice style for Quotations borrowed from GitHub */
blockquote {
    border-left: 5px solid #DDDDDD !important;
    color: #555555 !important;
    margin: 1em 0 !important;
    padding-left: 0.6em !important;
}
