{%  load humanize %}

{% if page %}
    <div align="center">

        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}&sort={{ context.sort }}&limit={{ context.limit }}&q={{ context.q }}">&lt;prev</a>
        {% else %}
            &lt;prev
        {% endif %}

         &bull; {{ page.paginator.count|intcomma }} results &bull; page {{ page.number }} of {{ page.paginator.num_pages }} &bull;

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}&sort={{ context.sort }}&limit={{ context.limit }}&q={{ context.q }}">next&gt;</a>
        {% else %}
            next&gt;
        {% endif %}

    </div>
{% endif %}
