{% extends "base_template.html" %}
{% block headtitle %} Reset Password {% endblock %}
{% block title %} Reset Password {% endblock %}

{% block body %}

        <div class="ui center aligned header">

            <i class="user icon"></i>Password reset

        </div>

        <div class="ui centered card inputcolor">

            <div class="ui basic segment">
                <form class="ui form " method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Enter your email</label>

                        {{ form.email }}
                        {{ form.errors }}
                    </div>

                    <div>
                        <button class="ui primary button" type="submit">Send</button>
                        <a class="ui right floated button" href="{%  url "login" %}">
                            <i class="sign in icon"></i>Log in</a>
                    </div>
                </form>
            </div>

        </div>

    <p class="ui center aligned basic segment">

        Enter your email and press <b>Send</b>
        to receive an email with password reset instructions.</p>

{% endblock %}

