{# Renders the navigation bar #}
{% load widgets %}
{% load staticfiles %}
<div class="row">

    <nav>
    	{#  Page logo #}
        <div>
            <a href="{% url "home" %}"><img src="{% group_logo_img %}" id="logo"></a>
        </div>

        <div class="item">
            <a href="#"><i class="fa fa-plus-circle"></i><br>New&nbsp;Post</a>
        </div>

        <div class="item">
            <a href="#"><i class="fa fa-globe"></i><br>Community</a>
        </div>

        {% if user.is_authenticated %}
            {#  This gets show for authenticated users #}
            <div class="item">
                <a href="#"><i class="fa fa-envelope"></i><br>30</a>
            </div>
            <div class="item">
                <a href="#"><i class="fa fa-heart"></i><br>20</a>
            </div>
            <div class="item">
                <a href="#"><i class="fa fa-star"></i><br>1</a>
            </div>
            <div class="item">
                <a href="#"><i class="fa fa-user"> <span
                class="line">{% scoreline user %}</span></i><br>{{ user }}</a>
            </div>
            <div class="item">
                <a href="#"> <i class="fa fa-sign-out"></i><br>Sign&nbsp;out</a>
            </div>

        {% else %}
			{#  This gets show for anonymous users #}
            <div class="item">
                <a href="#"> <i class="fa fa-sign-in"></i><br>Sign&nbsp;in</a>
            </div>

            <div class="item">
                <a href="#"> <i class="fa fa-info-circle"></i><br>Site Info</a>
            </div>

            <div class="item">
                <a href="#"> <i class="fa fa-rss"></i><br>RSS</a>
            </div>
        {% endif %}

    	{#  Group switching widget #}
        <div class="item last">
            <select id="group_select">
                <option value="volvo">Biostar</option>
                <option value="saab">Qiime 1</option>
                <option value="opel">Qiime 2</option>
                <option value="audi">Chipster</option>
                <option value="audi">Galaxy</option>
            </select>
        </div>
    </nav>

</div>

