{# Renders the navigation bar #}
{% load widgets %}
{% load staticfiles %}

<div class="row">

    <div id="logo">
        {% if request.group.logo %}
            <a href="{% url 'home' %}"><img src="{{ request.group.logo.url }}"></a>
        {% else %}
            <div class="text">
            	<div>Group</div>
                <div><h5><a href="{% url 'home' %}">{{ request.group.name }}</a></h5></div>
            </div>
        {% endif %}
    </div>


    <div id="navbar">
        {# This gets show for anonymous users #}
        {% if user.is_anonymous %}
            <div class="item">
                <a href="{% url 'account_login' %}" class="signin">
                    <div class="icon"><i class="fa fa-sign-in"></i></div>
                    <div class="navlabel">Sign&nbsp;in</div>
                </a>
            </div>
        {% else %}
            <div class="item ">
                <a href="{% url 'account_logout' %}" class="signout">
                    <div class="icon"><i class="fa fa-sign-out"></i></div>
                    <div class="navlabel">Sign&nbsp;Out</div>
                </a>
            </div>
        {% endif %}

        <div class="item">
            <a href="{% url "new_post" %}">
                <div class="icon"><i class="fa fa-plus-circle"></i></div>
                <div class="navlabel">New&nbsp;Post</div>
            </a>
        </div>
        <div class="item">
            <a href="{% url "user_list" %}">
                <div class="icon"><i class="fa fa-globe"></i></div>
                <div class="navlabel">Users</div>
            </a>
        </div>

        <div class="item">
            <a href="{% url "group_list" %}">
                <div class="icon"><i class="fa fa-group"></i></div>
                <div class="navlabel">Groups</div>
            </a>
        </div>

        <div class="item">
            <a href="#">
                <div class="icon"><i class="fa fa-info-circle"></i></div>
                <div class="navlabel">About</div>
            </a>
        </div>


    </div>

</div>



