{% load humanize %}
{#  Renders the paging widget #}

<div class="row">

    <div class="page_bar">

        {% if page.sort.choices %}
            <div class="left">
                <ul class="dropdown">
                    <a href="#"><i class="fa fa-caret-down"></i> {{ page.sort.label }}</a>
                    <ul class="items">
                        {% for value, word  in page.sort.choices %}
                            <li><a href="?sort={{ value }}&days={{ page.days.value }}&q={{ page.q }}"> {{ word }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        {% endif %}

        {% if page.days.choices %}
            <div class="right">
                <ul class="dropdown">
                    <a href="#"><i class="fa fa-caret-down"></i> {{ page.days.label }}</a>
                    <ul class="items">
                        {% for value, word in page.days.choices %}
                            <li><a href="?sort={{ page.sort.value }}&days={{ value }}&q={{ page.q }}"> {{ word }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        {% endif %}

        <div>
            {% if page.has_previous %}
                <a
                href="?page={{ page.previous_page_number }}&sort={{ page.sort.value }}&days={{ page.days.value }}&q={{ page.q }}">
                    &lt;prev</a>
            {% else %}
                &lt;prev
            {% endif %}

            &bull; {{ page.paginator.count|intcomma }} results &bull; page {{ page.number }}
            of {{ page.paginator.num_pages }} &bull;

            {% if page.has_next %}
                <a
                href="?page={{ page.next_page_number }}&sort={{ page.sort.value }}&days={{ page.days.value }}&q={{ page.q }}">next&gt;</a>
            {% else %}
                next&gt;
            {% endif %}
        </div>
    </div>
</div>
{% if not page.object_list %}
    <div class="alert info">No results were found!</div>
{% endif %}

