{#  Renders post with comments in its entirety #}
{% load humanize %}
{% load widgets %}

{#  Show title if toplevel post #}
{% if post.is_toplevel %}
    <div class="row post_title">
        {{ post.get_type_display }}: {{ post.title }}
    </div>
{% endif %}

<div class="row">
    <a name="{{ post.id }}"></a>

    {#  This is the user box with author information #}
    <div class="user_box">
        <div>
            <a href="{{ post.author.get_absolute_url }}">{% gravatar post.author 82 %}</a>
        </div>
        <div>
            {{ post.creation_date|time_ago }}
        </div>
        <div>
            <a href="{{ post.author.get_absolute_url }}">{{ post.author.name }}</a>
        </div>
        <div>
            {{ post.author.profile.location }}
        </div>
    </div>

    <div class="post vote_box">
        <div>
            <div class="tooltip vote mark {{ post.has_vote|on_value }}" title="Click to vote!"
                 data-post_id="{{ post.id }}"
                 data-type="upvote"><i class="fa fa-thumbs-o-up fa-2x"></i></div>
            <div class="count">{{ post.vote_count|nicer_value }}</div>
        </div>
        <div class="tooltip vote mark {{ post.has_bookmark|on_value }}" title="Click to bookmark!"
             data-post_id="{{ post.id }}" data-type="bookmark"><i class="fa fa-bookmark fa-1x"></i></div>

    </div>


    {#  This is the body of the post #}
    {{ post.html|safe }}
</div>

{% if post.is_toplevel %}
    {#  Produce a tagbar for top level posts #}
    <div class="row">
        {% tag_bar post %}
    </div>
{% endif %}

{#  Actionbar for the post #}
<div class="row">
    {% action_bar post %}
    {% update_bar post %}
</div>

{% if comments %}
    <div class="row">
        {% render_comments request=request post=post tree=comments %}
    </div>
{% endif %}