{% load humanize %}

{#  Search bar on top of the page #}
<div class="row">

    <div class="six columns" id="search_bar">
        <form action="{% url action %}" method="get">
            <input type="text" name="q" class="u-full-width"
                   maxlength="100" placeholder="Search" id="search" value="{{ q }}">
        </form>
    </div>

    <div class="six-columns">
    </div>

</div>

{#  This renders if there seems to have been a value filled in for the form #}
{% if q %}
<div class="row">
    <div class="search-info">
        {% if posts %}
        Searching for
        {% else %}
        Nothing matches
        {% endif %}
        <span class="highlighted">&nbsp;{{ q }}&nbsp;</span> &bull; <a href="{% url 'home' %}">Clear Search</a>
    </div>
</div>
{% endif %}
