{% load humanize %}
{% load widgets %}

{#  Search bar under the paging widget #}
<div class="row">
    <div class="twelve columns" id="search_bar">
        <form action="{% url action %}" method="get">
            <input type="text" name="q" class="u-full-width"
                   maxlength="100" placeholder="{{ placeholder }}" id="search" value="{{ q }}">
        </form>
    </div>
</div>

{#  This renders if there seems to have been a value filled in for the form #}
{% if q %}
<div class="row">
    <div class="search-info">
        {% if page.object_list %}
        Searching for
        {% else %}
        Nothing matches
        {% endif %}
        <span class="highlighted">&nbsp;{{ page.q }}&nbsp;</span> &bull; <a href="{% url action %}">Clear Search</a>
    </div>
</div>
{% endif %}

{%  page_bar page=page %}