{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    {% search_bar %}

    {% page_bar %}

    <div class="row">
        <div class="col-md-9">

            <div class="alert alert-info text-center">
                Blog posts aggregated by the Biostar reader. To follow subscribe to the <a class="alert-link" href="{% url "planet-feed" %}">planet feed <i class="fa fa-rss"></i></a>
            </div>
            {% for post in blogposts %}

                <div class="blog-post">

                    <div>
                        <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
                    </div>

                    <div>
                        <h4>
                            written {{ post.creation_date|time_ago }}
                            by <a href="{{ post.blog.link }}">{{ post.blog.title|safe }}</a>
                        </h4>
                    </div>

                    <div>
                        {{ post.content|truncatewords:250 }}
                    </div>


                </div>
            {% endfor %}

        </div>

    </div>

    {% page_bar %}

{% endblock %}