{% extends "forum_list.html" %}
{% load forum_tags %}
{% load accounts_tags %}

{% block headtitle %}
    Messages
{% endblock %}


{% block body %}


<div class="centered">
{% pages objs=all_messages %}
</div>

<div class="ui divided list">
{% for message in all_messages %}

  <div class="item {% is_unread user=request.user message=message%} message">

    <div class="content">

        <div class="description">{{ message.body|safe }}</div>
    </div>

  </div>
{% endfor %}
</div>

<div class="centered">
{% pages objs=all_messages %}
</div>


{% endblock %}

{% block sidebar %}
Messages sidebar
{% endblock %}