{% extends "forum_base.html" %}
{% block headtitle %} Reset Password {% endblock %}

{% block content %}


        <div class="ui center aligned header">

            <i class="user icon"></i>Change password

        </div>
         <div class="ui centered card inputcolor">

                {% if validlink %}

                    <form method="post" class="ui form attached fluid inputcolor segment" >
                        {% csrf_token %}
                        <div class="field">
                            <label>New Password</label>
                            {{ form.new_password1 }}
                        </div>

                        <div class="field">
                        <label>New Password Confirmation</label>
                        {{ form.new_password2 }}
                        </div>
                    <button class="ui primary button" type="submit">Change password</button>
                    </form>

                {% else %}
                    <p class="ui basic segment">

                        The password reset link was <b>invalid</b>.<br>
                        Please request a <a href="{% url 'password_reset' %}">new password reset link.</a>
                    </p>

                {% endif %}

        </div>

{%endblock%}