{% extends "forum_base.html" %}
{% block headtitle %} Reset Password {% endblock %}

{% block content %}

        <div class="ui center aligned header">

            <i class="user icon"></i>Password reset

        </div>

        <div class="ui centered card ">
        <div class="ui segment inputcolor">
                <form class="ui form " method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}

                    <div class="field">
                        <label>Enter your email</label>

                        {{ form.email }}
                        {{ form.errors }}
                    </div>

                    <div>
                        <button class="ui primary button" type="submit">
                            <i class="envelope icon"></i>Send</button>
                        <a class="ui right floated button" href="{%  url "login" %}">
                            <i class="sign in icon"></i>Log in</a>
                    </div>
                </form>
        </div>
        </div>

    <p class="ui center aligned basic segment">

        Enter your email and press <b>Send</b>
        to receive an email with password reset instructions.</p>

{% endblock %}

