django >=3.0.2, <4
django-ratelimit
django-compressor >= 2.4
django-taggit>=1.2
django-pagedown
django-sendfile
django-allauth>=0.41.0
django-debug-toolbar>=2.2
django-recaptcha2
django-mailer>=2
whoosh
hjson
toml
pytz
coverage
bleach
mistune
Pillow
requests
feedparser
whitenoise