django >=2, <2.1
django-ratelimit
django-recaptcha==1.0.5
django-compressor
django-taggit
hjson
pytz
coverage
commonmark
bleach
django-mailer
mistune
django-pagedown
django-webtest
django-sendfile
django-debug-toolbar
django-recaptcha
sparkpost
pillow
Pillow
coverage
pyftpdlib
pandas
requests
pyopenssl