django >=3
django-ratelimit
django-compressor >=2.4
django-taggit
whoosh
psycopg2
hjson
pytz
html2text
coverage
commonmark
bleach
django-mailer
mistune
django-pagedown
django-webtest
django-sendfile
django-allauth
django-debug-toolbar
django-recaptcha2
djangorestframework
django-filter
sparkpost
pillow
Pillow
coverage
pyftpdlib
pandas
requests
pyopenssl
feedparser
