bleach
chardet
coverage
Django
django-allauth
django-appconf
django-compressor
django-debug-toolbar
django-mailer
django-pagedown
django-ratelimit
django-recaptcha2
django-sendfile
django-taggit
feedparser
mistune
Pillow
python3-openid
pytz
requests
requests-oauthlib
urllib3
Whoosh
html2text
toml
whitenoise
hjson
langdetect
html2markdown
celery
redis
django-celery-results
django-celery-beat
