{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    Badge: {{ badge.name }}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <h3>Badge: {{ badge.name }}  <i class="{{ badge.icon }}"></i> </h3>

            <h4>Awarded for: {{ badge.desc }}</h4>
            <p>Awarded {{ badge.count }} times. See <a href="{%  url 'badge-list' %}">all badges</a></p>


            <h4>Recently awarded </h4>

            {% for award in awards %}

                <div class="col xs-3 col-md-2 text-center">
                    <div>{% gravatar award.user 82 %}</div>
                    <div class="ago">{{ award.date|time_ago }} to </div>
                    <div class="uname">{% userlink award.user %}</div>
                    <div class="loc">{{ award.user.profile.location }}</div>
                    {%  if award.context %}
                        <div class="">For: {{ award.context|safe|truncatechars:60 }}</div>
                    {%  endif %}
                </div>

            {% endfor %}

        </div>

{% endblock %}