{% extends "starbase.html" %}
{% load server_tags %}

{% block main_body %}

    {%  searchbar  %}

    {% pagebar posts %}

    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for post in posts.object_list %}
                    <li>{{ post.title }}
                        {%  for tag in post.tags.all %}
                            {{  tag.name }}
                        {% endfor %}
                        {%  userlink post.author %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% pagebar posts %}

{% endblock %}
