{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    {% search_bar %}

    {% page_bar %}

    <div class="row">
        <div class="col-md-9">

            {% for message in objects %}
                <div class="stripe unread wrapped {{ message.unread }}">
                    {{ message.sent_at|timesince }} ago: {{ message.body.text|safe }}
                </div>


            {% endfor %}

        </div>

        <div class="col-md-3 sidebar">
            <div class="head">Messages by</div>
            {% sidebar_users people %}
        </div>
    </div>

    {#  this will reset the user unread messages #}
    {% messages_read user %}

{% endblock %}
