{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    {% search_bar %}

    {% page_bar %}

    <div class="row">
        <div class="col-md-9">
            <table id="posts" class="table table-striped">
                {% for post in posts %}
                    <tr>

                        <td class="boxcell {{ post.get_type_display }}">
                            {% if post.is_toplevel %}
                                <div class="box vote">
                                    <div class="c">{{ post.vote_count }}</div>
                                    <div class="t">vote{{ post.vote_count|pluralize }}</div>
                                </div>
                                <div class="box {% boxclass post %}">
                                    <div class="c">{{ post.reply_count }}</div>
                                    <div class="t">answer{{ post.reply_count|pluralize }}</div>
                                </div>
                                <div class="box view">
                                    <div class="c">{{ post.view_count }}</div>
                                    <div class="t">views</div>
                                </div>
                                {% if post.subs_count > 5 %}
                                    <div class="book_count text-center">
                                        {{ post.subs_count }} following
                                    </div>
                                {% endif %}
                            {% else %}

                                <div class="box vote">
                                    <div class="c">{{ post.vote_count }}</div>
                                    <div class="t">vote{{ post.vote_count|pluralize }}</div>
                                </div>

                                {% if post.book_count %}
                                    <div class="box bookmark">
                                        <div class="c">{{ post.book_count }}</div>
                                        <div class="t">bookmark{{ post.book_count|pluralize }}</div>
                                    </div>

                                {% endif %}

                            {% endif %}

                        </td>

                        <td width="100%">

                            <div class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                            <div class="tags">
                                {% for tag in post.tag_set.all %}
                                    <a class="tag" href="{% url 'topic-list' topic=tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <div class="text-right">
                                {% last_action post %} {% time_ago post %} ago by {% userlink post.author %}
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
        <div class="col-md-3 sidebar">
            <div class="head">Recent Votes</div>

            <div class="recent">
                <ul style="opacity: 0.8;">
                    {% for vote in RECENT_VOTES %}
                        <li><a href="{% url "post-details" pk=vote.post_id %}">
                            {{ vote.post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="head">Latest replies</div>

            <div class="recent">
                <ul style="opacity: 0.8;">
                    {% for post in RECENT_REPLIES %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">
                                <em>{{ post.title }}</em></a> {{ post.creation_date|timesince }} ago by <a
                        href="{{ user.get_absolute_url }}">{{ post.author.name }}</a>

                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    {% page_bar %}

{% endblock %}
