{% extends "starbase.html" %}
{% load server_tags %}

{% block page_title %}
    {{ post.title }}
{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-9">

            <table class="table" id="post-details">

                {#  This is the toplevel post #}
                {% post_body post user post.tree %}

                {# Render each answer for the post #}
                {% for answer in post.answers %}
                    {% post_body answer user post.tree %}
                {% endfor %}


                <span id="csrf_token">{% csrf_token %}</span>

                {#  Answers go into a different row #}
                <tr>
                    <td>&nbsp;</td>
                    <td>

                        {% if user.is_authenticated %}
                            <h3>Add your answer</h3>
                            <p><strong>Note:</strong> Answers should be for the original question only. Use
                                the comments
                                to discuss existing content, ask for clarifications, request more details, etc. </p>

                            <form role="form" id="answer-form" method="post" action="{% url "new-answer" post.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="textarea form-control" cols="40" id="answerbox" name="content"
                                              rows="10"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Add Answer</button>

                            </form>
                        {% else %}
                            <div class="alert alert-info">
                                Please <a href="account-login">log in</a> to add an answer.
                            </div>
                        {% endif %}

                    </td>
                </tr>
            </table>

        </div>

        <div class="col-md-3">
            Sidebar Goes Here
        </div>

    </div>

    {% if user.is_authenticated %}
        <script src="/static/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('answerbox', {
                customConfig: '/static/ck_config.js'
            });
        </script>
    {% endif %}

{% endblock %}