{% extends "starbase.html" %}
{% load server_tags %}

{% block content %}

    {% searchbar %}

    {% pagebar %}

    <div class="row">
        <div class="col-md-9" >
            <table id="posts">
                {% for post in posts %}
                    <tr>
                        <td class="boxcell {{ post.get_type_display }}">
                            <div class="box vote">
                                <div class="c">{{ post.vote_count }}</div>
                                <div class="t">votes</div>
                            </div>
                            <div class="box {% boxclass post %}">
                                <div class="c">{{ post.reply_count }}</div>
                                <div class="t">answers</div>
                            </div>
                            <div class="box view">
                                <div class="c">{{ post.view_count }}</div>
                                <div class="t">views</div>
                            </div>
                            {%  if post.book_count %}<div class="book_count text-center">{{ post.book_count }} bookmarks</div>{%  endif %}
                        </td>
                        <td>
                            <div class="title">{{ post.get_type_display }} <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                            <div class="tagrow">
                                {% for tag in post.tags.all %}
                                    <a class="tag" href="{% url 'topic-list' topic=tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <div class="userlink text-right">
                                  {% action_time_ago post %} ago by {% userlink post.author %}
                            </div>
                        </td>
                    </tr>



                {% endfor %}
            </table>
        </div>
        <div class="col-md-3">
            Side Bar
        </div>
    </div>

    {% pagebar %}

{% endblock %}
