{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    {% search_bar %}



    <div class="row">
        <div class="col-md-9">

            {% page_bar_sort_posts %}

            <div id="post-list">
                {% for post in posts %}
                    {% post_count_box post '' topic %}
                {% empty %}

                    <div class="alert alert-info">There are no results for this page.</div>

                {% endfor %}

            </div>

            {% page_bar_sort_posts %}

        </div>
        <div class="col-md-3 sidebar">

            {% include "banners/sidebar-postlist.html" %}

            {% sidebar_votes RECENT_VOTES %}

            {% sidebar_locations RECENT_USERS %}

            {% sidebar_awards RECENT_AWARDS %}

            {% sidebar_posts RECENT_REPLIES %}

        </div>
    </div>


{% endblock %}
