{% extends "starbase.html" %}
{% block page_title %}
    {{ object.title }} on Biostars
{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-md-9">

            <h2>{{ post.title }}</h2>

            {{ post.content|safe }}

            {%  for answer in post.answers %}
                   <hr>
                <div>{{  answer.content | safe }}</div>

            {% endfor %}

        </div>

    <div class="col-md-3">
        Sidebar
    </div>

    </div>



{% endblock %}