{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    RSS Feeds
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">RSS Feeds</h3>
                </div>
                <div class="panel-body">

                    Standard feeds:


                        <ul>
                            <li><a href="{%  url "latest-feed" %}">Latest Posts</a> - latest posts from Biostar</li>
                            <li><a href="/feeds/type/question">New Questions</a> - latest questions from Biostar</li>
                            <li><a href="/feeds/type/job">New Job postings</a> - latest questions from Biostar</li>
                        </ul>


                    We also provide complex feed urls:


                        <ul>
                            <li><a href="/feeds/type/job+tutorial+tool"">Follow posts of different types</a> -
                                include one or more post types in a URL: <code>/feeds/type/job+tutorial+tool</code></li>
                            <li><a href="/feeds/post/2+4+6"">Follow multiple posts</a> - include one or more post ids in
                                a URL: <code>/feeds/post/2+8+10</code></li>
                            <li><a href="/feeds/tag/galaxy+bwa+tutorial">Follow multiple tags</a> - include one or more
                                tags in a URL: <code>/feeds/tag/galaxy+bwa+tutorial</code></li>
                            <li><a href="/feeds/user/2+4+6"">Follow multiple users</a> - include one or more user ids in
                                a URL: <code>/feeds/user/2+8+10</code></li>
                        </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}