{% load i18n %}
{% load humanize %}
{% load server_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    {% if debug %}

    {# Development sites will compile less on the fly #}
    {# Random numbers added to bypass potential browser caching. #}
    <link rel="stylesheet/less" type="text/less" href="{{ STATIC_URL }}{{ SITE_STYLE_CSS }}?x={% rand_num %}">
    <script src="{{ STATIC_URL }}lib/less-1.6.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}biostar.js?x={% rand_num %}" type="text/javascript"></script>

    {% else %}
    {# Deployed sites will require the presence of less compiler #}
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}{{ SITE_STYLE_CSS }}">
    {% endcompress %}

    {% compress js %}
    <script src="{{ STATIC_URL }}biostar.js" type="text/javascript"></script>
    {% endcompress %}
    {% endif %}
</head>

<body>

{# Main page container. #}
<div class="container">

    {# Navigation bar for each page. #}
    {% navbar user %}

    {# Contains the actual body of the page. #}
    {% block mainbody %}
    Body
    {% endblock %}

    {# The footer for each page. #}
    {% block footer %}
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-md-offset-3">
            <div class="title">Content</div>
            <ul class="flat">
                <li><a href="{% url 'userlist' %}">Users</a></li>
                <li>Tags</li>
                <li>Badges</li>
            </ul>
        </div>

        <div class="col-md-2">
            <div class="title">Help</div>
            <ul class="flat">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
        </div>

        <div class="col-md-2">
            <div class="title">Access</div>
            <ul class="flat">
                <li>RSS</li>
                <li>Stats</li>
                <li>API</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            Use of this site constitutes acceptance of our <a href="{% url 'policy' %}">User Agreement and Privacy Policy</a>.
        </div>
        <div class="col-md-12 text-center">
            Powered by Biostar version {{ BIOSTAR_VERSION }}
        </div>
    </div>
    {% endblock %}

    {# This information is cached and updated periodically via the context. #}
    <div id="traffic">Traffic: {{ TRAFFIC }} ip/hr</div>
</div>

{# Including the javascript libraries below #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

{# Google tracker injected if it exists in the context. Found in settings.py #}
{% if GOOGLE_TRACKER %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_TRACKER}}']);
    _gaq.push(['_setDomainName', '{{GOOGLE_DOMAIN}}']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}
</body>
</html>