{%  extends "starbase.html" %}
{% load server_tags %}

{%  block page_title %}
    User List
{%  endblock %}

{%  block content %}

 {% page_bar  %}

    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for user in users %}
                    <li>{{ user.id }} {{ user.name }}
                        &bull;
                        {%  userlink user %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% page_bar %}

{%  endblock %}