{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    User: {{ target.name }}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">


            <table id="user-table" class="table table-striped">

                <tr>
                    <td colspan="3">
                        <h2 class="text-center">{{ target.name }}</h2>
                    </td>
                </tr>

                <tr>

                    {#  User gravatar.  #}
                    <td>
                        {% gravatar target 200 %}
                        <div class="text-center">
                            {% userlink target %}
                        </div>
                        <div class="text-center" style="margin-top:20px">
                            <a href="{% url "user-edit" target.id %}" class="btn btn-default" role="button" href="#">Edit
                                Profile</a>
                        </div>
                    </td>

                    {#  The short description entered by the user.  #}
                    <td width="40%">
                        <dl class="dl-horizontal">

                            <dt>Role:</dt>
                            <dd>{{ target.get_type_display }}</dd>

                            <dt>Last seen:</dt>
                            <dd>{{ target.profile.last_login|naturaltime }}</dd>

                            <dt>Joined:</dt>
                            <dd>{{ target.profile.date_joined|naturaltime }}</dd>

                            <dt>Location:</dt>
                            <dd>{{ target.profile.location }}</dd>

                            <dt>Website:</dt>
                            <dd><a href="{{ target.profile.website }}">{{ target.profile.website }}</a></dd>

                            <dt>Scholar ID:</dt>
                            <dd>{{ target.profile.scholar }}</dd>

                            <dt>Tags:</dt>
                            <dd>{{ target.profile.my_tags }}</dd>


                        </dl>

                        {% if target.has_ownership %}
                            <dl class="dl-horizontal">
                                <dt>Email:</dt>
                                <dd>{{ target.email }}</dd>

                                <dt>Notifications:</dt>
                                <dd>{{ target.profile.get_message_prefs_display }}</dd>
                            </dl>
                            {% endif %}
                    </td>

                    {#  User bio.  #}
                    <td width="40%">
                        {{ target.profile.info|safe }}
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="text-center">
                        Contributions
                    </td>
                </tr>

            </table>

        </div>
    </div>

{% endblock %}