{% extends "starbase.html" %}
{% load server_tags %}

{% block page_title %}
    User List
{% endblock %}

{% block content %}

    {% page_bar %}

    <div class="row">
        <div class="col-md-12">

            {% for user in users %}
                <div class="col-md-2">
                    <div class="userbox text-center">
                        <div>{% gravatar user 85 %}</div>

                        <div>{% userlink user %}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% page_bar %}

{% endblock %}