{% extends "herald/herald_list.html" %}
{% load forum_tags %}
{% load static %}
{% load humanize %}
{% load cache %}

{% block title %}
    Biostar Herald
{% endblock %}

{% block headtitle %}
    Biostar Herald
{% endblock %}

{% block heraldtitle %}
    {{ blogpost.title }}
{% endblock %}

{% block inner %}
    <div class="ui vertical segment">
        <div class="ui relaxed divided list">

            {% for herald in heralds %}
                <div class="item">
                    <p>
                        <img class="ui avatar image" src="{% gravatar user=herald.user size=80 %}"/>
                        <a href="{{ herald.user.profile.get_absolute_url }}">{{ herald.user.profile.name }}</a>
                        &bull; <em>{{ herald.date|naturaltime }}</em>
                    </p>
                    {{ herald.html|safe }}</div>
            {% empty %}
                <div class="ui blue message">No results found.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    


{% endblock %}