{% extends 'herald/herald_list.html' %}
{% load forum_tags %}

{% block newsubmission %}

    <div class="ui segment form-wrap" style="width: 61%;margin:auto;margin-top:30px;">

        <form method="post" class="ui form" action="{% url 'herald_submit' %}">
            {% form_errors form %}

            {% csrf_token %}

            <div class="required field">
                <label>Source link</label>
                {{ form.url }}
                <p class="muted">The URL containing the video, tweet, code, or paper.</p>
            </div>

            <div class="field">
                <label>Description ( optional )</label>
                {{ form.text }}
                <p class="muted">Short description of the above shared link. </p>
            </div>

            <button type="submit" class="ui submit green button">
                <i class="check icon"></i>Submit
            </button>
            <button href="{% url 'herald_list' %}" class="ui button">
                <i class="times icon"></i>Cancel
            </button>

        </form>

    </div>


{% endblock %}
{% block listing %}
{% endblock %}

{% block sidebar %}

        <h4 class="ui header muted">
            Community Guidelines
        </h4>
        <ol style="list-style-type: upper-roman;">
            <li>Share code, videos, tweets, papers relating to biological sciences.</li>
            <li>Moderators can accept submitted topics.</li>
            <li>Accepted submissions are auto-published every day.</li>
        </ol>


{% endblock %}