{% load forum_tags %}
{% load humanize %}

<div class="ui vertical segment">

    <div class="ui dropdown">

        <div class="text"> {{ show|capfirst }} Issues</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="{% url 'herald_list' %}#list">Upcoming Issues</a>
            <a class="item" href="{% url 'herald_list' %}?show=published#list">Published Issues</a>
        </div>
    </div>

    <div class="ui header">Latest Submissions</div>

    <div class="ui relaxed divided list" id="list">

        {% for story in stories %}

            <div class="item herald {{ story.get_status_display }}" data-value="{{ story.pk }}">
                {% herald_item item=story %}
            </div>
        {% empty %}
            <div class="ui blue message">No results found.</div>

        {% endfor %}

    </div>

</div>
