{% load humanize %}
{% load forum_tags %}


    <img class="ui avatar image" src="{% gravatar user=story.author size=80 %}"/>
    <div class="content">
        <em>{{ story.creation_date|naturaltime }}</em> &bull;
        <a href="{{ story.author.profile.get_absolute_url }}">{{ story.author.profile.name }}</a> shared
        <a href="{{ story.url }}">{{ story.url|truncatechars:50 }}</a>
        <span class="current"><i class="{{ story.icon }} icon"
                                 style="margin-right: 0"></i>{{ story.get_status_display }}</span>
        &bull;
        {% if user.profile.is_moderator and not story.published %}
            <a class="ui basic mini label" data-value="accept"><i class="green check icon"></i>
                Accept
            </a>
            &bull;
            <a class="ui basic  mini label" data-value="decline"><i class="orange times icon"></i>
                Reject
            </a>
        {% endif %}

        {% if story.editor %}
            <p class="muted">
            {{ story.get_status_display|lower }}
            <em>{{ story.lastedit_date|naturaltime }}</em> by
            <a href="{{  story.editor.profile.get_absolute_url }}">{{  story.editor.profile.name }}</a>
            </p>

        {% endif %}

        {% if story.text %}
            <p class="muted">{{ story.text|truncatechars:100 }}</p>
        {% endif %}

    </div>

