

{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Site Admin
{% endblock %}


{% block body %}

    <div class="ui center aligned basic vertical segment">
        <div class="ui large header">
            <i class="dashboard icon"></i> Site Admin
        </div>

    </div>

    {% show_messages messages %}
    <div class="ui top attached large tabular menu">

        <a class="ui item" href="{% url 'project_list_public' %}">
            <i class="list icon"></i><span class="tablet">Public Projects</span>
        </a>
        <a class="ui blue item" href="{% url 'project_list_private' %}">
            <i class="briefcase icon"></i><span class="tablet">Private Projects</span>
        </a>
        {% if user.is_authenticated  and user.profile.trusted %}
            <a class="ui item" href="{% url 'root_list' %}">
                <i class="download icon"></i><span class="tablet">Data Import</span>
            </a>
        {% endif %}

        {% if user.is_superuser %}
            <a class="ui active item" href="{% url 'site_admin' %}">
                <i class="dashboard icon"></i> Site Admin
            </a>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="right menu">
                <a class="ui {% activate 'recipe_create' active %}  active item" href="{% url 'project_create' %}">
                    <i class="add circle icon"></i>New Project
                </a>
            </div>
        {% endif %}
    </div>
    <div class="ui bottom attached large segment">
        <div class="ui vertical segment">

            <div class="ui header">
                <a href="{% url 'admin:index' %}">
                    <i class="desktop icon"></i>Django Admin
                </a>
            </div>

        </div>

        <div class="ui vertical segment">
            <div class="ui header">
                All jobs
            </div>
            <div class="ui divided list">
                <table class="ui celled selectable striped compact table">
                    <thead>
                    <tr>

                        <th>Status</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>User</th>
                        <th>Start Date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for job in jobs %}
                        <tr >
                            <td style="padding: 1px;text-align: center;">
                                <div class="ui {% job_color job %} label">{{ job.get_state_display }}</div>
                            </td>
                            <td class="{% if job.deleted %}negative{% endif %}">
                                <a href="{{ job.url }}">{{ job.get_name }}</a>
                            </td>

                            <td>
                                <a href="{{ job.project.url }}">{{ job.project.get_name|truncatechars:40 }}</a>
                            </td>
                           <td>
                                <a href="{{ job.owner.profile.get_absolute_url }}">{{ job.owner.profile.name }}</a>
                            </td>

                            <td>
                                {% if job.start_date %}{{ job.start_date }}{% else %} Not Started
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>

                </table>


            </div>
        </div>
    </div>



{% endblock %}


