{% extends "base_template.html" %}
{% load engine_tags %}
{% load static %}


{% block title %}
    <img class="ui avatar image" src="{% img project %}"/>{{ project.get_name }}
{% endblock %}

{% block body %}
    <input type="hidden" id="project_id" value="{{ project.id }}">

    <div id="clipboard">{% clipboard project.uid %}</div>
    <div class="ui large secondary pointing  menu">

        <a class="{% activate 'info' active %} item" href="{% url 'project_view' project.uid %}">
            <i class="info circle icon"></i><span class="phone">Project</span>
        </a>

        <a class="{% activate 'data' active %} item" href="{% url 'data_list' project.uid %}">
            <i class="file text icon"></i><span id="data_count">{{ data_count }}</span>&nbsp;<span
                class="phone"> Data</span>
        </a>
        <a class="{% activate 'recipes' active %} item" href="{% url 'recipe_list' project.uid %}">
            <i class="setting icon"></i> {{ recipe_count }}&nbsp;<span class="phone"> Recipes</span>
        </a>


        <a class="{% activate 'jobs' active %} item" href="{% url 'job_list' project.uid %}">
            <i class="bar chart icon"></i><span id="job_count">{{ result_count }}</span><span class="phone">&nbsp;Results</span>
        </a>

        {% if activate %}
            <div class="active orange item" id="job_item">
                <i class="angle double down icon"></i> <span class="tablet">{{ activate }}</span>
            </div>
        {% endif %}

    </div>

    {% csrf_token %}
    {% block segment %}

        <div class="ui vertical large segment">
            {% block content %}
                Content
            {% endblock %}
        </div>
    {% endblock %}




{% endblock %}
