{% extends "engine_base.html" %}
{% load engine_tags %}
{% load static %}

{% block headtitle %}
    {{ project.get_name }}
{% endblock %}


{% block body %}
    <input type="hidden" id="project_id" value="{{ project.id }}">

    <div class="ui center aligned basic vertical segment">
        <div class="ui large header">
            <img class="ui avatar image" src="{% img project %}"/> {{ project.name }}
        </div>
    </div>

    <a class="ui left ribbon projects label" href="{% url 'project_list' %}">
        <i class="database icon"></i> All Projects
    </a>

    <span id="clipboard"></span>

    {% block ribbon %}
        {% if user.is_authenticated %}
            <a class="ui right ribbon obj label" href="{% url 'recipe_create' project.uid %}">
                <i class="plus icon"></i>New Recipe
            </a>
        {% endif %}
    {% endblock %}

    <div class="ui basic segment" >

    <div class="ui top attached large tabular  menu">


        <a class="{% activate 'info' active %}  item" href="{% url 'project_viewing' project.label %}">
            <i class="info circle icon"></i><span class="phone">Project </span>
        </a>

        <a class="{% activate 'data' active %}  item" href="{% url 'data_listing' project.label %}">
            <i class="file text icon"></i><span id="data_count">{{ data_count }}</span>&nbsp;<span
                class="phone"> Data</span>
        </a>
        <a class="{% activate 'recipes' active %}  item" href="{% url 'recipe_listing' project.label %}">
            <i class="settings icon"></i> {{ recipe_count }}&nbsp;<span class="phone"> Recipes</span>
        </a>

        <a class="{% activate 'jobs' active %} item" href="{% url 'job_listing' project.label %}">
            <i class="bar chart icon"></i><span id="job_count">{{ result_count }}</span><span class="phone">&nbsp;Results</span>
        </a>

        {% if activate %}
            <div class="active item" id="job_item">
                <i class="angle double down icon"></i> <span class="tablet">{{ activate }}</span>
            </div>
        {% endif %}

    </div>


    {% block contain %}
        <div class="ui bottom attached large segment">

            {% show_messages messages %}
            {% block content %}
                Content
            {% endblock %}

        </div>
    {% endblock %}



{% endblock %}
