{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data List
{% endblock %}



{% block content %}

            <div class="ui divided items">

                {% for data in data_list %}

                    <div class="item data" data-value="{{ data.uid }}" >

                        <div class="content">
                            <a class="subheader" href="{% url 'data_view' data.uid %}">
                                {% if job.deleted %}Deleted: {% endif %}
                                <i class="file icon"></i>{{ data.name }}
                            </a>
                         <div class="meta">{{ data.summary|safe }}</div>

                            <div class="meta">
                                <div class="ui small labels">
                                    {% size_label data %}
                                    {% type_label data %}
                                    {% created_by date=data.lastedit_date user=data.lastedit_user %}
                                </div>
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}

                            <div class="ui mini buttons">
                                <a class="ui right floated button copy">
                                    <i class="copy icon"></i>Copy
                                </a>
                                <div class="or"></div>
                                <a class="ui right floated button delete">
                                    <i class="trash icon"></i> <span class="fitme">Delete</span>
                                </a>
                            </div>

                        {% endif %}

                    </div>

                {% empty %}
                    <div class="item ">
                        <div class="ui warning message"><i class="ui info circle icon"></i>This project does not yet
                            contain data.
                        </div>
                    </div>
                {% endfor %}

            </div>

{% pages objs=data_list %}

{% endblock %}
