{% extends "base_listing.html" %}
{% load engine_tags %}

{% block headtitle %}
    Project List
{% endblock %}

{% block title %}
    <i class="download icon"></i> Data Import
{% endblock %}


{% block content %}

    <a class="ui left ribbon projects label" href="{% url 'project_list_public'%}">
        <i class="database icon"></i> All Projects
    </a>

    {% if user.is_authenticated %}
        <a class="ui right ribbon obj label" href="{% url 'project_create' %}">
            <i class="plus icon"></i>New Project
        </a>
    {% endif %}
    {% show_messages messages %}


        <div class="ui basic segment">List of directories designated for import.</div>

        <div class="ui left icon input" style="width: 80%">
            <i class="folder open outline icon"></i>

            <input type="text" placeholder="Enter source directory" value="{{ rel_path }}" id="current_source">
        </div>

        {% files_list rel_path=rel_path %}



{% endblock %}
