{% extends "base_template.html" %}
{% load engine_tags %}
{% load static %}

{% block headtitle %}
    Bioinformatics Recipes
{% endblock %}

{% block title %}
    <i class="settings icon"></i> Welcome to Bioinformatics Recipes
{% endblock %}

{% block body %}

  <div class="ui basic center aligned segment" style="padding:0px">

        <div class="ui muted horizontal  list">
            <div class="item">

                <div class="content">
                    <i class="users icon"></i> {{ nusers }} Users
                </div>
            </div>

            <div class="item">

                <div class="content">
                    <i class="mylist  icon"></i> {{ nprojects }} Projects
                </div>
            </div>

            <div class="item">

                <div class="content">
                    <i class="settings icon"></i> {{ nrecipes }} Recipes
                </div>
            </div>
            <div class="item">

                <div class="content">
                    <i class="bar chart icon"></i> {{ nresults }} Results
                </div>
            </div>

        </div>
    </div>



    <div class="ui grid">
        <div class="ten wide column home">
            <ul class="ui large relaxed divided list questions">

                <div class="item padme">
                    <div class="subheader">What is a recipe?</div>
                    <div class="description">
                        A "bioinformatics recipe" is a collection of commands used to perform a
                        bioinformatics data analysis task. A recipe can be thought
                        of as a <em>bioinformatics workflow</em> or a <em>bioinformatics pipeline</em>.
                    </div>

                    <div class="ui center aligned basic segment">
                        <a href="{% url "latest_recipes" %}">
                            <img src="{% static 'images/demo.gif' %}">
                        </a>
                    </div>
                </div>

                <div class="item padme">
                    <div class="subheader">Where are the recipes?</div>
                    <div class="description">
                        <ul>
                            <li>The <a href="{% url 'project_list' %}"><i class="mylist icon"></i>Project List
                            </a> page contains recipes collected into projects.
                            </li>

                            <li>The <a href="{% url 'latest_recipes' %}"><i class="settings icon"></i>Latest
                                Recipes</a> page displays the most recently updated recipes.
                            </li>
                        </ul>


                    </div>

                </div>

                <div class="item padme">
                    <div class="subheader">What types of recipes can I find here?</div>
                    <div class="description">
                        Most recipes demonstrate typical use cases for various bioinformatics tools.
                        Many recipes have been developed to support bioinformatics education.
                    </div>
                </div>

                <div class="item padme ">
                    <div class="subheader">Can I run recipes on my computer?</div>
                    <div class="description">
                        Yes! All recipes are designed to run both through this website and at the command line on
                        your computer.
                    </div>
                </div>

                <div class="item padme ">
                    <div class="subheader">Where can I learn more?</div>
                    <div class="description">
                        <p>Scientific publication: <a
                                href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-020-03602-6">Bioinformatics
                            recipes: creating, executing and distributing reproducible data analysis
                            workflows</a> by <i>Natay Aberra,
                            Aswathy Sebastian, Aaron P. Maloy, Christopher B. Rees, Meredith L. Bartron, and Istvan
                            Albert </i>,
                            <b>BMC Bioinformatics, (2020)</b> .
                        </p>

                        <p>An introductory video by lead software developer Natay Aberra: </p>
                        <div style="position: relative; padding-bottom: 2.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xRFsueCZfc0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="ui subheader"> See also:</div>
                        <ul>
                            <li>
                                <a href="https://bioinformatics-recipes.readthedocs.io/">Biostar Recipes:
                                    Documentation.</a>
                            </li>
                            <li>
                                <a href="https://github.com/ialbert/biostar-central"> Biostar Central GitHub
                                    repository.</a>
                            </li>


                        </ul>

                    </div>
                </div>

            </ul>
        </div>

        <div class="six wide center column">

            <a href="{% url "latest_recipes" %}">
                <img class="ui medium rounded  image"
                     src="{% static 'images/screenshot.jpg' %}">
            </a>


        </div>

    </div>



{% endblock %}

