{% extends "base_template.html" %}
{% load engine_tags %}
{% load static %}

{% block headtitle %}
    Bioinformatics Recipes
{% endblock %}
{% block title %}
{% endblock %}

{% block masthead %}
    <div class="ui bottom attached vertical masthead segment">

        <div>
            <h1 class="ui header">
                <i class="setting icon"></i> Bioinformatics Recipes
            </h1>

            <a class="ui primary button" href="{% url 'project_list' %}"><i class="list icon"></i> Project List <i
                    class="right arrow icon"></i></a>

            <a class="ui  primary button" href="{% url 'latest_recipes' %}"><i class="settings icon"></i>Latest Recipes
                <i
                        class="right arrow icon"></i></a>

        </div>
        <div class="ui tiny statistics muted index">
            <div class="statistic">
                <div class="value">
                    <i class="users icon"></i> {{ nusers }}
                </div>
                <div class="label">
                    Users
                </div>
            </div>
            <div class=" statistic">
                <div class=" value">
                    <i class="list  icon"></i> {{ nprojects }}
                </div>
                <div class="label">
                    Projects
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="settings icon"></i> {{ nrecipes }}
                </div>
                <div class="label">
                    Recipes
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="bar chart icon"></i> {{ nresults }}
                </div>
                <div class="label">
                    Results
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block body %}


    <div class="ui grid">

    <div class="eleven wide column">


        <div class="ui large vertical segment" style="margin-top: -5em;">

            <div class="ui header">What is a recipe?</div>
            <div class="description">
                A "bioinformatics recipe" is a collection of commands used to perform a
                bioinformatics data analysis task. A recipe can be thought
                of as a <em>bioinformatics workflow</em> or a <em>bioinformatics pipeline</em>.
            </div>

        </div>

        <div class="ui large vertical segment">
            <div class="ui header">Where are the recipes?</div>
            <div class="description">
                <ul>
                    <li style="padding:10px 0 10px 0">The <a href="{% url 'project_list' %}"><i class="mylist icon"></i>Project
                        List
                    </a> page contains recipes collected into projects.
                    </li>

                    <li>The <a href="{% url 'latest_recipes' %}"><i class="settings icon"></i>Latest
                        Recipes</a> page displays the most recently updated recipes.
                    </li>
                </ul>

            </div>

        </div>

        <div class="ui large vertical segment">
            <div class="ui header">What types of recipes can I find here?</div>
            <p>
                Most recipes demonstrate typical use cases for various bioinformatics tools.
                Many recipes have been developed to support bioinformatics education.
            </p>

        </div>

        <div class="ui large vertical segment">
            <div class="ui header">Can I run recipes on my computer?</div>
            <p>
                Yes! All recipes are designed to run both through this website and at the command line on
                your computer.
            </p>
        </div>


        <div class="ui large vertical segment">
            <div class="ui header">Where can I learn more?</div>

            <p>Scientific publication:

            <ul>
                <li style="padding:10px 0 10px 0">
                    <a
                            href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-020-03602-6">Bioinformatics
                        recipes: creating, executing and distributing reproducible data analysis
                        workflows</a> published in
                    BMC Bioinformatics, (2020)

                </li>

            </ul>

            </p>

        </div>

        <div class="ui large vertical segment">
            <div class="ui header">Where is the documentation?</div>
            <p>

            <ul>
                <li style="padding:10px 0 10px 0">
                    <a href="https://bioinformatics-recipes.readthedocs.io/">Biostar Recipes:
                        Documentation.</a>
                </li>
                <li>
                    <a href="https://github.com/ialbert/biostar-central"> Biostar Central GitHub
                        repository.</a>
                </li>

            </ul>

            </p>
        </div>


        <div class="ui large vertical segment">
            <div class="ui header">Is there a video?</div>

            <p>An introductory video by lead software developer Natay Aberra: </p>
            <div style="position: relative; padding-bottom: 2.25%; height: 0; overflow: hidden;  height: auto;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xRFsueCZfc0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>


    </div>

    <div class="five wide column">
        <div class="ui center aligned large vertical segment" style="margin-top: -5em;">
            <img class="ui center aligned image" src="{% static "images/recipes-1.png" %}"/>
            <br>
            <img class="ui center aligned image" src="{% static "images/recipes-2.png" %}"/>
            <br>
            <img class="ui center aligned image" src="{% static "images/recipes-3.png" %}"/>


        </div>


    </div>


{% endblock %}

