{% extends "base_listing.html" %}
{% load engine_tags %}
{% load static %}

{% block headtitle %}
    Latest Recipes
{% endblock %}

{% block title %}
    <i class="settings icon"></i> Latest Recipes
{% endblock %}

{% block content %}

    <div class="ui divided link items">
        {% for recipe in recipes %}
            {% recipe_details recipe %}

        {% empty %}

            <div class="ui warning message"><i class="ui info circle icon"></i>There are no public recipes yet.
            </div>

        {% endfor %}
    </div>
    {% pages objs=recipes %}

{% endblock %}
