{% extends "engine_base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Create a project
{% endblock %}


{% block body %}
    <div class="ui center aligned basic vertical segment">
        <div class="ui large header">
            <i class="plus icon"></i>Create a Project
        </div>

    </div>
    <a class="ui left ribbon projects label" href="{% url 'project_list' %}">
        <i class="database icon"></i> All Projects
    </a>


    {% show_messages messages %}
    <div class="ui top attached large tabular  menu">

        <a class="ui item" href="{% url 'project_list_public' %}">
            <i class="list icon"></i><span class="tablet">Public Projects</span>
        </a>
        <a class="ui item" href="{% url 'project_list_private' %}">
            <i class="briefcase icon"></i><span class="tablet">Private Projects</span>
        </a>
        {% if user.is_superuser %}
            <a class="ui blue item" href="{% url 'file_list' %}">
                <i class="download icon"></i><span class="tablet">Import</span>
            </a>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="right menu">
                <a class="ui {% activate 'recipe_create' active %}  active item" href="{% url 'project_create' %}">
                    <i class="add circle icon"></i>New Project
                </a>
            </div>
        {% endif %}

    </div>

    <div class="ui bottom attached large segment">
        <div class="narrow">
            <div class="ui raised segment inputcolor">
                {% form_errors form %}
                <form method="post" class="ui form" action="{% url 'project_create' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="field">
                        <label>Project Title</label>
                        {{ form.name }}
                        <p class="muted">What do you want to call the project</p>
                    </div>

                    <div class="field">
                        <label>Project Image</label>
                        {{ form.image }}
                        <p class="muted">Optional image to recognize the project by (square image, no more than
                            500px)</p>
                    </div>
                    <div class="field">
                        <label>Project Label</label>
                        {{ form.label }}
                        <p class="muted">Project label used to construct the url.</p>
                    </div>

                    <div class="field">
                        <label>Project Rank</label>
                        {{ form.rank }}
                        <p class="muted">Used in ordering project lists on the page</p>
                    </div>

                    <div class="field">
                        <label>Project Description</label>
                        {{ form.text }}
                        <p class="muted">A detailed explanation of the project (markdown OK).</p>
                    </div>

                    <button type="submit" class="ui submit green button">
                        <i class="save icon"></i>Create
                    </button>
                    <a class="ui right floated button" href="{% url 'project_list' %}">
                        <i class="undo icon"></i>Cancel
                    </a>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
