{% extends "base_content.html" %}
{% load engine_tags %}
{% load staticfiles %}
{% load compress %}

{% block headtitle %}
    {{ recipe.name }}
{% endblock %}

{% block js %}

    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">

        <link href="{% static 'prism.css' %}" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}"></script>
        <script src="{% static 'engine.js' %}"></script>
        <script src="{% static 'prism.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block content %}

    <div class="ui large vertical segment" id="view">

        <div class="ui divided link items">
            <div class="item">
                <div>
                    <img class="ui tiny rounded fancy image" src="{% img recipe %}">
                </div>
                <div class="content ">
                    <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                        {% if recipe.is_cloned %}
                            <i class="linkify icon"></i>
                        {% else %}
                            <i class="setting icon"></i>
                        {% endif %}
                        {{ recipe.name }}
                    </a>
                    <div class="meta">

                        {{ recipe.summary|markdown }}

                    </div>
                    <div class="extra">
                        {% created_by date=recipe.lastedit_date user=recipe.lastedit_user %}
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="ui large vertical segment">

        <div class="ui seven buttons">


            <a class="ui button" href="#code">
                <i class="keyboard icon"></i> <span class="fitme">Code</span>
            </a>

            <a class="ui button" href="{% url 'recipe_run' recipe.uid %}">
                <i class="spinner icon"></i> <span class="fitme">Run</span>
            </a>

            <a class="ui button" href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
                <i class="bar chart icon"></i> <span class="fitme">Results ({{ rcount }})</span>
            </a>

            <a class="ui button" href="{{ recipe.edit_url }}">
                <i class="edit icon"></i><span class="fitme">Edit</span>
            </a>

            <a class="ui button"
               href="{% url "recipe_copy" recipe.uid %}?next={% url "recipe_view" recipe.uid %}">
                <i class="copy icon"></i> Copy
            </a>

            <a class="ui button" href="{% url 'recipe_delete' recipe.uid %}">
                <i class="trash icon"></i>Delete
            </a>

        </div>


    </div>

    <div class="ui large vertical segment">
        <div class="ui subheader">Recipe Description</div>
        <p> {{ recipe.html |safe }} </p>
    </div>

    <div class="ui segment inputcolor" id="code">

        <h3 class="ui center aligned header">
            <p>
                <i class="keyboard icon"></i>Recipe Code |
                <a href="#view"><i class="setting icon"></i>Recipe Description</a></p>
            <p>
                <a href="{% url 'recipe_download' recipe.uid %}" class="ui large green label">
                    <i class="download icon"></i>Download Recipe
                </a>
            </p>
        </h3>

        <div class="ui basic segment">
            <pre><code class="language-bash line-numbers">{{ script }}</code></pre>
        </div>
    </div>

    <div id="copy-message-{{ recipe.uid }}"></div>


{% endblock %}


