{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block title %}
    Run {{ analysis.name }}
{% endblock %}

{% block content %}

    <div class="recipe-form">
        <div class="ui raised segment inputcolor">
            <div class="ui center aligned header">
                Run : <a href="{% url 'recipe_view' analysis.uid %}">

                {% if analysis.is_cloned %}
                    <i class="linkify icon"></i>
                {% else %}
                    <i class="setting icon"></i>
                {% endif %}
                {{ analysis.name }}
            </a>

            </div>

            <div class="ui vertical detail segment">
                {% if analysis.runnable %}
                    <div class="ui right ribbon green label" id="recipe-run" >
                        <i class="check icon"></i>
                        Authorized
                    </div>
                {% else %}
                    <div class="ui right ribbon orange label" id="recipe-run">
                        <i class="hand paper icon"></i>
                        Pending authorization
                    </div>
                {% endif %}

                {{ analysis.summary|markdown|safe }}

                <form method="POST" class="ui form" enctype="multipart/form-data" action="{% url 'recipe_run' analysis.uid %}">

                    <div class="ui form">

                        {% csrf_token %}
                        {{ form.media }}

                        {% recipe_form form %}

                        <div class="field">
                            {% if is_runnable %}
                                <button type="submit" class="ui green button">
                                    <i class="check icon"></i>Run
                                </button>
                            {% else %}
                                <button type="submit" class="ui disabled green button">
                                    <i class="check icon"></i>Run
                                </button>
                            {% endif %}

                            <a class="ui  button" href="{% url 'recipe_view' analysis.uid %}">
                                <i class="redo icon"></i>Cancel
                            </a>
                        </div>

                        <div class="field">
                            {% security_label analysis %}
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
