{% extends "base_content.html" %}
{% load static %}
{% load engine_tags %}

{% block js %}

    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}{% randparam %}">

    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/simple.js' %}"></script>
    <script src="{% static 'codemirror/mode/engine.js' %}"></script>
    <script src="{% static 'codemirror/mode/shell.js' %}"></script>

    {#  Javascript code that handles the recipe interfaces. #}
    <script src="{% static 'recipe.js' %}"></script>

{% endblock %}

{% block headtitle %}
    Recipe View
{% endblock %}

{% block content %}

    <form method="post" class="ui form edit-recipe" action="{{ action_url }}" enctype='multipart/form-data'>

        {% csrf_token %}

        <div class="ui grid">

            <div class="three wide column">
                {% recipe_sidebar project=project %}
            </div>

            <div class="thirteen wide column">
                {% form_errors form %}

                {# Edit recipe meta data. #}
                <div class="ui basic segment" id="metadata">

                    {% form_errors form %}
                    {% csrf_token %}
                    <div class="inline fields ">
                        <div class="inline field">
                            <span><b>Name</b> : </span>
                            {{ form.name }}
                            <div class="muted">What do you want to call the recipe</div>
                        </div>
                        <div class="inline field">
                            <span><b>Uid</b> : 	&nbsp;</span>
                            {{ form.uid }}
                            <div class="muted">Unique identifier, change if needed.</div>
                        </div>
                    </div>

                    <div class="inline fields ">
                        <div class="inline field">
                            <span><b>Image</b> : </span>
                            {{ form.image.errors }}
                            {{ form.image }}
                            <div class="muted">Optional image for the recipe ( 500px Maximum ).</div>
                        </div>
                        <div class="inline field">
                            <span><b>Rank</b>: </span>
                            {{ form.rank }}
                            <div class="muted">Used to order recipes (optional).</div>
                        </div>
                    </div>

                    {% if request.user.is_superuser %}
                        <div class="field">
                            <div class="ui checkbox">
                                {{ form.authorized }} <label>Authorized Recipe</label>
                            </div>
                            <p class="muted">Check if this recipe is safe to run by trusted users.</p>
                        </div>
                    {% endif %}

                    <div class="field segment">
                        {{ form.text }}
                        <div class="muted">A detailed explanation of what the recipe does (markdown OK).</div>
                    </div>
                </div>

                {#  Script #}
                <div class="ui basic segment" id="script">
                    <div class="field" id="template_field">
                        {% template_field form.template.value %}
                    </div>
                </div>

                {#  Interface #}
                <div class="ui basic segment" id="interface">
                    <div class="field" id="json_field">
                        {% json_field form.json_text.value %}
                    </div>
                </div>

            </div>

        </div>

        <div class="ui tiny inputcolor modal" id="preview_modal">
            <div id="preview_cont"></div>
        </div>

    </form>

{% endblock %}