{% extends "base_content.html" %}
{% load staticfiles %}
{% load engine_tags %}

{% block js %}
    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}">
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/simple.js' %}"></script>
    <script src="{% static 'codemirror/mode/engine.js' %}"></script>
{% endblock %}

{% block headtitle %}
    Editing: {{ name }}
{% endblock %}

{% block content %}
    <form method="post" class="ui form" action="{{ action_url }}" enctype='multipart/form-data'>


        <div class="narrow">
            <div class="ui raised segment inputcolor">
                {% form_errors form %}


                {% csrf_token %}

                <div class="field">
                    <div class="ui header">Recipe Metadata</div>
                </div>

                <div class="field">
                    The information that is displayed when the recipe is viewed.
                </div>

                <div class="two fields ">
                    <div class="field">
                    <label>Recipe Name</label>
                    {{ form.name }}
                    <p class="muted">What do you want to call the recipe</p>
                    </div>

                                    <div class="field">
                    <label>Unique Identifier ( uid )</label>
                    {{ form.uid }}
                    <p class="muted">Unique identifier for this recipe.
                        random.</p>
                </div>
                </div>

                <div class=" two fields ">
                    <div class="field">
                    <label>Recipe rank</label>
                    {{ form.rank }}
                    <p class="muted">Used for ordering recipes on the recipe list.</p>
                    </div>

                                    <div class="field">
                    <label> Image {{ form.image.errors }}</label>
                    {{ form.image }}
                    <p class="muted">Optional image for the recipe ( 500px Maximum ).</p>
                </div>

                </div>

                <div class="field segment">
                    <label>Recipe description</label>
                    {{ form.text }}
                    <p class="muted">A detailed explanation of what the recipe does (markdown OK).</p>
                </div>
                <button type="submit" class="ui green button">
                    <i class="save icon"></i>Submit
                </button>
                <a class="ui right floated button" href="{% url 'recipe_view' recipe.uid %}">
                    <i class="undo icon"></i> Cancel
                </a>


            </div>

            <div class="ui raised segment inputcolor">

                {% csrf_token %}

                <div class="field">
                    <div class="ui header">Build Interface</div>
                </div>

                <div class="field">
                    The data that specifies the web interface.

                    <div class="ui top pointing dropdown" id="json_add" style="float: right">
                        <i class="caret down icon"></i>
                        <a>Interface Builder</a>
                        {% interface_options %}
                    </div>
                </div>
                <div class="field" id="json_field">
                    {% json_field form.json_text.value %}
                </div>

                <div class="field">

                    <button class="ui purple button" data-value="{{ project.uid }}" id="json_preview">
                        <i class="eye icon"></i>Preview Interface
                    </button>
                    <button type="submit" class="ui green button">
                        <i class="save icon"></i>Submit
                    </button>

                    <a class="ui right floated button" href="{% url 'recipe_view' recipe.uid %}">
                        <i class="undo icon"></i> Back
                    </a>
                </div>

                <div class="ui tiny inputcolor modal" style="padding:20px;width: 48%;" id="json_modal">
                      <input class="distract" type="hidden"> <div id="json_preview_cont"></div>
                </div>

            </div>

            <div class="ui raised segment inputcolor">

                {% csrf_token %}

                <div class="field">
                    <div class="ui header">Build code</div>
                </div>

                <div class="field">
                    The code that gets executed when the recipe runs.
                    <div class="ui top pointing dropdown" id="code_add" style="float: right">
                        <i class="caret down icon"></i>
                       <a>Code Builder</a>
                        {% snippet_list %}
                    </div>

                </div>

                <div class="field" id="template_field">
                    {% template_field form.template.value %}
                </div>

                <div class="field">

                    <button class="ui purple button" data-project_uid={{ project.uid }}
                            id="template_preview">
                        <i class="eye icon"></i>Preview Code
                    </button>

                    <button type="submit" class="ui green button">
                        <i class="save icon"></i>Submit
                    </button>

                    <a class="ui right floated button" href="{% url 'recipe_view' recipe.uid %}">
                        <i class="undo icon"></i> Back
                    </a>
                </div>
                <div class="ui tiny inputcolor modal" id="template_modal">
                       <div id="template_preview_cont"></div>
                </div>
            </div>

        </div>
    </form>
{% endblock %}