{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block title %}
    Run {{ analysis.name }}
{% endblock %}

{% block content %}
    <div style="text-align: -webkit-center;">
    <div class="ui raised segment inputcolor" style="width:70%; text-align: initial">

        <div class="ui center aligned header">
            Run : <a href="{% url 'recipe_view' analysis.uid %}"><i class="setting icon"></i>{{ analysis.name }}</a>
        </div>

        <div class="ui vertical segment">

            {{ analysis.summary|markdown|safe }}

            <form method="post" class="ui form" enctype="multipart/form-data" action="{% url 'recipe_run' analysis.uid %}">
                <div class="ui form">

                    {% csrf_token %}
                    {{ form.media }}

                    {% recipe_form form %}

                    <div class="field">
                        <button type="submit" class="ui green button">
                            <i class="check icon"></i>Run
                        </button>

                        <a class="ui  button" href="{% url 'recipe_view' analysis.uid %}">
                            <i class="redo icon"></i>Cancel
                        </a>
                    </div>

                    <div class="field">
                    {% security_label analysis %}
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>

{% endblock %}
