{% extends "base_content.html" %}
{% load static %}
{% load engine_tags %}

{% block js %}
    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}{% randparam %}">
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/simple.js' %}"></script>
    <script src="{% static 'codemirror/mode/engine.js' %}"></script>
    <script src="{% static 'codemirror/mode/shell.js' %}"></script>
{% endblock %}

{% block headtitle %}

    RecipeView
{% endblock %}

{% block content %}

 {% if recipe %}
    <div class="ui large basic segment" style="padding-right: 0;padding-left: 0">
        <div class="ui divided link items">
     {% recipe_details %}
            {% endif %}

            {% if recipe.is_cloned %}
                <div class="ui vertical cloned segment" style="padding-top: 5px">
            <span class="muted">
                <i class="linkify icon"></i>
                This recipe is a clone.
                It remains synchronized with the <a href="{{ recipe.root.url }}">parent recipe</a>
                written by <a href="{{ recipe.root.owner.profile.get_absolute_url }}">
                {{ recipe.root.owner.profile.name|truncatechars:30 }}</a>.
            </span>
                </div>

        </div>
    </div>
 {% endif %}

    <form method="post" class="ui form recipe-edit" action="{{ action_url }}" enctype='multipart/form-data'>
        <div class="ui grid">

            <div class="four wide column recipe-sidemenu">
                {% recipe_sidebar enable_save=True %}
            </div>
            <div class="twelve wide column" id="script-col">
                {% form_errors form %}
                {% csrf_token %}

                <div class="field" id="template_field">
                    {% template_field form.template.value %}
                </div>
                <div class="ui tiny inputcolor modal" id="template_modal">
                    <div id="template_preview_cont"></div>
                </div>
            </div>
            <div class="twelve wide column" id="interface-col">
                {% form_errors form %}
                {% csrf_token %}
                <div class="field" id="json_field">
                    {% json_field form.json_text.value %}
                </div>
                <div class="ui tiny inputcolor modal" id="json_modal">
                    <div id="json_preview_cont"></div>
                </div>
            </div>
            <div class="twelve wide column" id="detail-col">
                {% recipe_info_form %}
            </div>

            {% if recipe %}
                <div class="twelve wide column" id="desc-col">
                    <div class="ui large vertical segment" style="overflow-y: auto">
                        <div class="ui subheader">Recipe Description</div>
                        <p> {{ recipe.html |safe }} </p>
                    </div>
                </div>
            {% endif %}

        </div>
    </form>

    {% if recipe %}
        <form method="POST" class="ui form runform" enctype="multipart/form-data"
              action="{% url 'recipe_run' recipe.uid %}" style="display: none">
            <div class="ui grid">
                <div class="four wide column recipe-sidemenu">
                    {% recipe_sidebar %}
                </div>

                <div class="twelve wide column" id="script-col">
                    {% recipe_run_form %}
                </div>
            </div>

        </form>
    {% endif %}



{% endblock %}