{% extends "base_content.html" %}
{% load static %}
{% load engine_tags %}

{% block js %}
    <link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}{% randparam %}">
    <script src="{% static 'codemirror/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/simple.js' %}"></script>
    <script src="{% static 'codemirror/mode/engine.js' %}"></script>
     <script src="{% static 'codemirror/mode/shell.js' %}"></script>
    <script src="{% static 'codemirror/mode/r.js' %}"></script>
{% endblock %}

{% block headtitle %}

    RecipeView
{% endblock %}

{% block content %}
      <div class="ui large basic segment" style="padding-right: 0;padding-left: 0">

    <div class="ui divided link items" >

    {% recipe_details %}
                {% if recipe.is_cloned %}
            <div class="ui vertical cloned segment" style="padding-top: 5px">
            <span class="muted">
                <i class="linkify icon"></i>
                This recipe is a clone.
                It remains synchronized with the <a href="{{ recipe.root.url }}">parent recipe</a>
                written by <a
                    href="{{ recipe.root.owner.profile.get_absolute_url }}">{{ recipe.root.owner.profile.name|truncatechars:30 }}</a>.

            </span>
            </div>
        {% endif %}
    </div>
      </div>

    <form method="post" class="ui form recipe-edit" action="{{ action_url }}" enctype='multipart/form-data' style="display: none">
    <div class="ui grid">

                <div class="four wide column recipe-sidemenu">

                    <div class="ui vertical text menu edit-side" >

                        <a class="{% activate side 'info' %} item recipe">Edit Recipe</a>
                        <div class="ui top pointing dropdown muted" id="code_add" style="float: right;margin-bottom: 5px;margin-top: 11px;">
                            <a><i class="caret down icon" ></i></a>
                            {% snippet_list %}
                        </div>
                        <a href="#" data-project_uid={{ project.uid }} id="template_preview">
                            <i class="eye icon" style="float: right;margin-bottom: 5px; margin-top: 11px;margin-right: 20px"></i>
                        </a>
                        <a class="{% activate side 'script' %} item script">Edit Script</a>


                        <div class="ui top pointing dropdown muted" id="json_add" style="float: right;margin-bottom: 5px;margin-top: 11px ">
                            <a><i class="caret down icon"></i></a>
                            {% interface_options %}
                        </div>
                            <a href="#" data-value="{{ project.uid }}" id="json_preview">
                               <i class="eye icon"style="float: right;margin-bottom: 5px;margin-top: 11px;margin-right: 20px"></i>
                            </a>
                        <a class="{% activate side 'interface' %} item interface">Edit Interface</a>


         <a class="{% activate side 'info' %} item recipe">View Description</a>

                    <div class="ui divider"></div>
                                 <div class="item">
                            <a class="ui green fluid button open-run" style="padding: 5px;">
                                <i class="spinner icon"></i>Run
                            </a>
                        </div>

                        <div class="item">
                            <button type="submit" class="ui blue fluid button" style="padding: 5px;">
                                <i class="save icon"></i>Save
                            </button>
                        </div>
                    </div>
                </div>

                <div class="twelve wide column" id="script-col">
                    {% form_errors form %}
                    {% csrf_token %}
                    <div class="field" id="template_field">
                        {% template_field form.template.value %}
                    </div>
                    <div class="ui tiny inputcolor modal" id="template_modal">
                        <div id="template_preview_cont"></div>
                    </div>
                </div>

                <div class="twelve wide column" id="interface-col">
                    {% form_errors form %}
                    {% csrf_token %}
                    <div class="field" id="json_field">
                        {% json_field form.json_text.value %}
                    </div>

                    <div class="ui tiny inputcolor modal" id="json_modal">
                        <div id="json_preview_cont"></div>
                    </div>
                </div>

                <div class="twelve wide column" id="detail-col">
                    <div class="ui segment">
                        {% form_errors form %}
                        {% csrf_token %}
                        <div class="inline fields ">
                            <div class="inline field" style="width: 400px;">
                                <span><b>Name</b> : </span>
                                {{ form.name }}
                                <div class="muted">What do you want to call the recipe</div>
                            </div>
                            <div class="inline field">
                                <span><b>Uid</b> : 	&nbsp;</span>
                                {{ form.uid }}
                                <div class="muted">Unique identifier, change if needed.</div>
                            </div>
                        </div>

                        <div class="inline fields ">
                            <div class="inline field" style=" width: 400px;">
                                <span><b>Image</b> : </span>
                                {{ form.image.errors }}
                                {{ form.image }}
                                <div class="muted">Optional image for the recipe ( 500px Maximum ).</div>
                            </div>
                            <div class="inline field">
                                <span><b>Rank</b>: </span>
                                {{ form.rank }}
                                <div class="muted">Used to order recipes (optional).</div>
                            </div>
                        </div>

                        {% if request.user.is_superuser %}
                            <div class="field">
                                <div class="ui checkbox">
                                    {{ form.authorized }} <label>Authorized Recipe</label>
                                </div>
                                <p class="muted">Check if this recipe is safe to run by trusted users.</p>
                            </div>
                        {% endif %}

                        <div class="field segment" style="padding-top: 10px">
                            {{ form.text }}
                            <div class="muted">A detailed explanation of what the recipe does (markdown OK).</div>
                        </div>

                    </div>

                </div>
</div>



    </form>

    <form method="POST" class="ui form runform" enctype="multipart/form-data" action="{% url 'recipe_run' recipe.uid %}">
<div class="ui grid">

                <div class="four wide column recipe-sidemenu" >

                    <div class="ui vertical text menu edit-side">

                        <a class="{% activate side 'info' %} item recipe">Edit Recipe</a>

                        <a class="{% activate side 'script' %} item script">Edit Script</a>
                        <div class="ui top pointing dropdown muted" id="code_add" style="float: right;margin-bottom: 5px;margin-top: 11px;">
                            <a><i class="caret down icon" ></i></a>
                            {% snippet_list %}
                        </div>
                            <a href="#" data-project_uid={{ project.uid }} id="template_preview">
                        <i class="eye icon" style="float: right;margin-bottom: 5px; margin-top: 11px;margin-right: 20px"></i>
                        </a>


                        <a class="{% activate side 'interface' %} item interface">Edit Interface</a>
                        <div class="ui top pointing dropdown muted" id="json_add" style="float: right;margin-bottom: 5px;margin-top: 11px ">
                            <a><i class="caret down icon"></i></a>
                            {% interface_options %}
                        </div>
                            <a href="#" data-value="{{ project.uid }}" id="json_preview">
                               <i class="eye icon"style="float: right;margin-bottom: 5px;margin-top: 11px;margin-right: 20px"></i>
                            </a>

         <a class="{% activate side 'info' %} item recipe">View Description</a>

                    <div class="ui divider"></div>

                                 <div class="item">
                            <a href="#" class="ui green fluid button open-run" id="" style="padding: 5px;">
                                <i class="spinner icon"></i>Run
                            </a>
                        </div>

                    </div>
                </div>

                <div class="twelve wide column" id="script-col" >

        <div class="ui raised segment inputcolor" style="border: none">

            <div class="ui vertical detail segment">
                {% if recipe.runnable %}
                    <div class="ui right ribbon green label" id="recipe-run" >
                        <i class="check icon"></i>
                        Authorized
                    </div>
                {% else %}
                    <div class="ui right ribbon orange label" id="recipe-run">
                        <i class="hand paper icon"></i>
                        Pending authorization
                    </div>
                {% endif %}

                    <div class="ui form">

                        {% csrf_token %}
                        {{ run_form.media }}

                        {% recipe_form run_form %}

                        <div class="field">
                            {% if is_runnable %}
                                <button type="submit" class="ui green button">
                                    <i class="check icon"></i>Run
                                </button>
                            {% else %}
                                <button type="submit" class="ui disabled green button">
                                    <i class="check icon"></i>Run
                                </button>
                            {% endif %}

                            <a class="ui button" href="{% url 'recipe_view' recipe.uid %}">
                                <i class="redo icon"></i>Cancel
                            </a>
                        </div>

                        <div class="field">
                            {% security_label recipe %}
                        </div>
                    </div>

            </div>

        </div>

 </form>


{% endblock %}