{% extends "base_content.html" %}
{% load engine_tags %}
{% block headtitle %}
    Recipes
{% endblock %}


{% block contain %}

    <div class="ui bottom attached segment">

        {% show_messages messages %}

        {% block content %}

            <div class="ui large vertical segment">
                <div class="ui divided link items">
                    {% for recipe in recipe_list %}
                        {% recipe_details recipe %}
                    {% empty %}
                        <div class="item">
                            <div class="ui warning message"><i class="ui info circle icon"></i>This project does not yet
                                contain
                                recipes.
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endblock %}

    </div>
{% endblock %}