{% extends "base_template.html" %}
{% load engine_tags %}

{% block headtitle %}
    Recycle Bin
{% endblock %}

{% block title %}
    <i class="trash icon"></i>  Recycle Bin
{% endblock %}

{% block body %}
    <div class="ui relaxed divided large list">
        {% for item in deleted %}
            <div class="emphasize item">

                <a href="{{ item.delete_url }}" class="right floated content">
                    <div class="ui button"><i class="undo icon"></i>Restore</div>
                </a>
                {% if item|is_job %}
                    <img class="ui avatar image" src="{% img item.analysis %}"/>
                {% else %}
                    <img class="ui avatar image" src="{% img item %}"/>
                {% endif %}
                <div class="content">
                    {% if item.is_cloned %}
                        <i class="linkify icon"></i>
                    {% endif %}

                    <a href="{{ item.url }}">{{ item.get_name|truncatechars:150 }}</a>

                    <div class="smaller description">Updated {{ item.lastedit_date }}</div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}