{% extends "site_layout.html" %}
{% load socialaccount %}
{% load widgets %}
{% load i18n %}

{% block title %}
    Sign In.
{% endblock %}

{% block body %}
	<div class="row">
		<div class="three columns">
			&nbsp;
		</div>
		<div class="six columns">
			<div class="row">
				<div class="title" align="center">{% trans 'Login or Sign Up with a Provider' %}</div>

				{% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
					<div>
						A simplest way to log into the site is to click
						the name of an authentication provider. We only
						use the provider to log you in.
						We don't ask for any other permission.
					</div>

					<div style="margin-top:1em; font-size: larger;">
						<ul style="margin-left:2em;">
                            {% for provider in socialaccount_providers %}
								<li>
									<a title="{{ provider.name }}"
									   href="{% provider_login_url provider.id process='login' %}">{{ provider.name }}</a>
								</li>
                            {% endfor %}
						</ul>
					</div>
                {% endif %}
			</div>

			<div class="row">
                {% message_bar %}
				<div class="title" align="center">{% trans 'Log In or Sign Up with Email' %}</div>

				<div align="center">

					<p>


						<a href="{% url 'account_reset_password' %}">Click here to reset your password</a> if you have forgotten it.
					</p>
				</div>

				<div style="margin:1em; text-align: center">
					<form action="{% url 'sign_up' %}" method="POST">
                        {% csrf_token %}

						<div>
							<input type="email" name="email" placeholder="Your email"/>
						</div>

						<div>
							<input type="password" name="password" placeholder="Your password"/>
						</div>

						<div>
							<input type="checkbox" name="signup"> Check this box if you want to create an account.
						</div>

                        {% if recaptcha %}
							<div class="g-recaptcha" align="center" style="margin:1em"
								 data-sitekey="{{ recaptcha }}"></div>
                        {% endif %}
						<div class="submit">
							<input type="submit" value="Log In / Sign Up">
						</div>


					</form>
				</div>
			</div>

		</div>
	</div>


    {% providers_media_js %}
    {% block bottom %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}
{% endblock %}

