{% extends "site_layout.html" %}
{% load socialaccount %}
{% load widgets %}
{% load i18n %}

{% block title %}
    Password Reset.
{% endblock %}


{% block body %}

    <div class="row">
        <div class="three columns">
            &nbsp;
        </div>

        <div class="six columns">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="row">
                    <input class="u-full-width" type="text" id="id_email" name="email">
                </div>

                <div style="float:left">
                    <button type="submit" class="btn btn-success">{% trans "Reset password" %} &raquo;</button>
                </div>
                <div style="float:right">
                    <a class="button" href="{% url 'account_login' %}">{% trans "Back to login" %} &raquo;</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}