<!DOCTYPE html>
{% load basic %}
{% load humanize %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Biostar{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- JQuery Library  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>

    <!-- less -->
    <link rel="stylesheet/less" type="text/css" href="/static/new/biostar.less.css">
    <script src="/static/lib/less-1.2.1.min.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
        {% block document_ready %}
         
        {% endblock %}
      });
    </script>

  </head>

  <body>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>
          
          <a class="brand" href="/">BioStar</a>
          
          <div class="nav-collapse">
            
            <ul class="nav">
              <li {% navclass '/tag(ged)?/' %}><a href="#Tags">Tags</a></li>
              <li {% navclass '/users/' %}><a href="#Users">Users</a></li>
              <li {% navclass '/badges/' %}><a href="#Badges">Badges</a></li>
              <li {% navclass '/about/' %}><a href="/about/">About</a></li>
            </ul>
            
            <form class="navbar-search pull-left" action="/" method="get">
              <input type="text" name='q' class="search-query" placeholder="Search">
            </form>
            
            {%if user.is_authenticated %}
                
              <ul class="nav pull-right">
                {% if user.profile.new_messages %}
                <li>
                  <a href="#"><span class="message remind"></i>5 messages</span></a>
                </li>
                {% endif %}
                <li class="dropdown" id="menu1"> 
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                       
                       {{ user.profile.display_name }} {% flair user %} {{ user.profile.score }}  
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/show/{{user.id}}/">Your page</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout/?next_page=/">Log out</a></li>
                  </ul>
                </li>
              </ul>

            {% else %}
              <p class="navbar-text pull-right"><a href="/openid/login/">Sign in</a> </p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
  
    <div class="container">

      <div class="panel">
      
      {% block body %}
        
        Test Body
        
      {% endblock %}
      </div>
      
    </div> <!-- /container -->

  
  </body>
</html>