{% extends "new/new.base.html" %}
{% load widgets %}

{% block head %}
    <script src="{{ STATIC_URL }}js/widgets.js"></script>
{% endblock %}

{% block document_ready %}
    // register the add comment function
    $('.add-comment').each(function(){
        elem = $(this)
        console.log(elem)
        elem.click(function(){
            show_add_comment($(this).parent(), $(this).parent().children('input').val()); 
        });
    });
{% endblock %}

{% block body %}
    
    {# display the tabs #}    
    <div class="row">{% tab_bar request %}</div>
    
    {# renders the main post #}
    <div class="row">{% render_post root tree %}</div>
 
    <div class="row separator">&nbsp;</div>
    
    {% for answer in answers %}
        <div class="row">{% render_answer answer tree %}</div>
        <div class="row separator">&nbsp;</div>
    {% endfor %}
            
{% endblock %}
