{% extends "new/new.base.html" %}
{% load basic %}
{% load humanize %}

{% block body %}

<div id="pagebar">{% pagebar %}</div>

<ul class="nav nav-tabs">
    <li {% navclass '/' %}><a href="/">Recent</a></li>
    <li {% navclass '/show/popular/' %}><a href="/show/popular/">Popular</a></li>
    <li {% navclass '/show/questions/' %}><a href="/show/questions/">Questions</a></li>
    <li><a href="/show/unanswered/">Unanswered</a></li>
    <li><a href="/show/planet/">Planet</a></li>
    <li><a href="/show/discussions/">Discussions</a></li>
    <li><a href="/show/guides/">Guides</a></li>
    
    <li><a href="/ask/new/">Create New!</a></li>
</ul>

<table border="0" class="post-table" cellspacing="0" width="100%">


    {% for post in page.object_list %}
    
        {% table_row post %}

    {%  endfor %}

</table>
  
{% endblock %}
