{% extends "base.html" %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    .openid-providers div {
        padding:10 10 10 0px;
        border: 1px solid #DDDDDD;
        margin-left: 5px;
        float:left;
        line-height:50px; text-align: center; width: 150px;
    }
    .openid-providers div img {
        vertical-align: middle;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function() {
       $("#google_openid").click(function() {
         $("#id_openid_identifier").val('https://www.google.com/accounts/o8/id')
         $("form#fopenid").submit()
       });
       $("#yahoo_openid").click(function() {
         $("#id_openid_identifier").val('http://yahoo.com/')
         $("form#fopenid").submit()
       });
       $("#myopenid").click(function() {
         $("#id_openid_identifier").val('http://?????.myopenid.com/')
         $("#openid_help").text('Please insert your myopenid name in the place of the ? marks')
         $("#openid_help").addClass('alert alert-info')
       });
       $("#aol_openid").click(function() {
         $("#id_openid_identifier").val('http://?????.aol.com/')
         $("#openid_help").text('Please insert your AOL name in the place of the ? marks')
         $("#openid_help").addClass('alert alert-info')
         
         
       });
    });
    </script>
{% endblock %}

{% block title %}
    BioStar OpenID login
{% endblock %}

{% block body %}

<div class="row">

<form id="fopenid" name="fopenid" action="/openid/login/" method="post" class="form-horizontal">
    
    <legend>Sign In to BioStar Using Your OpenID Provider</legend>
    
    <div class="control-group">
        <div class="openid-providers">
              <div><img id="google_openid" src="{{ STATIC_URL }}/img/google-openid.png"></div>
              <div><img id="yahoo_openid"  src="{{ STATIC_URL }}/img/yahoo-openid.png"></div>
              <div><img id="myopenid"  src="{{ STATIC_URL }}/img/myopenid.png"></div>
              <div><img id="aol_openid"  src="{{ STATIC_URL }}/img/aol.png"></div>
        </div>
    </div>

    {% csrf_token %}

    {% if form.openid_identifier.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}    
        <label class="control-label" for="id_openid_identifier">OpenID URL</label>
        <div class="controls">
            <input name="openid_identifier" maxlength="255" id="id_openid_identifier" type="text" class="required openid span6">
            <p class="help-block " id="openid_help">{{ form.openid_identifier.errors|join:", " }} Click the icon or paste an OpenID URL into the field above</p>
        </div>
    </div>
    
    <div class="form-actions">
        <button type="submit" id="bsignin" name="bsignin" class="btn btn-primary">Sign In</button>
        <button type="reset" class="btn">Reset</button>
    </div>

    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    
</form>

</div>



{% endblock %}
