
<div class="ui menu">

    <a class="item" href="{% url 'index' %}"><i class="home icon"></i>Home</a>

    {% if user.is_authenticated %}
        <a class="item" href="{% url 'index' %}"><i class="sign in icon"></i>Logout</a>
    {% else %}
        <a class="item" href="{% url 'index' %}"><i class="sign in icon"></i>Login</a>
    {% endif %}

    {% if is_project_list %}
             <a class="item" href="{% url 'index' %}"><i class="write square icon"></i>Create Project</a>
    {% endif %}

   {% if is_data_list %}
             <a class="item" href="{% url 'index' %}"><i class="write square icon"></i>Create Data</a>
    {% endif %}

   {% if is_analysis_list %}
             <a class="item" href="{% url 'index' %}"><i class="write square icon"></i>Create Analysis</a>
    {% endif %}

    <div class="right menu">

        {% if use.is_authenticated %}
            {# add menu later #}
             <a class="item" href="{% url 'index' %}"><i class="sign in icon"></i>Create Project</a>
        {% else %}
            <a class="item" href="{% url 'index' %}"><i class="add user icon"></i>Sign Up</a>
        {% endif %}

        <a class="item"><i class="help icon"></i>Help</a>
    </div>
</div>
