{% load cache %}

<div class="welcome shaded">
    
{% if user.is_anonymous %}
    <h1 align="center">Welcome to BioStar!</h1>
    <p align="center">
        <a href="http://www.biostars.org">http://www.biostars.org</a>
    </p>
    <p align="center">Questions and answers on bioinformatics, computational genomics and systems biology.</p>

    <div class="par" align="center">
        Subscribe:     
        <a style="color:white" href="/feeds/"><b>RSS feed</b></a> <img src="/static/img/feed-icon.png">
    </div>

{% else %}

    <h2 align="center">Spread the word! </h2>
    <div class="par" align="center">Tell a colleague about <b>BioStar</b>!</div>

    <div class="par" align="center">
        <b><a  style="color:white" href="http://www.biostars.org">http://www.biostars.org</a></b>
    </div>

    <div class="par" align="center">
        Subscribe: 
        
        <a style="color:white" href="/feeds/"><b>RSS feed</b></a> <img src="/static/img/feed-icon.png">
    </div>

    <div class="par" align="center">
        Google group: <a style="color:white" href="http://groups.google.com/group/biostar-central">Biostar Central</a>
    </div>

    <div>&nbsp;</div>
{% endif %}

</div>

<div class="tagcloud" >
    <h2 align="center"> Tag Cloud </h2>
    
        {% cache 1500 tagcloudbar %}
        
            {% for tag in tags %}
                <div class="tag"><a href="/question/tagged/{{tag.name}}/">{{ tag.name }}</a></div> 
            {% endfor %}
        
    {% endcache %}
    <div style="clear:both"></div>
</div>