{% load cache %}

<div class="welcome shaded">
    
{% if user.is_anonymous %}
    <h1 align="center">Welcome to BioStar!</h1>
    <p align="center">
        <a href="http://www.biostars.org">http://www.biostars.org</a>
    </p>
    <p align="center">Questions and answers on bioinformatics, computational genomics and systems biology.</p>

{% else %}

   <h3 align="center">Spread the word! </h3>
    <div class="par" align="center">Tell a colleague about <b>BioStar</b>!</div>

    <div class="par" align="center">
        <b><a  style="color:white" href="http://www.biostars.org">http://www.biostars.org</a></b>
    </div>

    <div class="par" align="center">
        Subscribe: <a style="color:white" href="/feeds/"><b>RSS feed</b></a>
    </div>

    <div class="par" align="center">
        Google group: <a style="color:white" href="http://groups.google.com/group/biostar-central">Biostar Central</a>
    </div>

    <div align="center">
        <div>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
            </a>
        </div>
        <div>
            BioStar content is licensed under
            <div>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" style="color:white;">
                Creative Commons Attribution-ShareAlike 3.0 License
            </a>
            </div>
        </div>
    </div>

{% endif %}

</div>

<div class="tagcloud">
    <h3 align="center"> Tag Cloud </h3>
    {% cache 1500 navtagbar %}
        
            {% for tag in tags %}
                <div class="post-tag" style="float:left; font-size:larger;"> <a href="/question/tagged/{{tag.name}}/">{{ tag.name }}</a></div>
            {% endfor %}
        
    {% endcache %}
</div>