<div class="ui basic segment search-bar" id="search-anchor">

    <div class="center-text ">

        <form class="ui form" method="GET" action="{{ search_url }}" style="margin: 0">

            <div class="ui  search">
                <div class="ui icon input">
                    <input value="{{ value }}" class="search-input" type="text" name="query" placeholder="Search ... ">
                    <i class="search icon"></i>
                </div>
            </div>

        </form>

    </div>

</div>

