{# This will be the subject of the email #}
{% block subject %}

    [Biostar] {{ subject }}

{% endblock %}

{# This will be the subject of the email #}

{% block html %}
    <p>
        To verify your account belonging to {{ user.email }}, click the link below:
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}">
            {{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}</a>
    </p>
    <p>
        If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
    </p>
    <p>
        Sincerely,
    </p>
    <p>The Bioconductor Team
        </p>


{% endblock %}

{% block text %}
    To verify your account belonging to {{ user.email }}, click the link below:

    {{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    Sincerely,
    The Bioconductor Team

{% endblock %}

