{% load forum_tags %}

<div class="ui info tablet message">
    Use the <span class="ui tiny label">ADD COMMENT</span> or <span
        class="ui tiny label">ADD REPLY</span> buttons
    embedded in each post to comment, to ask for clarifications, to request more details, or respond
    to a previous answer or comment.
    </p>
</div>

<div style="padding-top: 10px">
    <div class="ui small header">Add your answer</div>

    <form method="post" class="ui  form" action="{% url 'post_view' post.uid %}">
        {% form_errors form %}
        {{ form.media }}
        {% csrf_token %}
        <input type="hidden" name="parent_uid" id="parent_uid" value="{{ post.uid }}">

        <div ondragover="allowDrop(event);" ondrop="drop(event, 'NEW')">

            <div class="ui form-wrap segment">
                <div>
                    <div class="required input field">

                        <div style="padding: 5px; font-size: small">
                            See <a href="{% url 'post_view' '41949' %}" target="_blank">Posting Guide</a> for guidance
                            on creating a post.<br>
                        </div>
                        <div id="wmd-button-bar-{{ form.content.id_for_label }}">
                            <ul id="wmd-button-row" class="wmd-button-row">
                                <li class="wmd-button" id="wmd-bold-button" title="Strong <strong> Ctrl+B" style="left: 0px;">
                                    <span style="background-position: 0px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-italic-button" title="Emphasis <em> Ctrl+I" style="left: 25px;">
                                    <span style="background-position: -20px 0px;"></span>
                                </li><li class="wmd-spacer wmd-spacer1" id="wmd-spacer1"></li>
                                <li class="wmd-button" id="wmd-link-button" title="Hyperlink <a> Ctrl+L" style="left: 75px;">
                                    <span style="background-position: -40px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-quote-button" title="Blockquote <blockquote> Ctrl+Q" style="left: 100px;">
                                    <span style="background-position: -60px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-code-button" title="Code Sample <pre><code> Ctrl+K" style="left: 125px;">
                                    <span style="background-position: -80px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-image-button" title="Image <img> Ctrl+G" style="left: 150px;">
                                    <span style="background-position: -100px 0px;"></span></li>
                                <li class="wmd-spacer wmd-spacer2" id="wmd-spacer2"></li>
                                <li class="wmd-button" id="wmd-olist-button" title="Numbered List <ol> Ctrl+O" style="left: 200px;">
                                    <span style="background-position: -120px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-ulist-button" title="Bulleted List <ul> Ctrl+U" style="left: 225px;">
                                    <span style="background-position: -140px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-heading-button" title="Heading <h1>/<h2> Ctrl+H" style="left: 250px;">
                                    <span style="background-position: -160px 0px;"></span></li>
                                <li class="wmd-button" id="wmd-hr-button" title="Horizontal Rule <hr> Ctrl+R" style="left: 275px;">
                                    <span style="background-position: -180px 0px;"></span></li>
                                <li class="wmd-spacer wmd-spacer3" id="wmd-spacer3"></li>
                                <li class="wmd-button" id="wmd-undo-button" title="Undo - Ctrl+Z" style="left: 325px;">
                                    <span style="background-position: -200px -20px;"></span></li>
                                <li class="wmd-button" id="wmd-redo-button" title="Redo - Ctrl+Shift+Z" style="left: 350px;">
                                    <span style="background-position: -220px -20px;"></span></li>
                            </ul>
                        </div>
                                
                                <textarea class="wmd-input-{{ form.content.id_for_label }} answer droptarget"

                                          data-value="NEW" ondragover="drag_over(event, $(this))"
                                          ondragleave="drag_leave(event, $(this))"

                                          rows="17"
                                          name="{{ form.content.name }}"
                                          id="wmd-input-{{ form.content.id_for_label }}"></textarea>


                    </div>
                </div>
            </div>

        </div>

        <div class="ui preview segment">
            <div class="field">
                <label>Preview</label>
                <div id="answer-preview"></div>
            </div>
        </div>

        {% if form.captcha %}
            <div class="top-padding">
                <div class="required field">
                    {{ form.captcha }}
                </div>
            </div>
        {% endif %}

        <div class="top-padding">
            <button type="submit" id="foo" class="ui submit green button">
                <i class="check icon"></i>Submit
            </button>
        </div>
    </form>

</div>