
    {% if initial %}

        <input type="hidden" name="{{ form_field.name }}" id="{{ form_field.id_for_label }}" value="{{ initial }}">
    {% else %}
        <input type="hidden" name="{{ form_field.name }}" id="{{ form_field.id_for_label }}">

    {% endif %}

    <select multiple="multiple" data-value="{{ form_field.id_for_label }}" class="ui search selection dropdown tags"
    id="field-tags" data-delimiters="32,13,10">

    <option value="">Insert tags</option>
    {% for value, selected in dropdown_options %}
        <option value="{{ value }}" {% if selected %}selected="selected" {% endif %}>
        {{ value }}
        </option>

    {% endfor %}
    </select>
