{% load forum_tags %}
{% load static %}

{% if user.profile.require_recaptcha %}
    <script src='https://www.google.com/recaptcha/api.js?onload=captchaWidgetId&render=explicit' async defer></script>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'pagedown/demo/browser/demo.css' %}"/>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>

<div class="ui inplace post-form basic segment fit">

    <form class="ui inplace edit-form compact form" id="post-form">

        {% if not add_comment and post.is_toplevel %}
            <div class="inplace-fields fields">
                <div class=" field type-field">
                    {% inplace_type_field post=post %}
                </div>
                <div class="field title-field">
                    <textarea id="title" rows="1">{{ post.title }}</textarea>
                </div>
            </div>
        {% endif %}

        <div class="field">
            {% if not add_comment and post.is_toplevel %}
                {% include 'widgets/posting_msg.html' %}
            {% endif %}
            <div id="wmd-button-bar"></div>

            {% if post.is_comment or add_comment %}
                <textarea id="wmd-input" class="wmd-input comment autocomplete" rows="8">{% if not add_comment %}{{ post.content }}{% endif %}</textarea>
            {% else %}
                <textarea id="wmd-input" class="wmd-input autocomplete" rows="17">{{ post.content }}</textarea>
            {% endif %}

        </div>

        {% if not add_comment and post.is_toplevel %}

            <div class="field">
                {% tags_field form_field=form.tag_val initial=post.tag_val %}
            </div>

        {% endif %}

        {% if user.profile.require_recaptcha %}
            <div class="required field">
                <div id="captcha"></div>
            </div>
        {% endif %}

        <p class="muted">Tips: CTRL+ENTER to submit the form. ESC to cancel. Double-click to edit post. Markdown
            accepted.</p>

        <div id="html-preview">
            <div class="ui preview segment">
                {% if add_comment %}
                    <div id="preview"></div>

                {% else %}
                    <div id="preview">{{ post.html|safe }}</div>

                {% endif %}
            </div>
        </div>

        <div class="error-msg"></div>

        <div class="field inplace-buttons">
            <a class="ui green button save" id="save">
                <i class="check icon"></i>
                Save
            </a>
            <a class="ui button cancel" id="cancel">
                <i class="undo icon"></i>
                Cancel</a>

        </div>

    </form>

    <div class="ui mini basic modal" id="inplace-modal">
        <div class="ui icon header">
            <i class="save outline icon"></i>
            <div> You are about to exit a form and will lose all of your progress.</div>
            Do you want to exit without saving?
        </div>
        <div class="actions">

            <div class="ui red cancel inverted button" id="cancel-inplace">
                <i class="remove icon"></i>
                Exit
            </div>
            <div class="ui green green ok inverted button" id="stay">
                <i class=" checkmark icon"></i>
                Stay
            </div>
        </div>
    </div>
</div>

<script>

    var converter = new Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();

    $('.ui.dropdown').dropdown();

    {% if user.profile.require_recaptcha and captcha_key %}
        var captchaWidgetId = grecaptcha.render('captcha', {
            'sitekey': '{{ captcha_key }}',
            'theme': 'light'
        });
    {% endif %}


    $('#post-form .save').click(function () {
        event.preventDefault();
        // Send data with the form data using AJAX.
        {% if add_comment %}
            create_comment();
        {% else %}
            edit_post("{{ post.uid }}");
        {% endif %}
        $('.editing-drag-off').attr('draggable', true);
    });

    function edit_post(uid) {

        var edit_url = '/ajax/edit/' + uid + '/';
        // Rendered form element
        var form_elem = $('#post-form');
        // Inplace form container
        var form_container = $('#new-edit');
        // Hidden elements
        var hidden = $('.hide-on-edit');

        // Post title inside of the form
        var title = $('#title');
        var content = $('#wmd-input');
        var post_type = $('#type').dropdown('get value');
        var tag_val = $('#tag-menu').dropdown('get value');

        // Current post content and title to replace
        // with returned values.
        var post_content = $('.editable[data-value="' + uid + '"]');
        var post_title = $('.post-title[data-value="' + uid + '"]');
        var post_tags = $('.post-tags[data-value="' + uid + '"]');

        //alert(content.val());
        // Title is null and type are null
        // meaning current post is not top level.
        if (title.val() == null) {
            title.val('')
        }
        if (!($.isNumeric(post_type))) {
            post_type = -1
        }

        {% if user.profile.require_recaptcha and captcha_key %}
            var cap_response = grecaptcha.getResponse(captchaWidgetId);
        {% else %}
            var cap_response = '';
        {% endif %}

        $.ajax(edit_url,
            {
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json',
                traditional: true,
                data: {
                    'content': content.val(),
                    'title': title.val(),
                    'type': post_type,
                    'tag_val': tag_val,
                    'recaptcha_response': cap_response
                },
                success: function (data) {
                    if (data.status === 'error') {
                        popup_message($('.error-msg'), data.msg, data.status, 3000);
                    } else {
                        // Clear and hide inplace form
                        form_elem.html('');
                        form_container.hide();

                        // Show hidden items
                        hidden.show();

                        // Replace current post info with edited data
                        post_content.html(data.html).show().focus();
                        post_title.html(data.title).show();
                        post_tags.html(data.tag_html).show();

                        // Highlight the markdown in content
                        post_content.find('pre').addClass('language-bash');
                        post_content.find('code').addClass('language-bash');
                        Prism.highlightAll();
                    }
                },
                error: function (xhr, status, text) {
                    error_message(form_elem, xhr, status, text)
                }
            })
    }

    function create_comment() {

        var create_url = '/ajax/comment/create/';
        // Get the fields to submit
        var form_elem = $('#post-form');
        var content = $('#wmd-input');

        {% if user.profile.require_recaptcha and captcha_key %}
            var cap_response = grecaptcha.getResponse(captchaWidgetId);
        {% else %}
            var cap_response = '';
        {% endif %}

        $.ajax(create_url,
            {
                type: 'POST',
                dataType: 'json',
                ContentType: 'html',
                traditional: true,
                data: {
                    'content': content.val(),
                    'parent': '{{ post.uid }}',
                    'recaptcha_response': cap_response,
                },
                success: function (data) {
                    if (data.status === 'error') {
                        popup_message($('.error-msg'), data.msg, data.status, 3000);
                        popup_message(form_elem, data.msg, data.status, 3000);
                    } else {
                        // Redirect user to the new post view.
                        window.location = data.redirect;
                        {% if not is_toplevel %}
                            window.location.reload();
                        {% endif %}
                    }
                },
                error: function (xhr, status, text) {
                    error_message(form_elem, xhr, status, text)
                }
            })
    }

    $('.tag-field').dropdown({
        allowAdditions: true,
        onChange: function (value, text, $selectedItem) {
            // Get form field to add to
            var tagid = $("#tag-menu").attr('field_id');
            var tag_field = $('#{0}'.f(tagid));
            // Add selected tag to field
            //alert(value);
            tag_field.val(value);
        }
    });

    $('.tag-field >input.search').keydown(function (event) {
        //event.stopPropagation();
        // Prevent submitting form when adding tag by pressing ENTER.
        if (event.keyCode === 13) {
            event.preventDefault();
            //event.stopPropagation();
        }
        // Set value with SPACE bar
        if (event.keyCode === 32) {
            event.preventDefault();
            //event.stopPropagation();
            $("#tag-menu").dropdown('set selected', $(this).val().trim());
            $(this).val('')
        }

    });

    $('#cancel-inplace').click(function () {
        $('#new-comment').remove();
        cancel_inplace();
        $('#add-answer').html('');
        $('.ui.modal').modal('hide');

    });
    $('#stay').click(function () {
        $('.ui.mini.modal').modal('hide');

    });
    $('#wmd-input').keyup(function (event) {
        // Submit form with CTRL-ENTER
        if (event.ctrlKey && (event.keyCode === 13 || event.keyCode === 10)) {
            {% if add_comment %}
                create_comment();
            {% else %}
                edit_post("{{ post.uid }}");
            {% endif %}

        }
    });

    var users = "{{ users_str }}".split(',');
    autocomplete_users(users)

</script>
