{% load forum_tags %}
{% load static %}

{% if user.profile.require_recaptcha %}
    <script src='https://www.google.com/recaptcha/api.js?onload=captchaWidgetId&render=explicit' async defer></script>
    {#  Include the recaptacha key #}
    <input id="recaptcha_key" type="hidden" value="{{ captcha_key }}">
{% endif %}


<div class="ui inplace post-form basic segment fit">

    <form class="ui inplace edit-form compact form" id="post-form">

        {% if not add_comment and post.is_toplevel %}
            <div class="inplace-fields fields">
                <div class=" field type-field">
                    {% inplace_type_field post=post %}
                </div>
                <div class="field title-field">
                    <textarea id="title" rows="1">{{ post.title }}</textarea>
                </div>
            </div>
        {% endif %}

        <div class="field">
            {% if not add_comment and post.is_toplevel %}
                {% include 'widgets/post_message.html' %}
            {% endif %}
            <div id="wmd-button-bar"></div>

            {% if post.is_comment or add_comment %}
                <textarea id="wmd-input" class="wmd-input comment autocomplete" rows="8">{% if not add_comment %}{{ post.content }}{% endif %}</textarea>
            {% else %}
                <textarea id="wmd-input" class="wmd-input autocomplete" rows="17">{{ post.content }}</textarea>
            {% endif %}
        </div>

        {% if not add_comment and post.is_toplevel %}

            <div class="field">
                {% tags_field form_field=form.tag_val initial=post.tag_val %}
            </div>

        {% endif %}

        {% if user.profile.require_recaptcha %}
            <div class="required field">
                <div id="captcha"></div>
            </div>
        {% endif %}

        <p class="muted">Tips: CTRL+ENTER to submit the form. ESC to cancel. Double-click to edit post. Markdown
            accepted.</p>

        <div id="html-preview">
            <div class="ui preview segment">
                {% if add_comment %}
                    <div id="preview"></div>

                {% else %}
                    <div id="preview">{{ post.html|safe }}</div>
                {% endif %}
            </div>
        </div>

        <div class="error-msg"></div>

        <div class="field inplace-buttons">
            <a class="ui green button save" id="save">
                <i class="check icon"></i>
                Save
            </a>
            <a class="ui button cancel" id="cancel">
                <i class="undo icon"></i>
                Cancel</a>

        </div>

    </form>
</div>


