
{% if initial %}
<input type="hidden" name="{{ form_field.name }}" id="{{ form_field.id_for_label }}" value="{{ initial }}">
{% else %}
<input type="hidden" name="{{ form_field.name }}" id="{{ form_field.id_for_label }}" >

{% endif %}

<select multiple="multiple" class="ui search selection dropdown tag-field" id="tag-menu"
        field_id="{{ form_field.id_for_label }}">

    <option value="">Search tags</option>
    {% for value, is_selected in dropdown_options %}
        <option value="{{ value }}"

                {% if is_selected %}
                   selected="selected"
                {% endif %}>

            {{ value }}

        </option>
    {% endfor %}

</select>