{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Award list for {{ target.name }}
{% endblock %}

{% block body %}

    {% user_bar user %}

    <div class="row">

        <div class="twelve columns" id="badge_list">

            <div class="title">Awards for {{ target.name }}</div>

            <div>{% gravatar target 150 %}</div>

            {% page_bar page %}

            {% for award in awards %}

                <div class="award_row">


                	<div><h5><a
                    href="{%  url "badge_view" award.badge.id %}">{{ award.badge.name }} {{ award.badge.icon|safe }}</a></h5>
                    </div>

                    <div>
                        {{ award.date|time_ago }}
                    </div>

                    <div>
                       <i> {{ award.badge.desc }}</i>
                    </div>
                    {% if award.post %}
                        <div><a href="{{ award.post.get_absolute_url }}">{{ award.post.title }}</a>
</div>
                    {% endif %}

                </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}