{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Group List
{% endblock %}

{% block body %}


    {% user_bar user %}

    <div class="row">
        <div class="nine columns">


            <div class="row">

                <div class="title">
                    Current group: <b>{{ group.name }}</b>
                </div>


                {% page_bar page %}

                <div class="u-full-width" id="group_list">

                    {% for group in public %}
                        <div class="group_info">
                            <div style="font-size: larger;">

                                    {{ group.name }}
                                    &bull; <a href="{% url "group_redirect" pk=group.id %}">Visit {{ group.name }}</a>
                                    &bull; <a href="{% url "group_info" group.id %}">Group Info</a>
                            </div>

                            <div>
                                <p>{{ group.info|truncatewords:1000}}</p>
                            </div>

                            <div>
                                Subscribers: {{ group.user_count }}
                                &diam; Posts: {{ group.post_count }}
                                &diam;  Domain: <code>{{ group.domain }}</code>
                                &diam; Owner: <a href="{{ group.owner.get_absolute_url }}">{{ group.owner.name }}</a>

                                &diam; Your subscription:
                                <b>{{ group.subscription }} </b>
                                &raquo; <a
                            href="{% url "group_subscribe" pk=group.id %}">Modify</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% page_bar page %}
            </div>
        </div>


        <div class="three columns recent_votes">
            {% message_bar %}
            <div class="title">
                About Groups
            </div>
            <div>
                <p>
                    Groups are subsections of the site
                    dedicated to a particular topic. Post made in group are
                    visible only when accessing that group.
                    Only members of a group may post to that group.
                </p>

                <p>
                    To gain membership to a private group the
                    moderators of that group will need to add
                    members to their group.
                </p>

                <p>
                    Users with sufficient reputation points may create a new group

                <div align="center">
                    <a class="button" href="{% url "group_create" %}">create a new group
                    </a>
                </div>
                </p>


            </div>

        </div>

    </div>



{% endblock %}
