{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Site Messages
{% endblock %}

{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">
        <div class="nine columns">


            {% search_bar page=page %}

            {% for message in notes %}
                <div class="message {% glow message.unread %}">
                    {{ message.date }} {{ message.body.content|safe }}
                </div>

            {% endfor %}
        </div>

        <div class="three columns recent_votes">
            {% message_bar %}
        </div>

    </div>
{% endblock %}