{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Site Messages
{% endblock %}

{% block head %}
    <style>
        .notify_title {
            font-size: larger;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 1ex;
            margin-top: 1ex;
        }
    </style>
{% endblock %}



{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">
        <div class="nine columns">
            <div class="notify_title">
                <i class="fa fa-envelope"></i> Your Notifications
            </div>
            {% for message in notes %}
                <div class="message {% glow message.unread %}">
                    {{ message.date }} {{ message.body.content|safe }}
                </div>

            {% endfor %}
        </div>

        <div class="three columns recent_votes">
            {% message_bar %}
        </div>

    </div>
{% endblock %}