{# Renders the navigation row on top #}

<div class="row">
	<div class="row">
		<ul class="navrow">
			<li>
				<a href="/">Front</a>
			</li>
			<li>
				<a href="/p/unanswered/">Open</a>
			</li>
			<li>
				<a href="/t/news">News</a>
			</li>
			<li>
				<a href="/t/forum/">Forum</a>
			</li>
			<li>
				<a href="/t/job">Jobs</a>
			</li>
			<li>
				<a href="/t/rna-seq">RNA-Seq</a>
			</li>

			<li>
				<a href="/t/assembly">Assembly</a>
			</li>

			<li>
				<a href="/t/minion">Minion</a>
			</li>


		</ul>
	</div>
</div>


