{# Renders the navigation bar #}
{% load widgets %}
{% load staticfiles %}


{% include "nav_row.html" %}

<div class="row">


</div>
<div class="row">

	<div id="logo">
		<a href="{% url 'home' %}"><img src="{% static context.SITE_LOGO %}"></a>
	</div>

	<div>

		<div id="navbar">
            {# This gets show for anonymous users #}

            {% if user.is_anonymous %}
				<div class="item">
					<a href="{% url 'account_login' %}">
						<div class="icon"><i class="fa fa-sign-in"></i></div>
						<div class="navlabel">Log &nbsp;In</div>
					</a>
				</div>

				<div class="item">
					<a href="{% url 'account_login' %}">
						<div class="icon"><i class="fa fa-arrow-circle-up"></i></div>
						<div class="navlabel">Sign &nbsp;Up</div>
					</a>
				</div>
            {% endif %}

			<div class="item">
				<a href="{% url "new_post" %}">
					<div class="icon"><i class="fa fa-plus-circle"></i></div>
					<div class="navlabel">New&nbsp;Post</div>
				</a>
			</div>



			<div class="item lg">
				<a href="{% url "user_list" %}">
					<div class="icon"><i class="fa fa-globe"></i></div>
					<div class="navlabel">People</div>
				</a>
			</div>

		<div class="item">
				<a href="/t/job/">
					<div class="icon"><i class="fa fa-newspaper-o"></i></div>
					<div class="navlabel">Jobs</div>
				</a>
			</div>

			<div class="item">
				<a href="{% url "planet_list" %}">
					<div class="icon"><i class="fa fa-rss-square"></i></div>
					<div class="navlabel">Planet</div>
				</a>
			</div>

			<div class="item">
				<a href="{% url "site_list" %}">
					<div class="icon"><i class="fa fa-sitemap"></i></div>
					<div class="navlabel">Sites</div>
				</a>
			</div>


            {% if user.is_authenticated %}
				<div class="item ">
					<a href="{% url 'account_logout' %}">
						<div class="icon"><i class="fa fa-sign-out"></i></div>
						<div class="navlabel">Log&nbsp;Out</div>
					</a>
				</div>
            {% endif %}


		</div>

	</div>
</div>



