{% extends "site_layout.html" %}
{% load widgets %}
{% block title %}
    {{ flatpage.post.title }}
{% endblock %}
{% block body %}

    {% user_bar user %}

    <div class="row" id="page_view">

        <div class="nine columns">
            {% message_bar %}
            {% if flatpage %}
                <div class="title">{{ flatpage.post.title }}</div>
                {{ flatpage.post.html|safe }}
            {% endif %}
            <hr>
            <p>
                See <a href="{% url "post_view" pk=flatpage.post.id %}">the discussions</a> on this page.
            </p>
        </div>

        <div class="three columns recent_votes">

        </div>

    </div>

{% endblock %}

