{% extends "site_layout.html" %}
{% load widgets %}
{% load cache %}

{% block title %}
    Planet
{% endblock %}

{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">

        <div class="nine columns">

            {% search_bar page=page action="planet_list" placeholder="Search planet posts" %}

            {% for post in posts %}
                <div class="blog">

                    <div class="title">
                        <a href="{{ post.link|safe }}"> {{ post.title }}</a>
                    </div>

                    {% if post.content_type == "forum.blogpost" %}

                        <div class="muted">
                            Written {{ post.object.creation_date|time_ago }} by <a
                        href="{{ post.object.blog.link }}">{{ post.object.blog.title }}</a>
                        </div>

                        <div>{{ post.context|safe }} </div>

                    {% else %}
                        <div class="muted">
                            Written {{ post.creation_date|time_ago }} by <a
                        href="{{ post.blog.link }}">{{ post.blog.title }}</a>
                        </div>
                        <div>{{ post.html|safe }} </div>
                    {% endif %}


                </div>
            {% endfor %}
        </div>

        <div class="three columns recent_votes">
            {% message_bar %}

            <div class="title">Feed Sources</div>

            {% cache 600 "planet-feeds" %}
                {% for blog in blogs %}
                    <div class="blog">
                        <div class="title">
                            <a href="{{ blog.link }}">{{ blog.title }}</a>
                        </div>
                        <div>{{ blog.desc|safe }} </div>
                        <div class="muted">{{ blog.count }} posts, last updated {{ blog.updated_date|time_ago }} </div>
                    </div>
                {% endfor %}

                <div align="center">
                    <a href="#" class="button">Suggest Feed</a>
                </div>
                </div>
            {% endcache %}

    </div>

{% endblock %}

