{% extends "site_layout.html" %}
{% load widgets %}
{%  block title %}
	Planet
{%  endblock %}

{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">

        <div class="nine columns">

            {% search_bar page=page action="planet_list" placeholder="Search blog posts" %}

            {% for post in posts %}
                <div class="blog">
                    <div class="title">
                       <a href="{{ post.link|safe }}"> {{ post.title }}</a>
                    </div>
                    <div>{{ post.html|safe }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="three columns recent_votes">
            {% message_bar %}

            <div class="title">Feed Sources</div>

            {% for blog in blogs %}
                <div class="blog">
                    <div class="title">
                        <a href="{{ blog.link }}">{{ blog.title }}</a>
                    </div>
                    <div>{{ blog.desc|safe }}</div>
                </div>
            {% endfor %}

            <hr>

            <div align="center">
                <a href="#" class="button">Add Feed</a>
            </div>
        </div>

    </div>

{% endblock %}

