{% extends "site_layout.html" %}
{% load widgets %}
{% load cache %}

{% block title %}
    {{ post.title }}
{% endblock %}
{% block body %}

    {% user_bar user %}

    <div class="row" id="post_detail">
        <div class="nine columns">

            {% search_bar %}

            {#  This is the top level post #}
            <div itemscope itemtype="http://schema.org/Question" class="question">
                {% post_unit post post.comments %}
            </div>

            {#  Answers follow #}
            {% for answer in post.answers %}
                <div itemscope itemtype="http://schema.org/Answer" class="answer">
                    {% post_unit answer post.comments %}
                </div>
            {% endfor %}

            {#  Visual editor here #}
            <div class="row">
                <div class="nav-sep"></div>
                <div style="padding:5px">
                    Add your answer below.
                </div>
                <form method="post" action="{% url "new_answer" pk=post.id %}">
                    {% visual_editor user %}
                </form>
            </div>

        </div>
        <div class="three columns">
            {% message_bar %}
            <div class="title">Similar Posts</div>
            {% cache 600 "similar" post.id %}
                <div id="more_like_this">
                    <ul>
                        {% for p in related %}
                            <li>
                                <a href="{{ p.object.get_absolute_url }}">
                                    {{ p.title }}
                                </a>

                                <div class="peek">{{ p.content|truncatechars:100 }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endcache %}
        </div>
    </div>
{% endblock %}
