{% extends "site_layout.html" %}
{% load widgets %}
{% load cache %}

{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">

        <div class="nine columns">


            {% search_bar page=page %}

            {% message_bar %}

            {% for post in posts %}
                <div class="row post_row">

                    <div class="box vote_count">
                        <div class="c">
                          {% if post.is_toplevel %}
                            {{ post.thread_score }}
                          {% else %}
                            {{ post.vote_count }}
                          {% endif %}
                        </div>
                        <div class="t">votes</div>
                    </div>

                    <div class="box {{ post.subtype }}">
                        {% if post.is_toplevel %}
                          <div class="c">
                            {{ post.reply_count }}
                          </div>
                          <div class="t">answers</div>
                        {% else %}
                          {% if post.has_accepted %}
                            <div class="c mark">
                              <i class="fa fa-check-circle-o fa-2x"></i>
                            </div>
                          {% endif %}
                        {% endif %}
                    </div>

                    <div class="box view_count lg">
                        <div class="c">{{ post.root.view_count|bignum }}</div>
                        <div class="t">views</div>
                    </div>

                    <div class="post_title">
                        <a href="{{ post.get_absolute_url }}">{{ post.get_title }}</a>
                    </div>
                    {% tag_bar post %}
                    {% update_bar post %}
                </div>
            {% endfor %}


            {% page_bar page %}

        </div>

        <div class="three columns recent_list">

            {% cache 5 "recent" %}

                {% recent_votes recent_votes %}

                {% recent_users recent_users %}

                {% recent_awards recent_awards %}

                {% recent_replies recent_replies %}

            {% endcache %}

        </div>

    </div>

{% endblock %}

