{% extends "site_layout.html" %}
{% load widgets %}
{% load cache %}

{% block body %}

    {% user_bar user %}

    <div class="row" id="post_list">

        <div class="nine columns">

            {% search_bar page=page %}

            {% for post in posts %}
                <div class="row post_row">

                    <div class="box vote_count">
                        <div class="c">{{ post.thread_score }}</div>
                        <div class="t">votes</div>
                    </div>

                    <div class="box {{ post.subtype }}">
                        <div class="c">{{ post.reply_count }}</div>
                        <div class="t">answers</div>
                    </div>

                    <div class="box view_count lg">
                        <div class="c">{{ post.root.view_count }}</div>
                        <div class="t">views</div>
                    </div>

                    <div class="post_title">
                        <a href="{{ post.get_absolute_url }}">{{ post.get_title }}</a>
                    </div>
                    {% tag_bar post %}
                    {% update_bar post %}
                </div>
            {% endfor %} 

            {% page_bar page %}
        </div>

        <div class="three columns recent_votes">
            {% message_bar %}

            {% cache 500 "recent" %}

            	{% recent_users recent_users %}

            	{% recent_votes recent_votes %}

            {%  endcache %}

        </div>

    </div>

{% endblock %}

