{% load widgets %}
{#  Post moderation actions #}

<div class="row" id="panel" xmlns="http://www.w3.org/1999/html">
    <div class="moderate">
        <form action="{% url "post_moderate" pk=post.id %}" method="post">
            {% csrf_token %}
            <div class="row">

                <div align="center">
                    Moderating <b>{{ post.get_type_display }}: {{ post.title }}</b>
                    written by <b>{{post.author.name}}</b>
                </div>

                {% if "delete" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="delete"> Delete post.
                </div>

                <div>
                    <textarea class="u-full-width" type="text" size="50"
                              name="reason" placeholder="State the reason for deleting"></textarea>
                </div>
                {% endif %}

                {% if "close" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="close"> Close post.
                </div>

                <div>
                <textarea class="u-full-width" type="text" size="50"
                          name="reason" placeholder="State the reason for closing"></textarea>
                </div>
                {% endif %}

                {% if "duplicate" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="close"> Close as duplicate.
                </div>

                <div>
                <textarea class="u-full-width" type="text" size="50" name="reason"
                          placeholder="Enter urls to duplicates"></textarea>
                </div>
                {% endif %}

                {% if "restore" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="restore"> Restore deleted/closed post.
                </div>
                {% endif %}

                {% if "move_to_answer" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="move_to_answer"> Move to an answer.
                </div>
                {% endif %}

                {% if "move_to_comment" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="move_to_comment"> Move to a top level comment.
                </div>
                {% endif %}

                {% if "reparent" in moderation_actions %}
                 <div>
                    <input type="radio" name="action" value="reparent"> Move to parent id: <input type="text" size="4" name="parent_id" style="height:1.5em" value="">
                </div>
                {% endif %}

                {% if "move_to_question" in moderation_actions %}
                <div>
                    <input type="radio" name="action" value="move_to_question"> Move to a new question. Tags: <input type="text" name="tags" style="height:1.5em" value="">
                </div>
                {% endif %}

                <div class="row">
                    <div class="submit">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="cancel">
                        <input type="button" value="Cancel" class="cancel"
                               onclick="javascript:obj=$('#panel').remove();">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>