{% csrf_token %}
<div class="row">

    {% if user.is_anonymous %}

        <div class="row" style="padding-top:1em">
            Please <a class="button" href="{% url "account_login" %}">Log In</a> to add your answer.
        </div>

    {% else %}

        <div class="row">
            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
        <textarea class="wmd-input" id="wmd-input" name="content"
                  placeholder="Type your post here">{{ content }}</textarea>
            </div>
        </div>

        <div class="row">
            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        </div>

        <input type="submit" value="Submit">
    {% endif %}

</div>