{% load widgets %}
{#  The actions rendered under each post #}
<div class="action_bar">
    <span class="label reply" data-pk="{{ post.id }}">{{ label }}</span>

    {% if post.is_toplevel %}
        &bull; {{ post.view_count|bignum }} views
    {% endif %}

    &bull; <a href="{{ post.get_absolute_url }}">link</a>

    {% if post.editable %}
        &bull; <a href="{% url "post_edit" pk=post.id %}">edit</a>
        &bull; <a class="post_moderate" href="#" data-pk="{{ post.id }}"> <i class="fa fa-caret-down"></i> moderate</a>
    {% endif %}

    {% if post.is_toplevel %}

        &bull; notifications:
        {% if post.sub %}
            <a class="post_follow" href="#" data-pk="{{ post.id }}"><i class="fa fa-caret-down"></i> {{ post.sub.get_type_display|lower }} </a>
        {% else %}
             <a class="post_follow" href="#" data-pk="{{ post.id }}"><i class="fa fa-caret-down"></i> none </a>
        {% endif %}


    {% endif %}

</div>
