{% load widgets %}
{#  Creates the recent vote box #}
<div class="subtitle">Recent Activity</div>
<ul>
    {% for post in posts %}
        <li>
            {{ post.lastedit_date|time_ago }} <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
            by
            <a href="{{post.author.get_absolute_url}}">{{ post.author.name }}</a>
            &bull; {{ post.author.score|bignum }}
        	<em>
                {{ post.content|striptags|truncatewords:25 }}
            </em>
        </li>
    {% endfor %}
</ul>
