<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        {% block title %}{{ html_title }}{% endblock %}
    </title>

	{% block css_assets %}
         {%  include "site_css_assets.html" %}
	{% endblock %}

    {% block head %}
        {# Content in the head tags. #}
    {% endblock %}

</head>
<body>

{% block top %}
    {# Content that must be above page. #}
{% endblock %}

<div class="container" id="header">
    {% block header %}
        Base Header.
    {% endblock %}
</div>

<div class="container" id="body">
    {% block body %}
        Base Body.
    {% endblock %}
</div>

<div class="container" id="footer">
    {% block footer %}
        Base Footer.
    {% endblock %}
</div>

{% block bottom %}
    {#  Content that must be below page. #}
{% endblock %}

{% block js_assets %}
    {%  include "site_js_assets.html" %}
{% endblock %}

</body>
</html>