{% extends "site_layout.html" %}
{% load widgets %}

{% block body %}

    {% user_bar user %}

	<div class="row" id="post_list">

		<div class="nine columns">
			<div>
                {% message_bar %}
				<p>
					You are currently on the <b>{{ site.name }}</b> site.
				</p>

				<p>
					Different sites may be governed by different rules.
					Contact the admins (or post on the
					moderator list) to request the creation of new sites.
				</p>

				<p>
					Check the boxes for posts that you want to see when you visit the main domain.
                    {% if user.is_anonymous %}
						You will need to <a href="{% url 'account_login' %}">Sign In</a> to use this feature.
                    {% endif %}
				</p>

			</div>
			<div>&nbsp;</div>
			<form method="post" action="{% url "site_list" %}">
                {% csrf_token %}
                {% for site in sites %}

					<div class="row post_row">
						<div class="post_title">

							<input type="checkbox" name="site_id" value="{{ site.id }}"
                            {% if site.checked %}
								   checked
                            {% endif %}
									>
							&nbsp;
							<a href="//{{ site.domain }}"> {{ site.name }}</a>


						</div>
					</div>


                {% endfor %}
				<div class="row" style="margin-top:1ex">
					<input type="submit" name="Submit" value="Submit">
				</div>
			</form>

		</div>

		<div class="three columns recent_votes">


		</div>

	</div>

{% endblock %}

