{% extends "site_base.html" %}
{% load staticfiles %}
{% load compress %}
{% load widgets %}

{% block header %}
    {% if  SUBDOMAIN_FLAG %}
        <div class="subdomain">
        {{ request.site.name }}
        </div>
    {% endif %}
    {#  Logo and user information #}
    {% nav_bar user %}
{% endblock %}

{% block body %}
    Layout Body.
{% endblock %}

{% block footer %}
    <div>
        <ul class="simple_navbar">
            <li>
                <a href="{% url "charm_view" %}"><i class="fa fa-desktop"></i> Charms</a>
            </li>

            <li>
                <a href="{% url "user_list" %}"><i class="fa fa-user"></i> Users</a>
            </li>

            <li>
                <a href="{% url "page_view" "info" %}"><i class="fa fa-info-circle"></i> About</a>
            </li>
            <li>
                <a href="{% url "page_view" "rss" %}"><i class="fa fa-rss"></i> RSS</a>
            </li>
            <li>
                <a href="{% url "page_view" "faq" %}"><i class="fa fa-bell"></i> FAQ</a>
            </li>
            <li>
                <a href="{% url "page_view" "api" %}"><i class="fa fa-tasks"></i> API</a>
            </li>
            <li>
                <a href="{% url "page_view" "policy" %}"><i class="fa fa-user"></i> Terms of Use</a>
            </li>
        </ul>
    </div>

    <div>
        Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> &bull;
        version {{ BIOSTAR_VERSION }}
    </div>
    {# This information is cached and updated periodically via the context. #}
    <div id="traffic">Traffic: {{ TRAFFIC }} users visited in the last hour</div>
{% endblock %}
