{% extends "site_layout.html" %}
{% load widgets %}
{% load humanize %}

{% block title %}
    Edit {{ target.name }}
{% endblock %}

{% block body %}

    {% user_bar user %}

    <form action="{% url "user_edit" pk=target.id %}" method="post">

        {% csrf_token %}


        <div class="row">
            <div class="title {{ target.get_status_display }} center">
                Edit User: {{ target.name }}
            </div>
            {% if form.errors %}
                <div>{{ form.errors }}</div>
            {% endif %}
        </div>

        <div class="row" id="user_edit">


            {% message_bar %}

            <div class="five columns">


                <div>
                    <label>Display Name (required):</label> {{ form.name }}
                </div>

                <div>
                    <label> Email (required):</label> {{ form.email }}
                </div>

                <div>
                    <label> Location:</label> {{ form.location }}
                </div>

                <div>
                    <label> Web site:</label> {{ form.website }}
                </div>
                <div>
                    <label>Twitter:</label> {{ form.twitter_id }}
                </div>
                <div>
                    <label>Google Scholar ID:</label> {{ form.scholar }}
                </div>

                <div>
                    <label>Tags (comma separated):</label>

                    <div class="muted">

                        <p>
                            Example: <code>samtools, janedoe</code>

                        Get notified when any of these words are listed either
                        in post tags <code>samtools</code> or in the body of the
                        post as <code>@janedoe</code></p>
                    </div>
                      {{ form.tags }}


                </div>

                <div>
                    <label>Notification Preferences:</label>
                    {{ form.message_prefs }}
                </div>


            </div>
            <div class="seven columns">
                <label>About me</label>

                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
        		<textarea class="wmd-input" id="wmd-input" name="info"
                          placeholder="Type your post here">{{ form.info.value }}</textarea>
                </div>


                <div align="center">
                    <i>Preview appears below</i>
                </div>

                <div class="row">
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                </div>


            </div>

        </div>

        <div class="row">


            <div class="twelve columns">

                <div class="row">
                    <hr>
                </div>

                <div class="row">
                    <div class="submit" , style="float: left">
                        <input type="submit" class="buttton button-primary" value="Submit">
                    </div>

                    <div class="cancel" style="float:right">
                        <input type="button" value="Cancel" class="cancel"
                               onclick="javascript:window.location.assign('{{ target.get_absolute_url }}')">
                    </div>
                </div>

                <div class="row">
                    <hr>
                </div>

            </div>
        </div>

    </form>

{% endblock %}