{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    User List
{% endblock %}

{% block body %}

    {% user_bar user %}

    <div class="row">
        <div class="twelve columns">

            {% search_bar page=page action='user_list' placeholder="Search for users" %}

            {% message_bar %}

            <div class="row" style="padding-top:1em">

                {% for user in users %}

                    <div class="user_list_box">

                        <div>
                            <a href="{{ user.get_absolute_url }}">{% gravatar user 82 %}</a>
                        </div>

                        <div>
                            <a href="{{ user.get_absolute_url }}">{{ user.name }}</a> {%  user_marker user %} <b>{{ user.score|bignum }}</b>
                        </div>

                        <div class="visited">
                            visited {{ user.profile.last_login|time_ago }}
                        </div>

                        <div class="visited">
                            {{ user.profile.location }}
                        </div>


                    </div>


                {% endfor %}
            </div>

            {% page_bar page %}
        </div>

    	<div class="three columns recent_votes">

        </div>

    </div>

{% endblock %}
