{% extends "site_layout.html" %}
{% load widgets %}
{% load humanize %}

{% block title %}
    User List
{% endblock %}

{% block body %}
    {% user_bar user %}
    <div class="row" id="user_view">

        <div class="row">
            <div class="title {{ target.get_status_display }} center">
                User: {{ target.name }}
            </div>
        </div>

        <div class="row">

            <div class="eight columns">
                <div class="six columns">
                    {#  User portrait #}
                    <div class="center">{% gravatar target 200 %}</div>
                    {% if target.can_be_moderated %}
                        <div class="center">
                            {# Needs two parents for the panel popover to work properly #}
                            <div>
                                <a class="button user_moderate" href="#" data-pk="{{ target.id }}">moderate</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="six columns">

                    {% message_bar %}

                    <div id="user_attr">
                        <div>
                            Activity:
                            <b>{{ top_count|intcomma }}</b> top post{{ top_count|pluralize }},
                            <b>{{ answer_count|intcomma }}</b> answer{{ answer_count|pluralize }},
                            <b>{{ comment_count|intcomma }}</b> comment{{ comment_count|pluralize }}
                        </div>
                        <div>
                            Location: <b>{{ target.profile.location }}</b>
                        </div>

                        <div>
                            Reputation: <b>{{ target.scaled_score|bignum }}</b>
                        </div>

                        {% if target.editable %}
                            <div>
                                Email: <b>{{ target.email }}</b>
                            </div>
                            <div>
                                New post: <a
                                    href="mailto: new-{{ target.profile.uuid }}-{{ group.domain }}@biostars.io">
                                via this email.
                            </a>
                                <a href="/page/faq#new-post-email"><i class="fa fa-question-circle"></i></a>
                            </div>
                        {% else %}
                            <div>
                                Email: <b>{{ target.email|hide_email }}</b>
                            </div>
                        {% endif %}

                        {% if target.profile.twitter_id %}
                            <div>Twitter:
                                <i class="fa fa-twitter"></i> <a
                                        href="http://twitter.com/{{ target.profile.twitter_id }}">
                                    {{ target.profile.twitter_id|truncatechars:25 }}</a>
                            </div>
                        {% endif %}

                        {% if target.profile.website %}
                            <div>
                                Web: <a href="{{ target.profile.website }}">
                                {{ target.profile.website|truncatechars:25 }}</a>
                            </div>
                        {% endif %}

                        {% if target.profile.scholar %}
                            <div>
                                Google scholar: <a
                                    href="http://scholar.google.com/citations?user={{ target.profile.scholar }}">
                                view page</a>
                            </div>
                        {% endif %}

                        <div>
                            Status: <b>{{ target.get_status_display }}</b> <i class="fa fa-question-circle"></i>
                        </div>

                        <div>
                            Last seen: <b>{{ target.profile.last_login | naturaltime }}</b>
                        </div>
                        <div>
                            Date joined: <b>{{ target.profile.date_joined | naturaltime }}</b>
                        </div>

                        <div>
                            User flair: {{ user.flair }} <span class="line">{% scoreline target %}</span>
                            <a href="/page/faq#user-flair"><i class="fa fa-question-circle"></i></a>
                        </div>

                        <div>
                            Permissions:
                            {% for perm in perms %}
                                {{ perm.get_role_display }} on
                                <a href="{{ perm.usergroup.get_absolute_url }}">{{ perm.usergroup.name }}</a>,
                            {% endfor %}
                        </div>

                    </div>

                    <ul style="padding-top:1em">

                        {% if target.editable %}
                            <li>
                                <a href="{% url "user_edit" target.id %}">
                                    <b><i class="fa fa-edit"></i> Edit Your Profile</b></a>
                            </li>
                            <li>
                                <a href="{% url "user_edit" target.id %}">
                                    <b><i class="fa fa-connectdevelop"></i> Connect other Social Accounts</b></a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{% url "posts_by_user" pk=target.id %}"><i
                                    class="fa fa-list"></i> View all posts by {{ target.name }}</a>
                        </li>

                        <li>
                            <a href="{% url "vote_list" pk=target.id %}"><i
                                    class="fa fa-heart"></i> View all votes for {{ target.name }}</a>
                        </li>

                        <li>
                            <a href="{% url "posts_by_user" pk=target.id %}"><i
                                    class="fa fa-star"></i> View all awards to {{ target.name }}</a>
                        </li>

                    </ul>

                </div>

                <div class="row">
                    <div class="title">Recent Posts by {{ target.name }}</div>
                    <div id="post_list">
                        {% for post in posts %}
                            <div class="post_title">
                                <a
                                        href="{{ post.get_absolute_url }}">{{ post.get_type_display }} {{ post.get_title }}</a>
                            </div>
                            <div>{{ post.content | truncatewords:80 }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="four columns">
                {#  Profile information goes here #}
                {{ target.profile.html|safe }}

            </div>


        </div>


    </div>

{% endblock %}