{% load widgets %}
{#  User moderation actions #}

<div class="moderate" xmlns="http://www.w3.org/1999/html">

    <form action="{% url "user_moderate" pk=target.id %}" method="post">
        {% csrf_token %}

        <div align="center" style="padding-bottom:1ex">
            Moderating user <b>{{ target.name }}</b>
        </div>

        {% if "suspend" in moderation_actions %}
          <div>
              <input type="radio" name="action" value="suspend"> Suspend user.
          </div>
        {% endif %}

        {% if "reinstate" in moderation_actions %}
          <div>
              <input type="radio" name="action" value="reinstate"> Reinstate user.
          </div>
        {% endif %}

        {% if "ban" in moderation_actions %}
          <div>
              <input type="radio" name="action" value="ban"> Ban user.
          </div>
        {% endif %}

        {% if "merge" in moderation_actions %}
          <div>
              <input type="radio" name="action" value="merge"> Merge this user into id <input type="text"
                                                  name="master_id" style="height:1.5em" size="5" value="">
          </div>
        {% endif %}

        <div class="row" style="padding-top: 1ex">
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
            <div class="cancel">
                <input type="button" value="Cancel" class="cancel"
                       onclick="javascript:obj=$('#panel').remove();">
            </div>
        </div>

    </form>

</div>