{% load widgets %}
{%  load humanize %}

{% with c=context.counts %}

    {#  A second navigation bar for authenticated users #}
    <div class="row">



        <div class="twelve columns">

            <div id="userbar">



                {% if user.is_authenticated %}

                    <div class="item tooltip" title="Your Account" data-tooltip-direction="top">
                        <a href="{% url "user_view" pk=user.id %}"><i class="fa fa-user"></i> {% user_link user show_score=False unwrap=True %}
                        </a>
                    </div>

                    <div class="item tooltip" title="Notifications" data-tooltip-direction="top">
                        <a class="{% glow c.mesg_count %}" href="{% url "my_messages" %}"><i
                        class="fa fa-envelope"></i> {{ c.mesg_count }}</a>
                    </div>

                    <div class="item tooltip lg" title="Upvotes for you" data-tooltip-direction="top">
                        {% if c.new_vote_count %}
                            <a class="{% glow c.new_vote_count %}" href="{% url "vote_list" pk=user.id %}"><i
                            class="fa fa-heart"></i> {{ c.new_vote_count }}</a>
                        {% else %}
                             <a href="{% url "vote_list" pk=user.id %}"><i
                            class="fa fa-heart"></i> {{ c.vote_count|bignum }}</a>
                        {% endif %}
                    </div>

                    <div class="item tooltip lg" title="Your Awards" data-tooltip-direction="top">
                        <a href="{% url "award_list" user.id %}"><i class="fa fa-star"></i> {{ c.award_count }}</a>
                    </div>

                    <div class="item tooltip lg" title="Your Bookmarks" data-tooltip-direction="top">
                        <a href="{% url "my_bookmarks" %}"><i
                        class="fa fa-bookmark"></i> {{ c.book_count }}</a>
                    </div>

                    <div class="item tooltip" title="Your Posts" data-tooltip-direction="top">
                        <a href="{% url "posts_by_user" pk=user.id %}"><i
                        class="fa fa-list"></i> {{ c.post_count|bignum }}</a>
                    </div>


                {% endif %}
            </div>
        </div>
    </div>

{% endwith %}
