
{% include "widgets/message_menu.html" %}
<h2>Compose</h2>


<form method="post" action="{% url 'compose' %}">

        {{ form.media }}
        {% csrf_token %}

        <div>
            <label>{{ form.recipients.label}}</label>
            {{ form.recipients }}
            <p>{{ form.recipients.help_text}}</p>
        </div>

        <div>
            <label>{{ form.subject.label}}</label>
            {{ form.subject }}
            <p class="muted">{{ form.subject.help_text}}</p>
        </div>

        <div>
            <label>{{ form.body.label}}</label>
            {{ form.body }}
            <p>{{ form.body.help_text}}</p>
        </div>

        <button type="submit">Send
        </button>

        <a href="{% url 'inbox' %}">
             Cancel
        </a>
</form>