{% load message_tags %}
{% load humanize %}

{% include "widgets/message_menu.html" %}

<h2>{{ tab_name|capfirst }} </h2>

<ul>
    {% for msg in all_messages %}
        <li>
            {% is_inbox message=msg target=request.user as in_inbox %}
                Subject:
                {% if in_inbox %}
                <a href="{% url 'inbox_view' msg.uid %}">{{msg.subject|truncatechars:90}}</a>
                {% else %}
                <a href="{% url 'outbox_view' msg.uid %}">{{msg.subject|truncatechars:90}}</a>
            {% endif %}
        </li>
    {% endfor %}


</ul>
