<h2 style="color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:40px;font-weight:normal;letter-spacing:-1px;line-height:46px;margin:0;padding:20px 0 0;text-align:left;word-break:normal"
    align="left">
    Explore this week on <a href="https://www.biostars.org">Biostars</a>
</h2>

<p style="color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;line-height:18px;margin:0 0 15px;padding:0;text-align:left;word-wrap:normal"
   align="left">
    Here's what is happening on Biostars the week of <strong style="color:#333">Aug 5 - Aug 12</strong>
</p>


<h3>Most Viewed Recent Posts</h3>
<ul>
{% for post in most_viewed %}
    <li><a href="{{protocol}}{{site.domain}}{{post.get_absolute_url}}">{{ post.title }}</a> by {{ post.author.name }}</li>
{% endfor %}
</ul>

<h3>Most Active Posts</h3>
<ul>
{% for post in most_active %}
    <li><a href="{{protocol}}{{site.domain}}{{post.get_absolute_url}}">{{ post.title }}</a> by {{ post.author.name }}</li>
{% endfor %}
</ul>

<h3>New users with most contributions</h3>
<ul>

</ul>

https://www/biostars.org
