{% load basic %}
{% load widgets %}

<tr valign="top" class="{{post.get_status}}">
    <td>
        <div class="status votes">
            <div class="mini-counts">{{post.full_score}}</div>
            <div>vote{{post.full_score|pluralize}}</div>
        </div>
    </td>

    <td>
        <div class="status forum">
            <div class="mini-counts">{{post.answer_count}}</div>
            <div>repl{{post.answer_count|pluralize:'y,ies'}}</div>
        </div>
    </td>

    <td>
        <div class="status views">
            <div class="mini-counts">{% bignum post.views %}</div>
            <div>view{{post.views|pluralize}}</div>
        </div>
    </td>

    <td class="summary" width="100%">

        <div class="post-title {{post.get_type_display}}">
            {% show_type post params.show_type %}  <a href="{{post.get_absolute_url}}"> {{post.get_title}}</a>
        </div>

        {# generates the small peek into the post #}
        <div class="peek">{{post.content|truncatewords:30}}</div>

        {# "fake tag" with the post type to distinguish from other posts #}
        <div class="tag-line">
            <a href="{% url show 'tools' %}" class="post-type tag">tools</a>
        </div>


        {# this shows the tags on the post #}
        {% show_tags post %}



        {# shows post creation time and author #}
        {% post_info_line '' post %}

    </td>

<tr>
