{% extends 'rows/row.post.html' %}

{% load basic %}
{% load widgets %}

{% block attribute-answers %}
    <div class="status news">
        <div class="mini-counts">{{post.answer_count}}</div>
        <div>repl{{post.answer_count|pluralize:'y,ies'}}</div>
    </div>
{% endblock %}

{% block tags %}
    {# "fake tag" with the post type to distinguish from other posts #}
    <div class="tag-line">
        <a href="{% url show 'news' %}" class="post-type tag">news</a>
    </div>

    {# this shows the tags on the post #}
    {% show_tags post %}
{% endblock %}