{% load basic %}
{% load widgets %}


<tr valign="top" class="{{post.get_status}}">
    
    <td class="attributes">
        <div class="status votes">
            <div class="mini-counts">{{post.score}}</div>
            <div>votes</div>
        </div>

        <div class="status views">
            <div class="mini-counts">A</div>
            <div>answer</div>
        </div>
    </td>

    <td class="summary">
                   
         <a href="{{post.get_absolute_url}}" class="under">{{post.title}}</a>
         <div class="peek">{{post.content|truncatewords:30}}</div>

        {# shows post creation time and author #}
        {% post_info_line '' post %}

    </td>

<tr>
