{% load basic %}
{% load widgets %}

<tr valign="top" class={{post.get_status}}>
    
     <td class="attributes blog" align="right">
        <div class="vote-box">
            <div class="vote">
                <input type="hidden" value="{{post.id}}">
                <div class="vote-count">{{ post.views }}</div>
                <div align="center" class="status-text">view{{post.views|pluralize}}</div>
                {% if post.bookmarked %}
                    <div class="vote-bookmark vote-on" title="Click to remove bookmark">&nbsp;</div>
                {% else %}
                    <div class="vote-bookmark vote-off" title="Click to add bookmark">&nbsp;</div>
                {% endif %}
             </div>
        </div>
    </td>

    <td class="summary" width="100%">

        <div class="post-title {{post.get_type_display}}">
            {% if post.url %}
                <a href="{% url main.server.views.linkout post.id %}">{{post.get_title}} <i class="icon-share-alt"></i></a>
            {% else %}
                <a href="{{post.get_absolute_url}}">{{post.get_title}} </a>
            {% endif %}
        </div>

        {# generates the small peek into the post #}
        <div class="peek">{{post.content|safe}}</div>

        {# this shows the tags on the post #}
        {% show_tags post %}

        {# shows post creation time and author #}
        {% post_info_line '' post %}
        
    </td>

<tr>
