{% extends "index.html" %}

{% block title %}
    {{object_list.title}}
{% endblock %}


{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui vertical center aligned segment">
       <b class="header">{{object_list.project.title}}</b>

    </div>
<p>
        <div class="ui small breadcrumb">
          <a class="section" href="{% url 'home' user.id%}">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'allprojects' %}">Projects</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'project' object_list.project.id %}">
              {{object_list.project.title}}
          </a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'allanalysis' object_list.project.id %}">Analysis</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">{{object_list.title}}</div>

        </div>
 </p>
<div class="ui vertical center aligned segment">

           <p>{{object_list.date.date}}</p>

              <p>{{object_list.text}}</p>

    </div>

{% endblock %}
