{% extends "index.html" %}

{% block title %}
    {{object_list.title}}
{% endblock %}


{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui vertical center aligned segment">
       <b class="header">{{object_list.title}}</b>
    </div>
    <p>
        <div class="ui small breadcrumb">
          <a class="section" href="{% url 'index' %}">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'allprojects' %}">Projects List</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'project' object_list.id %}">{{object_list.title}}</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Data List</div>

        </div>
    </p>
    <div class="ui container">

    <div class="ui vertical center aligned segment">
        <button class="ui primary basic button">
            <a href="{% url 'data_create' object_list.id %}">
            <i class="write square icon"></i>Create Data
            </a>
        </button>
    </div>
    {% for data in object_list.data_set.all %}

        <div class="ui vertical segment">
           <div class="ui right floated basic button">
               <a href="{% url 'allprojects' %}">
                <i class="write icon"></i>Edit Data
               </a>
            </div>
            <a href="{% url 'data' object_list.id data.id %}">
                <i class="folder icon"></i>{{ data.title }}
            </a>
            <p>{{data.date.date}}</p>
        </div>

    {% endfor %}
 </div>
{% endblock %}
