{% extends "index.html" %}

{% block title %}
    {{object_list.title}}
{% endblock %}


{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui vertical center aligned segment">
       <h2 class="ui header">{{object_list.title}}</h2>
    </div>
    <div class="ui vertical aligned segment">
        <div class="ui tiny breadcrumb">
          <a class="section" href="{% url 'home' %}">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section" href="{% url 'allprojects' %}">Projects</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">{{object_list.title}}</div>
        </div>
    </div>
    <div class="ui text container">

        <div class="ui vertical segment">
            <a href="{% url 'alldata' object_list.id %}">
                <h3><i class="archive icon"></i>Data</h3>
            </a>
            <h5>Data collection.</h5>

        </div>

        <div class="ui vertical segment">
            <a href="{% url 'allanalysis' object_list.id %}">
                <h3><i class="options icon"></i>Analysis</h3>
            </a>
            <h5>Modify pipelines and add to jobs queue.</h5>

        </div>

        <div class="ui vertical segment">
            <a href="{% url 'project' object_list.id %}">
                <h3><i class="bar chart icon"></i>Results</h3>
            </a>
            <h5>Results from pipelines.</h5>

        </div>


    </div>

{% endblock %}
