{% extends "index.html" %}

{% block title %}
    Projects
{% endblock %}


{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui vertical center aligned segment">
       <h2 class="ui header">Projects</h2>

    </div>
    <div class="ui vertical aligned segment">
        <div class="ui tiny breadcrumb">
          <a class="section" href="{% url 'home' %}">Home</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Projects</div>
        </div>
    </div>

    <div class="ui text container">

    {% for proj in object_list %}

        <div class="ui vertical segment">
            <a href="{% url 'project' proj.id %}">
                <i class="folder icon"></i>{{ proj.title }}
            </a>
            <p>{{proj.date.date}}</p>

        </div>

    {% endfor %}
        </div>
{% endblock %}
