{% load forum_tags %}

{% if user.is_authenticated %}

    <div class="ui small attached six item menu" id="menu-topics">

        <a class="item {% activate tab "myposts" %}" href="{% url 'myposts' %}">
            <i class="comments icon"></i> My Posts
        </a>

         <a class="item {% activate tab "bookmarks" %}" href="{% url 'bookmarks' %}">
            <i class="bookmark icon"></i> Bookmarks
        </a>

        <a class="item {% activate tab "messages" %}" href="{% url 'inbox' %}">
            {% if counts.message_count %}
                <div class="ui green button"> <i class="envelope icon"></i>Messages {{ counts.message_count }}</div>
            {%  else %}
                 <i class="envelope icon"></i>Messages
            {% endif %}
        </a>
        <a class="item {% activate tab "myvotes" %}" href="{% url 'myvotes' %}">
            {% if counts.vote_count %}
                <div class="ui pink button"><i class="heart icon"></i> Votes {{ counts.vote_count }}</div>
            {%  else %}
                <i class="heart icon"></i> Votes
            {% endif %}

        </a>

        <a class="item {% activate tab "mytags" %}" href="{% url 'mytags' %}">
            <i class="tags icon"></i> My Tags
        </a>

        <a class="item {% activate tab "following" %}" href="{% url 'following' %}">
            <i class="eye icon"></i> Following
        </a>

    </div>

{% endif %}
