body {
    background-color: #f8f8f9;
    padding-top: 1rem;
}

.row:hover {
    text-decoration: underline;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}

code {
    color: #c7254e;
    background: #f5f2f0;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
   line-height: 1.7;
}

.muted {
    color: #999999;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: #EEEEEE;
}

.smaller {
    font-size: smaller;
}
