body {
    background-color: #f8f8f9;
    padding-top: 1rem;
}

.ui.items>.item>.content>a.header {
    color: #4183c4;
}

.divide {
    color: red;
}



.actionbar {
    margin-top:-20px !important;
}

.project.help h1 {
    font-size: 1.28em;
}

.project.help h2 {
    font-size: 1.18em;
}

.project.help h3,h4,h5 {
    font-size: 1.08em;
}

.runcolor {
    background: rgba(33, 186, 69, 0.13) !important;
}

.inputcolor {
    background: #fff8db !important;
}

.CodeMirror {
    height: 30em !important;
}

.page > h1 {
    font-size: 1.28em !important;
    border-bottom: 1px solid #EEEEEE;
}

.page > h2 {
    font-size: 1.18em !important;
    border-bottom: 1px solid #EEEEEE;
}

.centerbox {
    display:inline-block !important;
    text-align: center !important;
}

.wide {
    width: 95% !important;
}



.code {
    font-family: monospace;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}

ul {
    list-style-type: none !important ;
}

.subheader {
    font-size: 1.1em;
    font-weight: 700;
}

a {
    padding: 2 2 2 2px;
}

a:hover{
    background-color: #EEEEEE;
    border-radius: 3px;
}
code {
    color: black;
    background-color: #EEEEEE;
    padding: 2px;
    border-radius: 3px;
    line-height: 1.7;
}

#comment {

display:none;

}

.muted {
    color: #999999;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: #EEEEEE;
}

.smaller {
    font-size: smaller;
}
