body {
    background-color: #f8f8f9 !important;
    padding-top: 1rem;
}

.ui.tabular.colored.menu {
    border-bottom: 1px solid #2185d0!important;

}

.ui.attached.colored.segment {
    border-bottom: 1px solid #2185d0!important;
    border-left: 1px solid #2185d0!important;
    border-right: 1px solid #2185d0!important;

}

.ui.items>.item>.content>a.header {
    color: #4183c4;
}

.extrainfo {
  margin-top:30;
  padding: 0;
}

.imgpad {
    padding-right: 1em;
}

.deleted {
    background-color:#f7e4de !important;;
}

.count {
    padding-right:10px !important;;
}
.accepted {
    background-color: #f9fcf9 !important;;
}

.ui.userinfo.segment {
  margin: 0;
  padding: 0;
}

.ui.tags.segment {
  padding: 0;
  margin: 5;
}


.ui.maroon.label {
  background-color: #8f2c47;
  color: #fff;
}
.ui.maroon.header {
  color: #8f2c47;
}

.ui.maroon.segment {
  border-top: 2px solid #8f2c47!important;
}

.ui.darkgreen.label {
  background-color: #326b2b;
  color: #fff;
}
.ui.lightgreen.label {
  background-color: #6ebf65;
  color: #fff;
}

.ui.stats.segment {
    margin-left: -1em;
    margin-bottom: -1em;
    margin-right: 0em;
    padding-top: 0px;
}

.ui.title.segment {
    margin:0em;
    padding-top: 0px;
}

.ui.title.header {
    font-size: .80em;
    font-weight: 9000;

}

.ui.divided.items>.post.item {
    padding-bottom: 0;
}


.ui.transparent.label{
    background: none #fff;
    border-color: white;
}
.ui.stat.label{
    width: 53;
    margin: 0;
    border-radius: 0;
}

.number-stat{
    font-size: 1.8em;
    padding-bottom: .2em;
    text-align: center;
    font-weight: 800;
}
.ui.forum.container {
    width: 1230px;
    }



.detail-stat{
    font-size: 1.1em;
    text-align: center;
    font-weight: 200;
}


.ui.tagging.label {
    margin:0!important;
    font-size: 14px;
    padding: 3px;
    color:#8f2c47;
    font-weight: 20;
}
.ui.tagging.label:hover {
    background-color: #8f2c47;
    color:white;

}
.ui.darkgreen.header {
  color: #326b2b
}

.ui.darkgreen.segment {
  border-top: 2px solid #326b2b!important;
}

.ui.comment.segments{
    box-shadow: 0 0px 0px 0px rgba(34,36,38,.15);
    border: none transparent;
}

.socialbox{
    width:450 !important;
    margin-left:auto !important;
    margin-right:auto !important;

}

.logintext{
    padding-top:5 !important;
    padding-left:5 !important;
    margin-bottom:0 !important;
}

.ui.commentcolor.segment {
    background-color:#f2f2f2!important;;
    padding:2;
}
.ui.comment.segment {
  border-top: none !important;
  padding-right:0;
  padding-top: 8;
  padding-left: 30;
  padding-bottom:0;
}

.ui.gold.label {
  background-color: #b5a805;
  color: #fff;
}
.ui.gold.header {
  color: #b5a805
}

.ui.gold.segment {
  border-top: 2px solid #b5a805!important;
}

.actionbar {
    margin-top:-20px !important;
}

.project.help h1 {
    font-size: 1.28em;
}

.project.help h2 {
    font-size: 1.18em;
}

.project.help h3,h4,h5 {
    font-size: 1.08em;
}

.runcolor {
    background: rgba(33, 186, 69, 0.13) !important;
}

.inputcolor {
    background: #fff8db !important;
}

.CodeMirror {
    height: 30em !important;
}

.page > h1 {
    font-size: 1.28em !important;
    border-bottom: 1px solid #EEEEEE;
}

.page > h2 {
    font-size: 1.18em !important;
    border-bottom: 1px solid #EEEEEE;
}

.centerbox {
    display:inline-block !important;
    text-align: center !important;
}

.wide {
    width: 95% !important;
}



.code {
    font-family: monospace;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}

ul {
    list-style-type: none !important ;
}

.subheader {
    font-size: 1.1em;
    font-weight: 700;
}

a {
    padding: 2 2 2 2px;
}

a:hover{
    background-color: #EEEEEE;
    border-radius: 3px;
}
code {
    color: black;
    background-color: #EEEEEE;
    padding: 2px;
    border-radius: 3px;
    line-height: 1.7;
}

#comment {

display:none;

}

.muted {
    color: #999999;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: #EEEEEE;
}

.smaller {
    font-size: smaller;
}

.tablet {

}

.fitme {

}

.phone {

}


.profile{
    margin-top:17 !important;

}

@media all and (max-width: 1024px) {

    .fitme {
        display: block;
        padding-top: 1ex;
    }
}

@media all and (max-width: 999px) {

  .tablet {
      display: none!important;
  }

}

@media all and (max-width: 500px) {

  .phone {
      display: none!important;
  }

}
