{% load basic %}

{% if post.comment_count %}
    <div class="comments">
        <table>
            {% for comment in post.comments %}
                <tr class="comment" id="{{comment.id}}">
                    <td class="comment-actions">&nbsp;</td>
                    <td class="comment-text">
                        {{comment.html|safe}}
                        &mdash;
                        {% time_ago comment.creation_date %} by
                        {% userlink comment.author %} 
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if user.is_authenticated %}
<div class="post-comment post-menu">
    {% csrf_token %}
    <input type="hidden" value="{{post.id}}">
    <a class="add-comment">add comment</a>
</div>
{% endif %}
