{% load basic %}

{% if editable %}
    
    <span class="mod-menu">
    
        {% if post.closed %}
            <a class="mod-link">reopen</a> &bull;
        {% else %}
            <a class="mod-link">close</a> &bull;
        {% endif %}
    
        {% if post.deleted %}
            <a class="mod-link">undelete</a> &bull;
        {% else %}
            <a class="mod-link">delete</a> &bull;                                    
        {% endif %}                            
    
    </span>    

{% endif %}

{% if editable %}
    <a href="/post/edit/{{post.id}}/">edit</a> &bull;
{% endif %}

<a href="{{request.path}}#{{post.id}}">link</a>