<div align="center" style="padding:5px">
    
    {% if page.has_previous %}
        &lt;<a href="{{request.path}}?page={{page.previous_page_number}}&search={{search}}">previous</a>
        &bull; <a href="{{request.path}}?page=1&search={{search}}">first</a>
    {% else %}
        <span style="color:#555555;">&lt;previous &bull; first</span>
    {% endif %}

    &bull; page {{ page.number }} of {{ page.paginator.num_pages }}

    
    {% if page.has_next %}
        &bull; <a href="{{request.path}}?page={{page.paginator.num_pages}}&search={{search}}">last</a>
        &bull; <a href="{{request.path}}?page={{page.next_page_number}}&search={{search}}">next</a>&gt;
    {% else %}
        <span style="color:#555555;">&bull; last &bull; next&gt;</span>
    {% endif %}
</div>
