<div>
<h3 align="center">
    
    {% if page.has_previous %}
        <a href="{{request.path}}?page={{page.previous_page_number}}">&lt;previous</a>
    {% else %}
        &lt;previous
    {% endif %}

    &nbsp;&bull;&nbsp;
    
    <a href="{{request.path}}?page=1">first</a> &bull;  
    
    page {{ page.number }} of {{ page.paginator.num_pages }}&nbsp;&bull;&nbsp;

    
    <a href="{{request.path}}?page={{page.paginator.num_pages}}">last</a>  &bull; 

    {% if page.has_next %}
        <a href="{{request.path}}?page={{page.next_page_number}}">next&gt;</a>
    {% else %}
        next&gt;
    {% endif %}

</h3>
</div>
