<div>
<h3 align="center">
    
    {% if page.has_previous %}
        &lt;<a href="{{request.path}}?page={{page.previous_page_number}}">previous</a>
        &bull; <a href="{{request.path}}?page=1">first</a>
    {% else %}
        <span style="color:#555555;">&lt;previous &bull; first</span>
    {% endif %}

    &bull; page {{ page.number }} of {{ page.paginator.num_pages }}

    
    {% if page.has_next %}
        &bull; <a href="{{request.path}}?page={{page.paginator.num_pages}}">last</a>
        &bull; <a href="{{request.path}}?page={{page.next_page_number}}">next</a>&gt;
    {% else %}
        <span style="color:#555555;">&bull; last &bull; next&gt;</span>
    {% endif %}

</h3>
</div>
