{% load basic %}

{% spaceless %}
    <span class="reputation-score">{{ user.profile.score }}</span>
    {% if user.profile.gold_badges %}
        {% badgeicon 'gold' %}
        <span class="badge-count">{{user.profile.gold_badges}}</span>
    {% endif %}
    {% if user.profile.silver_badges %}
        {% badgeicon 'silver' %}
        <span class="badge-count">{{user.profile.silver_badges}}</span>
    {% endif %}
    {% if user.profile.bronze_badges %}
        {% badgeicon 'bronze' %}
        <span class="badge-count">{{user.profile.bronze_badges}}</span>
    {% endif %}
{% endspaceless %}