h2.ui.center.header {
    margin-top: 1em;
}

h2.ui.header {
    font-size: 1.2rem;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}

.title {
    font-size: 1.14285714rem;
    font-weight: 400;
}

.specs {
    font-size: 0.85em;
    margin-bottom: 1em;
}

.breadcrumb {
    margin-top: 1.3em;
    margin-bottom: 1em;
}

.Queued {
    color: blue;
    font-weight: bold;
    font-size: .795em;
}

.Running {
    color: yellow;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    font-weight: bold;
    font-size: .795em;
}

.Error{
    color: red;
    font-weight: bold;
    font-size: .795em;
}

.Finished{
    color: green;
    font-weight: bold;
    font-size: .795em;
}

.createform {
   padding-top: 13px;
}


.info {
    font-size: .9547em;
    padding-top: 10px;
}

.textbody {
   padding-top: 13px;
}

.date {
    font-size: .795em;
}

.htmlpreview {
    margin-top: 3em;
    margin-left: 1em;

}
