h2.ui.center.header {
    margin-top: 1em;
}

h2.ui.header {
    font-size: 1.3rem;
    font-weight: bold;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}

.ui.header {
    font-weight: 400;
}

.title {
    font-size: 1.14285714rem;
    font-weight: 400;
}

.specs {
    font-size: 0.85em;
    margin-bottom: 1em;
}

.breadcrumb {
    margin-top: 1.3em;
    margin-bottom: 1em;
}

.muted {
    color: #999999;
}

.Queued {
}

.Running {
}

.Error{
}

.Finished{
}


.info {
    font-size: .9547em;
    padding-top: 10px;
}

.textbody {
   padding-top: 13px;
}

.date {
    font-size: .795em;
}

.htmlpreview {
    margin-top: 3em;
    margin-left: 1em;

}
