{% extends "base.html" %}

{% block body %}

 <form class="ui large form" method="post">
        {% csrf_token %}

        <div class="ui relaxed divided list">
            {% for new_user in available_users %}
                <div class="item">

                    <div class="inline field">

                        <input type="checkbox" name="users" value="{{new_user.id}}">
                        <a>
                            <i class="user icon"></i>{{ new_user.first_name }}
                        </a>
                    </div>

                </div>
            {% endfor %}

        </div>
     <div class="field">
            <div class="ui center aligned basic segment">
                <button type="submit" class="ui green button">
                    <i class="plus icon"></i>Add user(s)
                </button>
                <a class="ui button" href="{% url 'project_view' project.id %}">
                    <i class="file text icon"></i>Project view
                </a>
            </div>
        </div>

 </form>
{% endblock %}