{% extends "base.html" %}

{% block body %}

 <form class="ui large form" method="post">
        {% csrf_token %}

<div class="ui horizontal segments">
    <div class="ui segment">
        <div class="ui header"> Available people</div>
            <div class="ui relaxed divided list">
                {% for new_user in available_users %}
                    <div class="item">

                        <div class="inline field">

                            <input type="checkbox" name="users" value="{{new_user.id}}">

                                <i class="user icon"></i>{{ new_user.first_name }}

                        </div>

                    </div>
                {% endfor %}

            </div>
    </div>

    <div class="ui segment">
        <div class="ui header"> Project contributors</div>
        <div class="ui relaxed divided list">
                    {% for avail_user in current_users %}
                         <div class="item">
                            <div class="inline field">

                                    <i class="user icon"></i>{{ avail_user.first_name }}

                            </div>
                         </div>
                    {% endfor %}
        </div>
    </div>
</div>
     <div class="field">
            <div class="ui center aligned basic segment">
                <button type="submit" class="ui green button">
                    <i class="plus icon"></i>Add people
                </button>
                <a class="ui button" href="{% url 'project_view' project.id %}">
                    <i class="file text icon"></i>Project view
                </a>
            </div>
        </div>


 </form>
{% endblock %}