
<div class="ui relaxed divided list">

    {% if projects %}
        <div class="item">
            <div class="ui header">Projects</div>
            <div class="list">
                {% for project in projects %}
                    <a class="item ui small header"  href="{% url 'project_view' project.uid %}">{{project.name}}</a>
                    <div class="muted" >{{project.text|truncatechars:180 }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if data %}
        <div class="item">
            <div class="ui header">Data</div>
            <div class="list">
                {% for datum in data %}
                    <a class="item ui small header" href="{% url 'data_view' datum.uid %}">{{datum.name}}</a>
                <div class="muted">{{datum.text|truncatechars:180}}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if recipes %}
        <div class="item">
            <div class="ui header">Recipes</div>
            <div class="list">
                {% for recipe in recipes %}
                    <a class="item ui small header" href="{% url 'recipe_view' recipe.uid %}">{{recipe.name}}</a>
                <div class="muted">{{recipe.text|truncatechars:180}}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if jobs %}
        <div class="item">
            <div class="ui header">Jobs</div>
            <div class="list">
                {% for job in jobs %}
                    <a class="item ui small header" href="{% url 'job_view' job.uid %}">{{job.name}}</a>
                <div class="muted">{{job.summary}}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
