{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}


{% block menu %}
    {% menubar edit_analysis=True analysis=analysis %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        <div class="ui segment">

            <div class="ui center aligned header">
                Recipe: {{ analysis.name }}
            </div>

            <div class="">
                <img class="ui centered small image" src="{% img analysis %}">
            </div>
                    <div class="ui center aligned basic segment">
            <a class="ui green button" href="{% url 'analysis_run' analysis.id %}">
                <i class="spinner icon"></i> Run Analysis
            </a>
                    </div>
            <p>
                {{ analysis.summary|markdown|safe }}
            </p>

        </div>

        <div class="ui center aligned segment">

            <a class="ui button" href="{% url 'job_list' project.id %}?filter={{ analysis.id }}">
                <i class="area chart icon"></i> Go to Results
            </a>
            <a class="ui button" href="{% url 'analysis_recipe' analysis.id %}">
                <i class="list icon"></i> Recipe Code
            </a>
            <a class="ui button" href="{% url 'analysis_copy' analysis.id %}">
                <i class="add icon"></i>Copy Recipe
            </a>

        </div>

        <div class="ui secondary segment">
            <div class="ui vertical segment">{{ analysis.html|safe }}</div>
        </div>

    </div>

{% endblock %}
