{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block title %}
    Run {{ analysis.name }}
{% endblock %}

{% block body %}

    <div class="ui  stackable grid">
        <div class="ui three wide column"></div>
        <div class="ui ten wide column">

            <div class="ui raised segment">


                <form method="post" class="ui form" action="{% url 'analysis_run' analysis.id %}">

                    {% csrf_token %}

                    {% form_nonfield_errors form %}

                    {% for field in form %}

                        {% if field.field|is_checkbox %}
                            {# Handle checkboxes differently #}
                            <div class="field">
                                <label class="checkbox" for="{{ field.id_for_label }}">
                                    {{ field }} {{ field.label_tag }}
                                </label>

                            </div>
                        {% elif field.field|is_selection %}
                            <div class="field">
                                <label> {{ field.label_tag }} </label>
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="field {% field_state field %} segment">

                                {{ field.label_tag }}
                                {{ field }}

                            </div>
                        {% endif %}

                    {% endfor %}

                    <button type="submit" class="ui green button">
                        <i class="check icon"></i>Run
                    </button>
                    <a class="ui right floated button" href="{% url 'analysis_view' analysis.id %}">
                        Cancel
                    </a>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
