{% extends "base.html" %}
{% load engine_tags %}
{% block headtitle %}
    Analysis List
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        {% project_header project label='Recipes:' summary=False %}

        <div class="ui segment">

            <div class="ui divided link items">


                {% for analysis in analyses %}

                    <div class="item">

                        <div class="ui tiny image">
                            <img src="{% img analysis %}">
                        </div>

                        <div class="content">
                            <a class="header" href="{% url 'analysis_view' analysis.id %}">
                                {{ analysis.name }}
                            </a>
                            <div class="description">
                                {{ analysis.summary|markdown|safe }}
                            </div>
                            <div class="meta">
                                <a href="{% url 'job_list' project.id %}?filter={{ analysis.id }}">
                                    <i class="bar chart icon"></i> view results
                                </a>
                            </div>
                        </div>

                    </div>


                {% endfor %}

            </div>
        </div>

    </div>
{% endblock %}
