{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    Copy: {{ analysis.name }}
{% endblock %}
{% block body %}

<div class="ui raised segments">

    <div class="ui center aligned segment">

        <div class="ui tiny image">
            <img src="{% img project %}">
        </div>
         <div class="ui tiny image">
            <img src="{% img analysis %}">
         </div>

        <div class="ui header">
            Project: {{ project.name }}

        </div>
        Recipe: {{analysis.name}}
    </div>

    <div class="ui secondary segment">

          <div class="ui tiny header">
        Project
          </div>
        <p> {{ project.summary|markdown|safe }}</p>
         <div class="ui tiny header">
        Recipe
          </div>
        <p> {{ analysis.summary|markdown|safe }}</p>

        <p>
        New recipe name will be " Copy of: {{analysis.name}} "
        </p>

    </div>


<div class="ui segment">

    <form class="ui large form" method="post" action="{% url 'analysis_copy' analysis.id %}">
            {% csrf_token %}
    <div class="ui basic segment">

                {% if projects %}
                <div class="ui small header">
                    Select Project
                </div>
                <div class="ui basic segment">

                    <div class="ui relaxed divided list">

                        {% for project in projects %}
                            <div class="item">
                                <div class="inline field">
                                    <input type="radio" name="projects" value="{{project.id}}">
                                    <a href="{{ project.url }}">
                                        <i class="archive icon"></i>{{ project.name }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                   <button type="submit" class="ui green right button">
                        <i class="plus icon"></i>Copy Recipe
                   </button>

                <a class="ui right floated button" href="{% url 'create_copy' analysis.id %}">
                        <i class="plus icon"></i>Create Project and Copy Recipe
               </a>

                {% else %}

                <div class="ui red message">

                    <p>You do not have
                        <span class="ui green label">{{ access.get_access_display }} Permission</span>
                        to any project needed to copy recipes.
                    </p>

            <a class='ui button' href="{% url 'project_create' %}">
            <i class="plus icon"></i>Create and Copy </a>  to create a new project and copy this recipe into it.

                </div>

                {% endif %}


</div>
        </form>
    </div>
</div>

{% endblock %}