{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}


{% block menu %}
    {% menubar edit_analysis=True analysis=analysis %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui raised segment">
        <div class="ui center aligned header">
            Analysis: {{ analysis.name }}
        </div>
        <div>
            <img class="ui centered small image" src="{%  img analysis %}">
        </div>

        {{ analysis.summary|markdown|safe }}

        <div class="ui center aligned basic segment">
            <a class="ui green button" href="{% url 'analysis_run' analysis.id %}">
                <i class="spinner icon"></i> Run Analysis
            </a>

            <a class="ui button" href="{% url 'job_list' project.id %}?filter={{ analysis.id }}">
                <i class="bar chart icon"></i> Show Results
            </a>

             <a class="ui button" href="{% url 'analysis_recipe' analysis.id %}">
                <i class="list icon"></i> Show Recipe
            </a>

        </div>
    </div>

    <div class="ui raised segment">
        <div class="ui center aligned header">
            Analysis Description
        </div>

        <div class="ui vertical segment">{{ analysis.html|safe }}</div>

        <div class="ui center aligned basic segment">

        </div>

    </div>

{% endblock %}
