{% extends "base.html" %}
{% load engine_tags %}

{% block title %}
    {{analysis.name}}
{% endblock %}

{% block body %}


 <button type="submit" name="save_or_preview" formmethod="post" value="preview" class="ui green mini button">
    <i class="edit icon"></i>Preview
 </button>

 <button type="submit" name="save_or_preview" formmethod="post" value="save" class="ui mini primary button">
    <i class="save icon"></i>Save
 </button>

<a class="ui right floated mini button" href="{% url 'analysis_view' analysis.id %}">
    Back
</a>


{% generate_form json_string %}

{% endblock %}