{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Result List
{% endblock %}

{% block body %}

    <div class="ui raised  segment">
        <h3 class="ui centered header">Recipe Details: {{ analysis.name }}</h3>

        <div class="ui basic segment">
            <img class="ui centered small image" src="{% img analysis %}">
        </div>

        <div>
            {{ analysis.summary|markdown|safe }}
            <div>

                <div class="ui center aligned vertical segment">

                    <a class="ui button" href="{% url 'analysis_edit' analysis.id %}">
                        <i class="write icon"></i>Edit Code
                    </a>

                    <a class="ui button" href="{% url 'analysis_copy' analysis.id %}">
                        <i class="add icon"></i>Copy Recipe
                    </a>

                </div>


                <div class="ui center aligned header">Script Template</div>
                <pre>
{{ analysis.template }}
</pre>

                <div class="ui center aligned header">Data Specification</div>
                <pre>
{{ analysis.json_text }}
</pre>


            </div>
        </div>

    </div>
{% endblock %}
