{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block title %}
    Run {{ analysis.name }}
{% endblock %}

{% block body %}

    <div class="ui raised segment inputcolor">

        <div class="ui center aligned header">
            Execute Analysis: {{ analysis.name }}
        </div>
        {{ analysis.summary|markdown|safe }}

        <form method="post" class="ui form" action="{% url 'analysis_run' analysis.id %}">

            {% csrf_token %}

            {% form_nonfield_errors form %}
          <div class="field segment">
                <label>Job Name</label>
                {{ form.name }}
            </div>
            {% generate_fields analysis.json_text project=analysis.project form=form %}

            <button type="submit" class="ui green button">
                <i class="check icon"></i>Run
            </button>
            <a class="ui right floated button" href="{% url 'analysis_view' analysis.id %}">
                <i class="chevron left icon"></i>Back
            </a>

        </form>
    </div>

{% endblock %}