{% extends "base.html" %}
{% load engine_tags %}
{% block headtitle %}
    Analysis List
{% endblock %}

{% block body %}

    <div class="ui raised segment">
    <div class="ui center aligned header">
        Analysis Recipes for project: {{ project.name }}
    </div>


    <div class="ui two cards">
        {% for analysis in analyses %}


            <div class="ui card">

                <a class="image" href="{% url 'analysis_view' analysis.id %}">


                        <img class="ui small image" src="{% img analysis %}">

                </a>
                <div class="content">
                    <a class="header" href="{% url 'analysis_view' analysis.id %}">{{ analysis.name }}</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        {{ analysis.summary|markdown|safe }}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="bar chart icon"></i>
                        <a class="" href="{% url 'job_list' project.id %}?filter={{ analysis.id }}">view results
                    </a>
                </div>
            </div>



        {% endfor %}

    </div>
{% endblock %}
