{% extends "analysis_edit_base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Editing: {{ analysis.name }}
{% endblock %}


{% block body %}
<div class="ui raised segment inputcolor">
<form class="ui form" action="{% url 'analysis_edit' analysis.id %}">
{% csrf_token %}
    {{form.errors}}
    <div   class="ui two column grid">
        <div class="column specs">
            <div class="ui basic segment">
                <div class="ui center aligned header">
                Data Specifications
                </div>

                <textarea rows="30" cols="55" name="json_text">{{form.json_text.value}}
                </textarea>


            </div>
        </div>

        <div class="column specs">
            <div class="ui basic segment">
                <div class="ui center aligned header">
                Template
                </div>
                <textarea rows="30" cols="55" name="template">{{form.template.value}}
                </textarea>
            </div>
        </div>

    <div class="row specs">
        <div class="sixteen wide column specs">
           <div class="ui basic center aligned segment">
                   <button type="submit" name="save_or_preview" formmethod="post" value="preview" class="ui green large button">
                        <i class="edit icon"></i>Preview
                     </button>

                     <button type="submit" name="save_or_preview" formmethod="post" value="save" class="ui primary large button">
                        <i class="save icon"></i>Save
                     </button>

                    <a class="ui large button" href="{% url 'analysis_view' analysis.id %}">
                        Analysis view
                    </a>
           </div>
        </div>

    </div>
        <div class="column specs">
            <div class="ui basic segment">
            <div class="ui center aligned header">
            Generated Interface
            </div>
            {% generate_fields json_text project=analysis.project form=form %}

             <a class="ui green disabled button">
                <i class="check icon"></i>Run
             </a>
             <a class="ui right floated disabled button">
                <i class="chevron left icon"></i>Back
             </a>
            </div>
        </div>

       <div class="column specs">
           <div class="ui basic segment">
               <div class="ui center aligned header">
               Resulting Script
               </div>
        <pre>
            {{template|generate_script:json_text }}
        </pre>
           </div>
        </div>

    </div>

</form>

</div>
    <div class="ui divider"></div>
    <div class="ui vertical aligned segment">
        <h2> {{ name }}</h2>
            <div class="textbody">{{ html|safe }}</div>
    </div>

{% endblock %}