{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ project.name }}
{% endblock %}

{% block body %}

        {% project_name_bar project %}

        <div class="ui  vertical {%  access_color user=user project=project %} segment">
            {{ project.summary|markdown|safe }}
        </div>

        <div class="ui vertical segment">

            <div class="ui top attached tabular menu">

                <a class="{% activate 'data' active %} item" href="{% url 'data_list' project.uid %}">
                    <i class="file text icon"></i>{{ data_count }} Data
                </a>
                <a class="{% activate 'recipes' active %} item" href="{% url 'recipe_list' project.uid %}">
                    <i class="settings icon"></i> {{ recipe_count }} Recipes
                </a>
                <a class="{% activate 'jobs' active %} item" href="{% url 'job_list' project.uid %}">
                    <i class="bar chart icon"></i>{{ result_count }} Results
                </a>

                {% if activate %}
                    <a class="active item">
                        <i class="info circle icon"></i> {{ activate }}
                    </a>
                {% endif %}

            </div>

            <div class="ui bottom attached segment">

                {% show_messages messages %}

                <p>
                    {% block content %}
                        Content
                    {% endblock %}
                </p>
            </div>

         {% if more_info %}
            <div class="ui basic segment">
                <div class="project help">
                    {{ more_info|safe }}
                </div>
            </div>
        {% endif %}

        </div>

        {#  Additional help included for the page #}




{% endblock %}
