{% extends "engine_base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ project.name }}
{% endblock %}

{% block body %}

    {% project_title project %}

    <div class="ui vertical segment">

        <div class="ui top attached tabular colored blue menu">

            <a class="{% activate 'data' active %}  item" href="{% url 'data_list' project.uid %}">
                <i class="file text icon"></i>{{ data_count }} Data
            </a>
            <a class="{% activate 'recipes' active %}  item" href="{% url 'recipe_list' project.uid %}">
                <i class="settings icon"></i> {{ recipe_count }} Recipes
            </a>

            <a class="{% activate 'jobs' active %} item" href="{% url 'job_list' project.uid %}">
                <i class="bar chart icon"></i>{{ result_count }} Results
            </a>

            {% if activate %}
                <div class="active item">
                    <i class="info circle icon"></i> Selection
                </div>
            {% else %}
                <div class=" item">
                    <i class="info circle icon"></i> Selection
                </div>
            {% endif %}

            <a class="{% activate 'discussion' active %}  item" href="{% url 'discussion_list' project.uid %}">
                <i class="comments icon"></i>{{ discussion_count }} Discussions
            </a>


        </div>

        <div class="ui bottom attached colored segment">

            {% show_messages messages %}

            <p>
                {% block content %}
                    Content
                {% endblock %}
            </p>
        </div>


    </div>

    {% if show_summary %}

        <div class="ui top attached tabular  menu">
            <a class="active  item">
                <i class="settings text icon"></i> Project Actions
            </a>
        </div>

        <div class="ui bottom attached segment">

            <div class="ui vertical segment">

                <div class="ui three mini buttons">
                    <a class="ui green button" href="{% url 'data_upload' project.uid %}">
                        <i class="plus icon"></i>Add Data
                    </a>

                    <a class="ui  button" href="{% url 'project_edit' project.uid %}">
                        <i class="edit icon"></i>Edit Project
                    </a>

                    <a class="ui  button" href="{% url 'project_users' project.uid %}">
                        <i class="users icon"></i>Manage Access
                    </a>

                </div>
            </div>

            <div class="ui vertical segment">

                <div class="ui header">Project Summary</div>
                {{ project.summary|markdown|safe }}

                <div class="ui header">Project Info</div>
                {{ project.html|safe }}

            </div>

        </div>



    {% endif %}

{% endblock %}
