{% extends "base.html" %}
{% load engine_tags %}


{% block headtitle %}
    Create Project and Copy Recipe
{% endblock %}


{% block body %}

<div class="ui raised segment inputcolor">

    <div class="ui center aligned header">
        Creating Project and Copy Recipe
    </div>

    <div class="ui vertical center aligned segment">
      {{ analysis.summary|markdown|safe }}
    </div>
    <div class="ui vertical segment">
    <form method="post" class="ui form" action="{% url 'create_copy' analysis.id %}" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="field">
                  <label>Project Title</label>
                  {{ form.name }}
             </div>

            <div class="field">
               <label class="checkbox" for="{{ field.id_for_label }}">
                        {{ form.sticky }} <label>Sticky</label>
               </label>
            </div>

             <div class="field">
                  <label>Project Privacy</label>
                  {{form.privacy}}
             </div>
             <div class="field">
                  <label>Project Image</label>
                  <input id="id_image" type="file" class="" name="image">
             </div>

            <div class="field">
                  <label>Summary</label>
                  {{ form.summary}}
             </div>

            <div class="field">
                  <label>Full Description</label>
                  {{ form.text }}
             </div>

            {{ form.errors }}

            <button type="submit" class="ui submit button">
                <i class="save icon"></i>Create and Copy Recipe
            </button>

            <a class="ui right floated button" href="{% url 'analysis_view' analysis.id %}">
                Recipe View
            </a>

        </form>
    </div>
</div>

{% endblock %}
