{% extends "base_content.html" %}
{% load engine_tags %}


{% block content %}

    {% form_errors form %}

    <form method="post" class="ui form" action="{% url 'data_navigate' project.uid %}">
        {% csrf_token %}

        <div class="ui center aligned basic segment">
            <button type="submit" class="ui submit mini button">
                <i class="clone icon"></i>Copy selected data
            </button>
        </div>

        <div class="ui relaxed divided list">

            <div class="item">
                <a href="{% url 'data_list' project.uid %}"><i class="backward icon"></i>../</a>
            </div>

            {% for data in all_data %}
                <div class="ui item">
                    <input type="checkbox" name="uids" value="{{ data.uid }}">
                    <a href="{% url 'data_entry' data.uid %}">
                        <i class="folder icon"></i>{{ data.name }}
                        <div class="ui right floated">
                            {% size_label data %}
                        </div>

                    </a>
                </div>
            {% endfor %}

            {% if all_data %}



            {% endif %}
        </div>

    </form>

{% endblock %}
