{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data List
{% endblock %}


{% block content %}

    {% if request|has_data %}
        {% paste project=project board="data_clipboard" request=request %}

    {% elif request|has_files %}
        {% paste project=project board="files_clipboard"  request=request %}
    {% endif %}

    {% if not data_list %}
        <div class="ui warning message"><i class="ui warning circle icon"></i> No data found.</div>
    {% endif %}

    {%  if user.is_authenticated %}
    <div class="ui center aligned vertical segment">


        <a class="ui mini button" href="{% url 'data_upload' project.uid %}">
            <i class="upload icon"></i>Upload File
        </a>

        <a class="ui mini button" href="{% url 'project_edit' project.uid %}">
            <i class="edit icon"></i>Edit Project
        </a>
        <a class="ui mini button" href="{% url 'project_users' project.uid %}">
            <i class="users icon"></i>Manage Access
        </a>

    </div>

    {%  endif %}

    {% list_view data_list=data_list %}

{% endblock %}
