{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Edit Data: {{ data.name }}
{% endblock %}

{% block body %}
    <div class="ui raised segment inputcolor">
    {% form_errors form %}
        <form method="post" class="ui form" action="{% url 'data_edit' data.uid %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="field segment">
                <label>Data Name</label>
                {{ form.name }}
                <p class="muted">What do you want to call the data collection</p>
            </div>
            <div class="field">
                <label>Data Type</label>
                {{ form.type }}
                <p class="muted">Data type used to sub-select during analysis.</p>
            </div>
            <div class="field">
               <label class="checkbox" for="{{ field.id_for_label }}">
                        {{ form.sticky }} <label>Sticky</label>
               </label>
                <p class="muted">Makes the data stick to top of the list.</p>
            </div>

            <div class="field">
                <label>Summary</label>
               {{ form.summary }}
                <p class="muted">A brief summary shown inline with the data (markdown OK).</p>
            </div>

            <div class="field segment">
                <label>Data description</label>
                {{ form.text }}
                <p class="muted">A detailed explanation of what is in the data collection (markdown OK).</p>
            </div>

            <button type="submit" class="ui submit green button">
                <i class="save icon"></i>Save
            </button>
            <a class="ui right floated button" href="{% url 'data_view' data.uid %}">
                <i class="undo icon"></i>Cancel
            </a>

        </form>
    </div>

{% endblock %}
