{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ data.name }}
{% endblock %}

{% block content %}

    <div class="ui vertical segment">
        <div class="ui center aligned header">
            Data: {{ data.name }}
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="ui center aligned vertical segment">
            {% action_bar data 'data_edit' %}

            <a class="copy-data ui button" data-uid="{{data.uid}}">
                <i class="copy icon"></i>Copy
            </a>
        </div>
    {% endif %}

    <div class="ui vertical segment">

        {% if data.type %}
             Type: {% type_label data %} &bull;
        {% endif %}
        Created by: {{ data.owner.first_name }}

    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Files</div>
        {% file_list obj=data path=path files=files form=form %}
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Data Summary</div>
        <div>{{ data.summary|safe }}</div>
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Data Info</div>
        <div>{{ data.html|safe }}</div>
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Data Content</div>
        <pre>{{ data.peek }}</pre>
    </div>


{% endblock %}
