{%  extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
 {{ data.name }}
{% endblock %}

{% block menu %}
    {% menubar data=data edit_data=True %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui  raised segment">

        <div class="ui vertical segment">
            <div class="ui center aligned header">
                Data: {{ data.name }}
            </div>

        </div>

        <div class="ui vertical segment">
            {{ data.summary|markdown|safe }}
        </div>

        <div class="ui vertical segment">
            <div>Name: {{ data.name }}</div>
            <div>Size: {{ data.size|filesizeformat }}</div>
            <div>Uploaded by: {{ data.owner.email }}</div>
            <div>State: {{ data.get_state_display }}</div>
        </div>

        <div class="ui vertical segment">
            <div class="ui center aligned header">Data Description</div>
            <div>{{ data.html|safe }}</div>
        </div>

        <div class="ui vertical segment">
            <div class="ui center aligned header">Data Content</div>
            <pre>{{ data.peek }}</pre>
        </div>
           <div class="ui basic center aligned segment">
                <a class="ui button" href="{% url 'data_edit' data.id %}">
                    <i class="write icon"></i>Edit Data
                </a>
        </div>

       <form class="ui large form" method="post" action="{% url 'data_view' data.id %}">
                {% csrf_token %}

            <div class="ui basic segment">

                {% copy_interface projects=projects form=form%}

               <button type="submit" class="ui button">
                    <i class="plus icon"></i>Copy Data
               </button>

                <button type="submit" class="ui right floated button" name="project" value="{{data.project.id}}">
                    <i class="copy icon"></i>Duplicate Data
                </button>
             </div>
        </form>

    </div>
{% endblock %}
