{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Upload Data
{% endblock %}


{% block body %}


<div class="ui segment inputcolor">
        {% form_errors form %}
    <form method="post" class="ui form" enctype="multipart/form-data" action="{%  url 'data_upload' project.uid %}">

        {% csrf_token %}
        {{ form.media }}

        <div class="field segment">

            <div class="ui center aligned header">
                <i class="ui upload icon"></i>Upload a File
            </div>

              <label>File</label>
              {{ form.file }}
             <p class="muted">File or collection of files you want to analyze.</p>

                <button type="submit" class="ui submit green button">
                    <i class="write icon"></i>Upload
                </button>
                <a class="ui right floated button" href="{% url 'data_list' project.uid %}">
                     <i class="undo icon"></i>Cancel
                </a>

              <div class="ui divider"></div>
            <div class="ui center aligned header">
                <i class="ui edit icon"></i>Create Data
            </div>

             <label>Name</label>
              {{ form.data_name }}
             <p class="muted">Name of the data.</p>

            <label>Input Text</label>
                <textarea rows="10" cols="55" name="{{form.input_text.name}}" id="id_{{form.input_text.name}}"
                          maxlength="{{ form.input_text.field.max_length }}">{% if form.input_text.value %}{{ form.input_text.value }}{% endif %}</textarea>
             <p class="muted">Write the data as text instead of uploading a file ( {{ form.input_text.field.max_length }} characters ).</p>

         </div>
            <button type="submit" class="ui submit green button">
            <i class="write icon"></i>Create
            </button>
            <a class="ui right floated button" href="{% url 'data_list' project.uid %}">
            <i class="undo icon"></i>Cancel
            </a>

        <div class="ui divider"></div>

        <div class="ui center aligned header">
            <i class="ui pen square icon"></i>Extra Information
        </div>

        <div class="field">
            <label>Data Type</label>
            {{ form.type }}
            <p class="muted">Data type used to sub-select during analysis.</p>
        </div>
        <div class="field">
           <label class="ui checkbox" for="{{ field.id_for_label }}">
                    {{ form.sticky }} <label>Sticky</label>
           </label>
               <p class="muted">Makes the data stick to top of the list.</p>
        </div>
        <div class="field">
            <label>Summary</label>
            {{ form.summary }}
            <p class="muted">A brief summary shown inline with the data (markdown OK).</p>
        </div>

        <div class="field segment">
              <label>Data Description</label>
             {{ form.text }}
                <p class="muted">A detailed explanation of what is in the data collection (markdown OK).</p>
         </div>

        <button type="submit" class="ui submit green button">
            <i class="write icon"></i>Upload
        </button>
        <a class="ui right floated button" href="{% url 'data_list' project.uid %}">
             <i class="undo icon"></i>Cancel
        </a>

    </form>
</div>
{% endblock %}
