{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ data.name }}
{% endblock %}

{% block content %}

    <div class="ui vertical segment">
        <div class="ui center aligned header">
            Data: {{ data.name }}
        </div>

            {{ data.summary|markdown|safe }}

    </div>

     <div class="ui center aligned vertical segment">
        <a class="ui button" href="{% url 'data_copy' data.uid %}">
            <i class="clone icon"></i>Copy Data
        </a>

        <a class="ui button" href="{% url 'data_files_entry' data.uid %}">
            <i class="browser icon"></i>Browse Files
        </a>

        {% action_bar data 'data_edit' %}

    </div>

    <div class="ui vertical segment">

        <div class="ui relaxed bulleted list">
            <div class="item">Size: {{ data.size|filesizeformat }}</div>
            <div class="item">State: {% state_label data %}</div>
            {% if data.type %}
            <div class="item">Data Type: {% type_label data %} </div>
            {% endif %}
            <div class="item">Created by: {{ data.owner.first_name }}</div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Data Description</div>

        <div>{{ data.html|safe }}</div>
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Data Content (first few lines)</div>
        <pre>{{ data.peek }}</pre>
    </div>


{% endblock %}
