{% extends "base_content.html" %}
{% load engine_tags %}
{% load forum_tags %}

{% block headtitle %}
    Discussion: {{ project.name }}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="ui center aligned vertical segment">

            <a class="ui small button" href="{% url 'discussion_create' project.uid %}">
                <i class="comment alternate icon"></i>Start a Discussion!
            </a>

        </div>
    {% endif %}

    <table class="ui very basic celled table">

        <tbody>
            {% for post in posts %}
                <tr>
                    <td class="collapsing">
                        <div class="center aligned">
                        {{ post.root.reply_count }}
                        </div>
                        answer{{ post.root.reply_count|pluralize }}
                    </td>

                    <td style="padding: 0px">
                       <div class="ui small header" >
                            {% if post.type != post.QUESTION %}
                                {{ post.get_type_display }}:
                            {% endif %}
                             <a href="{% url 'discussion_view' post.uid %}" >{{ post.get_title }}</a>

                        </div>



                            {% for tag in post.tag_set.all %}
                                <a class="ui tiny label" href="#" style="font-size: 13px;padding: 4px">
                                    {{ tag.name }}</a>
                            {% endfor %}


                    </td>




                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% if not posts %}

        <div class="ui warning message"><i class="ui warning circle icon"></i> No discussions found.</div>
    {% endif %}

{% endblock %}