{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    Bioinformatics Recipes
{% endblock %}

{% block header %}

{% endblock %}


{% block body %}

    {% show_messages messages %}
    <div class="ui vertical segment">

        <div class="ui header">
            <a href="{% url 'project_list' %}">
                <i class="database icon"></i>Project List
            </a>
        </div>

        <p>
            <img class="ui small right floated circular image" src="{% static 'images/dna.jpg' %}">

            Bioinformatics is experiencing a <strong>reproducibility crisis</strong>. It has become challenging to
            understand how analyses are performed and even more difficult to replicate the same processes again.

        </p>

        <p>
            This web application allows scientists to document, execute
            and share data analysis scripts. We call these analysis scripts
            <strong>"recipes."</strong> All information is organized into projects where each <b>project</b> is a collection of:

            <ul>
                <li>Data Files</li>
                <li>Analysis Recipes</li>
                <li>Analysis Results</li>
            </ul>
        </p>

        <p>
            Public projects are visible to everyone.
            Private projects are accessible only to project members.
        </p>

    </div>

    <div class="ui vertical segment">

        <div class="ui header">
            <a href="{% url 'docs' 'info' %}">

                <i class="info circle icon"></i>About the site

            </a>
        </div>

        <img class="ui small right floated circular image" src="{% static 'images/biomedical.jpg' %}">


        <p>
            Our application provides access to scientists that may not be proficient in using command line tools by
            creating an <b>easy-to-use graphical interface</b> for each recipe.
        </p>
            <p>Users adapt, modify and remix recipes to match
            their needs, then share these on the same site. By supporting these interactions, we foster a collaborative
            environment that facilitates creativity, efficiency and reproducibility.
        </p>
        <p>
            Besides storing, sharing and executing data analysis scripts, our software supports public and private
            project-based workflows and can provide complete data storage and management solutions as a laboratory
            information management system.
        </p>
        <p>
            The application is designed to serve sequencing facilities and has been
            deployed and tested within the Penn State Bioinformatics Consulting Center.
        <p>
            Learn more about the way <a href="{% url 'docs' 'info' %}">the site works.</a>
        </p>


    </div>






{% endblock %}
