{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Job View: {{ job.name }}
{% endblock %}

{% block content %}

    <div class="ui vertical segment">

        <div class="ui divided link items">

            <div class="item ">
                <div>
                    <img class="ui tiny image imgpad" src="{% img job.analysis %}">
                </div>

                <div class="content">
                    <a class="subheader" href="{% url 'job_view' job.uid %}">
                        <i class="bar chart icon"></i>{{ job.name }}
                    </a>

                    <div class="meta">{% job_minutes job %}</div>
                </div>
            </div>


        </div>
    </div>


    <div id="copy-message-{{ job.uid }}"></div>

    <div class="ui vertical segment">

        <div class="five ui small buttons">

            <a class="ui  button" href="{% url 'recipe_view' job.analysis.uid %}"><i
            class="setting icon"></i>View Recipe</a>

            <a class="copy-data ui button" data-uid="{{ job.uid }}" copy-url="{% url 'job_copy' %}"
               board="{{results_board}}">
                <i class="copy icon"></i>Copy Results
            </a>

            {% action_bar job edit_url='job_edit' %}


        </div>

    </div>

    <div class="ui vertical segment">
        <div class="ui aligned header">File List</div>
        <div>Files created by the recipe run:</div>
        {% directory_list job %}

    </div>

    <div class="ui vertical segment">
        <div class="ui aligned header">Run Parameters</div>
        <div>Parameters used during the run:</div>
        {{ job.summary|safe }}
        {# {{ job.html | safe }} #}
    </div>

    <div class="ui vertical segment">
        <div class="ui aligned header">Output Messages</div>
        <div>Messages printed to the standard output stream during the run:</div>
        <pre>{{ job.stdout_log }}</pre>
    </div>

    <div class="ui vertical segment">
        <div class="ui aligned header">Error Messages</div>
        <div>Messages printed to the standard error stream during the run:</div>
        <pre>{{ job.stderr_log }}</pre>
    </div>



{% endblock %}
