{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Job View: {{ job.name }}
{% endblock %}

{% block content %}


    <div class="ui vertical segment">

        <div class="ui center aligned header">
            <i class="bar chart icon"></i>{{ job.name }}
        </div>



    </div>



    <div class="ui center aligned secondary vertical segment">
        <a class="ui {% job_color job %} button" href="{% url 'job_result_view' job.id %}"><i
        class="line chart icon"></i>Final Result</a>
        <a class="ui button" href="{% url 'job_files_entry' job.id %}">
            <i class="file icon"></i>All Files</a>
        <a class="ui  button" href="{% url 'recipe_view' job.analysis.id %}"><i
        class="setting icon"></i>Go to Recipe</a>
        <a class="ui  button" href="{% url 'job_edit' job.id %}"><i
        class="write icon"></i>Edit Details</a>
    </div>

    <div class="ui center aligned vertical segment">
        {% job_minutes job %}
    </div>


    <div class="ui vertical segment">
        <div class="ui center aligned header">Summary</div>
        {{ job.summary|safe }}
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Stdout Log</div>
        <div class="ui center aligned subheader">Messages printed to the standard output stream during the run:
        </div>
        <pre>{{ job.stdout_log }}</pre>
    </div>

    <div class="ui basic segment">
        <div class="ui center aligned header">Stderr Log</div>
        <div class="ui center aligned subheader">Messages printed to the standard error stream during the run:</div>

        <pre>{{ job.stderr_log }}</pre>
    </div>



{% endblock %}
