{% extends "base.html" %}
{% load engine_tags %}
{% load humanize %}

{% block headtitle %}
    Result List
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        {% project_name_bar project %}

        <div class="ui center aligned segment">
            <h3 class="ui icon header">
                <i class="bar chart icon"></i>
                <p class="content">
                    Results List
                    <p class="sub header">The results produced from the recipes in the current project.</p>
                </p>
            </h3>
        </div>

        <div class="ui segment">

            {% if filter %}
                <div class="ui warning message">Showing results for recipe:
                    <a href="{% url 'recipe_view' filter.id %}">{{ filter.name }}</a>
                    &bull; <a class="ui label" href="{% url 'job_list' project.id %}"><i class="undo icon"></i>Remove
                        Filter</a>
                </div>
            {% endif %}


            <div class="ui divided link items">

                {% for job in jobs %}

                    <div class="item ">

                        <div class="ui tiny image">
                            <img src="{% img job.analysis %}">
                        </div>

                        <div class="content">

                            <a class="header" href="{% url 'job_view' job.id %}">
                                <i class="area chart icon"></i>{{ job.name }}
                            </a>

                            <div class="description">
                                {{ job.summary|safe }}
                            </div>

                            <div class="extra">
                               {% sticky_label job %}{% job_minutes job %} &bull;
                                <a class="ui  {% job_color job %}  label"
                                   href="{% url 'recipe_view' job.analysis.id %}"><i class="setting icon"></i>Go to
                                    Recipe</a>

                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
