{% extends "base.html" %}
{% load engine_tags %}
{% load humanize %}

{% block headtitle %}
    Result List
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        {% project_header project label='Results:' summary=False %}

        <div class="ui segment">

            {% if filter %}
                <div class="ui warning message">Showing results for recipe:
                    <a href="{% url 'analysis_view' filter.id %}">{{ filter.name }}</a>
                    &bull; <a class="ui label" href="{% url "job_list"  project.id %}"><i class="undo icon"></i>Remove
                        Filter</a>
                </div>
            {% endif %}


            <div class="ui divided link items">

                {% for job in jobs %}

                    <div class="item ">

                        <div class="ui tiny image">
                            <img src="{% img job.analysis %}">
                        </div>

                        <div class="content">

                            <a class="header" href="{% url 'job_view' job.id %}">
                                <i class="area chart icon"></i>{{ job.name }}
                            </a>

                            <div class="description">
                                {{ job.summary|safe }}
                            </div>

                            <div class="extra">
                                {% job_minutes job %} &bull;
                                <a class="ui  {% job_color job %}  label" href="{% url 'analysis_view' job.analysis.id %}"><i class="setting icon"></i>Go to Recipe</a>

                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
