{% extends "base.html" %}
{% load engine_tags %}
{% load humanize %}

{% block headtitle %}
    Result List
{% endblock %}

{% block body %}

    <div class="ui raised segment">

        {% if filter %}
            <div class="ui warning message">Filtering for analysis:
                <a href="{% url 'analysis_view' filter.id %}">{{ filter.name }}</a>
                | <a href="{% url "job_list"  project.id %}">
                    <span class="ui label"><i class="close icon"></i>Remove Filter</span>
                </a>
            </div>
        {% endif %}


        <div class="ui divided link items">

            <div class="item">

                <div class="ui tiny image">
                    <img src="{% img project %}">
                </div>

                <div class="content">
                    <a class="header" href="{% url "project_view" project.id %}">
                        <i class="bar chart icon"></i> Analysis Results
                    </a>
                    <div class="description">
                        Results produced by the recipes in: <b>{{ project.name }}</b>.
                    </div>
                </div>

            </div>

            {% for job in jobs %}

                <div class="item ">

                    <div class="ui tiny image">
                        <img src="{% img job.analysis %}">
                    </div>

                    <div class="content">

                        <a class="header" href="{% url 'job_view' job.id %}">
                            <div class="ui  {% job_color job %} horizontal  label">{{ job.get_state_display }}</div>
                            <i class="area chart icon"></i>{{ job.name }}
                        </a>

                        <div class="description">
                            {{ job.summary|safe }}
                        </div>

                        <div class="extra">
                            {%  job_minutes job %}
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
