{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Job View: {{ job.name }}
{% endblock %}

{% block content %}


    <div class="ui vertical segment">

        <div class="ui center aligned header">
            <i class="bar chart icon"></i>{{ job.name }}
        </div>

        <div class="ui center aligned basic segment">
            <div class="ui buttons">

                <a class="ui {% job_color job %}  button" href="{% url 'job_files_entry' job.uid %}">
                    <i class="browser icon"></i>Browse Files</a>

                <div class="or"></div>

                <a class="ui  button" href="{% url 'recipe_view' job.analysis.uid %}"><i
                class="setting icon"></i>View Recipe</a>

            </div>
        </div>

    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Summary</div>
        {{ job.summary|safe }}
        {# {{ job.html | safe }} #}
    </div>

    <div class="ui center aligned vertical segment">
        {% job_minutes job %} {% if user.is_authenticated and job.state != job.DELETED %}
            &bull; <a href="{% url 'job_edit' job.uid %}"><i class="write icon"></i>Edit</a>
            &bull; <a href="{% url 'job_delete' job.uid %}"><i class="trash icon"></i>Delete
             </a>
        {% elif user.is_authenticated and job.state == job.DELETED %}
            &bull; <a href="{% url 'job_restore' job.uid %}"><i class="undo icon"></i>Restore
             </a>
        {% endif %}
    </div>

    <div class="ui vertical segment">
        <div class="ui center aligned header">Stdout Log</div>
        <div>Messages printed to the standard output stream during the run:</div>
        <pre>{{ job.stdout_log }}</pre>
    </div>

    <div class="ui basic segment">
        <div class="ui center aligned header">Stderr Log</div>
        <div>Messages printed to the standard error stream during the run:</div>
        <pre>{{ job.stderr_log }}</pre>
    </div>



{% endblock %}
