{% extends "base.html" %}

{% block headtitle %}
    Create Project
{% endblock %}


{% block body %}

<div class="ui raised segment inputcolor">

    <form method="post" class="ui form" action="{% url 'project_create' %}" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="field">
                  <label>Project Title</label>
                  {{ form.name }}
             </div>
            <div class="field">
               <label class="checkbox" for="{{ field.id_for_label }}">
                        {{ form.sticky }} <label>Sticky</label>
               </label>
            </div>
             <div class="field">
                  <label>Project Privacy</label>
                  {{form.privacy}}
             </div>
             <div class="field">
                  <label>Project Image</label>
                  <input id="id_image" type="file" class="" name="image">
             </div>

            <div class="field">
                  <label>Summary</label>
                  {{ form.summary}}
             </div>

            <div class="field">
                  <label>Full Description</label>
                  {{ form.text }}
             </div>

            {{ form.errors }}

            <button type="submit" class="ui submit button">
                <i class="save icon"></i>Create
            </button>
            <a class="ui right floated button" href="{% url 'project_list' %}">
                Back
            </a>

        </form>
</div>
{% endblock %}
