{% extends "base_content.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ project.name }}
{% endblock %}


{% block content %}


    {% if 0 %}

        <div class="ui secondary segment">
            <div class="ui header"><i class="add circle icon"></i>Project Actions</div>

            <div class="ui center aligned basic segment">
                <a class="ui button" href="{% url 'project_edit' project.uid %}">
                    <i class="write icon"></i>Edit Info
                </a>
                <a class="ui button" href="{% url 'project_users' project.uid %}">
                    <i class="add user icon"></i>Manage People
                </a>

                <a class="ui button" href="{% url 'project_types' project.uid %}">
                    <i class="plus icon"></i>Create Types
                </a>
            </div>
        </div>
    {% endif %}


    {% if access %}
        <div class="ui  center aligned segment">
            Your access level:
            <span class="ui green label">{{ access.get_access_display }}</span>
        </div>
    {% endif %}


{% endblock %}
