{% extends "base_content.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    Managing Access: {{ project.name }}
{% endblock %}

{% block content %}

    {% form_errors form %}

    <div class="ui center aligned vertical segment">
        <div class="ui header">
            <i class="users icon"></i>
            Manage Access
        </div>

        <div class="muted extra">
            Your Access Right: <span class="ui green tiny label">{{user_access.get_access_display}}</span>
        </div>
    </div>

    <div class="ui segment inputcolor">

        <div class="ui tiny header">Search for users to manage</div>

        {% search instance=project action="project_users" q=q %}

        <div class="ui vertical segment">
            <div class="ui relaxed divided list">
                {% for user, form in results %}
                        {% access_form project user form %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui relaxed divided list">
            {% for user, form in current %}
                    {% access_form project user form %}
            {% endfor %}
        </div>
    </div>

{% endblock %}