{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data List
{% endblock %}


{% block content %}

    <div class="ui vertical segment">
        <div class="ui header">Project Information</div>
        {{ project.html|safe }}
    </div>

    <div class="ui vertical segment">

        <div class="item">

            <div class="extra">
                {% privacy_label project %}
                {% created_by date=project.date.date user=project.owner obj=project detail=True %}
            </div>

        </div>
    </div>

    {% if write_access %}
        <div class="ui vertical segment">

            <div class="ui five small buttons">
                <a class="ui button" href="{% url 'data_upload' project.uid %}">
                    <i class="plus icon"></i>Add Data
                </a>

                <a class="ui  button" href="{% url 'project_edit' project.uid %}">
                    <i class="edit icon"></i>Edit Project
                </a>

                <a class="ui  button" href="{% url 'project_users' project.uid %}">
                    <i class="users icon"></i>Manage Access
                </a>


                <a class="ui  button" href="{% url 'project_users' project.uid %}">
                    <i class="users icon"></i>Manage Access
                </a>


                <a class="ui button tablet" href="{% url 'project_delete' project.uid %}">
                    {% if project.deleted %}
                        <i class="undo icon"></i> <span class="tablet">Restore</span>
                    {% else %}
                        <i class="trash icon"></i> <span class="tablet">Delete</span>
                    {% endif %}
                </a>

            </div>
        </div>
    {% endif %}

{% endblock %}
