{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ project.name }}
{% endblock %}


{% block menu %}
    {% menubar project=project edit_project=True %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        <div class="ui center aligned segment">

            <div class="ui tiny image">
                <img src="{% img project %}">
            </div>

            <div class="ui header">
                Project: {{ project.name }}
            </div>

        </div>

        <div class="ui secondary segment">
            <p> {{ project.summary|markdown|safe }}</p>
            Your are accessing this project with
            <span class="ui label">{{ access.get_access_display }} Permission</span>

        </div>


        <div class="ui segment">

            <div class="ui divided link items">

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_data_icon.jpg' %}">
                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'data_list' project.id %}">
                            <i class="file text icon"></i> {{ data_count }} Data Files
                        </a>
                        <div class="description">
                            View the files and data collections associated with this project.
                        </div>
                    </div>

                </div>

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_analysis_icon.png' %}">

                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'analysis_list' project.id %}">
                            <i class="settings icon"></i> {{ recipe_count }} Analysis Recipes
                        </a>
                        <div class="description">
                            View the analyses that can be run for this project.
                        </div>
                    </div>

                </div>

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_results_icon.jpg' %}">
                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'job_list' project.id %}">
                            <i class="bar chart icon"></i> {{ result_count }} Analysis Results
                        </a>
                        <div class="description">
                            View the results of analyses run previously.
                        </div>
                    </div>

                </div>


                <div class="item centerbox">
                    <a class="ui button" href="{% url 'project_edit' project.id %}">
                        <i class="write icon"></i>Edit Project
                    </a>

                    <a class="ui button" href="{% url 'project_users' project.id %}">
                        <i class="plus icon"></i>Manage People
                    </a>
                </div>

            </div>

        </div>


        <div class="ui secondary segment">
            {{ project.html|safe }}
        </div>
    </div>

{% endblock %}
