{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data List
{% endblock %}


{% block content %}

    <div class="ui vertical segment">

        <div class="ui header">Project Summary</div>

        {{ project.summary|markdown|safe }}

    </div>

    <div class="ui vertical segment">
    
        <div class="ui header">Project Details</div>

        {{ project.html|safe }}

    </div>

    <div class="ui vertical segment">

        <div class="ui header">Project Actions</div>

        <div class="ui three small buttons">
            <a class="ui button" href="{% url 'data_upload' project.uid %}">
                <i class="plus icon"></i>Add Data
            </a>

            <a class="ui  button" href="{% url 'project_edit' project.uid %}">
                <i class="edit icon"></i>Edit Project
            </a>

            <a class="ui  button" href="{% url 'project_users' project.uid %}">
                <i class="users icon"></i>Manage Access
            </a>

        </div>
    </div>


{% endblock %}
