{% extends "base.html" %}

{% block headtitle %}
    Create Project
{% endblock %}


{% block body %}

<div class="ui raised segment inputcolor">

    <form method="post" class="ui form" action="{% url 'project_create' %}" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="field">
                  <label>Project Title</label>
                  {{ form.name }}
                 <p class="muted">What do you want to call the project</p>
             </div>
            <div class="field">
               <label class="checkbox" for="{{ field.id_for_label }}">
                        {{ form.sticky }} <label>Sticky</label>
               </label>
                <p class="muted">Makes the project stick to top of the list.</p>
            </div>
             <div class="field">
                  <label>Project Privacy</label>
                  {{form.privacy}}
                  <p class="muted">Choose who gets to see this project.</p>
             </div>
             <div class="field">
                  <label>Project Image</label>
                  {{ form.image }}
                  <p class="muted">Optional image to recognize the project by (square image, no more than 500px)</p>
             </div>

            <div class="field">
                  <label>Summary</label>
                  {{ form.summary}}
                <p class="muted">A brief summary shown inline with the project (markdown OK).</p>
             </div>

            <div class="field">
                  <label>Project Description</label>
                  {{ form.text }}
                <p class="muted">A detailed explanation of the project (markdown OK).</p>
             </div>

            <button type="submit" class="ui submit green button">
                <i class="save icon"></i>Create
            </button>
            <a class="ui right floated button" href="{% url 'project_list' %}">
                <i class="undo icon"></i>Cancel
            </a>

        </form>
</div>
{% endblock %}
