{% extends "base.html" %}

{% block title %}
    Create Project
{% endblock %}


{% block body %}

<div class="ui raised segment">

    <form method="post" class="ui form" action="{% url 'project_create' %}">

            {% csrf_token %}

             <div class="field">
                  <label>Project Title</label>
                  {{ form.name }}
             </div>

            <div class="field">
                  <label>Summary</label>
                  {{ form.summary}}
             </div>

            <div class="field">
                  <label>Full Description</label>
                  {{ form.text }}
             </div>

            {{ form.errors }}

            <button type="submit" class="ui submit button">
                <i class="save icon"></i>Save
            </button>
            <a class="ui right floated button" href="{% url 'project_list' %}">
                Back
            </a>

        </form>
</div>
{% endblock %}
