{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Managing Data Types: {{ project.name }}
{% endblock %}

{% block body %}

    <div class="ui raised segments">
        {% project_name_bar project %}

    <div class="ui segment">
        <div class="ui center aligned basic segment">
            <h3 class="ui icon header">
                <i class="file outline icon"></i>
                <p class="content">
                    Manage Data Types
                <p class="sub header">Manage data types to later sub-select from existing data</p>
                </p>
            </h3>
        </div>


        <div class="ui three column stackable grid">

            <div class="center aligned column">
                <p class="ui large label">Name</p>
            </div>
            <div class="center aligned column">
                <p class="ui large label">Symbol</p>
            </div>
            <div class="center aligned column">
                <p class="ui large label">Help</p>
            </div>

            {% for type in current %}
                 <div class="ui row">
                        <div class="center aligned column">
                            <p class="header"> {{ type.name }}</p>
                        </div>
                        <div class="center aligned column">
                            <p class="date">{{ type.symbol }}</p>
                        </div>
                        <div class="center aligned column">
                            <p class="date">{{ type.help }}</p>
                        </div>
                 </div>
            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}