{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Project List
{% endblock %}

{% block header %}

    <i class="database icon"></i>Project List

    <button class="ui mini button">
        <i class="write square icon"></i>Create Project
    </button>

{% endblock %}

{% block menu %}
    {% menubar create_project=True %}
{% endblock %}

{% block body %}

    <div class="ui raised segment">

        <div class="ui center aligned header">
            Project Listing
        </div>

        <div class="ui middle aligned relaxed selection list">

            {% for project in projects %}

                <div class="item">

                    <div class="content">

                        <img class="ui left floated small circular image" src="{% img project %}"/>
                        <p class="shim">
                            <a class="ui header" href="{{ project.url }}">
                                <i class="archive icon"></i>{{ project.name }}
                            </a>
                        </p>
                        <div class="description">
                            <p>
                                {{ project.summary|markdown|safe }}
                            </p>

                            <p class="muted">
                                Created on {{ project.date.date }} by {{ project.owner.email }}
                            </p>
                        </div>


                    </div>


                </div>


            {% endfor %}

        </div>

    </div>


    <div class="ui center aligned vertical segment">
        <a class="ui button" href="{% url 'project_create' %}">
            <i class="write icon"></i>Create Project
        </a>
    </div>

{% endblock %}
