{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ project.name }}
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        {% project_name_bar project %}

        <div class="ui secondary segment">
            <div class="ui header"><i class="info circle icon"></i>Project Summary</div>
            {{ project.summary|markdown|safe }}
        </div>

        <div class="ui segment">

            <div class="ui divided link items">

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_data_icon.jpg' %}">
                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'data_list' project.uid %}">
                            <i class="file text icon"></i>{{ data_count }} Data Files
                        </a>
                        <div class="description">
                            View the files and data collections associated with this project.
                        </div>
                    </div>

                </div>

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_analysis_icon.png' %}">

                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'recipe_list' project.uid %}">
                            <i class="settings icon"></i> {{ recipe_count }} Analysis Recipes
                        </a>
                        <div class="description">
                            View the analyses that can be run for this project.
                        </div>
                    </div>

                </div>

                <div class="item">

                    <div class="ui tiny image">
                        <img src="{% static 'images/project_results_icon.jpg' %}">
                    </div>

                    <div class="content">
                        <a class="header" href="{% url 'job_list' project.uid %}">
                            <i class="bar chart icon"></i>{{ result_count }} Analysis Results
                        </a>
                        <div class="description">
                            View the results of analyses run previously.
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="ui secondary segment">
            <div class="ui header"><i class="add circle icon"></i>Project Actions</div>

            <div class="ui center aligned basic segment">
                <a class="ui button" href="{% url 'project_edit' project.uid %}">
                    <i class="write icon"></i>Edit Info
                </a>
                <a class="ui button" href="{% url 'project_users' project.uid %}">
                    <i class="add user icon"></i>Manage People
                </a>

                <a class="ui button" href="{% url 'project_types' project.uid %}">
                    <i class="plus icon"></i>Create Types
                </a>
            </div>
        </div>

     <div class="ui  segment">
            <div class="ui header"><i class="help circle icon"></i>Project Information</div>
            <div class="project help">
                {{ project.html|safe }}
            </div>
        </div>

        {% if access %}
            <div class="ui  center aligned segment">
                Your access level:
                <span class="ui green label">{{ access.get_access_display }}</span>
            </div>
        {% endif %}

    </div>

{% endblock %}
