{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    Managing people: {{ project.name }}
{% endblock %}

{% block body %}

<div class="ui raised segments">

    <div class="ui center aligned segment">

        <div class="ui tiny image">
            <img src="{% img project %}">
        </div>

        <div class="ui header">
            Managing Permissions: {{ project.name }}
        </div>

    </div>

    <div class="ui secondary segment">
        <p> {{ project.summary|markdown|safe }}</p>
        Adding grants users
        <span class="ui green label">{{ access.get_access_display }} Permission</span>
        to this project

    </div>

<div class="ui segment">

         <form class="ui large form" method="post" action="{% url 'project_users_remove' project.id %}">
                {% csrf_token %}
            <div class="ui small header">Contributors</div>

             {% generate_usercards users=current_users project=project form=form %}

            <div class="ui cards">
            {% for avail_user in current_users %}

                        <div class=" card">
                            <div class="content">
                              <div class="ui small header">
                                {{ avail_user.first_name }}
                              </div>
                              <div class="meta">
                                {{ avail_user.email }}
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui two buttons">

                        {% if avail_user == project.owner %}
                               <div class="ui label">
                                      Creator
                                </div>
                        {% else %}
                          <button type="submit" class="ui basic red mini button" name="users" formmethod="post" value="{{avail_user.id}}">
                            Remove
                            </button>
                        {% endif %}

                              </div>
                            </div>
                    </div>
            {% endfor %}
            </div>
          {{form.errors}}
        </form>


 <div class="ui basic segment">
     <div class="ui fluid search">

            <div class="ui icon input">
                <form method="get" action="{% url 'project_users_add' project.id %}">

                    <input type="text" name="searches" placeholder="Search people...">

                     <button type="submit" class="ui button" formmethod="get">
                        <i class="search large icon"></i>
                    </button>
                </form>
            </div>
        </div>

        <form class="ui large form" method="post" action="{% url 'project_users_add' project.id %}">
                {% csrf_token %}

                {% generate_usercards users=available_users project=project form=form %}

                <div class="ui cards">
                    {% for new_user in available_users %}

                    <div class=" card">
                            <div class="content">
                              <div class="ui small header">
                                {{ new_user.first_name }}
                              </div>
                              <div class="meta">
                                {{ new_user.email }}
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="ui two buttons">

                          <button type="submit" class="ui basic green mini button" name="users" formmethod="post" value="{{new_user.id}}">
                            Add
                            </button>

                              </div>
                            </div>
                    </div>

                    {% endfor %}
                </div>
                 {{form.errors}}
        </form>

        </div>


    </div>

</div>
{% endblock %}