{% extends "base.html" %}
{% load engine_tags %}

{% block body %}


    <div class="ui raised segments">
        {% project_name_bar project %}

        <div class="ui center aligned segment">
            <h3 class="ui icon header">
                <i class="file outline icon"></i>
                <p class="content">
                    Manage Data Types
                <p class="sub header">Manage data types to later sub-select from existing data</p>
                </p>
            </h3>
        </div>


    </div>


{% endblock %}