{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Project List
{% endblock %}


{% block menu %}
    {% menubar create_project=True %}
{% endblock %}

{% block body %}

    <div class="ui raised segment">

    {% if user|can_create_instance %}
        <div class="ui centered header">
            <a class="ui button" href="{% url 'project_create' %}">
                <i class="write icon"></i>Create Project
            </a>
        </div>
    {% endif %}


        <div class="ui divided link items">

            {% for project in projects %}

                <div class="item">

                    <div class="image">
                        <img src="{% img project %}"/>
                    </div>

                    <div class="content">

                        <a class="header" href="{{ project.url }}">
                            <i class="archive icon"></i>{{ project.name }}
                        </a>

                        <div class="meta">
                            {{ project.summary|markdown|safe }}
                        </div>

                        <div class="extra">
                            Created on {{ project.date.date }} by {{ project.owner.email }}
                        </div>
                    </div>

                </div>


            {% endfor %}

        </div>

    </div>




{% endblock %}
