{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Most recent changes : {{ recipe.name }}
{% endblock %}

{% block content %}
  <div class="ui center aligned vertical segment">
        <a class="ui mini button" href="{% url 'recipe_code' recipe.uid %}">
            <i class="keyboard icon"></i>View Code
        </a>
        <a class="ui mini button" href="{% url 'recipe_copy' recipe.uid %}">
            <i class="setting icon"></i>View Recipe
        </a>
        <a class="ui mini button" href="{% url 'recipe_copy' recipe.uid %}">
            <i class="clone icon"></i>Copy Recipe
        </a>
    </div>

    {% if owner %}
        <div class="ui vertical segment">
        <div class="item">
            <b> Edited by  </b>: {{ owner.first_name }}
        </div>
        <div class="item">
            <b>Edited on </b>: {{ date }}
        </div>
        </div>
    {% endif %}


<pre>{{diff}}</pre>


{% endblock %}