{% extends "base_content.html" %}
{% load engine_tags %}
{% block headtitle %}
    Recipes
{% endblock %}

{% block content %}


    {% paste project=project current=recipe_board %}

    <div class="ui large vertical segment">
        <div class="ui divided link items">
            {% for recipe in recipe_list %}
                <div class="item">
                    <img class="ui mytiny rounded fancy image" src="{% img recipe %}">
                    <div class="content">

                        <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                            <i class="setting icon"></i> {{ recipe.name }}
                        </a>

                        <div class="description">
                            {{ recipe.summary }}
                        </div>

                        <div class="extra">
                            <i class="bar chart icon"></i>Recipe results: <a
                            href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
                            {{ recipe.job__count }}
                                run{{ recipe.job__count|pluralize }}</a>

                            {% created_by date=recipe.date user=recipe.owner obj=recipe %}
                        </div>

                        <div id="copy-message-{{ recipe.uid }}"></div>
                    </div>
                </div>
            {% empty %}
                <div class="item">
                    <div class="ui warning message"><i class="ui warning circle icon"></i>No recipes found.</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
