{% extends "base.html" %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block body %}

    <div class="ui raised segment inputcolor">

        <form method="post" class="ui form" action="{% url 'recipe_edit' analysis.id %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="field segment">
                <label>Recipe Name</label>
                {{ form.name }}
            </div>
            <div class="field">
               <label class="checkbox" for="{{ field.id_for_label }}">
                        {{ form.sticky }} <label>Sticky</label>
               </label>
            </div>
             <div class="field">
                  <label> Image</label>
                  <input id="id_image" type="file" class="" name="image">
             </div>

            <div class="field">
                <label>Summary</label>
                <textarea name="{{ form.summary.name }}" rows="2">{{ form.summary.value }}</textarea>
            </div>

            <div class="field segment">
                <label>Analysis description</label>
                {{ form.text }}
            </div>
            {{ form.errors }}

            <button type="submit" class="ui submit button">
                <i class="save icon"></i>Save
            </button>
            <a class="ui right floated button" href="{% url 'analysis_view' analysis.id %}">
                Analysis view
            </a>

        </form>
    </div>

{% endblock %}
