{% extends "base_content.html" %}
{% load engine_tags %}
{% block headtitle %}
    Analysis List
{% endblock %}

{% block content %}

    {% if request|has_recipe %}

        <a class="ui green button" href="{% url 'recipe_paste' project.uid %}">
            <i class="sticky note icon"></i> Paste Recipe
        </a>

        <a class="ui button" href="{% url 'clear_clipboard' project.uid 'recipe_list' %}">
            <i class="window close icon"></i> Clear Clipboard
        </a>

    {% endif %}

    {% if not job_list %}
        <div class="ui warning message"><i class="ui warning circle icon"></i>No recipes found.</div>
    {% endif %}

    <div class="ui divided link items">

        {% for recipe in recipe_list %}

            <div class="item">
                <div class="ui tiny image">
                    <img src="{% img recipe %}">
                </div>
                <div class="content">
                    <a class="header" href="{% url 'recipe_view' recipe.id %}">
                        <i class="setting icon"></i> {{ recipe.name }}
                    </a>
                    <div class="description">
                        {{ recipe.summary|markdown|safe }}
                    </div>
                    <div class="meta">
                        {% sticky_label recipe %}
                        <a href="{% url 'job_list' project.uid %}?filter={{ recipe.id }}">
                            <i class="bar chart icon"></i> view results
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}
