{% extends "base_content.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ recipe.name }}
{% endblock %}

{% block js %}
    <script src="{% static 'lib/codemirror.js' %}"></script>
    <script src="{% static 'lib/mode/simple.js' %}"></script>
    <script src="{% static 'lib/mode/engine.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="ui vertical segment">

        <div class="ui divided link items">
            <div class="item">
                <div>
                    <img class="ui tiny image imgpad" src="{% img recipe %}">
                </div>
                <div class="content">
                    <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                        <i class="setting icon"></i> {{ activate }}: {{ recipe.name }}
                    </a>
                    <div class="description">{{ recipe.summary|markdown|safe }}</div>
                </div>
            </div>
        </div>

    </div>

    {% security_label recipe %}
    <div id="copy-message-{{ recipe.uid }}"></div>

    <div class="ui vertical segment">

        {% form_errors form %}

        {% csrf_token %}


        <div class="ui seven small buttons">

            <button class="ui button tablet" onclick="window.history.back()">
                <i class="chevron left icon"></i>Back
            </button>

            <a class="ui green button" href="{% url 'recipe_run' recipe.uid %}">
                <i class="spinner icon"></i> Run
            </a>

            <a class="ui button" href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
                <i class="bar chart icon"></i> Results
            </a>

            <a class="ui button" href="{% url 'recipe_code_view' recipe.uid %}">
                <i class="keyboard icon"></i> Code
            </a>

            <a class="copy-data ui button" data-uid="{{ recipe.uid }}" copy-url="{% url 'recipe_copy' %}">
                <i class="copy icon"></i> Copy
            </a>

            <a class="ui button tablet" href="{% url "recipe_edit" uid=recipe.uid %}">
                <i class="edit icon"></i> Edit
            </a>

            <a class="ui button tablet" href="#">
                <i class="trash icon"></i> Delete
            </a>


        </div>

    </div>

    <div class="ui vertical segment">
        {{ recipe.html|safe }}
    </div>



{% endblock %}


