{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}


{% block menu %}
    {% menubar edit_analysis=True analysis=analysis %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui raised segments">

        {% project_name_bar project %}

        <div class="ui segment">

            <div class="ui center aligned header">
                Recipe: {{ analysis.name }}
            </div>

            <div class="">
                <img class="ui centered small image" src="{% img analysis %}">
            </div>
            <div class="ui center aligned basic segment">
                <a class="ui green button" href="{% url 'analysis_run' analysis.id %}">
                    <i class="spinner icon"></i> Run Analysis
                </a>
            </div>
            <p>
                {{ analysis.summary|markdown|safe }}
            </p>

            {% security_label analysis %}

        </div>

        <div class="ui center aligned segment">

            <a class="ui button" href="{% url 'job_list' project.uid %}?filter={{ analysis.id }}">
                <i class="area chart icon"></i> Go to Results
            </a>

            <a class="ui button" href="{% url 'recipe_edit' analysis.id %}">
                <i class="write icon"></i>Edit Info
            </a>

            <a class="ui button" href="{% url 'recipe_code' analysis.id %}">
                <i class="list icon"></i> Edit Recipe
            </a>

        </div>

        <div class="ui secondary segment">
            <div class="ui vertical segment">{{ analysis.html|safe }}</div>
        </div>


        <form class="ui large form" method="post" action="{% url 'recipe_view' analysis.id %}">
                {% csrf_token %}

            <div class="ui basic segment">

                {% copy_interface projects=projects form=form%}

               <button type="submit" class="ui button">
                    <i class="plus icon"></i>Copy Recipe
               </button>

                <button type="submit" class="ui right floated button" name="project" value="{{analysis.project.id}}">
                    <i class="copy icon"></i>Duplicate Recipe
                </button>


             </div>


        </form>


    </div>


{% endblock %}
