{% extends "base.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    Copy: {{ analysis.name }}
{% endblock %}
{% block body %}

<div class="ui raised segments">

    <div class="ui center aligned segment">


         <div class="ui tiny image">
            <img src="{% img analysis %}">
         </div>

        <div class="ui header">
        Recipe: {{analysis.name}}
        </div>
    </div>

    <div class="ui secondary segment">

          <div class="ui tiny header">
        Project
          </div>
        <p> {{ project.summary|markdown|safe }}</p>
         <div class="ui tiny header">
        Recipe
          </div>
        <p> {{ analysis.summary|markdown|safe }}</p>

    </div>


<div class="ui segment">

    <form class="ui large form" method="post" action="{% url 'recipe_copy' analysis.id %}">
            {% csrf_token %}
             {% form_nonfield_errors form %}

    <div class="ui basic segment">
                <div class="ui small header">
                    Your Projects
                </div>

                {% if projects %}

                <div class="ui basic segment">

                    <div class="ui relaxed divided list">
                        <div class="item">
                        <div class="inline field">
                            <input type="radio" name="project" value="0">

                        <i class="archive icon"></i>Create new project and copy recipe
                        </div>
                    </div>
                        {% for project in projects %}
                            <div class="item">
                                <div class="inline field">
                                    <input type="radio" name="project" value="{{project.id}}">
                                    <a href="{{ project.url }}">
                                        <i class="archive icon"></i>{{ project.name }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                {% else %}
                <div class="ui tiny red message">
                    <p>You do not have
                        <span class="ui tiny green label">{{ access.get_access_display }} Permission</span>
                        to any other project needed to copy
                    </p>
                </div>

                <div class="ui basic segment">
                    <div class="ui relaxed divided list">
                        <div class="item">
                        <div class="inline field">
                            <input type="radio" name="projects" value="0">

                        <i class="archive icon"></i>Create new project and copy recipe
                        </div>
                    </div>
                 </div>
                </div>

                {% endif %}
                   <button type="submit" class="ui button">
                        <i class="plus icon"></i>Copy Recipe
                   </button>


    </div>
        </form>
    </div>
</div>

{% endblock %}