{% extends "base_content.html" %}
{% load engine_tags %}

{% block headtitle %}
    Most recent changes : {{ recipe.name }}
{% endblock %}

{% block content %}
    <div class="ui center aligned header">
        Recipe: <a href="{{ recipe.url }}"><i class="setting icon"></i>{{ recipe.name }}</a>
    </div>
    {% if not diff %}
        <div class="ui message"><i class="ui minus icon"></i> No Changes Detected.</div>
    {% endif %}

    {% form_errors form %}
    <form class="ui form" action="{% url 'recipe_diff' recipe.uid %}" method="POST">
     {% csrf_token %}

        <div class="ui center aligned vertical segment">
            <div class="ui buttons">
                <button type="submit" name="action" value="APPROVE" class="ui green button">
                    <i class="check icon"></i>Approve
                </button>

                    <div class="or"></div>

                <button type="submit" name="action" value="REVERT" class="ui button">
                    <i class="undo icon"></i>Revert
                </button>

            </div>
        </div>

        <div class="ui center aligned vertical segment">
            <a class="ui mini button" href="{% url 'recipe_code' recipe.uid %}">
                <i class="keyboard icon"></i>View Code
            </a>
            <a class="ui mini button" href="{% url 'recipe_view' recipe.uid %}">
                <i class="setting icon"></i>View Recipe
            </a>
        </div>

    <pre><code>{{diff}}</code></pre>

    </form>

{% endblock %}