{% extends "wide_base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Editing: {{ analysis.name }}
{% endblock %}


{% block body %}


    <form class="ui form" action="{% url 'recipe_code' analysis.id %}" method="POST">
        {% csrf_token %}
        <div class="ui raised segment ">

            {% form_nonfield_errors form %}

            <div class="ui grid inputcolor">

                <div class="eight wide column">
                    <div class="ui basic segment">
                        <div class="ui center aligned header">
                            Interface Specification
                        </div>
                        <textarea class="code" rows="30" cols="55" name="json">{{ form.json.value }}
                        </textarea>

                    </div>
                </div>

                <div class="eight wide column column">
                    <div class="ui basic segment">
                        <div class="ui center aligned header">
                            Script Template
                        </div>
                        <textarea class="code" rows="30" cols="55" name="template">{{ form.template.value }}
                        </textarea>

                    </div>
                </div>


                <div class="sixteen wide column">
                    <div class="ui center aligned basic segment">

                        <button type="submit" name="action" value="PREVIEW" class="ui primary button">
                            <i class="eye icon"></i>Preview Changes
                        </button>

                        <button type="submit" name="action" value="SAVE" class="ui green button">
                            <i class="save icon"></i>Save Changes
                        </button>

                        <a class="ui  button" href="{% url 'recipe_view' analysis.id %}">
                            <i class="undo icon"></i>Recipe View
                        </a>
                    </div>
                </div>


                <div class="eight wide column">

                    <div class="ui basic segment">
                        <div class="ui center aligned header">
                            Generated Interface
                        </div>

                        <div class="ui segment">

                            {{ recipe }}

                            <a class="ui green disabled button">
                                <i class="check icon"></i>Run
                            </a>
                            <a class="ui right floated disabled button">
                                <i class="undo icon"></i>Cancel
                            </a>

                        </div>


                    </div>
                </div>

                <div class="eight wide column">

                    <div class="ui basic segment">
                        <div class="ui center aligned header">
                            Resulting Script
                        </div>
                        <pre>{{ script }}</pre>
                    </div>
                </div>

            </div>
        </div>
        </div>

    </form>

{% endblock %}
