{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.name }}
{% endblock %}

{% block title %}
    Run {{ analysis.name }}
{% endblock %}

{% block body %}

    <div class="ui raised segment inputcolor">

        <div class="ui center aligned header">
            Execute Analysis: {{ analysis.name }}
        </div>
        {{ analysis.summary|markdown|safe }}

        <form method="post" class="ui form" action="{% url 'analysis_run' analysis.id %}">

            {% csrf_token %}

            {% form_nonfield_errors form %}

            <div class="ui vertical segment ">
                {{ form }}
            </div>

             <div class="ui vertical segment ">
                <button type="submit" class="ui green button">
                    <i class="check icon"></i>Run
                </button>

                <a class="ui right floated button" href="{% url 'recipe_view' analysis.id %}">
                    <i class="chevron left icon"></i>Back
                </a>
             </div>

        </form>
    </div>

{% endblock %}
