{% extends "base_content.html" %}
{% load engine_tags %}
{% load staticfiles %}

{% block headtitle %}
    {{ recipe.name }}
{% endblock %}

{% block js %}
    <script src="{% static 'lib/codemirror.js' %}"></script>
    <script src="{% static 'lib/mode/simple.js' %}"></script>
    <script src="{% static 'lib/mode/engine.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="ui vertical segment">

        <div class="ui divided link items">
            <div class="item">
                <div>
                    <img class="ui tiny rounded image" src="{% img recipe %}">
                </div>
                <div class="content imgpad">
                    <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                        <i class="setting icon"></i>{{ activate }}: {{ recipe.name }}
                    </a>
                    <div class="description">{{ recipe.summary|markdown|safe }}</div>
                </div>
            </div>
        </div>

    </div>

    <div class="ui vertical segment">

        {% form_errors form %}

        {% csrf_token %}


        <div class="ui five small buttons">

            <a class="ui button" onclick="window.history.back()">
                <i class="chevron left icon"></i> <span class="fitme">Back</span>
            </a>

             <a class="ui button" href="{% url 'job_list' project.uid %}?filter={{ recipe.uid }}">
                <i class="bar chart icon"></i> <span class="fitme">Results ({{ rcount }})</span>
            </a>

            <a class="ui button" href="{% url 'recipe_code_view' recipe.uid %}">
                <i class="keyboard icon"></i> <span class="fitme">Code</span>
            </a>

                <a class="ui button" href="{% url 'recipe_run' recipe.uid %}">
                <i class="spinner icon"></i> <span class="fitme">Run</span>
            </a>



            <div class="ui button">
                <div class="ui simple dropdown item">
                    <i class="angle double right icon"></i>  <span class="fitme">More</span>
                    <div class="menu">
                        <a class="ui item"
                           href="{% url "recipe_copy" recipe.uid %}?next={% url "recipe_view" recipe.uid %}">
                            <i class="copy icon"></i> Copy
                        </a>
                        <div class="divider"></div>
                        <a class="ui item" href="{% url "recipe_edit" recipe.uid %}">
                            <i class="edit icon"></i>Edit
                        </a>
                        <div class="divider"></div>
                        <a class="ui item" href="{% url 'recipe_code_edit' recipe.uid %}">
                            <i class="keyboard icon"></i>Interface
                        </a>
                        <div class="divider"></div>
                        <a class="ui item" href="{% url 'recipe_delete' recipe.uid %}">
                            {% if recipe.deleted %}
                                <i class="undo icon"></i> Restore
                            {% else %}
                                <i class="trash icon"></i>Delete
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="copy-message-{{ recipe.uid }}"></div>

    </div>

    <div class="ui vertical segment">
        {{ recipe.html|safe }}
    </div>



{% endblock %}


