{% extends "base.html" %}
{% block headtitle %}
    Recycle Bin
{% endblock %}

{% block body %}

    <div class="ui center aligned header">
        <i class="trash icon"></i> Recyle Bin
    </div>

    <div class="ui relaxed divided list">
        {% for job in jobs %}
            <div class="item">
                <i class="large bar chart aligned icon"></i>
                <div class="content">
                    <a class="header" href="{% url 'job_view' job.uid %}">{{ job.name }}</a>
                    <div class="description">{{ job.summary|safe }}</div>
                </div>
            </div>

            {% empty %}
             <div class="item">
                Your recycle bin is empty.
             </div>
        {% endfor %}

    </div>


{% endblock %}
