{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Recycle Bin
{% endblock %}

{% block body %}

    <div class="ui center aligned header">
        <i class="trash icon"></i> Recyle Bin
    </div>

<div class="ui center aligned small header">Deleted Data</div>

    <div class="ui divided items">
        {% for data in data %}
            <div class="item">
                <div class="content">
                    <a class="subheader" href="{% url 'data_view' data.uid %}">
                        <i class="file icon"></i>{{ data.name }}
                    </a>
                    <div class="meta">
                        <div class="ui small labels">
                        {% size_label data %}
                        {% type_label data %}
                        </div>
                    </div>
                    <div class="meta">
                       {{ data.summary }}
                    </div>

                </div>
            </div>

            {% empty %}
             <div class="item">
                Your recycle bin has no data.
             </div>
        {% endfor %}

    </div>

<div class="ui center aligned small header">Deleted Jobs</div>
    <div class="ui relaxed divided list">
        {% for job in jobs %}
            <div class="item">
                <i class="large bar chart aligned icon"></i>
                <div class="content">
                    <a class="header" href="{% url 'job_view' job.uid %}">{{ job.name }}</a>
                    <div class="description">{{ job.summary|safe }}</div>
                </div>
            </div>

            {% empty %}
             <div class="item">
                Your recycle bin has no jobs.
             </div>
        {% endfor %}

    </div>


{% endblock %}
