{% extends "site_layout.html" %}
{% load widgets %}

{% block body %}
    <div class="row" id="post_detail">
        <div class="nine columns">

            {% search_bar %}

            <div itemscope itemtype="http://schema.org/Question">

                {% post_user_box post %}

                <div class="post_title">
                    {{ post.get_type_display }}: {{ post.title }}
                </div>

                <div>
                    {{ post.html|safe }}
                </div>

                <div class="clearfix">
                    {% tag_bar post %}
                </div>

                <div style="margin-top:1em;">
                    {% action_bar post %}
                    {% update_bar post %}
                </div>

            </div>

            {#  Answers follow #}

            {% for answer in post.answers %}
                <div itemscope itemtype="http://schema.org/Answer">
                    <div class="answer u-full-width">
                        {% post_user_box answer %}
                        {{ answer.html|safe }}
                    </div>

                    <div>
                        {% action_bar answer %}
                        {% update_bar answer %}
                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="three columns">
            Side Bar
        </div>
    </div>
{% endblock %}
