{% extends "site-layout.html" %}
{% block body %}
    <div class="container">

        <div class="nine columns">
            <h5>&nbsp;</h5>
            <table class="u-full-width">
                {% for post in posts %}
                    <tr>
                        <td>{{ post.thread_score }}</td>
                        <td>{{ post.title }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="three columns">
            <h5>Recent Votes</h5>
            <ul>
                {% for vote in recent_votes %}
                    <li>
                        {{ vote.post.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
