{% extends "site_layout.html" %}
{% load widgets %}

{% block body %}
    <div class="row" id="post_list">
        <div class="nine columns">

            {% search_bar %}

            {% page_bar %}

            <table class="u-full-width">
                {% for post in posts %}
                    <tr>
                        <td class="box">
                            <div class="vote">
                                <div class="c">{{ post.thread_score }}</div>
                                <div class="t">votes</div>
                            </div>
                        </td>
                        <td class="box">
                            <div class="vote {% post_type_css post %}">
                                <div class="c">{{ post.reply_count }}</div>
                                <div class="t">answers</div>
                            </div>
                        </td>
                        <td class="box">
                            <div class="c">{{ post.view_count }}</div>
                            <div class="t">views</div>
                        </td>
                        <td>
                            <div class="post_title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </div>
                            {% tag_bar post %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% page_bar %}
        </div>

        <div class="three columns recent_votes">
            {% recent_votes recent_votes %}
        </div>

    </div>

{% endblock %}

