{% extends "site_layout.html" %}
{% load widgets %}

{% block body %}
    <div class="row" id="post_detail">
        <div class="nine columns">

            {% search_bar %}

            <div itemscope itemtype="http://schema.org/Question">

                {% post_user_box post %}

                <div class="post_title">
                    {{ post.title }}
                </div>

                <div>
                    {{ post.html|safe }}
                </div>


            	{%  tag_bar post show_update=False%}


                <div>
                    action bar
                </div>

            </div>

        </div>
    </div>
{% endblock %}
