{% extends "site-base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" href={% static "css/normalize.css" %}>
        <link rel="stylesheet" href={% static "css/skeleton.css" %}>
        <link rel="stylesheet" href={% static "css/site.css" %}>
    {% endcompress %}

    <link rel="icon" type="image/png" href={% static "images/favicon.png" %}/>

{% endblock %}

{% block header %}
    <div class="container">
        <h3>Welcome to Biostar!</h3>
    </div>
{% endblock %}
{% block body %}
    Default Body
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="row">
            Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> version {{  BIOSTAR_VERSION }}
        </div>
    </div>
{% endblock %}}