{% extends "site_base.html" %}
{% load staticfiles %}
{% load compress %}
{% load widgets %}
{% block head %}

    {% compress css %}
        <link rel="stylesheet" href={% static "css/normalize.css" %}>
        <link rel="stylesheet" href={% static "css/skeleton.css" %}>
        <link rel="stylesheet/less" type="text/less" href="{% static "site.less" %}">
    {% endcompress %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="{% static "js/less.min.js" %}" type="text/javascript"></script>

    <link rel="icon" type="image/png" href={% static "images/favicon.png" %}/>

{% endblock %}

{% block header %}

    <div class="row">

        <div class="three columns">
            <a href="{% url "home" %}"><img src="{% static "images/biostar.logo.png" %}" id="logo"></a>
        </div>


        <div class="seven columns">
            <nav class="primary">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-globe"></i> <br> Community</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-user"></i> <br> User Name</a>
                    </li>

                    <li>
                        <a href="#">30 <i class="fa fa-envelope"></i> <br> Messages</a>
                    </li>

                    <li>
                        <a href="#">20 <i class="fa fa-heart"></i> <br> &nbsp;Votes&nbsp;</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-comments"></i> <br> My Posts</a>
                    </li>
                </ul>
            </nav>
        </div>

    <div class="one columns">
        <nav class="primary">
            <ul>
                    <li>
                        <a href="#"><i class="fa fa-plus-circle"></i> <br> New&nbsp;Post</a>
                    </li>
    		</ul>
            </nav>
    </div>

    </div>


    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="row">


    </div>


{% endblock %}

{% block body %}
    Layout Body.
{% endblock %}



{% block footer %}
    <div class="right">
        Switch to:
        <select class="rights">
            <option value="volvo">Biostar</option>
            <option value="saab">Qiime 1</option>
            <option value="opel">Qiime 2</option>
            <option value="audi">Chipster</option>
            <option value="audi">Galaxy</option>
        </select>
    </div>

    Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> &bull; version {{ BIOSTAR_VERSION }}
{% endblock %}

{% block bottom %}
    {% compress js %}
        <script src={% static "js/jquery-1.11.2.min.js" %}></script>
        <script src={% static "js/jquery.peity.min.js" %}></script>
        <script src={% static "site.js" %}></script>
    {% endcompress %}
{% endblock %}