{% extends "site_base.html" %}
{% load staticfiles %}
{% load compress %}
{% load widgets %}
{% block head %}

    {% compress css %}
        <link rel="stylesheet" href={% static "css/normalize.css" %}>
        <link rel="stylesheet" href={% static "css/skeleton.css" %}>
        <link rel="stylesheet" href="{% static "css/site.css" %}">
    {% endcompress %}

    <link rel="icon" type="image/png" href={% static "images/favicon.png" %}/>
{% endblock %}

{% block header %}

    <div class="row">
        <a href="{% url "home" %}"><img src="{% static "images/logo.png" %}" id="logo"></a>

        <h3 id="page_title">{{ page_title }}</h3>
    </div>


    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="row">
        <nav class="primary">
            <ul>
                <li>
                    <a href="{% url "user_list" %}">Messages</a>
                </li>
                <li>
                    <a href="{% url "user_list" %}">Community</a>
                </li>
                <li>
                    <a href="{% url "user_list" %}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>


{% endblock %}

{% block body %}
    Layout Body.
{% endblock %}

{% block footer %}
    Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> &bull; version {{ BIOSTAR_VERSION }}
{% endblock %}

{% block bottom %}
    <script src={% static "js/jquery-1.11.2.min.js" %}></script>
    <script src={% static "js/jquery.peity.min.js" %}></script>
    <script src={% static "js/site.js" %}></script>
{% endblock %}