{% extends "site_base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" href={% static "css/normalize.css" %}>
        <link rel="stylesheet" href={% static "css/skeleton.css" %}>
        <link rel="stylesheet" href={% static "css/site.css" %}>
    {% endcompress %}

    <link rel="icon" type="image/png" href={% static "images/favicon.png" %}/>
{% endblock %}

{% block header %}
    <a href="{% url "home" %}"><img src="{% static "images/logo.png" %}" id="logo"></a>
    <h3 id="page_title">{{ page_title }}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message|safe }}</div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block body %}
   Layout Body.
{% endblock %}

{% block footer %}
    Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> version {{ BIOSTAR_VERSION }}
{% endblock %}

