<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        {% block title %}{{ html_title }}{% endblock %}
    </title>
    {% block head %}
        {# Content in the head tags. #}
    {% endblock %}
</head>
<body>

{% block top %}
    {# Content that must be above page. #}
{% endblock %}

<div class="container">
    <div class="row" id="header">
        {% block header %}
            Base Header.
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block body %}
        Base Body.
    {% endblock %}
</div>

<div class="container">
    <div class="row" id="footer">
        {% block footer %}
            Base Footer.
        {% endblock %}
    </div>
</div>


{% block bottom %}
    {#  Content that must be below page. #}
{% endblock %}


</body>
</html>