
$navbar-color:#8F2C47;
$highlight-color:#FF7700;
$shade-color:#5B8C3C;

$warn-color:#FF7700;
$vote-color:#EEEEEE;
$title-size:1.2em;


$pastel-green:#D0E5C2;

.mini-counts {
    font-size: 2em;
    font-weight: bold;
    height: 2ex;
    vertical-align: middle;
    text-align: center;
}

.question-title {
  font-size: $title-size;
  font-weight: bold;
  padding-bottom:0.5em;
  a {
    text-decoration: none;
  }
}

/* Navigation bar */
.nav {
  
  a {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    background: none repeat scroll 0 0 #8F2C47;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  a:hover {
    background-color: $highlight-color;
  }

  .youarehere {
    background: none repeat scroll 0 0 #FF7700;
  }
  
}


/* User notification listing */
.msg {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px solid #EEEEEE;
    p {
            display: inline;
        }
}

div.welcome {
  font-size: 1.1em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: $shade-color;
  color:white;
  padding:5px;
  margin-top:3px;
  
  h1, h2, h3 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  a{
    color: white;
   }
    
  img {
    vertical-align: middle;
    border:0;
  }
}

table.pagebar {
  padding-bottom:5px;
  .paginator {
    
  }
}

div.remind {
  background-color: $highlight-color;
  border-left:5px solid darken($highlight-color, 10%);
  color: white;
  font-weight:bold;
  float:left;
  padding:5px;
}

div.tagcloud {
  margin-top:10px;
  border:1px solid #BBBBBB;
  padding:10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: url("/static/img/stripe.gif");
  h1, h2, h3 {
    text-shadow: 1px 2px 1px rgba(0,0,0,0.1);
  }
  .tag {
    float:left;
    margin: 5px 5px 5px 0;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    background-color: #ECECEC;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    font-weight: bold;
  }
}

.unread {
    background-color:$pastel-green;
}

.status {  
  margin: 0 3px 0 0;
  padding: 5px;
  height: 3.2em;
  width: 4em;
  text-align: center;
}

.unanswered {
    background-color: $navbar-color;
    color: white;
}
  
.votes {
    background-color: $vote-color;
}

.views {
    color: #666666;
    width:4.5em;
}


$yellow:#ffcc00;
$green:#a7dd32;
$button-color:$green;

/* from http://www.leemunroe.com/css-button/ */
.button {
    color:#08233e;
    font:2.4em Futura, Century Gothic, AppleGothic, sans-serif;
    padding:14px;
	background:url(/static/img/overlay.png) repeat-x center $button-color;
    border:1px solid $button-color;

    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
    cursor:pointer;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);

    &:hover {background-color:lighten($button-color, 10%);}
    &:active{position:relative;top:2px;}
}
