#aboutpage .title {
  border-bottom: 1px dotted #999999;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px; }

div.indent {
  margin-left: 3em; }

table.post {
  width: 100%; }

div.question {
  width: 100%; }

a {
  text-decoration: underline; }

.moderated {
  background-color: #ffad66;
  padding: 10px; }

div.comment {
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: #333333;
  background-color: #ecf4e6;
  border-left: 10px solid #d0e5c2;
  border-right: 10px solid #d0e5c2;
  border-bottom: 1px solid #d0e5c2;
  border-top: 1px solid #d0e5c2;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px; }
  div.comment:hover {
    background-color: #deedd4; }
  div.comment .actions {
    width: 3em; }
  div.comment .userinfo {
    float: right; }
  div.comment .reply {
    float: right; }
  div.comment .comment-delete {
    width: 1em;
    float: right;
    font-weight: bold;
    text-align: center; }
    div.comment .comment-delete:hover {
      background-color: #666666;
      color: red; }

.mini-counts {
  font-size: 2em;
  font-weight: bold;
  height: 2ex;
  vertical-align: middle;
  text-align: center; }

.question-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.5em; }
  .question-title a {
    text-decoration: none; }

/* Navigation bar */
.nav a {
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  background: none repeat scroll 0 0 #8F2C47;
  border-radius: 5px;
  -moz-border-radius: 5px; }
.nav a:hover {
  background-color: #ff7700; }
.nav .youarehere {
  background: none repeat scroll 0 0 #FF7700; }

.mod-flair {
  font-size: 140%;
  color: #555555;
  font-weight: bold;
  margin-left: 3px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }

/* User notification listing */
.msg {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEEEEE; }
  .msg p {
    display: inline; }

div.welcome {
  font-size: 1.1em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #5b8c3c;
  color: white;
  padding: 5px;
  margin-top: 3px; }
  div.welcome h1, div.welcome h2, div.welcome h3 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }
  div.welcome a {
    color: white; }
  div.welcome img {
    vertical-align: middle;
    border: 0; }

div.section {
  font-size: large;
  font-weight: bold;
  padding: 10px 0px 10px 0px; }

table.pagebar {
  padding-bottom: 5px;
  padding-top: 5px; }

div.remind {
  background-color: #ff7700;
  border-left: 5px solid #cc5f00;
  color: white;
  font-weight: bold;
  float: left;
  padding: 5px; }

div.tagcloud {
  margin-top: 10px;
  border: 1px solid #BBBBBB;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: url("/static/img/stripe.gif"); }
  div.tagcloud h1, div.tagcloud h2, div.tagcloud h3 {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }
  div.tagcloud .tag {
    float: left;
    margin: 5px 5px 5px 0;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    background-color: #ECECEC;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    font-weight: bold; }

.unread {
  background-color: #d0e5c2; }

.status {
  margin: 0 3px 0 0;
  padding: 5px;
  height: 3.2em;
  width: 4em;
  text-align: center; }

.unanswered {
  background-color: #8f2c47;
  color: white; }

.answered {
  background-color: #75845C;
  color: #FFFFFF; }

.accepted {
  background-color: #75845C;
  color: #E1E818; }

.votes {
  background-color: #eeeeee; }

div.answers .count {
  font-size: 1.8em;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #999999; }
div.answers .separator {
  border-bottom: 1px solid #cccccc;
  margin: 10px 0px 10px 0px; }

div.editbox {
  color: #858585;
  float: left;
  clear: left; }

div.tagline {
  margin-bottom: 10px;
  line-height: 18px;
  float: left; }

.views {
  color: #666666;
  width: 4.5em; }

div.warning {
  background-color: #ff7700;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
  padding: 15px;
  border-left: 5px solid #cc5f00;
  border-right: 5px solid #cc5f00;
  margin: 0px 0px 3 3; }

div.feeds {
  background-color: #e1efd9;
  border: 1px solid #8ec16d;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 2em;
  font-size: larger; }
  div.feeds li {
    padding: 5px; }

/* from http://www.leemunroe.com/css-button/ */
.button {
  color: #08233e;
  font: 2.4em Futura, Century Gothic, AppleGothic, sans-serif;
  padding: 14px;
  background: url(/static/img/overlay.png) repeat-x center #a7dd32;
  border: 1px solid #a7dd32;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9f9f9f;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); }
  .button:hover {
    background-color: #bae45e; }
  .button:active {
    position: relative;
    top: 2px; }
