{% extends "community_list.html" %}
{% load forum_tags %}
{% load accounts_tags %}
{% load humanize %}

{% block headtitle %}
    Community
{% endblock %}


{% block content %}

    {% with params=request.GET.urlencode %}
        {% include 'banners/menu-community.html' %}
    {% endwith %}

    <div class="ui basic segment">

        <div class="ui six column grid">
            {% for user in users %}
                <div class="column">
                    {% user_card user %}
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="ui horizontal basic top-menu segments">
        <div class="ui page-bar segment">
            {% pages objs=users %}
        </div>
    </div>

{% endblock %}
