{% extends "base.html" %}

{% block title %}
    {{analysis.title}}
{% endblock %}

{% block body %}

<div class="createform">
<form method="post" class="ui form" >
{% csrf_token %}

    <div   class="ui two column grid">

        <div class="column specs">
        <textarea rows="30" cols="55">{{ form.text.value }}</textarea>

                 <button formmethod="get" type="submit" class="ui green mini button">
        <i class="edit icon"></i>Preview

             <button type="submit" class="ui primary mini button">
            <i class="save icon"></i>Save
        </button>
        <a class="ui right floated mini button" href="{% url 'analysis_view' analysis.id %}">
            Exit
        </a>

    </button>
        </div>
        <div class="column specs">
                {% for field in form %}
                    {% if field != form.text %}
                    <div class="field segment">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endif %}
                {% endfor %}
                {{ form.errors }}


        </div>

    </div>
</form>
</div>
{% endblock %}