{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    {{ analysis.title }}
{% endblock %}


{% block menu %}
    {% menubar edit_analysis=True analysis=analysis %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui segment">
        <div class="ui center aligned header">
            Analysis: {{ analysis.title }}
        </div>
        {{ analysis.summary|markdown|safe }}

        <div class="ui center aligned basic segment">
            <a class="ui green button" href="{% url 'analysis_run' analysis.id %}">
                Execute Analysis
            </a>
        </div>
    </div>

    <div class="ui vertical aligned segment">
        <div>{{ analysis.html|safe }}</div>
    </div>

    <div class="ui center aligned vertical segment">
        <a class="ui button" href="{% url 'analysis_edit' analysis.id %}">
            <i class="write icon"></i>Edit Analysis
        </a>
    </div>



{% endblock %}
