{% extends "base.html" %}

{% block headtitle %}
    Analysis List
{% endblock %}

{% block title %}
    Analysis list for: {{project.title}}
{% endblock %}

{% block body %}

{% for res in analysis %}

    <div class="ui vertical segment">

        <div class="title">


            <a href="{% url 'analysis_view' project.id res.id %}">
            <i class="setting icon"></i>{{ res.title }}
            </a>
        </div>
        <div class="info">{{res.date.date}}</div>
    </div>

{% endfor %}


{% endblock %}
