{% extends "base.html" %}

{% block title %}
    Create Analysis
{% endblock %}


{% block body %}

<div class="createform">
    <form method="post" class="ui form" >

        {% csrf_token %}
        {{ form.media }}
         <div class="nine wide field segment">
              <label>Title</label>
              {{ form.title }}
         </div>

        <div class="field segment">
              <label>Description</label>
              {{ form.text }}
         </div>

        {{ form.errors }}

        <button type="submit" class="ui primary button">
            <i class="write square icon"></i>Create Analysis
        </button>
        <a class="ui right floated button" href="{% url 'project_view' project.id %}">
            Exit
        </a>

    </form>
</div>
{% endblock %}