{% load staticfiles %}
{% load compress %}
{% load engine_tags %}

<html>
<head>

    <title>
        {# Page Title #}
        {% block title %}Title{% endblock %}
    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endcompress %}


</head>
<body>

<div class="ui text container">

    <h2 class="ui center aligned header">
        <i class="barcode icon"></i> Metagenomics Barcode Data Repository
    </h2>

    {% block menu %}
        {% menubar %}
    {% endblock %}

    <div class="breadcrumb">
        {% block breadcrumb %}
            {% breadcrumb steps=steps %}
        {% endblock %}
    </div>

    {# This will show error messages #}
    {% block message %}
        {% if messages %}
            {% for message in messages %}
                <div class="ui {{ message.tags }} message">
                    <p>{{ message|safe }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block body %}
        {# Main body #}
        BODY
    {% endblock %}

</div>

</body>
</html>
