{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data: {{ data.title }}
{% endblock %}

{% block title %}
    Data: {{ data.title }}
{% endblock %}

{% block menu %}
    {% menubar data=data edit_data=True %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}

    <div class="ui vertical segment">

        <div class="textbody">File: {{ data.file }}</div>
        {% if data.size %}
        <div class="textbody">Size: {{ data.size }} bytes</div>
        {% else %}
        <div class="textbody">Size: 0 bytes</div>
        {% endif %}
        <div class="textbody">{{ data.html|safe }}</div>
    </div>

{% endblock %}
