{% extends "base.html" %}

{% block title %}
    Upload Data
{% endblock %}


{% block body %}

<div class="createform">
    <form method="post" class="ui form" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.media }}

        <div class="field segment">
              <label>{{ form.file.label_tag }}</label>
              {{ form.file }}
         </div>

        <div class="field segment">
              <label>Description</label>
              {{ form.text }}
         </div>

        {{ form.errors }}

        <button type="submit" class="ui primary button">
            <i class="write square icon"></i>Upload Data
        </button>
        <a class="ui right floated button" href="{% url 'project_view' project.id %}">
            Back
        </a>

    </form>
</div>
{% endblock %}