{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Data List
{% endblock %}



{% block menu %}
    {% menubar project=project upload_data=True %}
{% endblock %}

{% block body %}

    <div class="ui raised  segment">
        <div class="ui center aligned vertical segment">
            <div class="ui center aligned header">
                Data stored in project: {{ project.name }}
            </div>
        </div>

        <div class="ui center aligned vertical segment">
            <a class="ui button" href="{% url 'data_upload' project.id %}">
                <i class="upload icon"></i>Upload data
            </a>
        </div>

        <div class="ui relaxed divided list">
            {% for data in project.data_set %}
                <div class="item">
                    <a href="{% url 'data_view' data.id %}">
                        <i class="file icon"></i>{{ data.name }} {{ data.data_type }}
                    </a> &bull; {{ data.size|filesizeformat }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
