{% extends "base.html" %}

{% block title %}
    Metabarcode
{% endblock %}

{% block header %}
    <i class="barcode icon"></i> Metagenomics Barcode Data Repository

{% endblock %}


{% block body %}

    {% include "includes/nonuser_menu.html" %}

        <div class="ui vertical center aligned segment">
            <b class="header">
                Store data and analysis results for metagenomics barcode data.
            </b>

        </div>


    {% if user.first_name %}
      <p>
        <div class="ui small breadcrumb">
          <div class=" active section">
              Hello, {{user.first_name}}
          </div>
        </div>
      </p>
    {% else %}
      <p>
        <div class="ui small breadcrumb">
          <div class=" active section">
              Hello, {{user.username}}
          </div>
        </div>
      </p>
    {% endif %}

    <div class="ui text container">
        <div class="ui vertical segment">

                <a href="{% url 'allprojects' %}">
                    <h3><i class="database icon"></i>Projects List</h3>
                </a>
               <h5>View list of projects.</h5>

        </div>

        <div class="ui vertical segment">
            <a>
            <h3><i class="info circle icon"></i>Information</h3>
            </a>
             <h5>About this site.</h5>

        </div>

        <div class="ui vertical center aligned segment">
            <p>2017</p>
        </div>

    </div>


{% endblock %}
