{% extends "base.html" %}
{%  load engine_tags %}
{% block title %}
    Metabarcode
{% endblock %}

{% block header %}

{% endblock %}

{% block breadcrumb %}
    {# No breadcrumbs on main page. #}
{% endblock %}

{% block menu %}
    {% menubar %}
{% endblock %}

{% block body %}

    <div class="ui text container">
        <div class="ui vertical segment">

            <a href="{% url 'project_list' %}">
                <div class="title"><i class="database icon"></i>Project List</div>
            </a>

           <div class="info">View the list of projects.</div>


        </div>

        <div class="ui vertical segment">
            <a>
            <div class="title"><i class="info circle icon"></i>Information</div>
            </a>
             <div class="info">About this site.</div>

        </div>

        <div class="ui vertical center aligned segment">
            <p>2017</p>
        </div>

    </div>


{% endblock %}
