{% extends "base.html" %}

{% block title %}
    Metabarcode
{% endblock %}

{% block header %}
    <i class="barcode icon"></i> Metagenomics Barcode Data Repository
{% endblock %}

{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui text container">

        <div class="ui vertical center aligned segment">
            <p>This site stores data and analysis results for metagenomics barcode data.</p>
        </div>

        <div class="ui vertical segment">
                <a href="/">
                    <h3><i class="write square icon"></i>Create Project</h3>
                </a>
               <h5>Enter data and run pipeline.</h5>

        </div>
        <div class="ui vertical segment">
                <a href="/projects">
                    <h3><i class="database icon"></i>Projects</h3>
                </a>
               <h5>View list of projects.</h5>

        </div>
        <div class="ui vertical segment">
            <a href="/">
                <h3><i class="cloud upload icon"></i>Run</h3>
            </a>
            <h5>Run queued pipelines.</h5>

        </div>
        <div class="ui vertical segment">
            <a>
            <h3><i class="info circle icon"></i>Information</h3>
            </a>
             <h5>About this site.</h5>

        </div>

        <div class="ui vertical center aligned segment">
            <p>2017</p>
        </div>
        
   
    </div>


{% endblock %}
