{% extends "base.html" %}

{% block title %}
    Metabarcode
{% endblock %}

{% block header %}
    <i class="barcode icon"></i> Metagenomics Barcode Data Repository
{% endblock %}

{% block body %}

    {% include "includes/menu.html" %}

    <div class="ui text container">

        <div class="ui vertical center aligned segment">
            <p>This site stores data and analysis results for metagenomics barcode data.</p>
        </div>

        <div class="ui vertical segment">
                <a href="/projects">
                    <h3 class="ui header"><i class="database icon"></i>Projects</h3>
                </a>
               <p>View list of projects.</p>

        </div>

        <div class="ui vertical segment">
            <a>
            <h3 class="ui  vertical header"><i class="info circle icon"></i>Information</h3>
            </a>
             <p>About this site.</p>

        </div>

        <div class="ui vertical center aligned segment">
            <p>2017</p>
        </div>
        
   
    </div>


{% endblock %}
