{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Job View: {{ job.name }}
{% endblock %}

{% block body %}

    <div class="ui raised {% job_color job %} segment">


        <div class="ui vertical segment">
            <div class="ui center aligned header">
                Job View: {{ job.name }}
            </div>
            <div class="three ui buttons">
                <a class="ui {% job_color job %} button" href="{% url 'job_result_view' job.id %}"><i class="line chart icon"></i>Main Result</a>
                <a class="ui {% job_color job %} button" href="{% url 'job_file_view' job.id %}"><i class="file icon"></i>All Files</a>
                <a class="ui {% job_color job %} button" href="{% url 'analysis_view' job.analysis.id %}"><i class="setting icon"></i>Analysis
                    View</a>
            </div>
        </div>

        <div class="ui vertical segment">


            <div class="ui list">
                <div class="item">
                    Created on: {{ job.date.date }} &bull; Status: <span class="ui {% job_color job %} horizontal label">{{ job.get_state_display }}</span>
                </div>
            </div>

        </div>


        <div class="ui vertical segment">
            <div class="ui center aligned header">Job Log</div>
            <pre>{{ job.log }}</pre>
        </div>

        <!-- <div class="ui vertical segment">
            <div class="ui center aligned header">Job Script</div>
            <pre>{{ job.script }}</pre>
        </div> -->

    </div>


{% endblock %}
