{% extends "base.html" %}
{% load engine_tags %}

{% block headtitle %}
    Result List
{% endblock %}

{% block title %}
    Results for: {{project.title}}
{% endblock %}

{% block body %}

{% for job in jobs %}

    <div class="ui vertical segment">

        <div class="title">

            <a href="{% url 'job_view' job.id %}">
                <i class="area chart icon"></i>{{ job.title }}
            </a>
            <div class="ui right floated segment">
                <div class="ui {{job.get_state_display}}">{{job.get_state_display}}</div>
            </div>
            <a href="{% url 'job_detail_view' job.id%}">
            <div class="ui mini button">Status</div>
            </a>


        </div>

        <div class="date">{{job.analysis.title}}</div>
        <div class="date">{{job.date.date}}</div>

    </div>

{% endfor %}

{% endblock %}
