{% extends "base.html" %}

{% block title %}
    Edit Project: {{ project.title }}
{% endblock %}


{% block body %}

    <div class="ui raised segment">

        <form method="post" class="ui form">

            {% csrf_token %}
            {{ form.media }}
            <div class="field">
                <label>Project Title</label>
                {{ form.title }}
            </div>

            <div class="field">
                <label>Summary</label>
                <textarea name="{{ form.summary.name }}" rows="2">{{ form.summary.value }}</textarea>
            </div>

            <div class="field">
                <label>Project Description</label>
                {{ form.text }}
            </div>

            {{ form.errors }}

            <button type="submit" class="ui submit button">
                <i class="save icon"></i>Save
            </button>
            <a class="ui right floated button" href="{% url 'project_view' project.id %}">
                Back
            </a>

        </form>
    </div>
{% endblock %}
