{% extends "base.html" %}
{% load engine_tags %}


{% block headtitle %}
    {{ project.title }}
{% endblock %}



{% block menu %}
    {% menubar project=project edit_project=True %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}

{% block body %}



    <div class="ui raised segment">
        <div class="ui center aligned header">
            Project: {{ project.title }}
        </div>
        <div class="ui vertical segment">{{ project.summary|markdown|safe }}</div>

        <div class="ui vertical segment">
            <div class="ui header">
                <a href="{% url 'data_list' project.id %}">
                    <i class="file text icon"></i>Data List
                </a>
            </div>
            <p>View data associated with project.</p>
        </div>

        <div class="ui vertical segment">
            <div class="ui header">
                <a href="{% url 'analysis_list' project.id %}">
                    <i class="settings icon"></i>Analyses
                </a>
            </div>
            <p>View the analyses that can be run in this project.</p>
        </div>


        <div class="ui vertical segment">
            <div class="ui header">
                <a href="{% url 'job_list' project.id %}">
                    <i class="bar chart icon"></i>Results
                </a>
            </div>
            <p>View the results of your analyses.</p>
        </div>

    </div>

    <div class="ui raised segment">
        <div class="ui center aligned header">Project Description</div>
        {{ project.html|safe }}
        <div class="ui center aligned basic segment">
            <a class="ui button" href="{% url 'project_edit' project.id %}">
                <i class="write icon"></i>Edit Project
            </a>
        </div>
    </div>

{% endblock %}
