{% extends "base.html" %}
{% load engine_tags %}


{% block title %}
    {{projects.title}}
{% endblock %}

{% block menu %}
    {% menubar project=project edit_project=True %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb steps=steps %}
{% endblock %}


{% block body %}

    <div class="ui text container">

        <div class="ui vertical segment">
           
            <a href="{% url 'data_list' project.id %}">
                <div class="title"><i class="file icon"></i>Data</div>
            </a>
            <div class="info">View data associated with project.</div>

        </div>
         <div class="ui vertical segment">

            <a href="{% url 'analysis_list' project.id %}">
                <div class="title"><i class="settings icon"></i>Analyses</div>
            </a>
           <div class="info">View the analyses that can be run in this project.</div>
        </div>
        <div class="ui vertical segment">
        <a href="{% url 'jobs_list' project.id %}">
                <div class="title"><i class="bar chart icon"></i>Results</div>
            </a>
           <div class="info">View the results of your analyses.</div>
        </div>
    </div>

{% endblock %}
