{% extends "forum_base.html" %}
{% load forum_tags %}


{% block headtitle %}
    About
{% endblock %}

{% block content %}

<h2>Frequently Asked Questions</h2>


<h3>How do I contact you?</h3>
<p>Those of us who maintain this site read the posts that are made
here.  So users who wish to contact us are encouraged to post to this
site.</p>

<h3>How do I write good posts?</h3>
<p>One of the biggest things that new users struggle with is how to
ask questions in a way that allows people to answer them.  So if you
are unfamiliar please have a look at
the <a href="http://www.bioconductor.org/help/mailing-list/posting-guide/">posting
guide</a> for some great advice.</p>


<h3>How do I put images into my posts?</h3>
<p>You can also put images and plots into your posts.  All you need to
do is create (or login to) a free account with http://imgur.com and
upload any images or plots that you want to share.  Then you can enter
the imgur generated 'Direct Link' url into the 'URL' location that is
available when you click on the 'image' button in the text editor.
The plot will be imbedded right into your post.</p>


<h3>How can I keep track of topics that interest me?</h3>
<p>This site offers two ways to track posts when they use certain
tags. You can add the tags that you want tracked into your user
profile. 'My Tags' will put posts that match your tagging criteria
into a special tab that you can check whenever you log in.  And
'Watched Tags" should actually email you whenever someone posts using
a tag that you are interested in. </p>


<h3>How do I merge multiple previous acccounts?</h3>
<p>So perhaps you have been using the Bioconductor mailing list for a
long time and during that time you have been using multiple different
aliases.  And now you would like to consolidate things so that you can
get credit for actually being only one person.  What should you do?
Well 1st of all you should get set up with the account that you
normally use.  If you have not logged in before this may mean going
straight to password recovery.</p>

<p>Once you can log in, you will want to click on your name and
then go to the little blue button that is called 'Social Login'.  Here
you should be able to link in other social accounts that you may have
used before (such as gmail) to your primary account email.</p>

<p>If it turns out that your previous aliases are not listed as
optional social logins (as may happen if they were associated with
different academic institutions) then you will need to email us
at <a href="mailto:webmaster@bioconductor.org">webmaster@bioconductor.org</a>
and send us a file.  This file needs to contain a single line that
looks like this: email1 email2 email3 etc.  Essentially, this file
should contain one email for each account you wish to merge (separated
by whitespace). And the very first email that it lists must be the one
that you want to regularly use as your primary account for this
site.</p>


<h3>What if I find a bug with the support site?</h3>
<p>No site is perfect and you may come across things that you feel are
not working as they should be.  This site is based on a fork of
Biostars so we have the power to correct many problems as they are
discovered.  If you find a problem with this website, we ask that you
please post such questions to our github repository for
it <a href="https://github.com/Bioconductor/support.bioconductor.org/issues">here</a>.</p>



<h3>What about offensive content?</h3>
<p>Users posting content that does not belong to the site will be
notified and required to edit their content. Users may post job
postings to the 'Jobs' section as long as the topic aligns with the
main focus of this site.  Users posting obvious spam will be
immediately suspended.</p>


<h3>User reputation</h3>
<p>The number next to a user&#39;s name is the sum of upvotes and
accepted answers that user has collected.  Upvotes boost your
reputation on the site.</p>


<h3>Becoming a moderator</h3>
<p>Active users above a certain reputation threshold may be
periodically promoted to moderators. You may explicitly ask for
moderation rights or suggest good candidates on the newsgroup and we
will weigh these requests carefully. Inactive users that do not visit
the site for extended periods of time may lose their moderation
rights.</p>
{% endblock %}