
{%  block subject %}

    [bioc] {{ post.title|truncatechars:60 }}

{% endblock %}

{% block html %}

    Activity on a tag you are watching on <a href="http://{{ domain }}">Bioconductor support</a>
    <p>
        User <a href="http://{{ domain }}{{ post.author.profile.get_absolute_url }}">{{ post.author.profile.name }}</a> wrote
        <a href="http://{{ domain }}{{ post.get_absolute_url }}">{{ post.title }}</a>:
    </p>
    <p>
        {{ post.html|safe }}
    </p>

    <hr>
    <p style="color:#666666">
        You may visit http://{{ domain }}{{ post.get_absolute_url }}
    </p>

    <p>The Bioconductor Team</p>

{% endblock %}

{% block text %}

    Activity on a tag you are watching on {{ domain }}

    User {{ post.author.profile.name }} wrote {{ post.title }}:

    {{ post.content|safe }}

    You may visit http://{{ domain }}{{ post.get_absolute_url }}

    The Bioconductor Team


{% endblock %}

