{% extends "forum_base.html" %}
{% load forum_tags %}
{% load engine_tags %}

{% block headtitle %}
    {{ message.subject }}
{% endblock %}


{% block body %}
<div class="ui doubling stackable grid">
    <div class="three wide column">

        <div class="ui basic segment" style="padding-left:5px">

            {% message_menu inbox=inbox unread=unread mentioned=mentioned projects=projects outbox=outbox request=request %}

        </div>

</div>
<div class="thirteen wide column">
<div class="ui basic segment" >

        {% for msg in tree %}
        <div class="ui compact segment">
                <div>
                    <b>From : </b>{%if msg.sender == request.user %} me {%else%}{{ msg.sender.profile.name }} {%endif%}

                </div>
            <div>
                <b>To : </b>{%if msg.recipient == request.user %} me {%else%}{{ msg.recipient.profile.name }} {%endif%}
            </div>

                <div>
                    <b>Subject :</b> {{ msg.subject }}
                </div>

                <div>
                    <b>Sent :</b> {{ msg.sent_date }}
                </div>
                <div class="ui divider"></div>


                <div class="ui text container">
                    {{ msg.body }}
                </div>
        </div>

        {% endfor %}
</div>
</div>
</div>



{% endblock %}