{% extends "forum_base.html" %}
{% load forum_tags %}
{% load engine_tags %}

{% block headtitle %}
    Messages
{% endblock %}



{% block body %}

<div class="ui grid">
    <div class="three wide column">
        <div class="ui basic segment" style="padding-left:5px">
            <div class="ui secondary vertical pointing menu">
                <a class="{{inbox}} item" href="{% url 'message_list' %}?q=inbox">
                  Inbox
                {% object_count request=request otype="inbox" as inbox_count %}
                {%if inbox_count %}<div class="ui label">{{inbox_count}}</div>{%endif%}
                </a>
                <a class="{{unread}} item" href="{% url 'message_list' %}?q=unread">
                  Unread
               {% object_count request=request otype="unread" as unread_count %}
                {%if unread_count %}<div class="ui label">{{unread_count}}</div>{%endif%}
                </a>
               <a class="{{mentoined}} item" href="{% url 'message_list' %}?q=mentioned">
                  Mentioned
               {% object_count request=request otype="mentioned" as mentioned %}
                {%if mentioned %}<div class="ui label">{{mentioned}}</div>{%endif%}
                </a>
               <a class="{{mentoined}} item" href="{% url 'message_list' %}?q=projects">
                  Projects
               {% object_count request=request otype="mentioned" as mentioned %}
                {%if mentioned %}<div class="ui label">{{mentioned}}</div>{%endif%}
                </a>

                <a class="{{outbox}} item" href="{% url 'message_list' %}?q=outbox">
                  Outbox
               {% object_count request=request otype="outbox" as out_count %}
                {%if out_count %}<div class="ui label">{{out_count}}</div>{%endif%}
                </a>
                <a class="item">
                  Trash
                </a>
            </div>
        </div>

</div>

<div class="thirteen wide column">
<div class="ui basic segment" >
   <div class="ui relaxed divided list">

{% for message in objs %}

    {% if message.unread and not_outbox %}
        <div class="item" style="background: #d5f7cd;padding:5px">

    {% else %}
        <div class="item" >

    {%endif%}


       <div class="ui relaxed horizontal list">

           <div class="item">

               <div class="content">
                   <div class="ui tiny header">{{message.sender.profile.name}}</div>
               </div>
           </div>
           <div class="item">
                <div class="content">
                    <div class="ui small header">Subject: <a>{{message.subject}}</a></div>
                </div>
           </div>


       </div>

           <div class="ui right floated item">
           {{message.sent_date|time_ago}}
           </div>
         <div class="ui muted item">
              {{message.body|preview_message}}
          </div>


      </div>

{% endfor %}
</div>

</div>
</div>
</div>

</div>
{% endblock %}
