{% extends "base.html" %}
{% load forum_tags %}

{% block headtitle %}
    Post List
{% endblock %}


{% block body %}

<div class="ui basic segment">
    <div class="ui relaxed divided list">

        {% for post in posts %}

        <div class="item">

            <div class="ui celled relaxed horizontal list">

                <div class="item">
                    <div class="content">
                    {% if post.is_toplevel %}
                        <div class="ui center aligned header">{{ post.thread_score }}</div>
                        <div class="t">vote{{ post.thread_score|pluralize }}</div>
                    {% else %}
                        <div class="ui center aligned header">{{ post.vote_count }}</div>
                        <div class="t">vote{{ post.vote_count|pluralize }}</div>
                    {% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="ui center aligned header">{{ post.root.reply_count }}</div>
                        <div class="t">answer{{ post.root.reply_count|pluralize }}</div>
                    </div>
                </div>

                 <div class="item">
                     <div class="content">
                        <div class="ui center aligned header">{{ post.root.view_count|bignum }}</div>
                        <div class="t">views</div>
                     </div>
                 </div>

            </div>

        </div>
        {% empty %}

        <div class="alert alert-info">There are no results for this page.</div>

        {% endfor %}
    </div>

</div>


{% endblock %}