{% extends "forum_base.html" %}
{% load forum_tags %}

{% block headtitle %}
    Forum
{% endblock %}


{% block body %}

    <div class="ui center aligned vertical segment">
        <div class="ui six item menu">

            <a class="ui item" href="#">
                <i class="world icon"></i>Community
            </a>
            <a class="ui item" href="#">
                <i class="mail icon"></i>Messages
                <div class="floating ui red label">0</div>
            </a>
            <a class="ui item" href="#">
                <i class="thumbs up icon"></i>Votes
                <div class="floating ui red label">0</div>
            </a>
            <a class="ui item" href="#">
                <i class="comments icon"></i>My Posts
                <div class="floating ui green label">2</div>
            </a>
            <a class="ui item" href="#">
                <i class="tags icon"></i>My Tags
            </a>
            <a class="ui active green item" href="{% url 'post_create' %}">
            <i class="add circle icon"></i>New Post
            </a>

        </div>



    </div>

    <div class="ui relaxed mini divided list">

        {% for post in posts %}

        <div class="item">

            <div class="ui horizontal list">


 <div class="item">
                            {% if post.is_toplevel %}
                                <div class="ui center aligned header">
                                    {{ post.thread_score }}</div>
                                <div class="content">vote{{ post.thread_score|pluralize }}</div>
                            {% else %}
                                <div class="ui center aligned header">
                                    {{ post.vote_count }}</div>
                                <div class="content">vote{{ post.vote_count|pluralize }}</div>
                            {% endif %}

</div>
 <div class="item">
                            <div class="ui center aligned header">
                                {{ post.root.reply_count }}</div>
                            <div class="content">answer{{ post.root.reply_count|pluralize }}</div>
 </div>
          <div class="item">

                           <div class="ui center aligned header">{{ post.root.view_count|bignum }}</div>
                            <div class="content">views</div>
          </div>


            <div class="item">
            <div class="ui text container">
                 <div class="content" >
                     <div class="ui tiny header">
                        {% if post.type != post.QUESTION %}
                            {{ post.get_type_display }}:
                        {% endif %}
                         <a href="{% url 'post_view' post.uid %}" >{{ post.get_title }}</a>

                     </div>
                    <div class='' style="padding-top:10px">

                    {% for tag in post.tag_set.all %}
                    <a class="ui tiny label" href="#">{{ tag.name }}</a>
                    {% endfor %}

                    </div>
                 </div>
            </div>
            </div>

            </div>

                <div class="ui right floated muted item" style="padding-top:10px">

                    written {{ post.creation_date|time_ago }} by {{post.author.profile.name }}

                    {% if post.author != post.lastedit_user %}
                    &bull; updated
                    <span class="ago2">{{ post.lastedit_date|time_ago }}</span> by
                    {{post.lastedit_user }}
                    {% endif %}

                </div>

    </div>

        {% empty %}

        <div class="alert alert-info">There are no results for this page.</div>

        {% endfor %}
    </div>



{% endblock %}