{% extends "base.html" %}

{% block headtitle %}Welcome{% endblock %}

{% block title %} Log In {% endblock %}

{% block body %}

    <div class="ui center aligned basic segment">

        Please enter your email and password below.

    </div>

    <div class="ui raised centered card">

        <div class="ui attached message">
            Log in to access data repository
        </div>

        <form class="ui form attached fluid segment" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                {{ form.email }}
            </div>
            <div class="field">
                <label>Password</label>
                {{ form.password }}
            </div>
            {{ form.errors }}
            <button class="ui primary button" type="submit">Log In</button>

            <a class="ui right floated button" href="/">Cancel</a>

        </form>

        <div class="ui bottom attached warning  message">
            <p>
                <a class="ui " href="{% url 'login' %}">Forgot your password?</a>
            </p>
        </div>


    </div>


{% endblock %}
