{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_title %}
    Update Flatpage
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <br>

            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update"/>
            </form>

        </div>
    </div>

    <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('id_content', {
            customConfig: '{{ STATIC_URL }}ck_config-v2.js'
        });
    </script>

{% endblock %}
