{% load engine_tags %}


<div class="ui relaxed divided list">
    <div class="item">
        <div class="inline field">
            <input type="radio" name="project" value="0">
            <i class="archive icon"></i>Create new project and copy {{copying}} into it
        </div>
    </div>

    {% if duplicate %}
        <div class="item">
            <div class="inline field">
                <input type="radio" name="project" value="{{ duplicate }}">
                <i class="copy icon"></i>Duplicate {{copying}} in current project
            </div>
        </div>
    {% endif %}

    {% if projects %}

        {% for project in projects %}

            <div class="item">
                <div class="inline field">

                    <input type="radio" name="project" value="{{ project.id }}">
                    <i class="archive icon"></i> Copy {{copying}} to <a href="{{ project.url }}">
                        {{ project.name }}
                    </a>
                </div>
            </div>

        {% endfor %}

    {% endif %}

</div>
