{% load engine_tags %}


<div class="ui small header">
    Copy into other projects
</div>

<div class="ui basic segment">

      <div class="item">
            <div class="inline field">
                <input type="radio" name="project" value="0">
                <i class="archive icon"></i>Create new project and copy
            </div>
        </div>

    {% if projects %}

        <div class="ui relaxed divided list">

            {% for project in projects %}

                <div class="item">

                    <div class="inline field">

                        <input type="radio" name="project" value="{{project.id}}">
                        <a href="{{ project.url }}">
                            <i class="archive icon"></i>{{ project.name }}
                        </a>

                    </div>

                </div>

            {% endfor %}

        </div>

    {% endif %}
</div>

