{% load forum_tags %}



    {% if obj.lastedit_user != obj.owner and detail %}
        Created {{ obj.date|time_ago  }} ago by
        <a href="{% url 'user_profile' user.profile.uid %}" style="margin-right:-10px;">
            {{ user.profile.name }}
            <div class="ui mini avatar image">{% gravatar user=user size=80 %}</div>
        </a>
        &bull; updated {{ obj.lastedit_date|time_ago }} by

    {% else %}
        Updated {{ obj.lastedit_date|time_ago  }} ago by

    {% endif %}

    {% if obj.lastedit_user %}
        <a href="{% url 'user_profile'  obj.lastedit_user.profile.uid %}" style="margin-right:-10px;">
            {{ obj.lastedit_user.profile.name }}
            <div class="ui mini avatar image">{% gravatar user=obj.lastedit_user size=80 %}</div>
        </a>
    {% else %}
        <a href="{% url 'user_profile'  user.profile.uid %}" style="margin-right:-10px;">
            {{ user.profile.name }}
            <div class="ui mini avatar image">{% gravatar user=user size=80 %}</div>
        </a>
    {% endif %}