
{% if paths %}
    <div class="ui relaxed divided large list">
        {% for  path, nice, tstamp, size, is_image in paths %}
            <div class="item">

                <a href="{% url serve_url uid=obj.uid path=path %}">

                    {% if is_image %}
                        <img class="ui small middle aligned image" src="{% url serve_url  uid=obj.uid path=path %}">
                    {% endif %}
                    {{ nice }} </a>

                <span class="ui right floated small label">{{ size|filesizeformat }}</span>

            </div>
        {% endfor %}
    </div>

{% else %}

    <div class="ui icon info message">
        <i class="exclamation triangle icon"></i>
        <div class="content">
            <div class="header">
                No files were found
            </div>
        </div>
    </div>
{% endif %}
