{% load engine_tags %}
{% load staticfiles %}

<div class="ui relaxed divided list">

        <div class="item">

            {% if path %}
                <a href="../"><i class="backward icon"></i>../</a>
            {% else %}
                <a href="{% url 'job_view' job.id %}"><i class="backward icon"></i>../</a>
            {% endif %}
        </div>

        {% for entry in file_list %}
            <div class="item">

                {% if entry.is_dir %}

                    {#TODO: this does not work when a directory is nested right now #}

                    <a href="{% url 'job_files_list' object.id entry.name %}">
                        <i class="folder icon"></i>{{ entry.name }}
                    </a>

                {% else %}

                    <div class="inline field">

                        {#<input type="checkbox" name="paths" value="{{ path }}/{{ entry.name }}">#}

                        {% if path %}

                            <a href="{{ MEDIA_URL }}{{ object.get_url }}{{ path }}/{{ entry.name }}">
                                <i class="file text outline icon"></i>{{ entry.name }}
                            </a>

                        {% else %}

                            <a href="{{ MEDIA_URL }}{{ object.get_url }}{{ path }}{{ entry.name }}">
                                <i class="file text outline icon"></i>{{ entry.name }}
                            </a>
                        {% endif %}

                    </div>

                {% endif %}

            </div>
        {% endfor %}

</div>