{% load engine_tags %}


{% form_errors form %}

<form method="post" class="ui form" action=".">
    {% csrf_token %}

    <div class="ui center aligned basic segment">
        <button type="submit" class="ui submit mini button">
            <i class="clone icon"></i>Copy selected data
        </button>
    </div>

    <div class="ui relaxed divided list">

        <div class="item">

            {% if path %}
                <a href="../"><i class="backward icon"></i>../</a>
            {% elif project_uid %}
                <a href="{% url 'data_navigate' project_uid %}"><i class="backward icon"></i>../</a>
            {% else %}
                <a href="{{ object.url }}"><i class="backward icon"></i>../</a>
            {% endif %}

        </div>

        {% for entry in file_list %}

            <div class="item">
                {% input path=path current=entry %}
                {% file_url object=object path=path current=entry %}
            </div>

        {% endfor %}



    </div>
</form>