{% load engine_tags %}

{% form_errors form %}

<form method="post" class="ui form" action=".">
    {% csrf_token %}

    <div class="ui relaxed divided list">

        <div class="item">
            {% if path %}
                <a href="{% url 'job_view' uid=job.uid %}?path={{ back }}"><i class="backward icon"></i>../</a>
            {%  else %}
                <a href="#"><i class="home icon"></i>../</a>
            {% endif %}
        </div>

        {% for file in files %}
            <div class="item">
                <input type="checkbox" name="paths" value="{{ file.path }}">
                {% if file.is_dir %}
                    <a href="{% url 'job_view' uid=job.uid %}?path={{ file.path }}">
                        <i class="folder icon"></i>{{ file.name }}
                    </a>
                {% else %}
                    <a href="{% url 'job_serve' uid=job.uid %}?path={{ file.path }}">
                        <i class="file text outline icon"></i>{{ file.name }}
                        <span class="ui right floated mini label">{{ file.size|filesizeformat }}</span>
                    </a>
                {% endif %}
            </div>

        {% endfor %}

    </div>

    <div class="ui center aligned basic segment">
        <button type="submit" class="ui submit mini button">
            <i class="clone icon"></i>Copy selected data
        </button>
    </div>

</form>