{% load engine_tags %}
{% load forum_tags %}


{% if projects %}

     <div class="ui vertical large segment">

            <div class="ui divided items">
                {% for project in projects %}

                    <div class="item">
                        <img class="ui avatar image" src="{% img project %}"/>
                        <div class="content">
                            <a class="subheader" href="{{ project.url }}">
                                <i class="database icon"></i>{{ project.name }}
                            </a>
                            <div class="meta">{{ project.summary|markdown|safe }}</div>
                            <div class="extra">
                                {% privacy_label project %}
                                Created on {{ project.date.date }} by
                                <a href="{% url "public_profile" project.owner.profile.uid %}">
                                {{ project.owner.profile.name }}
                                <div class="ui mini avatar image">{% gravatar user=project.owner size=80 %}</div>
                                    </a>
                            </div>

                        </div>
                    </div>

                {% endfor %}
            </div>

     </div>

{% elif data_list %}

<div class="ui vertical large segment">
    <div class="ui divided items">

            {% for data in data_list %}

                <div class="item">
                    <div class="content">

                        {% if request.user.is_authenticated %}
                            <div id="copy-message-{{data.uid}}"></div>
                            <a class="copy-data ui right floated label" data-uid="{{data.uid}}">
                                <i class="copy icon"></i>Copy

                            </a>


                        {% endif %}
                        <a class="subheader" href="{% url 'data_view' data.uid %}">
                            <i class="file icon"></i>{{ data.name }}
                        </a>
                        <div class="meta">
                            <div class="ui small labels">
                                {% size_label data %}
                                {% type_label data %}
                                {% state_label data error_only=True %}
                            </div>
                        </div>
                        <div class="meta">{{ data.summary|safe }}</div>
                    </div>
                </div>

            {% endfor %}

    </div>
</div>


{% elif recipe_list %}
<div class="ui vertical large segment">
    <div class="ui divided link items">

            {% for recipe in recipe_list %}

                <div class="item">
                    <div class="ui tiny image">
                        <img src="{% img recipe %}">
                    </div>
                    <div class="content">
                        <a class="subheader" href="{% url 'recipe_view' recipe.uid %}">
                            <i class="setting icon"></i> {{ recipe.name }}
                        </a>
                        <div class="description">{{ recipe.summary|markdown|safe }}</div>
                        <div class="meta">
                            {% sticky_label recipe %}
                            <a href="{% url 'job_list' recipe.project.uid %}?filter={{ recipe.uid }}">
                                <i class="bar chart icon"></i> view results
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
    </div>

</div>
{% elif job_list %}
<div class="ui vertical large segment">
    <div class="ui divided link items">

            {% for job in job_list %}

                <div class="item ">
                    <div class="ui tiny image">
                        <img src="{% img job.analysis %}">
                    </div>

                    <div class="content">
                        <a class="subheader" href="{% url 'job_view' job.uid %}">
                            <i class="bar chart icon"></i>{{ job.name }}
                        </a>

                        <div class="meta">{% job_minutes job %}</div>
                    </div>
                </div>

            {% endfor %}

    </div>
</div>
{% endif %}
