{% load engine_tags %}
{% load forum_tags %}


{% if projects %}

     <div class="ui vertical large segment">

            <div class="ui divided items">
                {% for project in projects %}

                    <div class="item">
                        <img class="ui avatar image" src="{% img project %}"/>
                        <div class="content">
                            <a class="subheader" href="{{ project.url }}">
                                <i class="database icon"></i>{{ project.name }}
                            </a>
                            <div class="meta">{{ project.summary|markdown|safe }}</div>
                            <div class="extra">
                                {% privacy_label project %}
                                Created on {{ project.date.date }} by
                                <a href="{% url "public_profile" project.owner.profile.uid %}">
                                {{ project.owner.profile.name }}
                                <div class="ui mini avatar image">{% gravatar user=project.owner size=80 %}</div>
                                    </a>
                            </div>

                        </div>
                    </div>

                {% endfor %}
            </div>

     </div>

{% elif data_list %}




{% elif recipe_list %}

{% elif job_list %}

{% endif %}
