{% load engine_tags %}
{% load forum_tags %}

<div class="ui top attached menu">

    <a class="item tablet" href="{%  url "index" %}">
        <i class="home icon"></i>
    </a>

    <a class="item" href="{% url 'post_list' %}">
        <i class="newspaper icon"></i> <span class="tablet">Forum</span>
    </a>

    <a class="item" href="{% url 'project_list' %}">
        <i class="database icon"></i> <span class="tablet">Projects</span>
    </a>

    {% if with_search %}
        <div class="right menu tablet">
            {% search request=request %}
        </div>
    {% endif %}


    {% if user.is_authenticated %}
    {% object_count request=request otype="message" as num_msgs %}
        <div class="right menu">

        {% if num_msgs %}
            <a class="green active item" href="{% url 'inbox' %}">
                <i class="mail icon"></i>
                    <div class="ui green label">{{num_msgs}}</div>
            </a>
        {% else %}
            <a class="item" href="{% url 'inbox' %}">
                <i class="mail icon"></i>
            </a>

        {%endif%}

        <a class=" item" href="{% url 'recycle_bin' %}">
            <i class="trash icon"></i>
        </a>

        <a class="item" href="{% url "user_profile" user.profile.uid %}">
            <i class="user icon"></i>
            <span class="tablet">{{user.profile.name }}</span>
        </a>

            <a class="item" href="{% url 'logout' %}">
                <i class="sign in icon"></i><span class="tablet">Logout</span>
            </a>

        </div>

    {% else %}

        <div class="right menu">

            <a class="item" href="{% url 'login' %}"><i class="sign in icon"></i>Login</a>
            <a class="item" href="{% url 'signup' %}"><i class="add user icon"></i>Sign Up</a>

        </div>

    {% endif %}

</div>

