<div class="ui large menu">
    <a class="item" href="{% url 'index' %}">
        <i class="home icon"></i> Home
    </a>
    {% if user.is_authenticated %}
        <a class="item" href="{% url 'profile' %}">
            <i class="user icon"></i> {{ user.first_name }}
        </a>

        <div class="right menu">
            {% if user.is_superuser %}
                <a class="item" href="{% url 'site_admin' %}">
                    <i class="dashboard icon"></i>Admin
                </a>
            {% endif %}
            <a class="item" href="{% url 'logout' %}"><i class="sign in icon"></i>Logout</a>
        </div>

    {% else %}



        <div class="right menu">
            <a class="item" href="{% url 'login' %}"><i class="sign in icon"></i>Login</a>
            <a class="item" href="{% url 'signup' %}"><i class="add user icon"></i>Sign Up</a>

        </div>

    {% endif %}

</div>

