{% load engine_tags %}
{% load forum_tags %}

<div class="ui top attached menu">

    <a class="item tablet" href="/">
        <i class="home icon"></i>
    </a>

    {% if enable_forum %}
    <a class="item" href="{% url 'post_list' %}">
        <i class="newspaper icon"></i> <span class="tablet">Forum</span>
    </a>
    {% endif %}

    {# Project urls not mounted #}
    {% if not only_enable_forum %}
    <a class="item" href="{% url 'project_list' %}">
        <i class="database icon"></i> <span class="tablet">Projects</span>
    </a>
    {%  endif %}

    {% if with_search %}
        <div class="right menu tablet">
            {% search request=request %}
        </div>
    {% endif %}


    {% if user.is_authenticated %}
    <div class="right menu">

        {% if not only_enable_forum %}
        <a class=" item" href="{% url 'recycle_bin' %}">
            <i class="trash icon"></i>
        </a>
        {% endif %}

        <a class="item" href="{% url "user_profile" user.profile.uid %}">
            <i class="user icon"></i>
            <span class="tablet">{{user.profile.name }}</span>
        </a>

            <a class="item" href="{% url 'logout' %}">
                <i class="sign in icon"></i><span class="tablet">Logout</span>
            </a>

        </div>

    {% else %}

        <div class="right menu">
            <a class="item" href="{% url 'login' %}"><i class="sign in icon"></i>Login</a>
        </div>

    {% endif %}

</div>

