{% load humanize %}
{% load accounts_tags %}
        {% if objs.has_previous %}
            <div class="ui basic label pages-size">
                <a href="{{ url }}{% relative_url objs.previous_page_number 'page' request.GET.urlencode %}">
                    <i class="ui angle  double left icon"> </i>
                </a>
            </div>
        {% else %}

        <div class="ui basic  label pages-size">
             <a>
                <i class="ui angle double left icon"> </i>
            </a>
        </div>
        {% endif %}

        <div class="ui basic  label pages-size">
            {{objs.paginator.count|intcomma}}
            result{{objs.paginator.count|pluralize}}
            &bull;

            <span class="current">
                Page {{ objs.number }} of {{ objs.paginator.num_pages }}
            </span>
        </div>


    {% if objs.has_next %}

        <div class="ui basic label pages-size">

            <a href="{{ url }}{% relative_url objs.next_page_number 'page' request.GET.urlencode %}">
                <i class="ui angle  double right icon"></i>
            </a>
        </div>

    {% else %}

        <div class="ui basic label pages-size">
             <span >
             <i class="ui angle  double right icon"></i>
            </span>
        </div>

    {% endif %}
