

<div class="ui center aligned basic segment">
    <div class="ui  message">
        <p>The clipboard contains <b>{{message}}</b>. You may now paste or clear it.</p>
        <p>
            <a class="ui green mini button" href="{{ paste_url }}">
                <i class="sticky note icon"></i> Paste
            </a>
            <a class="ui orange mini button" href="{{ clear_url }}">
                <i class="window close icon"></i> Clear Clipboard
            </a>
        </p>
    </div>
</div>