

{% if recipes %}
    <table class="ui celled table">

     <thead>
        <tr>
          <th>Recipe</th>
          <th>Edited by</th>
          <th>Edited on</th>
        </tr>
    </thead>

    <tbody>
    {% for recipe in recipes %}
      <tr>
          <td><a href="{% url 'recipe_diff' recipe.uid %}">{{recipe.name}}</a></td>
          <td>{{recipe.diff_author.email}}</td>
          <td>{{recipe.diff_date}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}

    <div class="ui warning message"><i class="ui warning circle icon"></i> No recipes found.</div>

{% endif %}

