
<div class="ui cards">
            {% for avail_user in users %}
                <div class=" card">
                        <div class="content">
                          <div class="ui small header">
                            {{ avail_user.first_name }}
                          </div>
                          <div class="meta">
                            {{ avail_user.email }}
                          </div>
                        </div>
                        <div class="extra content">
                        <div class="ui two buttons">

                        {% if avail_user == project.owner %}
                               <div class="ui label">
                                      Creator
                                </div>
                        {% else %}
                          <button type="submit" class="ui basic red mini button" name="users" formmethod="post" value="{{avail_user.id}}">
                            Remove
                        </button>
                        {% endif %}

                          </div>
                        </div>
                </div>
            {% endfor %}
</div>