{% extends "forum_base.html" %}
{% load forum_tags %}
{% load engine_tags %}

{% block headtitle %}
    Community
{% endblock %}




{% block body %}

<div class="ui doubling stackable grid">

    <div class="eleven wide column">
<div class="ui basic segment">
        {% pages objs=objs request=request %}
</div>
            <div class="ui horizontal list">

                {% for user in objs %}

                    <div class="item">
                        {% user_box user=user %}
                    </div>

                {% endfor %}

            </div>

<div class="ui basic segment">
        {% pages objs=objs request=request %}
</div>
    </div>


    <div class="five wide column" style="padding-left:0px;">
        {% feed user=request.user %}
    </div>


</div>



{% endblock %}