{% extends "forum_base.html" %}
{% load forum_tags %}
{% load accounts_tags %}
{% load humanize %}

{% block headtitle %}
    Community
{% endblock %}


{% block content %}

    {% search_bar users=True %}

    {% if query %}
        <div class="ui message"><i class="search icon"></i>Searching for users containing: <b>{{ query }}</b></div>
    {% endif %}


    <div class="ui horizontal basic top-menu segments">
        {% with params=request.GET.urlencode %}

    <div class="ui first segment">
        <div class="ui small compact menu no-shadow" >
          <div class="ui simple dropdown item">
            <i class="{% get_icon string=active default='all' %}"></i>

              <span class="tablet">{% get_wording prefix="Limit to:" filtered=active default="all" %}</span>
            <i class="dropdown icon"></i>

            <div class="menu">
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'all' 'limit' params %}">
                      <i class="{% get_icon 'all' %}"></i>all time
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'today' 'limit' params %}">
                      <i class="{% get_icon 'today' %}"></i>today
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'week' 'limit' params %}">
                      <i class="{% get_icon 'week' %}"></i>this week
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'month' 'limit' params %}">
                      <i class="{% get_icon 'month' %}"></i>this month
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'year' 'limit' params %}">
                      <i class="{% get_icon 'year' %}"></i>this year
                  </a>
            </div>
          </div>
        </div>
    </div>

    <div class="ui page-bar center aligned segment">
        {% pages objs=users %}
    </div>

    <div class="ui third segment">
        <div class="ui small compact menu no-shadow float-right">
          <div class="ui simple dropdown item">
            <i class="{% get_icon string=order default='visit' %}"></i>
              <span class="tablet">{% get_wording prefix="Sort by:" filtered=order default="visit" %}</span>

            <i class="dropdown icon"></i>

            <div class="menu">

                  <a class="item" href="{% url 'community_list' %}{% relative_url 'visit' 'order' params %}">
                      <i class="{% get_icon 'visit' %}"></i>recent visit
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'reputation' 'order' params %}">
                      <i class="{% get_icon 'reputation' %}"></i>reputation
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'joined' 'order' params %}">
                      <i class="{% get_icon 'joined' %}"></i>date joined
                  </a>
                  <a class="item" href="{% url 'community_list' %}{% relative_url 'activity' 'order' params %}">
                      <i class="{% get_icon 'activity' %}"></i>activity level
                  </a>

            </div>

          </div>
        </div>
    </div>

{% endwith %}
    </div>

    <div class="ui basic segment">

        <div class="ui six column grid">
            {% for target in users %}

                <div class="column">
                    {% user_card target %}
                </div>

            {% endfor %}
        </div>

    </div>

    <div class="ui horizontal basic top-menu segments">
        <div class="ui page-bar segment">
            {% pages objs=users %}
        </div>
    </div>

{% endblock %}
