{% load static %}
{% load compress %}
{% load recaptcha2 %}
{% load forum_tags %}
{% load accounts_tags %}

<html>
<head>

    <title>
        {% block title %}{{ site_name }}{% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Set the favicon #}
    {% block favicon %}
        <link rel="icon" href="{% static 'forum_favicon.ico' %}" type="image/x-icon"/>
    {% endblock %}
    {# Load JQuery. #}
    {% block external %}
    {% endblock %}

    {# Google tracker injected if it exists in the context. Set in the django settings. #}
    {% if google_tracker %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracker }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', "{{ google_tracker }}");
        </script>

    {% endif %}
  {# <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>#}

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    {# Load recaptcha #}
    {#% recaptcha_init %#}

    {#  CSS compression. #}
    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        {#  Preload key requests #}
    <link rel="preload" as="font" type="font/woff" href="{% static 'themes/default/assets/fonts/icons.woff' %}"
          crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff" href="{% static 'themes/default/assets/fonts/icons.woff2' %}"
          crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff"
          href="{% static 'themes/default/assets/fonts/outline-icons.woff2' %}"
          crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff"
          href="{% static 'themes/default/assets/fonts/outline-icons.woff' %}"
          crossorigin="anonymous">

        <link href="{% static 'prism.css' %}" rel="stylesheet">
        <link href="{% static 'forum.css' %}{% randparam %}" rel="stylesheet">
        {% block cssfile %}
        {% endblock %}

    {% endcompress %}

    {# Javascript compression. #}
    {% compress js %}

        {% block jsfile %}
        {% endblock %}
    {% endcompress %}

    {# Optional block header content. #}
    {% block head %}

    {% endblock %}

    {# Optional css header content. #}
    {% block css %}
    {% endblock %}

    {# Optional javascaript header content. #}
    {% block js %}

    {% endblock %}

</head>
<body>

<div class="ui inverted container widen">

    {% include 'banners/top-banner.html' %}

    <span class="menus">
        {% block topmenu %}
            {% include "banners/menu-header.html" %}
            {% include "banners/menu-topics.html" %}
        {% endblock %}
    </span>

    <span class="phone-menus">
        {% include "banners/menu-phone.html" %}
    </span>

    {% block container %}
        {% show_messages messages %}
        <div class="ui bottom attached segment">

            {% block content %}
                MAIN CONTENT
            {% endblock %}

        </div>
    {% endblock %}


    {% block footer %}
        {% include 'widgets/footer.html' %}
    {% endblock %}
</div>

</body>
</html>

