{% load staticfiles %}
{% load compress %}
{% load engine_tags %}
{% load forum_tags %}
{% load message_tags %}
<html>
<head>

    <title>
        {# Page Title #}
        {% block headtitle %}Title{% endblock %}

    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'forum_favicon.ico' %}" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">

        <link href="{% static 'forum.css' %}" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}">
        </script>
        <script src="{% static 'forum.js' %}">
        </script>
        <script src="{% static 'engine.js' %}">
        </script>
    {% endcompress %}

    {% block js %}
    {% endblock %}

</head>
<body>

<div class="ui container">


    <div class="ui top attached text menu">


        <a class="item {% activate tab "latest" %}">
            Latest
        </a>
        <a class="item {% activate tab "open" %}">
            Open
        </a>
        <a class="item {% activate tab "rnaseq" %}">
            RNA-Seq
        </a>

        <a class="item {% activate tab "chipseq" %}">
            ChIP-Seq
        </a>

        <a class="item {% activate tab "SNP" %}">
            SNP
        </a>

        <a class="item {% activate tag "tutorial" %}">
            Tutorials
        </a>

        <a class="item {% activate tab "jobs" %}">
            Jobs
        </a>

        <a class="item {% activate tab "forum" %}">
            Forum
        </a>

        <div class="right menu">
            <a class="item">Sign Up</a>
            <a class="item">Log In</a>
        </div>

    </div>

    <div class="ui labeled icon attached pointing menu" id="menu">

    <span class="">
        <a href="/"><img class="ui image" src="{% static "images/biostar-logo.png" %}" id="logo"></a>
    </span>

        <a class="item {% activate tab "community" %}" src="/">
            <i class="world icon"></i>
            Community
        </a>
        <a class="item {% activate tab "messages" %}">
            <i class="mail icon"> </i>
            Messages (2)
        </a>
        <a class="item {% activate tab "votes" %}">
            <i class="heart icon centericon"></i>
            Votes
        </a>

        <a class="item {% activate tab "myposts" %}">
            <i class="comments icon"></i>
            My Posts
        </a>

        <a class="item {% activate tab "following" %}">
            <i class="eye icon"></i>
            Following
        </a>

        <a class="item {% activate tab "bookmarks" %}">
            <i class="book icon"></i>
            Bookmarks
        </a>

        <div class="right menu">
            <a class="item {% activate tab "new" %}" id="new" href="{% url 'post_create' %}">
                <i class="edit icon"></i>
                New Post
            </a>

        </div>

    </div>

    <!-- <div class="ui attached menu">
        <div class="ui category search item" id="search">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Search posts...">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
    -->

    <div class="ui bottom attached  segment">
        {% show_messages messages %}

        {% block grid %}
            <div class="ui stackable grid">

                <div class="twelve wide column">

                    {% block body %}
                        {# Main body #}
                        BODY


                        {% block content %}

                        {% endblock %}


                    {% endblock %}
                </div>

                {% block feed %}

                    <div class="four wide column">

                        {% feed user=request.user %}

                    </div>

                {% endblock %}

            </div>
        {% endblock %}


    </div>

    {% block footer %}
        <div class="ui vertical center aligned basic segment">
            <div class="smaller muted">
                Powered by the <a href="https://github.com/biostars/biostar-engine" class="ui image">
                <img src="{% static 'images/badge-engine.svg' %}"></a> version {{ VERSION }}
            </div>

        </div>
    {% endblock %}
</div>


</body>
</html>