{% extends "forum_base.html" %}

{% block content %}

    <div class="ui stackable grid {% if user.is_authenticated %}{{ user.profile.css }}{% endif %}">

        <div class="fit twelve wide content column">
            {% block body %}
                {% block search %}
                    SEARCH
                {% endblock %}
                MAIN BODY
            {% endblock %}
        </div>

        <div class="four wide tablet column">
            {% block sidebar %}
                SIDE BAR
            {% endblock %}
        </div>

    </div>

{% endblock %}

