{% load staticfiles %}
{% load compress %}
{% load engine_tags %}
{% load forum_tags %}
{% load message_tags %}
<html>
<head>

    <title>
        {# Page Title #}
        {% block headtitle %}Title{% endblock %}

    </title>

    {# Extra header content #}
    {% block head %}

    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'forum_favicon.ico' %}" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'forum.css' %}" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'semantic.min.js' %}">
        </script>
        <script src="{% static 'forum.js' %}">
        </script>
            <script src="{% static 'engine.js' %}">
        </script>
    {% endcompress %}

    {% block js %}
    {% endblock %}

</head>
<body>

<div class="ui container">

        {% block menu %}

            {% menubar request=request %}

        {% endblock %}

<div class="ui bottom attached  segment">
    {% show_messages messages %}
            <a href="{% url 'post_list' %}">
            <img class="ui image right spaced tablet" src="/static/images/biostar-logo.png" style="margin:0px;max-width: 100%;">
            </a>

            {% if user.is_authenticated %}
                {% include 'widgets/authenticated_tabs.html' %}
            {% else %}
                {% include 'widgets/anonymous_tabs.html' %}
            {% endif %}

{% block grid %}
    <div class="ui stackable grid">

        <div class="twelve wide column">

            {% block body %}
                {# Main body #}
                BODY


                {% block content %}

                {% endblock %}


            {% endblock %}
        </div>

        {% block feed %}

            <div class="four wide column">

                {% feed user=request.user %}

            </div>

        {% endblock %}

    </div>
{%  endblock %}


</div>



    {% block footer %}
        <div class="ui vertical center aligned segment">
                <p class="muted">
                    <a href="https://github.com/biostars/biostar-engine" class="ui image">
                    <img src="{% static 'images/badge-engine.svg' %}"></a>
                    and
                    <a href="https://github.com/biostars/biostar-recipes" class="ui image">
                    <img src="{% static 'images/badge-recipe.svg' %}"></a>
                </p>
            <p class="muted smaller">Software version: {{ VERSION }}</p>
        </div>
    {% endblock %}
</div>




</body>
</html>
