{% extends "forum_list.html" %}
{% load forum_tags %}
{% load static %}
{% load humanize %}
{% load cache %}

{% block title %}
    Bioinformatics Answers
{% endblock %}

{% block headtitle %}
    Bioinformatics Answers
{% endblock %}

{% block body %}

    <div class="ui vertical segment">

        <h2 class="ui header">
            <img src="{% static 'images/news-herald.png' %}">
            <a class="content" href="{% url 'list_links' %}">
                Biostar Herald
                <div class="sub header">Share bioinformatics resources from across the web.</div>
            </a>
        </h2>

        {% if request.user.profile.is_moderator %}
            <a class="muted" href="{% url 'list_links' %}?status=submitted"> Submitted </a>
            &bull;
        {% endif %}

        <a class="muted" href="{% url 'list_links' %}?status=accepted" id="planet_suggest"> Accepted</a>
        &bull;
        <a class="muted" href="{% url 'list_links' %}?status=published"> Published </a>

        {% if request.user.profile.is_moderator %}
            &bull;
            <a class="muted" href="{% url 'list_links' %}?status=declined"> Declined </a>
        {% endif %}

    </div>
    <div class="ui basic segment">
        <div class="ui two column grid">
            <div class="column">

                <div class="ui segment form-wrap">

                    <form method="post" class="ui form" action="{% url 'list_links' %}">
                        {% form_errors form %}

                        {% csrf_token %}

                        <div class="required field">
                            <label>Share link</label>
                            {{ form.url }}
                            <p class="muted">Share a link from youtube, twitter, github, etc.</p>
                        </div>

                        <div class="field">
                            <label>Description ( optional )</label>
                            {{ form.text }}
                            <p class="muted">Short description of the above shared link. </p>
                        </div>

                        <button type="submit" class="ui submit green button">
                            <i class="check icon"></i>Submit
                        </button>

                    </form>

                </div>

            </div>
            <div class="column">
                <div class="ui segment">
                    <h4 class="ui header muted">
                        Community Guidelines
                    </h4>
                    <ol style="list-style-type: upper-roman;">
                        <li>Topics need to pertain to the biological sciences.</li>
                        <li>Moderators can accept submitted topics.</li>
                        <li>Staff members can publish and accept topics.</li>
                        <li>Accepted links are auto-published every day.</li>
                    </ol>

                </div>
            </div>
        </div>

    </div>

    <div class="ui vertical segment">
        <h4 class="ui header">{{ status|capfirst }} </h4>

        <div class="ui relaxed divided list">

            {% for link in links %}
                <div class="item">
                    <img class="ui avatar image" src="{% gravatar user=link.user size=80 %}"/>
                    <div class="content">
                        <em>{{ link.date|naturaltime }}</em> &bull;
                        <a href="{{ link.user.profile.get_absolute_url }}">{{ link.user.profile.name }}</a>
                        suggested
                        <a href="{{ link.url }}">{{ link.url }}</a>

                        {% if user.profile.is_moderator %}

                            &bull;
                            <a class="muted" href="{% url "publish_link" link.id %}">
                                <i class="green check circle icon"></i> Accept</a>

                            <a class="muted" href="{% url "reject_link" link.id %}">
                                <i class="red times icon"></i> Decline</a>

                        {% endif %}

                        {% if user.is_staff or user.is_superuser %}
                            <a class="muted" href="{% url "reject_link" link.id %}">
                                <i class="blue book icon"></i> Publish</a>
                        {% endif %}

                        {% if link.text %}
                            <p class="muted">
                                {{ link.text|truncatechars:100 }}
                            </p>
                        {% endif %}

                    </div>
                </div>
            {% empty %}
                <div class="ui blue message">No results found.</div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block sidebar %}

    <h4>Planet Feeds</h4>

    {% for blog in blogs %}
        <div class="blog-feed">
            <h5><a href="{{ blog.link }}">{{ blog.title }}</a></h5>
            <div>{{ blog.desc|safe }}</div>
            <div class="muted">{{ blog.count }} post{{ blog.count|pluralize }} - last
                updated {{ blog.updated_date|timesince }} ago
            </div>
        </div>
        <div class="ui divider"></div>
    {% endfor %}



{% endblock %}