{% extends "forum_base.html" %}
{% load forum_tags %}
{% load static %}

{% block headtitle %}
    New Post
{% endblock %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block css %}
    <link href="{% static 'autocomplete/at.who.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pagedown/demo/browser/demo.css' %}"/>
{% endblock %}

{% block js %}
    <script src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
    <script src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
    <script src="{% static 'pagedown/Markdown.Editor.js' %}"></script>
    <script src="{% static 'markdown-it.js' %}"></script>
    <script src="{% static 'autocomplete/at.who.js' %}"></script>
    <script src="{% static 'autocomplete/caret.js' %}"></script>
    <script src="{% static 'effects.js' %}{% randparam %}"></script>
    <script src="{% static 'inplace.js' %}{% randparam %}"></script>
{% endblock %}

{% block container %}
    {% include 'forms/form_create.html' %}
{% endblock %}
