{% extends "forum_base.html" %}
{% load forum_tags %}


{% block headtitle %}
    New Post
{% endblock %}

{% block content %}

    {% form_errors form %}


    <div class="ui horizontal segments no-shadow">

        <div class="ui segment  no-shadow"></div>

        <div class="ui basic compact segment no-shadow" style="">

            <div class="ui medium header">{{ form_title }}
            </div>
            <div class="ui divider"></div>

            <form method="post" class="ui  form" action="{{ action_url }}">

                {{ form.media }}
                {% csrf_token %}
                <div class="ui form-wrap segment">
                    <div class="required field">
                        <label>{{ form.title.label }}</label>
                        {{ form.title }}
                        <p class="muted">{{ form.title.help_text }}</p>
                    </div>
                </div>

                <div class="ui form-wrap segment">
                    <div class="required field">
                        <label>{{ form.post_type.label }}</label>
                        {{ form.post_type }}
                        <p class="muted">{{ form.post_type.help_text }}</p>
                    </div>
                </div>

                <div class="ui form-wrap segment">
                    <div class="field">
                        <label>{{ form.tag_val.label }}</label>
                        {% if post %}{% get_tags request=request post=post as tags %}
                        {% else %}
                            {% get_tags request=request as tags %}
                        {% endif %}
                        <input type="hidden" name="{{ form.tag_val.name }}" id="{{ form.tag_val.id_for_label }}"
                               value="{% if selected %} {{ tags.selected }} {% endif %}">

                        <select multiple="multiple" class="ui search selection dropdown tag-field" id="tag-menu"
                                field_id="{{ form.tag_val.id_for_label }}">
                            <option value="">Tags</option>

                            {% for value, selected_tag in tags.tags_opt %}
                                {% if selected_tag %}
                                    <option value="{{ value }}" selected="selected">{{ value }}</option>
                                {% else %}
                                    <option value="{{ value }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
                        <p class="muted">{{ form.tag_val.help_text }}</p>
                    </div>
                </div>
                <div class="ui form-wrap segment">
                    <div class="required input field">
                        {% include 'widgets/create_msg.html' %}

                        <div class="wmd-wrapper" id="{{ form.content.id_for_label }}-wmd-wrapper">
                            <div class="">
                                <div id="{{ form.content.id_for_label }}_wmd_button_bar"></div>
                                <textarea class=" wmd-input" cols="40" name="content" rows="10"
                                          id="{{ form.content.id_for_label }}">{{ content }}</textarea>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="ui form-wrap segment">
                    <div class="field">
                        <label>Preview</label>
                        <div id="{{ form.content.id_for_label }}_wmd_preview" class="wmd-preview"></div>
                    </div>
                </div>
                {% if form.captcha %}
                    <div class="top-padding">
                        <div class="required field">
                            {{ form.captcha }}
                        </div>
                    </div>
                {% endif %}

                <div class="top-padding">
                    <button type="submit" class="ui submit green button">
                        <i class="check icon"></i>Submit
                    </button>

                    <a class="ui right floated button" onclick="window.history.back()">
                        <i class="undo icon"></i>Cancel
                    </a>
                </div>

            </form>


        </div>

        <div class="ui segment no-shadow"></div>
    </div>
{% endblock %}
