

{% if user.is_anonymous %}
    <div class="padded" id="login-message">
        <div class="ui icon error message">
            <i class="sign-in icon"></i>
            <div class="content">
                <div class="header">
                    <a href="{% url "login" %}?next={{ post.get_absolute_url }}">Login required</a>
                </div>
                <p>You must be logged in to comment</p>
            </div>
        </div>
    </div>
{% else %}
    <div class="ui basic segment inputcolor">
        <form id="comment-form" class="ui form" action="{% url 'create_comment' post.uid %}" method="post">
            <input type="hidden" name="parent_uid" id="parent_uid" value={{ post_uid }}/>
            {% csrf_token %}
            <div class="field">
                <textarea id="comment-input" name="content" rows="6" minlength="10" placeholder="Comment..."></textarea>
            </div>
            <div>
                <button class="ui submit small green button" type="submit" id="comment-submit">
                    <i class="check icon"></i> Submit
                </button>
                <a class="ui orange small right floated button" onclick="javascript:obj=$('#new-comment').remove();">
                    <i class="undo icon"></i> Cancel
                </a>
            </div>
        </form>
        <p class="muted">Markdown welcome. CTRL + ENTER submits form.</p>
    </div>
{% endif %}
<script>
     $('#login-message').delay(2000).slideUp(800, function () {
        $(this).remove();
    });
</script>



