{% extends "forum_list.html" %}
{% load static %}
{% load forum_tags %}


{% block headtitle %}
    {{ tab }}
{% endblock %}

{% block body %}

    {# Get the static file to serve #}
    {% markdown_file file_path %}

{% endblock %}

{% block sidebar %}



    <div class="ui  basic segment">

    <div class="event">
        <div class="ui container">
            <b>Site Admins</b>
            <div class="ui relaxed list">

                {% for admin in admins %}
                    <div class="item spaced">
                        <span>
                        <a class="ui mini avatar thread-users list-avatar image"
                           href="{% url "user_profile" admin.profile.uid %}">
                            <img src="{% gravatar user=admin size=90 %}">
                        </a>
                        </span>
                        {{ admin.profile.name }} <b>{% user_icon user=admin %}</b>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="event">
        <div class="ui container">
            <b>Site Moderators</b>

            <div class="ui relaxed list">

                {% for mod in mods %}
                    <div class="item spaced">
                        <span>
                        <a class="ui mini avatar thread-users list-avatar image"
                           href="{% url "user_profile" mod.profile.uid %}">
                            <img src="{% gravatar user=mod size=90 %}">
                        </a>
                        </span>

                        {{ mod.profile.name }} <b>{% user_icon user=mod %}</b>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>

{% endblock %}