{% extends "forum_base.html" %}
{% load forum_tags %}
{% load engine_tags %}

{% block headtitle %}
    {{ post.title }}
{% endblock %}

{% block body %}
<div class="ui doubling stackable grid container">
<div class="eleven wide column">

<div class="ui vertical segment">
    {# This is the toplevel post #}

    {% post_body post=post user=request.user tree=post.tree form=form comment_url=comment_url %}

</div>
    {# Render each answer for the post #}
    {% for answer in post.answers %}
        <div class="ui vertical grey segment">
            {% post_body post=answer user=request.user tree=post.tree include_userbox=False form=form comment_url=comment_url %}
        </div>
    {% endfor %}

<div class="ui basic segment inputcolor">
<div class="ui small header">Add your answer</div>

    {% if request.user.is_authenticated %}
        <form method="post" class="ui form" action="{%  url 'discussion_view' post.uid %}">
            {{ form.media }}
            {% csrf_token %}

            {% form_errors form %}
            <div class="ui mini info message">
                <p><b>Note:</b> Answers should ONLY be used to respond to the original question at the top of this page! </p>
                <p>Use the <span class="ui tiny label">ADD COMMENT</span> or <span class="ui tiny label">ADD REPLY</span> buttons
                above to respond to someone, ask for clarifications, request more details etc.</p>
            </div>
            <input type="hidden" name="{{ form.parent_uid.name }}" id="{{ form.parent_uid.id_for_label }}" value={{post.uid}} />
            <input type="hidden" name="{{ form.project_uid.name }}" id="{{ form.project_uid.id_for_label }}" value={{project.uid}} />
            <input type="hidden" name="{{ form.redir_url.name }}" id="{{ form.redir_url.id_for_label }}" value="{% url 'discussion_view' post.uid %}" />
            <div class="field">
                {{ form.content }}
            </div>

       <button type="submit" class="ui submit green button">
            <i class="check icon"></i>Submit
       </button>

        </form>

    {% else %}

        <div class="ui mini info message">
        <p><a class="ui small label" href="{% url 'login' %}">
            <i class="sign in icon"></i>Login</a> before adding your answer.</p>
        </div>

    {% endif %}
    </div>
</div>

    <div class="five wide column" style="padding-left: 0px">
        {% feed  user=request.user %}
    </div>


</div>



{% endblock %}