{% extends "forum_base.html" %}
{% load forum_tags %}

{% block headtitle %}
    Biostar Forum
{% endblock %}


{% block body %}
    {% if topic  %}
<div class="ui large blue message" style="text-align: center; padding:0px; margin-top:8px;">

    Showing : <code>{{topic}}</code>  &bull; <a href="{% url 'post_list' %}">reset <i class="undo small icon"></i></a>


</div>
    {% endif %}

    {% pages objs=posts request=request %}

    {% listing posts=posts %}
    {% pages objs=posts request=request %}


{% endblock %}