{% extends "forum_base.html" %}
{% load forum_tags %}

{% block headtitle %}
    Biostar Forum
{% endblock %}


{% block body %}


    {% pages objs=posts request=request query_str=query_str %}
    <div class="ui small compact menu no-shadow">
      <div class="ui simple dropdown item">
          <i class="{{ limit_icon }}"></i><span class="tablet">{{ limit }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url "post_list" %}{{ query_str }}&limit=all time"><i class="calendar plus icon"></i>all time</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&limit=today"><i class="clock icon"></i>today</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&limit=this week"><i class="calendar minus outline icon"></i>this week</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&limit=this month"><i class="calendar alternate icon"></i>this month</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&limit=this year"><i class="calendar icon"></i>this year</a>
        </div>
      </div>
    </div>


    <div class="ui small compact menu ordering no-shadow">
      <div class="ui simple dropdown item">

          <i class="{{ order_icon }}"></i><span class="tablet">{{ order }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url "post_list" %}{{ query_str }}&order=rank"><i class="list ol icon"></i>Rank</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&order=views"><i class="eye icon"></i>Views</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&order=votes"><i class="thumbs up icon"></i>Votes</a>
          <a class="item" href="{% url "post_list" %}{{ query_str }}&order=replies"><i class="comment icon"></i>Replies</a>
        </div>
      </div>
    </div>

    {% if tag  %}
        <div class="ui large blue message" style="text-align: center; padding:0px; margin-top:8px;">
            Showing : <code>{{tag}}</code>  &bull; <a href="{% url 'post_list' %}">reset <i class="undo small icon"></i></a>
        </div>
    {% endif %}

    <div class="ui divided items">
        {% for post in posts %}

            {% listing post=post user=user %}

        {% empty %}

        <div class="ui warning message">There are no results for this page.</div>
        {% endfor %}
    </div>

    {% pages objs=posts request=request query_str=query_str %}


{% endblock %}