{% extends "forum_base.html" %}
{% load forum_tags %}

{% block content %}

    {% search_bar tags=True %}
    {% if query %}
        <div class="ui message"> <i class="search icon"></i>Searching for tags containing: <b>{{ query }}</b></div>
    {% endif %}

    <div class="center-text">
        {% pages objs=tags %}
    </div>

    <div class="ui five column tags grid">
        {% for tag in tags %}
            <div class="column">
                <div class="item">
                    <a class="ui small label listing tags-list" href="{% url 'post_list' %}?tag={{ tag }}">
                        {{ tag }}
                    </a>
                    <i class="ui tags icon"></i> {{ tag.nitems }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="center-text">
        {% pages objs=tags %}
    </div>

{% endblock %}