{% extends "forum_base.html" %}

{% load forum_tags %}

{% block content %}
    {% url 'ajax_tags_search' as search_url %}

    {% search_bar search_url=search_url tags=True extra_css='small_search'%}
    <div class="center-text">
        {% pages objs=tags %}
    </div>
    <div class="ui four column grid" style="margin: 0px">
        {% for tag in tags %}
            <div class="column" style="padding: 3px">
                <div class="item">
                    <a class="ui small label tags" href="{% url 'post_list' %}?tag={{ tag }}" style="padding: 5px">
                        {{ tag }}
                    </a>
                    <i class="ui tags icon" style="margin: 0"></i> {{ tag.nitems }}
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="ui basic center aligned segment">
        {% pages objs=tags %}
    </div>

{% endblock %}