<div class="ui menu">

    {% if create_project %}
        <a class="item" href="{% url 'project_create' %}">
            <i class="plus icon"></i>Create Project
        </a>
    {% endif %}

    {% if edit_project and project %}
        <a class="item" href="{% url 'project_edit' project.id %}">
            <i class="write icon"></i>Edit Project
        </a>
    {% endif %}

    {% if upload_data and project %}
        <a class="item" href="{% url 'data_create' project.id %}">
            <i class="write square icon"></i>Upload Data
        </a>
    {% endif %}

    {% if edit_data and data %}
        <a class="item" href="{% url 'data_edit' data.id %}">
            <i class="write icon"></i>Edit Data
        </a>
    {% endif %}

    {% if edit_analysis and project and analysis %}
        <a class="item" href="{% url 'analysis_edit' project.id analysis.id %}">
            <i class="write icon"></i>Edit Analysis
       </a>
    {% endif %}

    <div class="right menu">
        {% if user.is_authenticated %}
            <a class="item" href="{% url 'index' %}"><i class="sign in icon"></i>Logout</a>
        {% else %}
            <a class="item" href="{% url 'index' %}"><i class="sign in icon"></i>Login</a>
            <a class="item" href="{% url 'index' %}"><i class="add user icon"></i>Sign Up</a>
        {% endif %}

        <a class="item"><i class="help icon"></i>Help</a>
    </div>
</div>

