{% extends "forum_base.html" %}
{% load forum_tags %}
{% load message_tags %}
{% load accounts_tags %}

{% block headtitle %}
    Messages
{% endblock %}


{% block content %}


<div class="ui doubling stackable messaging grid" id="messaging-grid">

    <div class="three wide column">
            {% message_menu tab=tab_name request=request %}

    </div>
{% if all_messages %}
<div class="thirteen wide column">

<div style="text-align: center">
{% pages objs=all_messages request=request %}
</div>

<table class="ui table messages">

{% for message in all_messages %}

<tbody class="item {% is_unread user=request.user message=message%} message">
<tr>
 <td>
        <a class="ui mini avatar image" href="{% url "user_profile" message.sender.profile.uid %}" style="width:25px">
            {% gravatar user=message.sender size=50 %}</a>
        {{message.sender.profile.name}}
 </td>
<td>
        <div class="middle aligned content">
            <div class="ui small messages header">
                {% is_inbox message=message target=request.user as in_inbox %}
                Subject:
                {% if in_inbox %}
                <a href="{% url 'inbox_view' message.uid%}">{{message.subject|truncatechars:90}}</a>
                {% else %}
                <a href="{% url 'outbox_view' message.uid%}">{{message.subject|truncatechars:90}}</a>
                {% endif %}

            </div>



           <div class="ui right floated item" style="float: right;">
           {{message.sent_date|time_ago}}
           </div>

            <div class="ui muted item" style="">
              {{message.body|truncatechars:140}}
          </div>
        </div>

    </td>

        </tr>
    </tbody>

{% endfor %}

</table>

<div style="text-align: center">
{% pages objs=all_messages request=request %}
</div>

</div>
{% endif %}


</div >

{% endblock %}
