:root {
    --run-bg-color: #fff8db;
}

body {
    background-color: #f8f8f9 !important;
    padding-top: 1rem;
}

.ui.tabular.colored.menu {
    border-bottom: 1px solid #2185d0 !important;

}

.ui.basic.segment.collapse {
    padding-top: 1ex;
    margin-top: 0px;
    border-radius: .28571429rem;
}

.narrow {
    margin-left: 15%;
    margin-right: 15%;
}

.show.item.visible.transition {
    display: inline;
}

#img i {
    position: absolute;
    top: 0px;
    right: 22%;
    font-size: 67px;
    opacity: .7;
}

#img i.success {
    color: green;
}

#img i.error {
    color: red;
}

.CodeMirror-sizer {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

code {
    font-size: .88em !important;
}

.ui.grid > [class*="four wide"].column.recipe-sidemenu {
    width: 21% !important;
}


#img.dimmer {
    display: block;
    position: relative;
    height: 0px;
    width: fit-content;
    padding-right: .6em;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;

    margin-left: 0px
}

#img.running.dimmer > .mytiny.image {
    opacity: .5
}

.job .text.container{
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: fit-content !important;

}

#img.dimmer > .loader {
    top: 20px;
    width: 79px !important;
}

.CodeMirror {
    border: none;
    height: auto;
/ / max-width: 927 px;
/ / width: 107.6 %;

}

.small-font {
    font-size: x-small !important;
}


#clipboard_anchor {
    border-bottom: none;
}


.ui.ribbon.label.projects {
    right: 10.1em;
}

.ui.ribbon.label.obj {
    left: 92.1%;
/ / float: right;
}

.ui.ribbon.label.info {
    left: 14.3%;
    float: right;
}


.ui.message.log {
    width: 20%;
}

.ui.message.log > span:nth-child(2) {
    padding-right: 5px
}

.ui.cloned.vertical.segment {
/ / border-bottom: 2 px solid #2185d0 !important;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.ui.menu .item.trusted {
    color: #6d0080;
}

.ui.segment.run {
    width: 70%;
    margin: auto;
    background:var(--run-bg-color);
}


.completed {
    border-color: #21ba45 !important;
}

.completed.label {
    border-bottom: 1px solid #21ba45 !important;
    background-color: #21ba45 !important;
    color: white;
}

.completed.item {
    color: #21ba45 !important;
}


.spooled {
    border-color: #6435c9 !important;
}

.spooled.label {
    border-bottom: 1px solid #6435c9 !important;
    background-color: #6435c9 !important;
    color: white;
}

.spooled.item {
    color: #6435c9 !important;
}


.errored {
    border-color: #db2828 !important;
}

.errored.label {
    border-bottom: 1px solid #db2828 !important;
    background-color: #db2828 !important;
    color: white;
}

.errored.item {
    color: #db2828 !important;
}

.running {
    border-color: #f2711c !important;
}


.running.label {
    border-bottom: 1px solid #f2711c !important;
    background-color: #f2711c !important;
    color: white;
}

.running.item {
    color: #f2711c !important;
}

.queued {
    border-color: #00b5ad !important;
}

.queued.label {
    border-bottom: 1px solid #00b5ad !important;
    background-color: #00b5ad !important;
    color: white;
}

.queued.item {
    color: #00b5ad !important;
}

.ui.attached.colored.segment {
    border-bottom: 1px solid #2185d0 !important;
    border-left: 1px solid #2185d0 !important;
    border-right: 1px solid #2185d0 !important;

}

.copied-item {
    display: contents;
}


.transition.hidden {
    display: none !important;
}


.listing.ribbon.label {
    position: absolute;
    margin-left: 2px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 2px 2px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);

}

.paste.list {
    text-align: left
}

.paste.buttons {
    text-align: center;
    float: right;
    opacity: 0.8;
    padding-left: 5px
}

.paste.segment {
    padding: 0;
    margin: 0;
}

.viewing.ribbon.label {
    position: absolute;
    left: calc(100% + 1.2em);
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 2px 2px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.copied.item {

    transition: background-color 400ms linear !important;
    background-color: #fbfff0 !important;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 .01em .001em 0 rgba(34, 36, 38, .15) !important;
}

.file.item:hover {
    background-color: #f2f2f2;
}

.rerun {
    height: fit-content;
    display: inline-flex !important;

}

.job .tiny.buttons > .button{
    height: fit-content;
    display: inline-flex;
}


.centerform {
    text-align: -webkit-center;
}

.manage_users {
    width: 70%;
    text-align: initial;
}


.ui.list.questions > .item > .description {
/ / font-size: 1.1 em;
    margin: 0ex 0em 0ex 0em;
    line-height: 1.5;
}

.ui.items > .item > .content > a.header {
    color: #4183c4;
}

ol {
    line-height: 3ex;
}

figure {
    display: block;
    margin: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.ui.large.header {
    color: #333333;
/ / text-shadow: 1 px 1 px 1 px rgba(0, 0, 0, 0.1);
}

.fancy {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.dirname {
    background-color: #EFEFEF;
    padding: 0px 5px 0px 5px;
}


.searchblock {
    background: #f4fced !important;
    padding: 7px !important;
}

.match {
    background-color: yellow !important;
    color: darkgreen;
    display: inline-block !important;
}


.ui.mytiny.image, .ui.mytiny.images .image, .ui.mytiny.images img, .ui.mytiny.images svg {
    width: 80px;
    height: 80px;
    font-size: .85714286rem;
    max-width: none;
}

.count {
    padding-right: 10px !important;;
}

.padme > .subheader {
    padding: 1ex 0ex 1ex 0ex !important;
}

.ui.title.segment {
    margin: 0em;
    padding-top: 0px;
}

.ui.transparent.label {
    background: none #fff;
    border-color: white;
}


.socialbox {
    width: 450px !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.logintext {
    padding-top: 5px !important;
    padding-left: 5px !important;
    margin-bottom: 0 !important;
}

.actionbar {
    margin-top: -20px !important;
}

.project.help h1 {
    font-size: 1.28em;
}

.project.help h2 {
    font-size: 1.18em;
}

.project.help h3, h4, h5 {
    font-size: 1.08em;
}

.inputcolor {
    background: #fff8db !important;
}

.formstyle {
    background: #fff8db !important;
}

.CodeMirror.fadeout_error {
    background-color: #fff6f6;
}

.CodeMirror.fadeout_success {
    background-color: #fbfdef;
}

.CodeMirror.fadeout_final {
    background-color: white;
    -o-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}


.ui.text.menu .active.item {
    font-weight: bold;
}

#cmd_form > .ui.form > .field > .CodeMirror {
    height: 3em !important;
}

.add-cmd-with-type {
    opacity: .6;
}

.cmd-value {
    opacity: .6;
}

.edit-snippet {
    opacity: .6;
}

.edit-snippet:hover {
    opacity: 1;
}


.cmd-value:hover {
    opacity: 1;
}

.add-cmd-with-type:hover {
    opacity: 1;
}

.popover {

    color: #3c763d;
    padding: 15px;

    border-radius: .28571429rem;

    opacity: 0.9;
    width: fit-content;

    position: fixed; /* or absolute */
    top: 40%;
    left: 50%;

    z-index: 100;
}


#interface .preview {
    float: right;
}

#add_vars {
    background-color: #f1fff0;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.snippet.divider {
    margin: 0 !important;
}

.popover.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.popover.success {
    background-color: #fcfff5;
    color: #2c662d;
    box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
    border-color: #ebccd1;
}

#json_add_menu > .ui.divider {
    margin: 0px;
}

.ui.dropdown #json_add_menu .item > .image.floated, .ui.dropdown .menu .item > img.floated > img {
    max-height: none !important;
    margin-left: 27px !important;
}

#radio {
    height: 65px;
    padding-bottom: 25px !important;
}

#dropdown {
    height: 65px;
    padding-bottom: 75px !important;
}

#checkbox {
    padding-bottom: 25px !important;
}

#data {
    padding-bottom: 50px !important;
}

#textbox {
    padding-bottom: 50px !important;
}

#integer {
    padding-bottom: 45px !important;
}

#float {
    padding-bottom: 45px !important;
}


.visible.transition.specs_hide {
    display: none !important;
    visibility: hidden !important;
}

.specs_hide {
    display: none !important;
    visibility: hidden !important;
}

.page > h1 {
    font-size: 1.28em !important;
    border-bottom: 1px solid #EEEEEE;
}

.page > h2 {
    font-size: 1.18em !important;
    border-bottom: 1px solid #EEEEEE;
}

.centerbox {
    display: inline-block !important;
    text-align: center !important;
}

.wide {
    width: 95% !important;
}


.code {
    font-family: monospace;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}


.subheader {
    font-size: 1.1em;
    font-weight: 700;
}

a:hover {
    background-color: #EEEEEE;
    border-radius: 3px;
}

code {
    color: #c7254e;;
    background-color: #EEEEEE;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    line-height: 1.7;
}

#comment {

    display: none;

}

.muted {
    color: #999999;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: #EEEEEE;
}

.smaller {
    font-size: smaller;
}


.profile {
    margin-top: 17px !important;

}

.headerimage {
    width: 140px !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 5px !important;
}


.mainmenubar {
    width: 900px !important;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}


@media all and (max-width: 999px) {

    .widescreen {
        display: none !important;
    }

    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}

@media all and (max-width: 500px) {


    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}
