body {
    background-color: #f8f8f9 !important;
    padding-top: 1rem;
}

.ui.tabular.colored.menu {
    border-bottom: 1px solid #2185d0 !important;

}

.narrow {
    margin-left: 15%;
    margin-right: 15%;
}


.ui.attached.colored.segment {
    border-bottom: 1px solid #2185d0 !important;
    border-left: 1px solid #2185d0 !important;
    border-right: 1px solid #2185d0 !important;

}

.file.item:hover{
    background-color: #f2f2f2;
}
.rerun{
    height: fit-content;

}


.centerform{
    text-align: -webkit-center;
}

.manage_users{
    width: 70%;
    text-align: initial;
}

.ui.list.questions > .item > {

}

.ui.list.questions > .item > .header {
    #font-size: 1.2em;
    #margin: 1ex 0em 1ex 0em;
}

.ui.list.questions > .item > .description {
/ / font-size: 1.1 em;
    margin: 0ex 0em 0ex 0em;
    line-height: 1.5;
}

.jobpad {
    padding-right: 15 !important;
}

.ui.items > .item > .content > a.header {
    color: #4183c4;
}


ol {
    line-height: 3ex;
}

figure {
    display: block;
    margin: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.ui.large.header {
    color: #333333;
/ / text-shadow: 1 px 1 px 1 px rgba(0, 0, 0, 0.1);
}

.fancy {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.dirname {
    background-color: #EFEFEF;
    padding: 0px 5px 0px 5px;
}

.extrainfo {
    margin-top: 30;
    padding: 0;
}

.imgpad {
    margin-left: -0.5em !important;
}


.searchfield {
    width: 100% !important;
    color:red;
}

.searchfield input:hover {
    background-color: #eff0f2 !important;
    border: none !important;
}

.searchfield input {
    border:none;
    background: #f7f9fc;
}


.searchblock {
    background: #f4fced !important;
    padding: 7px !important;
}

.match {
    background-color: yellow !important;
    color: darkgreen;
    display: inline-block !important;
}


.ui.mytiny.image, .ui.mytiny.images .image, .ui.mytiny.images img, .ui.mytiny.images svg {
    width: 80px;
    height: 80px;
    font-size: .85714286rem;
}

.count {
    padding-right: 10px !important;;
}

.padme > .subheader {
    padding: 1ex 0ex 1ex 0ex !important;
}

.ui.userinfo.segment {
    margin: 0;
    padding: 0;
}

.ui.title.segment {
    margin: 0em;
    padding-top: 0px;
}

.ui.divided.items > .post.item {
    padding-bottom: 0;
}


.ui.transparent.label {
    background: none #fff;
    border-color: white;
}


.socialbox {
    width: 450 !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.logintext {
    padding-top: 5 !important;
    padding-left: 5 !important;
    margin-bottom: 0 !important;
}


.not_runnable {
    background-color: #f7e4de !important;

}


.actionbar {
    margin-top: -20px !important;
}

.project.help h1 {
    font-size: 1.28em;
}

.project.help h2 {
    font-size: 1.18em;
}

.project.help h3, h4, h5 {
    font-size: 1.08em;
}

.runcolor {
    background: rgba(33, 186, 69, 0.13) !important;
}

.inputcolor {
    background: #fff8db !important;
}

.CodeMirror {
/ / height: 30 em !important;
}

#cmd_form > .ui.form > .field > .CodeMirror {
    height: 3em !important;
}

.add-cmd-with-type {
    opacity: .6;
}

.cmd-value {
    opacity: .6;
}

.edit-snippet {
    opacity: .6;
}

.edit-snippet:hover {
    opacity: 1;
}

.delete-snippet {
    float: right;
    color: red;
    opacity: .6;
}

.delete-snippet:hover {
    float: right;
    color: red;
    opacity: 1;
}


.cmd-value:hover {
    opacity: 1;
}

.add-cmd-with-type:hover {
    opacity: 1;
}

.popover {
    position: absolute;
    color: #3c763d;
    padding: 15px;
/ / margin-top: 4 ex;

    border-radius: .28571429rem;
    z-index: 100;
    opacity: 0.9;
    width: fit-content;
}

.popover.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.popover.success {
    background-color: #fcfff5;
    color: #2c662d;
    box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
    border-color: #ebccd1;
}

#template_modal{
    padding:8px;
    width: 56%;
}

#json_add_menu > .ui.divider {
    margin: 0px;
}

.ui.dropdown #json_add_menu .item > .image.floated, .ui.dropdown .menu .item > img.floated > img {
    max-height: none !important;
    margin-left: 27px !important;
}

#radio {
    height: 65px;
    padding-bottom: 25px !important;
}

#dropdown {
    height: 65px;
    padding-bottom: 75px !important;
}

#checkbox {
    padding-bottom: 25px !important;
}

#data {
    padding-bottom: 50px !important;
}

#textbox {
    padding-bottom: 50px !important;
}

#integer {
    padding-bottom: 45px !important;
}

#float {
    padding-bottom: 45px !important;
}


.visible.transition.specs_hide {
    display: none !important;
    visibility: hidden !important;
}

.specs_hide {
    display: none !important;
    visibility: hidden !important;
}

.page > h1 {
    font-size: 1.28em !important;
    border-bottom: 1px solid #EEEEEE;
}

.page > h2 {
    font-size: 1.18em !important;
    border-bottom: 1px solid #EEEEEE;
}

.centerbox {
    display: inline-block !important;
    text-align: center !important;
}

.wide {
    width: 95% !important;
}


.code {
    font-family: monospace;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}


.subheader {
    font-size: 1.1em;
    font-weight: 700;
}

a:hover {
    background-color: #EEEEEE;
    border-radius: 3px;
}

code {
    color: #c7254e;;
    background-color: #EEEEEE;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    line-height: 1.7;
}

#comment {

    display: none;

}

.muted {
    color: #999999;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: #EEEEEE;
}

.smaller {
    font-size: smaller;
}

.widescreen {

}

.profile {
    margin-top: 17 !important;

}

.headerimage {
    width: 140px !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 5px !important;
}


.mainmenubar {
    width: 900px !important;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}


@media all and (max-width: 999px) {

    .widescreen {
        display: none !important;
    }

    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}

@media all and (max-width: 500px) {



    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}
