:root {
    --run-bg-color: #fdfbee;
    --code-color: #00008B;;
    --code-bg-color: #f9f9f9;
    --job-completed: #21ba45;
    --job-spooled: #6435c9;
    --job-error: #db2828;
    --job-running: #f2711c;
    --job-queued: #00b5ad;

    --top-menu-color: #061d38;
    --recipe-search-color: #1b395b;
    --active-color: #d05e21;

}

body {
    //background-color: #f8f8f9 !important;
    //padding-top: 1 rem;
    font-family: "Lato", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility;
}



.landing.segment {
    margin-left: 17% !important;
    margin-right: 17% !important;
}

.ui.page-bar.segment {
    text-align: center;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
}

.ui-droppable-hover {
    border: #10ee0a dotted 5px !important;
    height: 50% !important;
}

.draggable {
    cursor: grab;
}


.no-shadow {
    box-shadow: none !important;
    border: none !important;
    -webkit-box-shadow: none;
}

.float-right {
    float: right
}

.recipes.grid .text.menu {
    width: auto;
}

.faded.label {
    opacity: 80%;
}

#interface .grid .labels .label {
    width: 100%;
}

#top .top-title.header {
    margin-top: .5%;
}

.ui.vertical.masthead.segment {
    background-color: #fcf5f2;
    padding-top: 2em;

}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.1em;
}

.ui.tiny.statistics.index .statistic > .value {
    font-size: 1.1rem !important;
/ / color: #f2711c;
!important;
}

.ui.tiny.statistics.index .statistic > .label {
    font-size: 0.7rem !important;
/ / color: #f2711c;
!important;
}


#topmenu {
    box-shadow: none;
    background: var(--top-menu-color);
    margin-bottom: 0px;
    border-radius: 0;
}

#top {
    width: 100%;

}

#project_view h1 {
    font-size: 1.28571429rem;
}

.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}


#project_view h2 {
    font-size: 1.18571429rem;
}


#project_view h3 {
    font-size: 1.08571429rem;
}

.ui.tabular.colored.menu {
    border-bottom: 1px solid #2185d0 !important;

}

.ui.ribbon.projects.label {
    left: calc(-1rem - 1.4em);
}

.hidden {
    display: none;
    color: #fefefe;
}

pre.toml_code {
    white-space: pre-line !important;
}

.ui.basic.segment.collapse {
    padding-top: 1ex;
    margin-top: 0px;
    border-radius: .28571429rem;
}


.data .content, .job .content, .recipe.content {
    width: 0;
}

.narrow {
    margin-left: 15%;
    margin-right: 15%;
}

.show.item.visible.transition {
    display: inline;
}

.data .content, .job .content, .recipe.content {
    width: auto;
}

#img i {
    font-size: 67px;
    opacity: .7;
}

#img i.success {
    color: var(--job-completed);
}

#img i.error {
    color: var(--job-error);
}

.CodeMirror-sizer {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.ui.grid > [class*="four wide"].column.recipe-sidemenu {
    width: 21% !important;
}


.text.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: fit-content !important;

}

.CodeMirror {
    border: none;
    height: auto;

}

.ui.segment.form-wrap {
    box-shadow: none;
    background: #f9f6f4;
    overflow-wrap: break-word;
}

.small-font {
    font-size: x-small !important;
}


.ui.ribbon.label.projects {
    left: calc(-1rem - 1.4em);
}


.wmd-button > span {
    background-image: url('/static/pagedown/wmd-buttons.png') !important;
}

.wmd-button-bar {
    background-color: transparent !important;
}


.wmd-preview {
    padding: 14px !important;
    background: #ececec !important;
    margin: 10px !important;
    border-radius: 15px !important;
}

.wmd-prompt-background {
    display: none !important;
}

.deletelink-box {
    display: inline;
}

#clipboard .message .muted {
    margin-bottom: 1ex;
}


.ui.message.log {
/ / width: 20 %;
}


.ui.message.log > span:nth-child(2) {
    padding-right: 5px
}

.ui.cloned.vertical.segment {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.access {
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 8px !important;
    border-top: none !important;
}

.top-rank {
    display: none;
}

.float-right.draggable {
    padding-top: 30px;
    height: 100%;

}

.top-title.header {
    height: 2.5em;
    margin-top: .5%;
}

.top-title.header .listing {
    font-size: 31px;
    height: 11px;
    margin-right: 0.4rem !important;
}

.top-title.header .viewing {
    margin-right: 0.7rem;
    min-width: 1.18em;
    bottom: 7px;
}


.top-title.header span:first-child {
    margin-left: 19px;
}


.ui.segment.run {
    margin: auto;
    background: var(--run-bg-color);
}


.completed {
    border-color: var(--job-completed) !important;
}

.completed.label {
    border-bottom: 1px solid var(--job-completed) !important;
    background-color: var(--job-completed) !important;
    color: white;
}

.completed.item {
    color: var(--job-completed) !important;
}


.spooled {
    border-color: var(--job-spooled) !important;
}

.spooled.label {
    border-bottom: 1px solid var(--job-spooled) !important;
    background-color: var(--job-spooled) !important;
    color: white;
}

.spooled.item {
    color: var(--job-spooled) !important;
}


.errored {
    border-color: var(--job-error) !important;
}

.errored.label {
    border-bottom: 1px solid var(--job-error) !important;
    background-color: var(--job-error) !important;
    color: white;
}

.errored.item {
    color: var(--job-error) !important;
}

.running {
    border-color: var(--job-running) !important;
}


.running.label {
    border-bottom: 1px solid var(--job-running) !important;
    background-color: var(--job-running) !important;
    color: white;
}

.running.item {
    color: var(--job-running) !important;
}

.queued {
    border-color: var(--job-queued) !important;
}

.queued.label {
    border-bottom: 1px solid var(--job-queued) !important;
    background-color: var(--job-queued) !important;
    color: white;
}

.queued.item {
    color: var(--job-queued) !important;
}


.copied-item {
    display: contents;
}


.transition.hidden {
    display: none !important;
}


.paste.list {
    text-align: left
}

.paste.buttons {
    text-align: center;
    float: right;
    opacity: 0.8;
    padding-left: 5px
}

.paste.segment {
    padding: 0;
    margin: 0;
}

.copied.item {

    transition: background-color 400ms linear !important;
    background-color: #fbfff0 !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 .01em .001em 0 rgba(34, 36, 38, .15) !important;
}

.emphasize.item:hover {
    background-color: #f2f2f2;
}

.job .buttons, .data .buttons, .recipe .buttons {
    height: min-content;
}


.centerform {
    text-align: -webkit-center;
}

.manage_users {
    width: 70%;
    text-align: initial;
}

.write_access {
    //border-right: 20px solid #f1f8e9 !important;
/ / background-color: #f1f8e9 !important;
}

/* Fix for the name clash in semantic UI. */
i.icon.mylist:before {
    content: "\f03a"
}

.ui.list.questions > .item > .description {
    margin: 0ex 0em 0ex 0em;
    line-height: 1.5;
}

.ui.items > .item > .content > a.header {
    color: #4183c4;
}

ol {
    line-height: 3ex;
}

figure {
    display: block;
    margin: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.ui.large.header {
    color: #333333;
}

.fancy {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, .2) 2px 3px 3px;
}

.dirname {
    background-color: #EFEFEF;
    padding: 0px 5px 0px 5px;
}


.searchblock {
    background: #f4fced !important;
    padding: 7px !important;
}

.match {
    background-color: yellow !important;
    color: darkgreen;
    display: inline-block !important;
}

.opaque {
    opacity: .5;
}

.ui.mytiny.image, .ui.mytiny.images .image, .ui.mytiny.images img, .ui.mytiny.images svg {
    width: 80px;
    height: 80px;
    font-size: .85714286rem;
    max-width: none;
    margin-bottom: 0;
}

.count {
    padding-right: 10px !important;;
}

.padme > .subheader {
    padding: 1ex 0ex 1ex 0ex !important;
}

.ui.title.segment {
    margin: 0em;
    padding-top: 0px;
}

.ui.transparent.label {
    background: none #fff;
    border-color: white;
}


.socialbox {
    width: 450px !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.logintext {
    padding-top: 5px !important;
    padding-left: 5px !important;
    margin-bottom: 0 !important;
}

.actionbar {
    margin-top: -20px !important;
}

.project.help h1 {
    font-size: 1.28em;
}

.project.help h2 {
    font-size: 1.18em;
}

.project.help h3, h4, h5 {
    font-size: 1.08em;
}

.inputcolor {
    background: #fff8db !important;
}

.formstyle {
    background: var(--run-bg-color) !important;
}

.CodeMirror.fadeout_error {
    background-color: #fff6f6;
}

.CodeMirror.fadeout_success {
    background-color: #fbfdef;
}

.CodeMirror.fadeout_final {
    background-color: white;
    -o-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}


.ui.text.menu .active.item {
    font-weight: bold;
}


.data .items {
    margin: 0px;
}

.data .segment {
    padding: 0px;
}

.card .content:not(.extra):hover {
    cursor: pointer;
}


.popover {

    color: #3c763d;
    padding: 15px;

    border-radius: .28571429rem;

    opacity: 0.9;
    width: 40%;

    position: fixed; /* or absolute */
    top: 40%;
    left: 50%;

    z-index: 100;

    border-color: #ebccd1;

}


#clipboard .message {
    display: contents
}

.popover.error {
    background-color: #f2dede;
    color: #a94442;

}

.popover.success {
    background-color: yellow;
    color: #2c662d;
}


.page > h1 {
    font-size: 1.28em !important;
    border-bottom: 1px solid #EEEEEE;
}

.page > h2 {
    font-size: 1.18em !important;
    border-bottom: 1px solid #EEEEEE;
}

.centerbox {
    display: inline-block !important;
    text-align: center !important;
}

.wide {
    width: 95% !important;
}


.code {
    font-family: monospace;
}

h1 {
    min-height: 1rem;
    font-size: 1.4rem;
}


.subheader {
    font-size: 1.1em;
    font-weight: 700;
}

a:hover {
    background-color: #EEEEEE;
    border-radius: 3px;
}


.parent {
    position: relative;
    top: 0;
    left: 0;
}

.bottom.image {
    position: relative;
    top: 0;
    left: 0;
}

.top.icon, .top.image, .top.loader {
    position: absolute !important;
    top: 5px !important;
    left: 2px;

}

.top.loader {
    display: inline;
    font-size: 50px;
    top: 24px !important;
    left: 24px !important;
}

#top > .segment {
    padding-left: 10%;
    padding-right: 10%;
}

code {
    color: var(--code-color);
    background-color: var(--code-bg-color);
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    line-height: 1.7;
    font-size: .88em !important;
}

pre > code {
    padding: 0;
}

.muted {
    color: #999999 !important;
}

pre {
    overflow-x: auto;
    padding: 1em;
    background-color: var(--code-bg-color);
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.smaller {
    font-size: smaller;
}


.profile {
    margin-top: 17px !important;

}

.headerimage {
    width: 140px !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-bottom: 5px !important;
}


.mainmenubar {
    width: 900px !important;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

blockquote {
    margin: 1em 2em 1em 2em;
    background-color: #f5f2f0;
    border-left: 4px solid #AAAAAA;
    border-right: 4px solid #AAAAAA;
    color: inherit;
    text-shadow: 0 1px white;
    border-radius: 3px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 1em;
    opacity: 0.95;
}

#top > .segment {
    padding-left: 10%;
    padding-right: 10%;
}

@media all and (max-width: 999px) {

    .widescreen {
        display: none !important;
    }

    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}

@media all and (max-width: 500px) {


    .mainmenubar {
        width: auto !important;
        padding: 0 !important;
        margin-left: 0 !important;
    }

}