{% extends "base.nosidebar.html" %}

{% load basic %}
{% load humanize %}

{% block subheader %}
  <h2>Welcome to Biostar</h2>
{% endblock %}

{% block mainbar %}
    
    <p>
        This site's focus is bioinformatics, computational genomics and biological data analysis. As long as your question is:

    <ul>
        <li>detailed and specific</li>
        <li>written clearly and simply</li>
        <li>of interest to at least one other person somewhere</li>
    </ul>

    It is welcome here. No question is too trivial or too "newbie". Please look around to see if your question has already been asked (and maybe even answered!) before you ask. But if you end up asking a question that has been asked before, that is OK. Other users will hopefully edit in links to related or similar questions to help future visitors find their way. 
    
    <h4>
        Current stats: {{params.user_count|intcomma}} users, {{params.post_count|intcomma}} posts distributed as {{params.question_count|intcomma}} questions, {{params.answer_count|intcomma}} answers and {{params.comment_count|intcomma}} comments.
    </h4>

    <h3>Administrators</h3>
    {% for user in params.admins %} 
        <div style="float:left; width:20%">
            <div class="field">
                <div class="gravimg">{% gravatar user 36 %}</div>
                <div><a class="user-link" title="" alt="" href="/user/show/{{user.id}}">{{user.profile.display_name}}</a>&nbsp;{% flair user %}</div>
                <div>{% userrep user %}</div>
                <div>{% time_ago user.date_joined %}</div>
                
            </div>
        </div>
    {% endfor %}
    
    <div style="clear:both;">&nbsp;</div>

     <h3>Moderators</h3>
    {% for user in params.mods %}
        <div style="float:left; width:20%">
            <div class="field">
                <div class="gravimg">{% gravatar user 36 %}</div>
                <div><a class="user-link" title="" alt="" href="/user/show/{{user.id}}">{{user.profile.display_name}}</a>&nbsp;{% flair user %}</div>
                <div>{% userrep user %}</div>
                <div>{% time_ago user.date_joined %}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
