{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
  <h2>Admin password override</h2>
{% endblock %}

{% block mainbar %}
    <div>
    <h2>Log in a certain user</h2>

    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
        <div>Userid (number): <input type="text" value="0" name="uid" size="20"  style="margin:5px"/></div>
        <div>Admin password: <input type="password" value="" name="password" size="50"  style="margin:5px"/></div>
        <input style="margin:10px;" type="submit" name="submit" value="Log in">
    </form>
    </div>
{% endblock %}
