{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
  <h2>Badge: {{badge.name}}</h2>
{% endblock %}

{% block mainbar %}
    
    <div class="title">Description</div>

    <div class="pad10">{{badge.description}}</div>
    
    <div class="title"> Awarded recently to</div>

    {% if page.paginator.num_pages > 1 %}
        <div>{% pagebar %}</div>
    {% endif %}

    <div class="pad10">
    {% for award in page.object_list %}
         
        <div class="user-box"  style="float:left;" align="center">
            <div ><a class="user-link" title="" alt="" href="/user/show/{{user.id}}">{% gravatar award.user 64 %}</a></div>
            <div>
                <a class="user-link" title="" alt="" href="{% url main.server.views.user_profile award.user.id %}">{{award.user.profile.display_name}}</a>&nbsp;{% flair award.user %}
            </div>
            <div>{% userrep award.user %}</div>
        </div>
        
       
    {% endfor %}
    </div>
{% endblock %}
