{% extends "base.html" %}

{% block mainbody %}
    <div >
        <div id="subheader">
            {% block subheader %}
                <h1>Recent Questions</h1>
            {% endblock %}          
        </div>
        
        
    </div>
    
    <div id="mainbar">
    {% block mainbar %}
            Main content
    {% endblock %}
    </div>
    
    <div id="sidebar">
        {% block sidebar %}
            {% include "bars/info.box.html" %}
        {% endblock %}
    </div>

{% endblock %}