{% load basic %}
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />  

  <title>{% block title %}BioStar{% endblock %}</title>

    {% block  common-frameworks %}
        <!-- CSS Framework loading -->

        <!-- Syntax Highlighter  -->
        <link rel="stylesheet" href="/static/pygments.css" type="text/css" media="screen, projection" />
       
        <!-- JQuery Library  -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

        <!-- Django CSRF setup for AJAX -->
        <script src="/static/js/csrf.js"></script>
        
        <!-- Debug Javascript -->
        <script src="/static/js/debug.js"></script>

        <!-- Biostar specific style sheet and javascript-->
        <link rel="stylesheet" href="{{ STATIC_URL }}/biostar.css" type="text/css" media="screen, projection" />
        <script src="{{ STATIC_URL }}/biostar.js"></script>
    {% endblock %}

    {% block custom-frameworks %}
        <!-- placeholder block for custom header information-->
    {% endblock %}

</head>

<body>
  
<div id="main">
  
  {% if 1 %}
  <div id="notify-container">
    <div id="notify">
      This is a <b>demo</b> of the new BioStar system. The live site is at <a href="http://www.biostars.org">http://www.biostars.org</a>.  
    </div>
  </div>
  {% endif %}

  <div id="header">
    
    <div id="topbar">
      {% block topbar %}
          <form id="search2" action="/search" method="get">
          {% csrf_token %}
          <div style="float:right">
          {%if user.is_authenticated %}
              {% userlink user %}
              {% userrep user %}
              &bull; <a href="/logout/?next_page=/">logout</a> 
              &bull; <a>tools</a>
          {% else %}
              <span class="note">First time here? Check out the FAQ.</a> &bull; <a href="/openid/login/">login</a>
          {% endif %}
              
              &bull; faq &bull; Search: <input name="q" class="textbox" tabindex="1" onfocus="if (this.value=='search') this.value = ''" maxlength="80" size="28" value="search-not-yet-working" type="text" disabled="True">
                        
          </div>
          </form>
        {% endblock %}
      </td></tr>
    </div>
    
    <br class="clear">
    
    <div id="logo">
      <a href="/"><img src="/static/biostar.logo.png" border="0"/></a>
    </div>
    
    <div id="hmenus">
      {% include "bars/navbar.html" %}
    </div>
    
  </div>
 
  <!-- this is where messages pop up -->
  {% block message %}
      {% if messages %}
          <div class="span-24 last" id="messages">
              <div class="ui-state-highlight ui-corner-all" style="margin-bottom: 10px; padding: 1em;">
                  {% for message in messages %}
                      <div><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>{{ message|safe }}</div>
                  {% endfor %}
              </div>
          </div>
      {% endif %}
  {% endblock %}

  <div id="content">
    
      {% block mainbody %}
        Main body
      {% endblock %}
        
    <br class="clear">
    
  </div>

</div>
  
<div id="footer">
    Powered by <a href="https://github.com/ialbert/biostar-central"><img src="{{ STATIC_URL }}/biostar.antipixel.png" /></a> 
    &bull; Revision <a href="https://github.com/ialbert/biostar-central/commit/{{BIOSTAR_VERSION}}">{{ BIOSTAR_VERSION }}</a>
    &bull; Copyright 2011 by the <a href="https://github.com/ialbert/biostar-central/contributors">BioStar team</a>
    {% if debug %}
      <br><a id="toggle-queries">{{sql_queries|length}} SQL queries</a>
      <div id="queries" style="text-align: left;">
        <ul id="query-list">
          {% for query in sql_queries %}
            <li>{{ query.sql}} [in {{query.time}}s]</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>


</body>

</html>
