{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
  <h2>RSS Feeds</h2>
{% endblock %}

{% block mainbar %}
    
    <p>
        We offer the followinng RSS feeds:
    </p>

    <ul>
        
        <li><a href="/feeds/latest/">Latest Questions</a> - 25 latest questions from Biostar</li>
        <!-- <li><a href="/feeds/latest/">Favorites Questions</a> - 25 most often bookmarked question on Biostar</li> -->
    </ul>

    <p>
        Note that you may subscribe to your own messages as an RSS feed. Visit your user profile for the link information
    </p>

{% endblock %}
