{% extends "base.nosidebar.html" %}

{% load basic %}
{% load humanize %}

{% block subheader %}
  <h2>Data Licensing</h2>
{% endblock %}

{% block mainbar %}
    
    <div class="title">Data Licensing</div>

    <div class="pad10">

        <div>
            Attribution required.            
        </div>

        <ul>
            <li>detailed and specific</li>
            <li>written clearly and simply</li>
            <li>of interest to at least one other person somewhere</li>
        </ul>

{% endblock %}
