{% extends "base.nosidebar.html" %}

{% load basic %}

{% block subheader %}
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
{% endblock %}

{% block mainbar %}

<table border="0" width="950px">
<tr>
<td valign="top" align="center">
  <div style="margin: 1em">
    <div>{% gravatar user 128 %}</div>
    <div style="font-size: 200%">{% userrep user %}</div>
  </div>
</td>
<td valign="top" align="left">
  <div style="margin: 2em">
    
    <div style="float:left; width: 7em;">Name</div>
    <div style="float:left"><b>{{ user.first_name }}
                               {{ user.last_name }}</b> | <a href="/user/edit/{{user.id}}/">edit</a></div>
    <div style="clear: left"></div>

    <div style="float:left; width: 7em;">Userid</div>
    <div style="float:left">{{ user.id }}</div>
    <div style="clear: left"></div>
    
    <div style="float:left; width: 7em;">Email</div>
    <div style="float:left">{{ user.email }}</div>
    <div style="clear: left"></div>
   

    <div style="float:left; width: 7em;">Member for</div>
    <div style="float:left">{{ user.date_joined|timesince }}</div>
    <div style="clear: left"></div>

    <div style="float:left; width: 7em;">Seen</div>
    <div style="float:left">{{ profile.last_visited|timesince }} ago </div>
    <div style="clear: left"></div>

    <div style="float:left; width: 7em;">Website</div>
    <div style="float:left"> {{ profile.website }}</div>
    <div style="clear: left"></div>

    <div style="float:left; width: 5em;">Location</div>
    <div style="float:left">{{ profile.location }}</div>
    <div style="clear: left"></div>
  </div>
</td>

<td valign="top" align="center">
<div class="autobiography" style="margin: 1em">
{{ profile.about_me }}
</div>
</td>
</tr>
</table>


<h2>Asked</h2>
{% question_list_narrow questions %}


<div style="clear: both; height: 2em"></div>
<h2>Answered</h2>
{% answer_list_narrow answers %}
{% endblock %}
