{% extends "base.nosidebar.html" %}

{% load basic %}
{% load markup %}

{% block custom-frameworks %}
    <style type="text/css">
      .L  { float:left; padding-bottom:5px; }
      .W  { width: 7em; }
      .C  { clear: left }
    </style>
    <script src="/static/js/vote.js"></script>
    <script src="/static/js/mod.js"></script>
    
{% endblock %}

{% block subheader %}
  <h2>{% designation selected %}: {{ selected.profile.display_name }} {% flair selected %}</h2>
{% endblock %}

{% block mainbar %}

<table border="0" width="950px">
<tr>
<td valign="top" align="center">
  <div style="margin: 1em">
    <div>{% gravatar selected 150 %}</div>
    <div>{% userrep selected %}</div>
    
    {% if user.profile.is_moderator %}
        <div style="padding:10px;" align="center" >        
            {% if selected.profile.suspended %}
                <a class="usermod-link">reinstate</a>
            {% else %}
                <a class="usermod-link">suspend</a>
            {% endif %}            
         </div>
    {% endif %}
   

  </div>
</td>
<td valign="top" align="left">
  <div style="margin: 2em">
    
    <div class="L W">Name</div>
    <div class="L"><b id="username">{{ selected.profile.display_name }}</b>  
        {% if profile.writeable %} 
            | <a href="/user/edit/{{selected.id}}/">edit</a>
        {% endif %}
    </div>
    <div class="L">Status: {{selected.profile.status}}</div>

    <div class="C"></div>
    
    <div class="L W">Userid</div>
    <div class="L" id="userid">{{selected.id}}</div>
    <div class="C"></div>
    
    {% if user.is_staff %}
      <div class="L W">Email</div>
      <div class="L">{{ selected.email }}</div>
      <div class="C"></div>
    {% endif %}

    <div class="L W">Member for</div>
    <div class="L">{{ selected.date_joined|timesince }}</div>
    <div class="C"></div>

    <div class="L W">Seen</div>
    <div class="L">{{ profile.last_visited|timesince }} ago </div>
    <div class="C"></div>

    <div class="L W">Website</div>
    <div class="L"><a href="{{profile.website}}">{{profile.website}}</a></div>
    <div class="C"></div>

    <div class="L W">Location</div>
    <div class="L">{{ profile.location }}</div>
    <div class="C"></div>
    
  </div>
</td>

<td valign="top" align="center">
<div class="autobiography" style="margin: 1em">
{{ profile.about_me|force_escape|markdown }}
</div>
</td>
</tr>
</table>

   
    <div class="question-title" id="messages">Messages</div>
    <div class="small" style="margin-bottom:5px;">
       <div>This section shows activity on posts that you have interacted with (only the first 25 notifications may be shown).</div>
       <div>Visiting any page will clear the notifications related to that page. 
          You may also <a href="/note/clear/{{selected.id}}/">clear all</a> of your notifications</div>
   </div>
   {% if notes %} 
        {% for note in notes %}
            <div class="note">
            &bull; {% time_ago note.date %}
            <a href="/user/show/{{note.author.id}}/">{{ note.author.profile.display_name }}</a> {{ note.text }} to 
            <a href="/post/show/{{note.root.id}}/{{note.root.slug}}/#{{note.anchor.id}}">{{note.root.title}}</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="note">&bull; no messages</div>
    {% endif %}
  
    <div style="clear:both">&nbsp;</div>

    <div class="question-title">Activity</div>
    
    <div>
        Asked {{params.question_count}} questions, answered {{params.answer_count}} times, commented on {{params.comment_count}} posts</li>
    </div>

{% endblock %}
