{% extends "base.nosidebar.html" %}

{% load basic %}

{% block custom-frameworks %}
    <style type="text/css">
      .field {
        padding: 5px;
      }
      .gravimg {
        float: left;
        width:36px;
        padding-right:5px;
      }
      
      .searchbox {
        padding:10px;
      }
      
    </style>
{% endblock %}

{% block subheader %}
    {% pagebar %}
{% endblock %}

{% block mainbar %}

    <div class="searchbox">
        <form action="/user/list/" method="get">
            Search users: <input name="m" type="text" size=20 value="{{m}}">
            <input type="submit" value="Search" />
        </form>
    </div>
    
    {% for target in page.object_list %}
         
        <div class="user-box"  style="float:left;" align="center">
            <div ><a class="user-link" title="" alt="" href="/user/show/{target.id}}/">{% gravatar target 64 %}</a></div>
            <div>
                <a class="user-link" title="" alt="" href="{% url main.server.views.user_profile target.id %}">{{target.profile.display_name}}</a>&nbsp;{% flair target %}
            </div>
            <div>{% userrep target %}</div>
        </div>
        
       
    {% endfor %}

{% endblock %}
