{% extends "base.nosidebar.html" %}

{% load basic %}

{% block custom-frameworks %}
    <style type="text/css">
      .field {
        padding: 5px;
      }
      .gravimg {
        float: left;
        width:36px;
        padding-right:5px;
      }
      
      .searchbox {
        padding:10px;
      }
      
    </style>
{% endblock %}

{% block subheader %}
    {% pagebar %}
{% endblock %}

{% block mainbar %}

    <div class="searchbox">
        <form action="/user/list/" method="get">
            Search users: <input name="search" type="text" size=20 value="{{search}}">
            <input type="submit" value="Search" />
        </form>
    </div>
    
    {% for user in page.object_list %}
         
        <div class="pad10"  style="float:left; width:20%;" align="center">
            <div >{% gravatar user 64 %}</div>
            <div>
                <a class="user-link" title="" alt="" href="/user/show/{{user.id}}">{{user.profile.display_name}}</a>&nbsp;{% flair user %}
            </div>
            <div>{% userrep user %}</div>
        </div>
        
       
    {% endfor %}

{% endblock %}
