{% extends "base.nosidebar.html" %}

{% load basic %}
{% load markup %}

{% block custom-frameworks %}
    <style type="text/css">
      .L  { float:left; padding-bottom:5px; }
      .W  { width: 7em; }
      .C  { clear: left }
    </style>
    <script src="{{ STATIC_URL }}js/vote.js"></script>
    <script src="{{ STATIC_URL }}js/mod.js"></script>
    
{% endblock %}

{% block subheader %}
  <h2>{% designation target %} {{ target.profile.display_name }} {% flair target %}</h2>
{% endblock %}

{% block mainbar %}

<table border="0" width="100%" class="autobiography">
<tr>
    <td valign="top" align="center">
      <div style="margin: 1em">
        <div>{% gravatar target 150 %}</div>
        <div>{% userrep target %}</div>
        
        {% if target.authorized %}
            <div style="padding:10px;" align="center" >        
                {% if target.profile.suspended %}
                    <a class="usermod-link">reinstate</a>
                {% else %}
                    <a class="usermod-link">suspend</a>
                {% endif %}            
             </div>
        {% endif %}
       

      </div>
    </td>
    <td valign="top" width="30%" >
        <div class="pad10">
            
            <div style="font-size:larger;">
                {% if target.profile.website %}
                    <a href="{{target.profile.website}}"><b id="username">{{ target.profile.display_name }}</b></a>
                {% else %}
                    <span id="username"><b>{{ target.profile.display_name }}</b></span>
                {% endif %}
                {% if target.editable %} 
                    | <a href="/user/edit/{{target.id}}/">edit</a>
                {% endif %}
            </div>

            {% if target.editable %}
              <div>Email: {{ target.email }}</div>
            {% endif %}
            
            <div>Location: {{ target.profile.location }}</div>
            <div>Status: {{target.profile.status}}</div>
            <div>Userid: <span id="userid">{{target.id}}</span></div>
            <div>Member for: {{ target.date_joined|timesince }}</div>
            <div>Last seen: {{ target.profile.last_visited|timesince }} ago </div>
        </div>
    </td>

    <td valign="top" width="100%">
        {{target.profile.html|safe }}
    </td>
</tr>
</table>

    <div class="title" id="activity">Activity</div>
    
    <div class="pad10">
        {{ target.profile.display_name }} has created <a href="/post/list/{{target.id}}/">{{params.post_count}}  posts</a> distributed as
         <a href="/post/list/{{target.id}}/questions/">{{params.question_count}} questions</a>, 
         <a href="/post/list/{{target.id}}/answers/">{{params.answer_count}} answers</a> and 
         <a href="/post/list/{{target.id}}/comments/">{{params.comment_count}} comments</a>  
         <div>
            This user  has voted {{params.vote_count}} times  and has earned {{params.award_count}} badges
         </div>
    </div>

    {% if target == user %}
        <div class="title" id="messages">Messages </div>
        <table class="pad10" border="0" width="100%" id="message-table"> 
            
            {% if page.object_list and page.paginator.num_pages > 1 %}
                <tr><td bgcolor="#EEEEEE" style="border-bottom:1px dotted #999999;">
                    {% pagebar '#messages' %}
                </td></tr>
            
            {% endif %}

            {% for note in page.object_list %}
                <tr><td class="msg-{{note.status}}">
                    {% time_ago note.date %} &ndash; {{ note.html|safe }} 
                </tr></tr>
            {% empty %}
                <tr><td>
                    &bull; no messages
                <tr><td>
            {% endfor %}
            <tr><td bgcolor="#EEEEEE" style="border-top:1px dotted #999999;">
                Get a private <a href="/feeds/messages/{{target.profile.uuid}}/">RSS feed<img src="{{ STATIC_URL }}img/feed-icon-small.png" style="vertical-align: middle; padding-left:3px;"></a> 
                 to your messages.
            </td></tr>

             <tr><td>                
                <div class="small" style="margin-bottom:5px;">
                <div>This section shows activity on posts that you have interacted with.
                    You may also <a href="/note/clear/{{target.id}}/" onclick="return confirm('Are you sure you want to clear all of your messages?')">clear all<img src="{{ STATIC_URL }}img/trash.jpg" style="vertical-align: middle; padding-left:3px;"></a>  of your messages.
                </div>
            </td></tr>

        </table>
    {% endif %}
 
   
    <div class="title" id="badges">Badges</div>
    
    <div class="pad10">
        {% for award in awards %}
            <div style="width:175px; height:50px; float:left;">
                <div>
                    <a class="badge" href="/badge/show/{{award.badge.id}}/">                    
                        {% badgeicon award.badge.get_type_display %}
                        {{award.badge.name}}
                    </a>
                </div>
                <div>
                    {% time_ago award.date %}
                </div>
            </div>
        {% empty %}
            <div class="note">&bull; no badges earned</div>
        {% endfor %} 
    </div>

{% endblock %}
