{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    <div class="row" id="edit_post">

        <div class="nine columns ">

        	<h5>Current group: {{ group.name }}</h5>
            {% if form.errors %}
                <div>{{ form.errors }}</div>
            {% endif %}

            <form method="post" action="{{ request.path }}">
                <div class="twelve columns">
                    <label for="{{ form.title.id_for_label }}">Title</label>
                    <input type="text" class="u-full-width" name="{{ form.title.name }}"
                           value="{{ form.title.value }}"/>
                </div>

                <div class="twelve columns">
                    <div class="six columns">
                        <label for="{{ form.tags.id_for_label }}">Tags</label>
                        <input type="text" class="u-full-width" name="{{ form.tags.name }}"
                               value="{{ form.tags.value }}"/>
                    </div>
                </div>

                <div>
                    <label for="{{ form.tags.id_for_label }}">Type</label>
                    {{ form.type }}
                </div>

                <div>
                    {% visual_editor user=user content=form.content.value %}
                </div>
            </form>
        </div>
        <div class="three columns">
            Side Bar with instructions
        </div>
    </div>

{% endblock %}