{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    <div class="row" id="edit_post">

        <div class="nine columns ">

            <h5>Posting in the {{ group.name }} group</h5>

            {% if form.errors %}
                <div>{{ form.errors }}</div>
            {% endif %}

            <form method="post" action="{{ action }}">

                {% if form.is_toplevel %}
                    <div class="twelve columns">
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        <input type="text" class="u-full-width" name="{{ form.title.name }}"
                               value="{{ form.title.value }}"/>
                    </div>

                    <div class="twelve columns">
                        <div class="six columns">
                            <label for="{{ form.tags.id_for_label }}">Tags</label>
                            <input type="text" class="u-full-width" name="{{ form.tags.name }}"
                                   value="{{ form.tags.value }}"/>
                        </div>
                    </div>

                    <div>
                        <label for="{{ form.type.id_for_label }}">Type</label>
                        {{ form.type }}
                    </div>
                {% endif %}

                <div>
                    {% visual_editor user=user content=form.content.value %}
                </div>

            </form>
        </div>
        <div class="three columns">
            <h5>Formatting instructions</h5>
            {% if form.is_toplevel %}
                <div>

                </div>
            {% endif %}
            <div>
                <p>
                    The edit box will use Markdown to format your post.
                </p>

                <p>
                    The editor supports fenced codeblocks. To format
                    a section as code enclose it with three backticks <code>```</code>. Example:
                </p>

            </div>

            <div>
<pre>```
for value in range(10):
    print value
```</pre>
                <p> will render as </p>
<pre>
<code>for value in range(10):
    print value
</code>
</pre>
            </div>
        </div>
    </div>

{% endblock %}