{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Group Edit
{% endblock %}

{% block body %}
    <div class="row">
        <div class="nine columns">
            <div class="row" style="padding-top:1em">
                <div>
                    <h3>Edit Group</h3>

                    <form action="{% url "group_edit" pk %}" method="post">
                        {% csrf_token %}
                        <div>{{ form }}</div>
                        <div>
                            <input type="submit" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
