{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Group List
{% endblock %}

{% block body %}

    <div class="row">
        <div class="nine columns">

            {% user_bar user %}

            <div class="row" style="padding-top:1em">

                <h3>Groups</h3>

                <div>
                    <p>
                        Groups are subsections of the site dedicated to a particular topic. Post made in group are
                        visible only when accessing that group. Only members of a group may post to that group.
                    </p>

                    <p>
                        Groups may be public (visible to everyone) others may be private (visible to subscribed users
                        only).To gain membership to a private group the moderators of that group will need to add
                        members to their group.
                    </p>

                    <p>
                        Users with sufficient reputation points may
                        <a href="{% url "group_create" %}">create a new group</a>.
                    </p>

                    <p>
                        Note that only a limited number of groups may be created by each user.
                        Site admins may also create groups both public and private (contact us if you
                        need assistance).
                    </p>
                </div>

                {% page_bar page %}

                <table class="u-full-width" id="group_list">
                    <tr>
                        <th>Group Name</th>
                        <th>Description</th>
                    </tr>
                    {% for group in public %}
                        <tr>
                            <td>
                                <div>
                                    <h5>
                                        <a href="{% url "group_redirect" pk=group.id %}">{{ group.name }}</a>
                                    </h5>
                                </div>
                                <div>
                                    Domain: <code>{{ group.domain }}</code>
                                </div>
                                <div>
                                    Owner: <a href="{{ group.owner.get_absolute_url }}">{{ group.owner.name }} </a>
                                    {% if group.editable %}
                                        &bull; <a href="{% url "group_edit" pk=group.id %}">Edit Your Group</a></li>
                                    {% endif %}
                                </div>

                                <div>
                                    Current subscription: {{ group.subscription }} | <a
                                href="{% url "group_subscribe" pk=group.id %}">Change Subscription</a>
                                </div>


                            </td>

                            <td>{{ group.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% page_bar page %}

        </div>

        <div class="three columns recent_votes">
            {% message_bar %}
        </div>

    </div>



{% endblock %}
