{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    Group List
{% endblock %}

{% block body %}


    {% user_bar user %}

    <div class="row">
        <div class="nine columns">


            <div class="row">

                <div class="title">
                    Current group: <b>{{ group.name }}</b>
                    {% if group.owner == user %}
                        | <a href="{% url "group_edit" pk=group.id %}">edit</a>
                        | <a href="{% url "group_manage" pk=group.id %}">manage</a>
                    {% endif %}
                </div>


                {% page_bar page %}

                <table class="u-full-width" id="group_list">
                    <tr>
                        <th>Group Name</th>
                        <th>Description</th>
                    </tr>
                    {% for group in public %}
                        <tr>
                            <td>
                                <div>
                                    <h5>
                                        <a href="{% url "group_redirect" pk=group.id %}">{{ group.name }}</a>
                                    </h5>
                                </div>

                                <div>
                                    Subscribers: {{ group.user_count }} &bull; Posts: {{ group.post_count }}
                                </div>

                                <div>
                                    Domain: <code>{{ group.domain }}</code> &bull;

                                    Owner:
                                    <code><a href="{{ group.owner.get_absolute_url }}">{{ group.owner.name }}</a></code> &bull;

                                    <a href="{% url "group_info" group.id %}">More info</a>
                                </div>


                                <div>
                                    Current subscription: {{ group.subscription }} &bull; <a
                                        href="{% url "group_subscribe" pk=group.id %}">Change subscription</a>
                                </div>


                            </td>

                            <td>{{ group.info|truncatewords:100 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% page_bar page %}

        </div>

        <div class="three columns recent_votes">
            {% message_bar %}
            <div class="title">
                About Groups
            </div>
            <div>
                <p>
                    Groups are subsections of the site
                    dedicated to a particular topic. Post made in group are
                    visible only when accessing that group.
                    Only members of a group may post to that group.
                </p>

                <p>
                    To gain membership to a private group the
                    moderators of that group will need to add
                    members to their group.
                </p>

                <p>
                    Users with sufficient reputation points may create a new group

                <div>
                    <a class="button" href="{% url "group_create" %}">create a new group
                    </a>.
                </div>
                </p>


            </div>

        </div>

    </div>



{% endblock %}
