{% extends "site_layout.html" %}
{% load widgets %}

{#  Add/remove group moderators and admins. #}

{% block title %}
    Group Edit
{% endblock %}

{% block body %}
    <div class="row">
        {% user_bar user %}
    </div>

    <div class="row">
        <div class="nine columns">
            <div class="row">
                <div>

                    <div class="title">Manage Group: <b>{{ group.name }}</b>

                    </div>

                    <form action="{% url "group_manage" pk=group.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="query" value="{{ query }}" placeholder="Search users">

                        <input type="submit" value="Search">
                    </form>

                    {% message_bar %}

                    {% for user in users %}
                        <div>

                            <form action="{% url "group_permission" pk=group.id %}" method="post">
                                {% csrf_token %}
                                <a href="{{ user.get_absolute_url }}">{{ user.name }} (id={{ user.id }})</a>
                                &bull; Group role: {{ user.form.role }} {{ user.form.user_id }} &bull; <input
                            type="submit" value="Submit">
                            </form>

                        </div>
                    {% endfor %}


                </div>
            </div>

            <div class="title">
                Your Role: <b>{{ group.curr_role }}</b>
            </div>

            {% for perm in perms %}
                <div class="modbox">
                    <a href="{{ user.get_absolute_url }}">
                        {{ perm.user.name }}</a> &bull; {{ perm.user.score|bignum }}
                    <div>{{ perm.get_role_display }}</div>
                    <div>Last seen: {{ perm.user.last_login|time_ago }}</div>
                </div>
            {% endfor %}

        </div>

        <div class="three columns recent_votes">


        </div>

    </div>
{% endblock %}
