{% extends "site_layout.html" %}
{% load widgets %}

{% block body %}
    <div class="row" id="post_detail">
    <div class="nine columns">

        {% user_bar user %}

        {% search_bar %}

        {#  This is the top level post #}
        <div itemscope itemtype="http://schema.org/Question" class="question">
            {% post_unit post post.comments %}
        </div>

        {#  Answers follow #}
        {% for answer in post.answers %}
            <div itemscope itemtype="http://schema.org/Answer" class="answer">
                {% post_unit answer post.comments %}
            </div>
        {% endfor %}

        {#  Visual editor here #}
        <div class="row">
            <div class="nav-sep"></div>
            <div style="padding:5px">
                Add your answer below.
            </div>
            <form method="post" action="{% url "new_answer" parent_id=post.id %}">
                {% visual_editor user %}
            </form>
        </div>
        <div class="three columns">
            Similar Posts
        </div>
    </div>
{% endblock %}
