{% extends "site_base.html" %}
{% load staticfiles %}
{% load compress%}
{% load widgets %}

{% block header %}

    {#  Logo and user information #}
    {% nav_bar user %}

    {#  Messages get displayed here #}
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block body %}
    Layout Body.
{% endblock %}

{% block footer %}
    Powered by <a href="https://github.com/ialbert/biostar-central">Biostars</a> &bull; version {{ BIOSTAR_VERSION }}
{% endblock %}
