{% extends "site_layout.html" %}
{% load widgets %}

{% block title %}
    User List
{% endblock %}

{% block body %}

    <div class="row">
        <div class="twelve columns">

            {% search_bar page=page action='user_list' placeholder="Search for users" %}

            <div class="row">
                {% for user in users %}

                    <div class="user_list_box">
                        <div>
                            <a href="{{ user.get_absolute_url }}">{% gravatar user 82 %}</a>
                        </div>

                        <div>
                            <a href="{{ user.get_absolute_url }}">{{ user.name }}</a>
                        </div>

                        <div class="visited">
                            visited {{ user.profile.last_login|time_ago }}
                        </div>

                        <div class="visited">
                            {{ user.profile.location }}
                        </div>


                    </div>


                {% endfor %}
            </div>

            {% page_bar page %}
        </div>

    </div>

{% endblock %}
