
<a class="ui {{community}} basic label forumtabs" href="{% url 'community_list' %}">
    <i class="world icon centericon"></i><div class="tablet lowertab">Community</div>
</a>

<a class="ui {{latest}} basic label forumtabs" href="{% url 'post_list' %}?topic=latest">
    <i class="comment alternate icon centericon"></i><div class="tablet lowertab">Latest</div>
</a>
<a class="ui basic label forumtabs" href="{% url 'login' %}">
    <i class="sign in icon centericon"></i><div class="tablet lowertab">Login</div>
</a>

