{% load forum_tags %}
{% load message_tags %}


<a class="ui {{community}} basic label forumtabs" href="{% url 'community_list' %}">
    <i class="world icon"></i><div class="tablet">Community</div>
</a>
<a class="ui {{latest}} basic label forumtabs" href="{% url 'post_list' %}?topic=latest">
    <i class="comment alternate icon"></i><div class="tablet">Latest</div>
</a>

<a class="ui {{message}} basic label tablet forumtabs" href="{% url 'inbox' %}">
    {% message_count request=request otype="message" as num_msgs %}
        {% if num_msgs %}
        <i class="mail icon"  style="color:#5fc64f;"></i><div class="tablet">Messages</div>
        {% else%}
        <i class="mail icon" ></i><div class="tablet">Messages</div>
        {%endif%}
</a>
<a class="ui {{myvotes}} basic label forumtabs" href="{% url 'post_list' %}?topic=myvotes">
    <i class="heart icon"></i> <div class="tablet">Votes</div>
</a>
<a class="ui {{myposts}} basic label forumtabs" href="{% url 'post_list' %}?topic=myposts">
    <i class="comments icon"></i> <div class="tablet">My Posts</div>
</a>
<a class="ui {{mytags}} basic label forumtabs" href="{% url 'post_list' %}?topic=mytags">
    <i class="tags icon"></i><div class="tablet">My Tags</div>
</a>
<a class="ui {{following}} basic label forumtabs" href="{% url 'post_list' %}?topic=following">
    <i class="eye icon"></i><div class="tablet">Following</div>
</a>
<a class="ui {{bookmarks}} basic label forumtabs" href="{% url 'post_list' %}?topic=bookmarks">
    <i class="book icon"></i><div class="tablet">Bookmarks</div>
</a>
