{% load forum_tags %}

<div class="ui comment" style="background-color: #e5e3e3;">
    <div class="avatar">

<div class="item">

<div class="ui image">
        <a href="{% url 'update_vote' post.uid %}?type=upvote">
            <i class="blue {% vote_icon request.user post 'upvote' %}"></i>
        </a>
<div class="ui center aligned tiny header">

        {{ post.vote_count }}
</div>
              </div>
        </div>

    </div>

    <div class="content">

      <div class="author">{{post.author.profile.name}}

      <div class="metadata">
        <span class="date">{{ post.lastedit_date|time_ago }}</span>
      </div>
      </div>
        <div class="text">
      {{ post.html|safe }}
        </div>
        <div class="actions">
        <a class="ui mini grey basic label" href="{{ comment_url }}">
            ADD REPLY
        </a>
            &bull;
            <a style="color:#70a1ea">link</a>

        </div>

    </div>
</div>


