{% load forum_tags %}
{% load staticfiles %}

{% if not_trusted %}
    <script src='https://www.google.com/recaptcha/api.js?onload=captchaWidgetId&render=explicit' async defer></script>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'pagedown/demo/browser/demo.css' %}" />
<script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>


<div class="ui inplace post-form basic segment" >

    <form class="ui inplace edit-form compact form" id="post-form">

        <div class="field">
            <div id="wmd-button-bar"></div>
            <textarea id="wmd-input" rows="{{ rows }}">{{ content }}</textarea>
        </div>
        {% if not_trusted %}
            <div class="required field">
                <div id="captcha"></div>
            </div>
        {% endif %}

        <p class="muted" style="font-size: smaller;">Tips: CTRL+ENTER to submit the form. ESC to
            cancel. Double-click to edit post. Markdown accepted.
        </p>

        <div class="{% if is_comment %}hide-preview{% endif %}" id="preview">
            <div class="ui preview segment">
                <div id="wmd-preview" class="wmd-panel wmd-preview">{{ content }}</div>
            </div>
        </div>

            <div class="field inplace-buttons">

            <a class="ui green label save" id="save"><i class="check icon"></i>
                {% if post %}
                Save
                {% else %}
                Create
                {% endif %}
            </a>

            <a class="ui label show-preview">
                <i class="code icon"></i>Toggle preview
            </a>

            <a class="ui label cancel" id="cancel"> <i class="undo icon"></i> Cancel</a>

        </div>

    </form>

</div>

<script>
    var form_elem = $('#post-form');
    var content = $('#wmd-input');

    var converter = Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();

    var preview =  $('#wmd-preview');
    preview.find('pre').addClass('language-bash');
    preview.find('code').addClass('language-bash');

    $('#wmd-button-bar').click(function () {
        setTimeout(function() {
                    var container = $('#wmd-preview');
                    container.find('pre').addClass('language-bash');
                    container.find('code').addClass('language-bash');
                    Prism.highlightAll();
        }, 1)

    });
    {% if not_trusted %}
        var captchaWidgetId = grecaptcha.render( 'captcha', {
            'sitekey' : '{{ captcha_key }}',
            'theme' : 'light'
        });
    {% endif %}

    function create_post(){

        var create_url = '/ajax/create/';
        {% if not_trusted %}
            var cap_response = grecaptcha.getResponse(captchaWidgetId);
        {% else %}
            var cap_response = '';
        {% endif %}
        // Get the fields to submit
        $.ajax(create_url,
            {
                type: 'POST',
                dataType: 'json',
                ContentType: 'html',
                traditional: true,
                data: {
                    'content': content.val(),
                    'parent': '{{ parent_uid }}',
                    'comment':'{{ is_comment }}',
                    'recaptcha_response': cap_response,
                },
                success: function (data) {
                    if (data.status === 'error') {
                        popup_message(form_elem, data.msg, data.status, 3000);
                    } else {
                        //alert(data.redirect);
                        // Redirect user to the new post view.
                        window.location.replace(data.redirect);
                        window.location.reload();
                    }
                },
                error: function (xhr, status, text) {
                    error_message(form_elem, xhr, status, text)
                }
            })
    }
    function create_or_edit(){
        {% if post %}
            edit_post("{{ post.uid }}");
        {% else %}
            create_post();
        {% endif %}
    }
    $('#post-form .save').click(function(){
        event.preventDefault();
        create_or_edit();
     });

    content.keyup(function (event) {
        // Submit form with CTRL-ENTER
        if (event.ctrlKey && (event.keyCode === 13 || event.keyCode === 10)) {
            create_or_edit();
        }
    })

</script>
