{% load forum_tags %}

<script src='https://www.google.com/recaptcha/api.js?onload=captchaWidgetId&render=explicit' async defer></script>

<div class="ui inplace post-form basic segment">

    <form class="ui inplace edit-form compact form" id="post-form">
        <input type="hidden" name="parent_uid" id="parent_uid" value="{{ parent_uid }}">
        <input type="hidden" name="toplevel" id="is_toplevel" value="1">

        <div style="display:-webkit-box;">
            <div class="three wide field" style="width: 20%; padding-right: 5px">
                {% inplace_type_field post=post %}
            </div>
            <div class="field" style="width: 80%;">
            <textarea id="title" rows="1" style="padding: .6em;">{{ title }}</textarea>
            </div>
        </div>


        {% if not post %}
            {% include 'widgets/create_msg.html' %}
        {% endif %}

        <div class="field">
            <textarea id="content">{{ content }}</textarea>
        </div>

        <div class="field">
            {% get_tags post=post as tags %}
            <input type="hidden" name="tag_val" id="tag_val_id" value="{{ tags.selected }}">

            <select multiple="multiple" class="ui search selection dropdown tag-field" id="tags" field_id="tag_val_id">
                {% for value, selected_tag in tags.tags_opt %}
                    {% if selected_tag %}
                        <option value="{{ value }}" selected="selected">{{ value }}</option>
                    {% else %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if not_trusted %}
            <div class="required field">
                <div id="captcha"></div>
            </div>
        {% endif %}

        <div class="field">

            <a class="ui green label save" id="save"><i class="check icon"></i>Save</a>

            <a class="ui label show-preview">
                <i class="eye icon"></i> Preview
            </a>

            <a class="ui label cancel" id="cancel"><i class="undo icon"></i> Cancel</a>

        </div>

        <p class="muted" style="font-size: smaller;">Tips: CTRL+ENTER to submit the form. ESC to
            cancel. Double-click to edit post. Markdown accepted.
        </p>

        <div class="hide preview-{{ post.uid }}">
            <div class="ui preview segment">
                <div id="html-preview-{{ post.uid }}">{{ post.html|safe }}</div>
            </div>
        </div>

    </form>

</div>

<script>

    $('.ui.dropdown').dropdown();
    var captchaWidgetId = grecaptcha.render( 'captcha', {
        'sitekey' : '{{ captcha_key }}',
        'theme' : 'light'
    });

    function create_post(){

        var create_url = '/ajax/create/';
        // Get the fields to submit
        var title = $('#title');
        var form_elem = $('#post-form');
        var content = $('#content');
        var post_type = $('#type').dropdown('get value');
        var tag_val = $('#tags').dropdown('get value');
        var parent = $('#parent_uid').val();
        var cap_response = grecaptcha.getResponse(captchaWidgetId);

        $.ajax(create_url,
            {
                type: 'POST',
                dataType: 'json',
                ContentType: 'html',
                traditional: true,
                data: {
                    'content': content.val(),
                    'title': title.val(),
                    'type': post_type,
                    'tag_val': tag_val,
                    'recaptcha_response': cap_response,
                    'parent': parent,

                },
                success: function (data) {
                    if (data.status === 'error') {
                        popup_message(form_elem, data.msg, data.status, 3000);
                    } else {
                        //alert(data.redirect);
                        // Redirect user to the new post view.
                        window.location.replace(data.redirect);
                    }
                },
                error: function (xhr, status, text) {
                    error_message(form_elem, xhr, status, text)
                }
            })
    }

    $('#post-form .save').click(function(){
        event.preventDefault();
        {% if post %}
            edit_post();
        {% else %}
            alert("ffff");
            create_post();
        {% endif %}
     });

    //var $()

    $('.tag-field').dropdown({
        allowAdditions: true,
        onChange: function (value, text, $selectedItem) {
            // Get form field to add to
            var tagid = $("#tags").attr('field_id');
            var tag_field = $('#{0}'.f(tagid));
            // Add selected tag to field
            //alert(value);
            tag_field.val(value);
        }
    });

    $('.tag-field >input.search').keydown(function (event) {
        //event.stopPropagation();
        // Prevent submitting form when adding tag by pressing ENTER.
        if (event.keyCode === 13) {
            event.preventDefault();
            //event.stopPropagation();
        }
        // Set value with SPACE bar
        if (event.keyCode === 32) {
            event.preventDefault();
            //event.stopPropagation();
            $("#tags").dropdown('set selected', $(this).val().trim());
            $(this).val('')
        }

    });
</script>
