{% if errorlist %}

    <div class="ui red message" id="form-errors">
        <div class="ui icons list">
            {% for name, message, field_id in errorlist %}
                <div class="errored item" data-value="#{{ field_id }}" message="{{ message }}">
                    <i class="warning circle icon"></i>
                    <div class="content">
                        {{ name }} {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}
