
<div class="ui top attached large menu">
    <a class="item" href="{% url 'post_list' %}">
        <i class="home icon"></i>
    </a>



    {% if user.is_authenticated %}
        <div class="right menu">
        <a class="item" href="{% url 'profile' %}">
            <i class="user icon"></i>
        </a>
        <a class="item" href="{% url 'message_list' %}">
                <i class="mail icon"></i>
        </a>
            {% if user.is_superuser %}

            <a class="item" href="{% url 'logout' %}"><i class="sign in icon"></i></a>
            {% else %}
            <a class="item" href="{% url 'logout' %}"><i class="sign in icon"></i>Logout</a>
            {% endif %}

        </div>

    {% else %}

        <div class="right menu">
            <a class="item" href="{% url 'login' %}"><i class="sign in icon"></i>Login</a>
            <a class="item" href="{% url 'signup' %}"><i class="add user icon"></i>Sign Up</a>

        </div>

    {% endif %}

</div>