
<form class="ui compact form {% if post.type == post.COMMENT %}comment{%else %}post{% endif %} inplace-form"
      post_uid="{{ post.uid }}" id="inplace-form-{{ post.uid }}">

    <div class="inline field">
        <textarea style="width:{{ width }}" rows="{{ rows }}">{{ post.content }}</textarea>
    </div>
    <div class="top-padding" style="text-align: center">

        <a class="ui small tiny  float-left label save"><i class="check icon"></i> Save</a>
        <span class="muted" style="font-size: small;">Markdown welcome. CTRL + ENTER submits form. </span>
        <a class="ui small float-right tiny label cancel"><i class="undo icon"></i> Cancel</a>

    </div>
</form>