
<div class="ui inplace inputcolor basic segment">
<form class="ui edit-title inplace compact form" data-value="{{ post.uid }}" id="edit-title-{{ post.uid }}">

    <div class="field">
        <textarea id="title-{{ post.uid }}" data-value="{{ post.uid }}" rows="1">{{ post.title }}</textarea>
    </div>
    <a class="ui green small label save" data-value="{{ post.uid }}"><i class="check icon"></i>Save </a>
    <a class="ui label small cancel" data-value="{{ post.uid }}"><i class="undo icon"></i>Cancel</a>

</form>
</div>