{% load forum_tags %}


<div class="ui divided items">
    {% for post in objs %}

        <div class="post item {{post.deleted_class}}">


<div class="ui image">

            <div class="ui grey left stat label mini " >

                {% if post.is_toplevel %}
                            <div class="number-stat">
                            {{ post.thread_votecount }}
                            </div>
                            <div class="detail-stat">Vote{{ post.thread_votecount|pluralize }}</div>

                {% else %}
                            <div class="number-stat">
                            {{ post.vote_count }}
                            </div>
                            <div class="detail-stat">Vote{{ post.vote_count|pluralize }}</div>

                {% endif %}

            </div>

            <div class="ui {% boxclass post %} label stat mini">
                {% if post.is_toplevel %}
                    <div class="number-stat">
                    {{ post.thread_score }}
                    </div>
                    <div class="detail-stat">Remark{{ post.thread_score|pluralize }}</div>

                {% else %}
                    <div class="number-stat">
                        {{ post.reply_count }}
                    </div>
                    <div class="detail-stat">Remark{{ post.root.reply_count|pluralize }}</div>
                {% endif %}
            </div>

            <div class="ui label basic transparent stat mini">

                <div class="number-stat">
                    {{ post.root.view_count|bignum }}
                </div>
                <div class="detail-stat">View{{ post.root.view_count|pluralize }}</div>

            </div>
</div>

<div class="content" style="padding-left:2;">

        <div class="header">

                <span class="ui title header">
                    {% if post.type != post.QUESTION %}
                        {{ post.get_type_display }}:
                    {% endif %}
                </span>

                {% if discussion_view %}
                <a href="{% url 'discussion_view' post.uid %}#{{post.uid}}" class="ui mini blue title header " >{{ post.get_title}}</a>
                {% else %}
                 <a href="{% url 'post_view' post.uid %}#{{post.uid}}" class="ui mini blue title header ">{{ post.get_title|truncatechars:150 }}</a>
                {% endif %}
            {% if side_image %}
                {% get_thread_users post=post limit=5 as extra_users %}

                {% for user in extra_users %}
                 <a class="ui mini avatar image" href="{% url 'public_profile' user.profile.uid %}" style="width:25px">
                     {% gravatar user=user size=50 %}</a>

                {% endfor %}

            {% endif %}

        </div>


            <div class="extra">

                    {% get_tags_list post.tag_val as tags_list %}

                    {% for tag in tags_list %}
                        <a class="ui tiny tagging label" href="{% url 'post_list' %}?topic={{tag}}">
                        {{ tag }}
                        </a>
                    {% endfor %}
                    <div style="padding:0px; font-size:12;" class="ui right floated basic segment">
                        {% user_info post=post by_diff=True with_image=False %}
                    </div>
            </div>

</div>
        </div>


    {% empty %}

    <div class="ui warning message">There are no results for this page.</div>

    {% endfor %}

</div>
