{% load forum_tags %}

{% if is_post %}



    {% for post in objs %}

        <div class="ui  {% boxclass post %}  raised  segment">
      {% if post.has_accepted %}

            <div class="ui {% boxclass post %} right corner label" style="">
                <i class="check circle icon"></i>
            </div>

        {% endif %}
        <div class="ui container">

            <div class="ui grey left tiny label">
                <div style="font-size: 1.5em;padding-bottom: .2em;text-align: center;">


                    {% if post.is_toplevel %}
                        {{ post.thread_score }}
                        </div>
                        <div>Vote{{ post.thread_score|pluralize }}</div>


                    {% else %}

                        {{ post.vote_count }}
                        </div>
                        <div>Vote{{ post.vote_count|pluralize }}</div>
                    {% endif %}


            </div>

            <div class="ui {% boxclass post %} label tiny">

                <div style="font-size: 1.5em;padding-bottom: .2em;text-align: center;">

                    {{ post.root.reply_count }}
                </div>
                <div>Answer{{ post.root.reply_count|pluralize }}</div>
            </div>

            <div class="ui tiny label">

                <div style="font-size: 1.5em;padding-bottom: .2em;text-align: center;">
                    {{ post.root.view_count|bignum }}
                </div>
                <div >View{{ post.root.view_count|pluralize }}</div>

            </div>

                <span class="ui header">
                    {% if post.type != post.QUESTION %}
                        {{ post.get_type_display }}:
                    {% endif %}
                </span>
            <span >
                     <a href="{% url 'post_view' post.uid %}" class="ui {% boxclass post %} header">{{ post.get_title }}</a>

                </span>

         <div class="ui tiny muted item">
              {{post.content|preview_message}}
          </div>
                <div>
                        {% for tag in post.tag_set.all %}
                            <a class="ui tiny label" href="#" style="margin-top:5px;font-size: 13px;padding: 2.5px">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                </div>

            <div>
                {% user_info post=post by_diff=True %}

            </div>
        </div>

        </div>


    {% empty %}

    <div class="alert alert-info">There are no results for this page.</div>

    {% endfor %}

{% elif is_messages %}


{% endif %}