{% load forum_tags %}

{% if badges %}
        <div class="ui segment  no-shadow" style="padding-left: 14%;padding-right: 14%">
            <table class="ui  very basic table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Awarded</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for badge in badges %}
                    <tr>
                        <td>
                            <a href="{% url 'badge_view' badge.uid %}?user={{ target.profile.uid }}" style="opacity: unset;">
                                <i class="{{ badge.icon }}"></i>
                                {{ badge.name }}
                            </a>
                        </td>
                        <td>{{ badge.count }}</td>
                        <td>{{ badge.desc }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% else %}
    <div class="ui warn message">
        No awards found.
    </div>
{% endif %}
