{% load forum_tags %}

<div class="ui top attached text menu" id="menu-topics">

    {% if user.is_authenticated %}

        <a class="item {% activate tab "messages" %}" href="{% url 'inbox' %}">
            <i class="mail icon"> </i>
            <span class="tablet">Messages {% count_label label="message_count" %} </span>
        </a>
        <a class="item {% activate tab "myvotes" %}" href="{% url 'myvotes' %}">
            <i class="heart icon centericon"></i>
            <span class="tablet">Votes {%  count_label label="vote_count" %} </span>
        </a>

        <a class="item {% activate tab "myposts" %}" href="{% url 'myposts' %}">
            <i class="comments icon"></i>
            <span class="tablet">My Posts</span>
        </a>

        <a class="item {% activate tab "following" %}" href="{% url 'following' %}">
            <i class="eye icon"></i>
            <span class="tablet">Following</span>
        </a>

        <a class="item {% activate tab "bookmarks" %}" href="{% url 'bookmarks' %}">
            <i class="book icon"></i>
            <span class="tablet">Bookmarks</span>
        </a>

        <div class="item">
        <div class="ui top pointing dropdown" id="digest">
            <i class="{% get_digest_icon user %}" id="digest-icon"></i>
            <div class="text" id="digest-active">{% digest_label post=post %}</div>
            <i class="caret down icon"></i>

            <div class="menu">
                <div class="item" data-value="daily" data-icon="clock icon"><i class="clock icon" ></i>Daily digest</div>
                <div class="item" data-value="weekly" data-icon="hourglass icon"><i class="hourglass icon"></i>Weekly digest</div>
                <div class="item" data-value="monthly" data-icon="calendar icon"><i class="calendar icon"></i>Monthly digest</div>
                <div class="item" data-value="none"  data-icon="bell slash icon"><i class="bell slash icon"></i>No digest</div>
            </div>
        </div>
        </div>
    {% endif %}

    <div class="right menu" id="login-opts">

        {% if user.is_authenticated %}
            <a class="item {% activate tab "profile" %}" href="{% url 'user_profile' user.profile.uid %}">
                {{ user.profile.name }}   {%  user_icon user %}
            </a>
            <a class="item {% activate tab "logout" %}" href="{% url 'logout' %}">
        <i class="sign-out icon"></i> Logout
            </a>
        {% else %}
        <a class="item {% activate tab "login" %}" href="{% url 'login' %}"><i class="sign-in icon"></i> <span class="tablet">Log In</span></a>
        <a class="item {% activate tab "signup" %}" href="{% url 'signup' %}"><i class="arrow circle up icon"></i><span class="tablet">Sign Up</span></a>
        {% endif %}
        <a class="item {% activate tab "about" %}"><i class="info circle icon"></i> <span class="tablet">About</span></a>
    </div>
</div>
