{% load forum_tags %}
{% load staticfiles %}

<div class="ui labeled icon attached pointing menu" id="menu-header" user-id="{{ request.user.id }}">

    <div class="header item" id="logo">
        <a href="/"><img class="ui image" src="{% static "images/biostar-logo.png" %}"></a>
    </div>

    <a class="item {% activate tab "community" %}" href="{% url 'community_list' %}">
        <i class="world icon"></i>
        Community
    </a>

    {% if user.is_anonymous %}

        <a class="item disabled" href="#">
            <i class="mail icon"> </i>
            Messages
        </a>
        <a class="item disabled" href="#">
            <i class="heart icon centericon"></i>
            Votes
        </a>

        <a class="item disabled" href="#">
            <i class="comments icon"></i>
            My Posts
        </a>

        <a class="item disabled" href="#">
            <i class="eye icon"></i>
            Following
        </a>

        <a class="item disabled" href="#">
            <i class="book icon"></i>
            Bookmarks
        </a>

    {% else %}
        <a class="item {% activate tab "messages" %}" href="{% url 'inbox' %}">
            <i class="mail icon"> </i>
            Messages {% if request.session.counts.msgs %} ({{request.session.counts.msgs}}){% endif %}
        </a>
        <a class="item {% activate tab "myvotes" %}" href="{% url 'myvotes' %}">
            <i class="heart icon centericon"></i>
            Votes{% if request.session.counts.votes %} ({{ request.session.counts.votes }}){% endif %}
        </a>

        <a class="item {% activate tab "myposts" %}" href="{% url 'myposts' %}">
            <i class="comments icon"></i>
            My Posts
        </a>

        <a class="item {% activate tab "following" %}" href="{% url 'following' %}">
            <i class="eye icon"></i>
            Following
        </a>

        <a class="item {% activate tab "bookmarks" %}" href="{% url 'bookmarks' %}">
            <i class="book icon"></i>
            Bookmarks
        </a>
    {% endif %}
    <div class="right menu">
        <a class="item {% activate tab "new" %}" id="new" href="{% url 'post_create' %}"
           data-content="Create New Posts">
            <i class="edit icon"></i>
            New Post
        </a>

    </div>

</div>
