{% load forum_tags %}
{% load staticfiles %}

<div class="ui labeled icon attached pointing menu   " id="menu-header" user-id="{{ request.user.id }}">
<div class="ui inverted dimmer"></div>

<div class="  menu-tablet_small ">
    {% block headimg %}
        <div class="header item" id="logo">
            <a href="/"><img class="ui image"  src="{% static "images/logo.png" %}"></a>
        </div>
    {% endblock %}
</div>
    <a class="item  {% activate tab "latest" %} " href="{% url 'post_list' %}">
    <i class=" list icon"></i> Latest
    </a>
    <a class="item  {% activate tab "news" %} " href="{% url 'post_list' %}?type=news">
    <i class=" newspaper icon"></i> News
    </a>
    <a class="item menu-tablet_small {% activate tab "job" %} " href="{% url 'post_list' %}?type=job">
    <i class=" briefcase icon"></i> Jobs
    </a>

    <a class="item menu-tablet_small {% activate tab "tutorial" %} " href="{% url 'post_list' %}?type=tutorial">
    <i class=" info circle icon"></i> Tutorials
    </a>

    <a class="item menu-tablet {% activate tab "tags" %} " href="{% url 'tags_list' %}">
        <i class="tag icon"></i>Tags
    </a>

    <a class="item menu-tablet {% activate tab "community" %}" href="{% url 'community_list' %}">
        <i class=" world icon"></i>
        Users
    </a>

     <a class="item  {% activate tab "new" %}" id="new-post">
        <i class=" edit icon"></i>New Post
     </a>

    {# Side menu that shows when things collapse #}
  <div class="ui right dropdown item header-menu" style="display: none; margin-left: 0 !important;">

    <i class="plus icon"></i><i class="dropdown icon"></i>More

    <div class="menu">
    <a class="item  {% activate tab "news" %} " href="{% url 'post_list' %}?type=news">
    <i class=" newspaper icon"></i> News
    </a>
        <a class="item menu-tablet_small {% activate tab "job" %} " href="{% url 'post_list' %}?type=job">
    <i class=" briefcase icon"></i> Jobs
    </a>

    <a class="item menu-tablet_small {% activate tab "tutorial" %} " href="{% url 'post_list' %}?type=tutorial">
    <i class=" info circle icon"></i> Tutorials
    </a>

    <a class="item  {% activate tab "tags" %} " href="{% url 'tags_list' %}">
        <i class="tag icon"></i>Tags
    </a>
    <a class="item   {% activate tab "community" %}" href="{% url 'community_list' %}">
        <i class=" world icon"></i>
        Users
    </a>

    </div>
  </div>

</div>
