{% load forum_tags %}
{% load accounts_tags %}


<div class="ui  vertical tabular menu" id="messaging-menu">

    <a class=" {{ compose }} blue item" href="{% url 'compose' %}">
        <i class="write icon"></i>Compose
    </a>

    <a class="{{inbox}} blue item" href="{% url 'inbox' %}">
      Inbox


    </a>
    <a class="{{unread}} blue item" href="{% url 'inbox' %}?active=unread">
      Unread

    </a>
   <a class="{{mentioned}} blue item" href="{% url 'inbox' %}?active=mentioned">
      Mentioned


    </a>

    <a class="{{outbox}} blue item" href="{% url 'outbox' %}">
      Outbox


    </a>
    <a class="item red">
      Trash
    </a>
</div>