{% load forum_tags %}
{% load humanize %}

<div class="ui container center aligned">

        {% if objs.has_previous %}
            <div class="ui basic blue label">
                <a href="{{ url }}{{ query_str }}page={{ objs.previous_page_number }}">
                    <i class="ui angle  double left icon"> </i>
                </a>
            </div>
        {% else %}

        <div class="ui basic  label">
             <span >
                <i class="ui angle double left icon"> </i>
            </span>
        </div>
        {% endif %}

        <div class="ui basic  label">
            {{objs.paginator.count|intcomma}}
            result{{objs.paginator.count|pluralize}}
            &bull;

            <span class="current">
                Page {{ objs.number }} of {{ objs.paginator.num_pages }}
            </span>
        </div>


    {% if objs.has_next %}

        <div class="ui basic blue label">

            <a href="{{ url }}{{ query_str }}page={{ objs.next_page_number }}">
                <i class="ui angle  double right icon"></i>
            </a>
        </div>

    {% else %}

        <div class="ui basic label">
             <span >
             <i class="ui angle  double right icon"></i>
            </span>
        </div>

    {% endif %}

</div>