{% extends "forum_base.html" %}

{% block content %}

<h2>Policy</h2>

<h3>User agreement</h3>

<p>Be well, do good work and keep in touch.</p>

<h3>Privay policy</h3>

<p>We do not give out or sell your information (including name and email address) to anyone.&nbsp;</p>

<h3>Cookies</h3>

<p>The site will set session cookies whenever you visit the site.
    If you do not intend to ever log in, you may deny this
    cookie, but you cannot log in without it.&nbsp;
    <span style="line-height:1.6">Cookies may be also set when you log in, to be able to
        display new posts and messages that you may have received.
        Cookies may also be set by Google or other companies that help us aggregate
        visitor statistics, traffic and other information.</span>
</p>

{% endblock %}