{% load accounts_tags %}
{% load humanize %}
{% load forum_tags %}

<div class="user_box right">

    <div>
        <a href="{% url "user_profile" user.profile.uid %}">
            <img class="ui centered image" src="{% gravatar user=user size=50 %}">
        </a>
    </div>

    <div>
        <a href="{% url "user_profile" user.profile.uid %}">{{ user.profile.name }}</a>
        {{ user | icon }} <b>{{ user.profile.score | show_score |bignum }}</b>
    </div>

    <div class="muted">
        {{ user.profile.location }}
    </div>

</div>









