{% load accounts_tags %}
{% load humanize %}
{% load forum_tags %}

<div class="user_box right">

    <div>
        <a class="" href="{% url "user_profile" user.profile.uid %}">
            <img class="ui centered circular thread-users image" src="{% gravatar user=user size=60 %}">
        </a>
    </div>

    <div class="muted">
         @{{ user.username }}<br>

        <a href="{% url "user_profile" user.profile.uid %}">{{ user.profile.name|truncatechars:40 }}</a>
        {% user_icon user=user %}<br>
       {{ user.profile.last_login|time_ago }}<br>

   {{ user.profile.location|truncatechars:40}}

    </div>

</div>









