{% load humanize %}
{% load forum_tags %}

{% if post.author_uid != post.lastedit_user_id %}

<span class="menu-tablet_small">

    {{ post.creation_date|time_ago }}

        <a href="{% url "user_profile"  post.author_uid %}">


            {{ post.author|truncatechars:40 }}
        </a>

        {% user_icon is_moderator=post.author_is_moderator score=post.author_score %}

</span>

         &bull;
    updated

    {{ post.lastedit_date|time_ago }}

    <a   href="{% url "user_profile"  post.lastedit_user_uid %}">

        {{ post.lastedit_user|truncatechars:50 }}
    </a>

    {% user_icon user='' is_moderator=post.lastedit_user_is_moderator score=post.lastedit_user_score %}

{% elif post %}

<span>
    {{ post.lastedit_date|time_ago }}

    <a href="{% url "user_profile"  post.lastedit_user_uid %}">

        {{ post.lastedit_user }}
    </a>

    {% user_icon user='' is_moderator=post.lastedit_user_is_moderator score=post.lastedit_user_score %}
</span>
{% endif %}




