{% load humanize %}
{% load forum_tags %}

{#  Post action bar. #}

<div class="actions {% if post.is_toplevel %}top-level{% endif %}">

    <a class="add-comment ui tiny label">{{ label }}</a>

    &bull; <a itemprop="url" href="{% url 'post_view' post.root.uid %}#{{ post.uid }}">link</a>

    {% if post.is_editable %}
        &bull; <a class="edit-button" href="#">edit</a>

    {% endif %}

    {% if post.can_moderate %}
        &bull; <a class="moderate" href="#">moderate</a>
    {% endif %}

    {% if not post.is_toplevel  and post.is_editable %}
        &bull;
        {# Draggable element #}
        <a class="draggable"><i class="hand lizard outline icon"></i></a>

    {% endif %}

    {#  Show title on top level posts #}
    {% if post.is_toplevel and user.is_authenticated %}
        &bull;
        <div class="ui bottom pointing dropdown" id="subscribe">
            <div class="text">{% follow_label post=post %}</div>
            <i class="caret up icon"></i>
            <div class="menu">
                <a class="item" data-value="messages"><i class="envelope icon"></i>follow via messages</a>
                <a class="item" data-value="email"><i class="envelope outline icon"></i> follow via email</a>
                <a class="item" data-value="unfollow"><i class="close icon"></i> stop following</a>
            </div>
        </div>

    {% endif %}

    <span class="status muted user-info">
        {% post_user_line post=post avatar=avatar %}
    </span>


</div>

<span class="diff-cont"></span>
