{% load forum_tags %}

    {% if post.is_toplevel %}

    <div class="ui vertical segment">
        {% subs_actions post=post user=request.user next=next_url sub_url=sub_url %}
        <div class="ui header" >{{ post.get_type_display }}: {{ post.get_title }}</div>

    </div>

    {% endif %}

    <div class="ui items">
        <div class="item">
            <div class="ui image">
                <a href="{{ vote_url }}?type=upvote&{{ redir_field_name}}={{ next_url }}">
                    {% if post.has_upvote %}<i class="large thumbs up icon"></i>{% else %}
                    <i class="large thumbs up outline icon"></i>
                    {% endif %}
                </a>
                <div class="ui center aligned header">{{ post.vote_count }}</div>
                <a href="{{ vote_url }}?type=bookmark&{{ redir_field_name}}={{ next_url }}">
                    {% if post.has_bookmark %}<i class="large bookmark icon"></i>{% else%}
                    <i class="large bookmark outline icon"></i>
                    {% endif %}
                </a>
            </div>

             <div class="content">

             {% if include_userbox %}
                 <div class="ui right floated image" >
                        {% user_box user=post.author %}
                 </div>
             {% endif %}

                 <div class="ui container">

                        {{ post.html|safe }}
                     </div>

                 {% if post.is_toplevel %}
                     <div class="extra">

                         <div class="" style="margin-bottom:0.5em;">


                    {% get_tags_list post.tag_val as tags_list %}

                    {% for tag in tags_list %}
                        <a class="ui tiny tagging label" href="{% url 'post_list' %}?topic={{tag}}">
                        {{ tag }}
                        </a>
                    {% endfor %}
                            &bull; {{ post.root.view_count|bignum }} views
                         </div>

                     </div>

                     <div class="ui right floated image">

                         {% user_info post=post by_diff=False %}
                     </div>

                 {% else %}


                     <div class="extra"></div>
                        <div class="ui right floated image">
                             {% user_info post=post by_diff=False %}
                         </div>

                 {% endif %}

            <a class="add-comment ui mini grey label" comment-url="{{ comment_url }}"
               data-value="{{post.uid}}" project-uid="{{project_uid}}" redir-url="{{next_url}}">
                ADD COMMENT
            </a>
                 {% can_edit post=post user=user as editable%}
                  {% if editable %}
                 |
                 <a class="moderate-post" comment-url="{{ comment_url }}"
                    data-value="{{post.uid}}" project-uid="{{project_uid}}" redir-url="{{next_url}}">
                edit
                </a>
                 {% endif %}

                 {% if user.is_authenticated and user.profile.is_moderator or user.profile.is_manager %}
                 |
                 <a class="moderate-post" mod-url="{% url 'post_moderate' post.uid %}" data-value="{{post.uid}}">
                moderate
                </a>
                 <div id="mod-container-{{post.uid}}"></div>
                 {% endif %}


<div id="comment-container-{{post.uid}}"></div>
                 {# Comments for each post rendered here #}

                {% render_comments tree=tree project_uid=project_uid request=request post=post comment_url=comment_url vote_view=vote_view next_url=next_url %}


             </div>

        </div>


    </div>




