

<div class="ui basic segment slim">

    <div class="center-text ">
        <div class='ui {{ extra_css }} icon input' id="contain-search" data-redir="{{ redir }}">
            <i class="search icon"></i>

            <input value="{{ value }}" type="text" id="search" url="{{ search_url }}" name="search" placeholder="Search and press ENTER . . .">

            {% if tags and ajax_results %}
                {# Center the results as well. #}
                <div id="results" style="text-align: initial"></div>
            {% endif %}

        </div>

            {% if not tags and ajax_results %}

                <div id="results" style="text-align: initial"></div>
            {% endif %}
    </div>

</div>