{% load forum_tags %}
{% load accounts_tags %}

<div class="ui large wrap-text" id="feed">

   <div class="event">
        <div class="ui container">
                <div class="ui relaxed list" >

                    {% for post in results %}

                        <div class="item spaced">
                            <a href="{% url 'post_view' post.uid %}"> {{ post.title }}</a>
                            &bull;
                            <div class="muted">
                            {% postuid_user_line post.uid avatar=False %}
                            </div>
                        <div class="muted top-padding">
                            {{ post.content |htmltomarkdown|truncatechars:140 }}
                            </div>
                        </div>

                    {% endfor %}

                </div>
        </div>
    </div>
</div>

