<div class="ui large biostar-feed">

    <div class="event">
        <div class="ui container">
            <div class="ui large vertical segment">
                <b> Similar Posts </b>

                <div class="ui relaxed tiny list" >
                    {% for vote in recent_votes %}

                       <div class="item spaced"  style="">
                            <a href="{% url 'post_view' vote.post.uid %}">{{ vote.post.title }}</a>
                       </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>