{% load forum_tags %}

{% if listing %}

    <div class="ui list">
        {% for tag in tags %}

            <a class="ui tagging label" href="{% url 'post_list' %}?topic={{tag.tags__name}}" style="font-size: 20px;">
                {{tag.tags__name}} x {{tag.tags__name__count}} </a>


        {% endfor %}
    </div>

{% else %}

    {% for tag in tags %}

        <a class="ui basic button" href="{% url 'post_list' %}?topic={{tag.tags__name}}">{{tag.tags__name|upper}}</a>

    {% endfor %}
    <a class="ui basic grey button" href="{% url 'tags_list' %}">
        ALL<i class="angle double right icon"></i>
    </a>

{% endif %}