{% load forum_tags %}

{% if listing %}

     <div class="ui doubling compact four column grid">

         {% pages objs=tags request=request %}

        {% for tag in tags %}
        <div class="left aligned column">
            <a class="ui tagging label" href="{% url 'post_list' %}?topic={{tag.tags__name}}" style="font-size: 22px;">
                {{tag.tags__name}} |
                {{tag.tags__name__count}}
            </a>

        </div>
        {% endfor %}

         {% pages objs=tags request=request %}

     </div>

{% else %}
<div class="ui eleven secondary stackable item menu">

    <a class="ui item" href="{% url 'post_list' %}?active=latest">
        LATEST
    </a>
    <a class="ui item" href="{% url 'post_list' %}?active=open">
        OPEN
    </a>
    <a class="ui item" href="{% url 'post_list' %}?topic=rna-seq">
        RNA-SEQ
    </a>
    <a class="ui item" href="{% url 'post_list' %}?topic=chip-seq">
        CHIP-SEQ
    </a>
    <a class="ui item" href="{% url 'post_list' %}?topic=snp">
        SNP
    </a>
    <a class="ui item" href="{% url 'post_list' %}?topic=assembly">
        ASSEMBLY
    </a>
    <a class="ui item" href="{% url 'post_list' %}?active=tutorials">
        TUTORIALS
    </a>
    <a class="ui item" href="{% url 'post_list' %}?active=tools">
        TOOLS
    </a>
    <a class="ui item" href="{% url 'post_list' %}?active=jobs">
        JOBS
    </a>
    <a class="ui item" href="{% url 'post_list' %}?active=forum">
        FORUM
    </a>
    <a class="ui item" href="{% url 'tags_list' %}">
        ALL<i class="angle double right icon"></i>
    </a>

</div>

{% endif %}