{% load forum_tags %}

<div class="ui muted">
    {% if by_diff %}
        written {{ post.creation_date|time_ago }}
    {% else %}
        written {{ post.creation_date.date }}
    {% endif %}

    by <a href="{% url "user_profile"  post.author.profile.uid %}">
    {% if with_image %}
    <div class="ui avatar image">{% gravatar user=post.author size=100 %}</div>
    {% endif %}
    {{post.author.profile.name }}
    </a>
    {{post.author.profile.score |show_score_icon}}
    {{post.author.profile.score | show_score |bignum }}

    {% if post.author != post.lastedit_user %}
    &bull; updated
    <span>{{ post.lastedit_date|time_ago }}</span> by
    <a href="{% url "user_profile"  post.lastedit_user.profile.uid %}">
    {% if with_image %}
       <div class="ui avatar image">{% gravatar user=post.lastedit_user size=100 %}</div>
    {% endif %}
        {{post.lastedit_user.profile.name }}

    </a>
        {{ post.lastedit_user.profile.score |show_score_icon }}
        {{ post.lastedit_user.profile.score | show_score | bignum }}
    {% endif %}

</div>
