{% load forum_tags %}

<div class="ui center aligned segment" style="width:150px; background: #f9fbff;padding-left:0px; padding-right:0px;">

    <div class="center aligned author">
        <a href="{% url "public_profile" user.profile.uid %}">
      <div class="ui circular image">
        {% gravatar user=user size=80 %}
      </div>
        </a>
    </div>


            <a href="{% url "public_profile" user.profile.uid %}">{{user.profile.name}}</a>
            {{ user.profile.score |show_score_icon}}  {{ user.profile.score | show_score |bignum }}
<div>
        {% if user.profile.last_login %}
        visted {{ user.profile.last_login|time_ago }}
        {% else %}
            Joined {{ user.profile.date_joined|time_ago }}
        {% endif %}

</div>
    <div class="muted">
            {{ user.profile.location |truncatechars:40}}
    </div>


 </div>





