{% load forum_tags %}
{% load humanize %}

{% if user %}
    {% if user.profile.is_moderator %}
        <i class="ui muted bolt icon" style="margin: 0!important;"></i>
    {% elif score > 1000 %}
        &diams;

    {% elif user.profile.low_rep and request.user.is_authenticated and request.user.profile.is_moderator %}

        <div class="ui spam dropdown">
            <i class="bomb icon" style="color: #8f2c47"></i>
            <div class="spam menu">
                <div class="spam item" data-user="{{ user.id }}">Remove Spammer</div>
            </div>
        </div>

    {% else %}
        &bull;
    {% endif %}
    {{ score|bignum }}
{% endif %}

