{% load humanize %}
{% load forum_tags %}

<div class="user_card">

    <div>
        <a class="" href="{% url "user_profile" target.profile.uid %}">
            <img class="ui centered circular image" src="{% gravatar user=target size=100 %}">
        </a>
    </div>

    <div class="muted">
        <a href="{% url "user_profile" target.profile.uid %}">{{ target.profile.name|truncatechars:40 }}</a>
        {% user_icon user=target %}<br>
        <span class="phone">
        visited {{ target.profile.last_login|time_ago }}<br>
        {{ target.profile.location }}
        </span>
    </div>

</div>









