<div class="voting">
    <button class="ui icon button" data-value="upvote"
            data-state="{{ post.has_upvote }}"><i class="thumbs up icon"></i>
    </button>

    <div class="score">{{ post.vote_count }}</div>

    <button class="ui icon button" data-value="bookmark"
            data-state="{{ post.has_bookmark }}"><i class="bookmark icon"></i>
    </button>

    {% if post.can_accept %}
        <button class="ui icon button" data-value="accept"
                data-state="{{ post.accept_count }}"><i class="check circle icon"></i>
        </button>
    {% endif %}
</div>